<div class="aa-products-empty">
  <div class="aa-no-result">
    [[# helpers.no_result_for ]] "[[ query ]]" [[/ helpers.no_result_for]]
    [[# helpers.no_result_page ]] [[/ helpers.no_result_page]]
  </div>
</div>