<div data-algolia-index="[[ _index ]]" data-algolia-position="[[ _position ]]" data-algolia-queryid="[[ queryID ]]" data-algolia-objectid="[[ objectID ]]" class="[[# helpers.containerClass ]][[/ helpers.containerClass ]]">
  <div class="[[# helpers.imageClass ]][[/ helpers.imageClass ]]">
    <a href="[[# helpers.instantsearchLink ]][[/ helpers.instantsearchLink ]]">
      <img src="[[# helpers.largeImage ]][[/ helpers.largeImage ]]">
    </a>
    [[# helpers.badge ]][[/ helpers.badge ]]
    [[# helpers.delivery_badge ]][[/ helpers.delivery_badge ]]
  </div>
  <div class="aa-product--item__info">
      <div class="aa-product-reviews">
        [[# helpers.reviews ]][[/ helpers.reviews ]]
        <div class="best-seller">
        [[# helpers.bestSeller ]][[/ helpers.bestSeller ]]
        </div>
      </div>
    <div class="aa-product-text">
      <a href="[[# helpers.instantsearchLink ]][[/ helpers.instantsearchLink ]]">
        <p class="aa-product-title">
          [[# helpers.fullTitle ]][[/ helpers.fullTitle ]]
        </p>
      </a>
      <p class="aa-product-price">
        [[# helpers.instantsearchPrice ]][[/ helpers.instantsearchPrice ]]
      </p>
    </div>
    {% comment %} <div class="delivery_date">
      <span>[[# helpers.delivery_date ]][[/ helpers.delivery_date ]]</span>
    </div> {% endcomment %}
      <div class="aa-product-youSave">
        [[# helpers.youSavePrice ]][[/ helpers.youSavePrice ]]
      </div>
      <form action="/cart/add" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="[[ objectID ]]"/>
        <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
        [[# helpers.inventory ]][[/ helpers.inventory ]]
      </form>
    </div>
</div>
<script>
  $('.aa-product-image').each(function() {
    if ($(this).find('.z-10').length > 0) {
      $(this).find('.z-10').css({'display': 'flex', 'alignItems': 'center'});
    } else if ($(this).find('.z-9').length > 0) {
      $(this).find('.z-9').css({'display': 'flex', 'alignItems': 'center'});
    } else if ($(this).find('.z-8').length > 0) {
      $(this).find('.z-8').css({'display': 'flex', 'alignItems': 'center'});
    } else if ($(this).find('.z-7').length > 0) {
      $(this).find('.z-7').css({'display': 'flex', 'alignItems': 'center'});
    } else if ($(this).find('.z-6').length > 0) {
      $(this).find('.z-6').css({'display': 'flex', 'alignItems': 'center'});
    } else if ($(this).find('.z-5').length > 0) {
      $(this).find('.z-5').css({'display': 'flex', 'alignItems': 'center'});
    } else if ($(this).find('.z-4').length > 0) {
      $(this).find('.z-4').css({'display': 'flex', 'alignItems': 'center'});
    } else if ($(this).find('.z-3').length > 0) {
      $(this).find('.z-3').css({'display': 'flex', 'alignItems': 'center'});
    } else if ($(this).find('.z-2').length > 0) {
      $(this).find('.z-2').css({'display': 'flex', 'alignItems': 'center'});
    }
  });
</script>