<div data-algolia-index="[[ _index ]]" data-algolia-position="[[ _position ]]" data-algolia-queryid="[[ queryID ]]" data-algolia-objectid="[[ objectID ]]" class="aa-product">
  <div class="aa-product-image">
<a href="[[# helpers.instantsearchLink ]][[/ helpers.instantsearchLink ]]">
  <img src="[[# helpers.largeImage ]][[/ helpers.largeImage ]]">
</a>
  [[# helpers.badge ]][[/ helpers.badge ]]
</div>
<div class="aa-product--item__info">
  <div class="aa-product-text">
<a href="[[# helpers.instantsearchLink ]][[/ helpers.instantsearchLink ]]">
    <p class="aa-product-title">
      [[# helpers.fullTitle ]][[/ helpers.fullTitle ]]
    </p>
    <p class="aa-product-price">
      [[# helpers.instantsearchPrice ]][[/ helpers.instantsearchPrice ]]
    </p>
</a>
  </div>
         
  <form action="/cart/add" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="[[ objectID ]]" />
    <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
    [[# helpers.inventory ]][[/ helpers.inventory ]]
  </form>
</div>
</div>
