<style>
  .fixed_nav {
  	position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: auto;
    background: #0f0f0f;
    text-align: center;
    z-index: 99;
  }
  .row-nav {
  	margin: 0;
    padding: 10px 0;
  }
  .fixed_nav--link {
  	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
  }
  .fixed_nav--link:hover, .fixed_nav--link:focus {
  	color: white;
  }
  .beside-svg {
    position: absolute;
    top: -5px;
    right: 12px;
    display: block;
    background: #ff0000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
  }
  span.icon_name {
    font-size: 12px;
  }
  .fixed_nav--link img{max-height: 24px;}
</style>
<div class="fixed_nav fixed_nav_mobile hidden-tablet-and-up" style="display:none;">
  <div class="row row-nav">
    <div class="col-3 fixed-nav-item">
      <div class="item--box">
        <a class="fixed_nav--link" href="https://www.boat-lifestyle.com"> 
<img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/navigation-Icon1.png?v=1655206048">
          <span class="icon_name"> Home </span>
        </a>
      </div>
    </div>
    <div class="col-3 fixed-nav-item">
      <div class="item--box">
        <a class="fixed_nav--link" href="https://www.boat-lifestyle.com/collections">
<img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/navigation-Icon2.png?v=1655206047">
          <span class="icon_name"> Shop </span>   
        </a>
      </div>
    </div>
    <div class="col-3 fixed-nav-item">
      <div class="item--box">
        <a class="fixed_nav--link" href="/cart" is="toggle-link" aria-controls="mini-cart" aria-expanded="false" class="cart-count">
            <cart-count class="beside-svg">{{ cart.item_count }}</cart-count>
<img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/navigation-Icon-3.png?v=1655206047">
            <span class="icon_name">Bag </span>  
        </a>
      </div>
    </div>
    <div class="col-3 fixed-nav-item">
      <div class="item--box">
        <a class="fixed_nav--link" href="/account"> 
<img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/navigation-Icon4.png?v=1655206048">
            <span class="icon_name"> Profile </span>
        </a>
      </div>
    </div>
  </div>
</div>