<style>
  .fixed_nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 60px;
    background: #f1efef;
    padding-bottom: 4px;
    text-align: center;
    z-index: 9;
  }
  .fixed_nav.search-nav {
    z-index: 999;
  }
  .row-nav {
    margin: 0;
    padding: 10px;
  }
  .fixed_nav--link {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    opacity: 1;
    /* min-width: 44px; */
  }
  .fixed_nav--link.active_url {
    opacity: 1;
  }
  .fixed_nav--link svg {
    min-height: 32px !important;
  }
  .fixed_nav--link:hover,
  .fixed_nav--link:focus {
    color: white;
  }
  .beside-svg {
    position: absolute;
    top: -1px;
    right: 14px;
    display: block;
    background: #ff0000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
  }
  .fixed_nav_mobile span.icon_name {
    color: #000;
  }
  .fixed_nav_mobile .active_url span.icon_name {
    font-weight: 700;
  }
  .fixed_nav_mobile .fixed_nav--link img {
    max-height: 19px;
  }
  .boat_icon_footer {
    position: relative;
  }
  .fixed_nav_mobile.fixed_nav cart-count.header__cart-count {
    right: -1px;
    top: -6px;
    height: 16px;
    width: 16px;
    line-height: inherit;
    min-width: auto;
  }

  img.footer_nav_icon {
    display: block;
  }
  .active_url img.footer_nav_icon {
    display: none;
  }
  img.footer_nav_icon_filled {
    display: none;
  }
  .active_url img.footer_nav_icon_filled {
    display: block;
  }
</style>
<div class="fixed_nav fixed_nav_mobile hidden-tablet-and-up">
  <div class="row row-nav justify-content-around">
    <div class="col-2 fixed-nav-item">
      <div class="item--box boat_icon_footer">
        <a
          class="fixed_nav--link {% if template contains 'index' %} active_url{% endif %}"
          href="{% if template contains 'index' %}javascript:void(0){% else %}https://www.boat-lifestyle.com/{% endif %}"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/home-1.png?v=1663762988"
            class="footer_nav_icon" width="19px" 
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/home_36ea08b0-7453-45c8-a1d0-211afa0e8b3b.png?v=1663762989"
            class="footer_nav_icon_filled" width="19px" 
          >
          <span style="font-size: 12px !important;margin-top: 6px !important;font-weight: 500;" class="icon_name"> Home </span>
        </a>
      </div>
    </div>
    <div class="col-2 fixed-nav-item">
      <div class="item--box"> 
        <a
          class="fixed_nav--link {% if collection.handle == 'daily-deals' %} active_url{% endif %}"
          href="{% if collection.handle == 'daily-deals' %}javascript:void(0){% else %}/collections/daily-deals{% endif %}"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Sale-1.png?v=1663762989"
            class="footer_nav_icon" width="19px" 
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Sale_6ac48500-24af-470d-8054-41e905056300.png?v=1663762989"
            class="footer_nav_icon_filled" width="19px" 
          >
          <span style="font-size: 12px !important;margin-top: 6px !important;font-weight: 500;" class="icon_name"> Sale </span>
        </a>
      </div>
    </div>
    <div class="col-2 fixed-nav-item">
      <div class="item--box">
        <a
          class="fixed_nav--link"
          id="data-hamburger"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Category-1.png?v=1663762989"
            class="footer_nav_icon" width="19px" 
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Category_02405e70-c288-4c41-b265-e9fdc4dbdca7.png?v=1663762988"
            class="footer_nav_icon_filled" width="19px" 
          >
          <span style="font-size: 12px !important;margin-top: 6px !important;font-weight: 500;" class="icon_name"> Categories </span>
        </a>
      </div>
    </div>

    <div class="col-2 fixed-nav-item">
      <div class="item--box {% if request.page_type == 'account' %} active_url{% endif %}">
        <a class="fixed_nav--link" href="/account">
            <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Profile-1.png?v=1663762989" class="footer_nav_icon" width="19px" >
            <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Profile.png?v=1663762989" class="footer_nav_icon_filled"   width="19px" >
            <span style="font-size: 12px !important;margin-top: 6px !important;font-weight: 500;" class="icon_name"> Me </span>
        </a>
      </div>
    </div>

    <div class="col-2 fixed-nav-item">
      <div class="item--box">
        <a class="fixed_nav--link" href="https://api.whatsapp.com/send?phone=919667700177&text=Hi">
          <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/whatsapp_1.png?v=1672658181" class="footer_nav_icon" width="19px" >
          <span style="font-size: 12px !important;margin-top: 6px !important;font-weight: 500;" class="icon_name"> Chat </span>
        </a>
      </div>
    </div>
  </div>
</div>
<script>
  $('#data-hamburger').click(function () {
    $('button.header__icon-wrapper.tap-area.hidden-desk').click();
  });
  $("input.search__input.predictive-search__input.predictive-search__input_mobile").focus(function(){
  $(".fixed_nav").fadeOut();
});
    $("input.search__input.predictive-search__input.predictive-search__input_mobile").blur(function(){
  $(".fixed_nav").fadeIn();
});
</script>
