<style>
  .fixed_nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 60px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.09);
    background-color: #fff;
    padding-bottom: 4px;
    text-align: center;
    z-index: 9;
  }
  .fixed_nav.search-nav {
    z-index: 999;
  }
  .row-nav {
    margin: 0;
    padding: 10px;
  }
  .fixed_nav--link {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    opacity: 1;
    /* min-width: 44px; */
  }
  .fixed_nav--link.active_url {
    opacity: 1;
  }
  .fixed_nav--link:hover,
  .fixed_nav--link:focus {
    color: white;
  }
  .beside-svg {
    position: absolute;
    top: -1px;
    right: 14px;
    display: block;
    background: #ff0000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
  }
  .fixed_nav_mobile .active_url span.icon_name {
    font-weight: 700;
  }
  .boat_icon_footer {
    position: relative;
  }
  .fixed_nav_mobile.fixed_nav cart-count.header__cart-count {
    right: -1px;
    top: -6px;
    height: 16px;
    width: 16px;
    line-height: inherit;
    min-width: auto;
  }

  .footer_nav_icon {
    display: block;
  }
  .active_url .footer_nav_icon {
    display: none;
  }
  .footer_nav_icon_filled {
    display: none;
  }
  .active_url .footer_nav_icon_filled {
    display: block;
  }
  {% if template contains 'product' %}
  .fixed_nav:not(.search-nav) {padding-top: 60px;height: 116px;}
  .row.row-nav.justify-content-around {border-top: 1px solid #dadada;}
  {% endif %}
</style>
<div class="fixed_nav fixed_nav_mobile hidden-tablet-and-up">
  <div class="row row-nav" style="justify-content: space-evenly;">
    <div class="col-2 fixed-nav-item">
      <div class="item--box boat_icon_footer">
        <a class="fixed_nav--link {% if template contains 'index' %} active_url{% endif %}" href="https://www.boat-lifestyle.com/" {% if template contains 'index' %}data-attr-pointers_none{% endif %}>
         <svg class="footer_nav_icon" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
          <g id="Group_334291" data-name="Group 334291" transform="translate(7969 572)">
            <rect id="Rectangle_114322" data-name="Rectangle 114322" width="28" height="28" transform="translate(-7969 -572)" fill="none"/>
            <path id="Path_341257" data-name="Path 341257" d="M1110.25,237.25V231a1.25,1.25,0,0,0-1.25-1.25h-2a1.25,1.25,0,0,0-1.25,1.25v6.25Zm6.5-11.959,1.809,1.316a.75.75,0,1,0,.882-1.213l-9.824-7.145a2.749,2.749,0,0,0-3.234,0l-9.824,7.145a.75.75,0,1,0,.882,1.213l1.809-1.316V236a2.75,2.75,0,0,0,2.75,2.75h12a2.75,2.75,0,0,0,2.75-2.75Zm-8.015-5.829a1.249,1.249,0,0,0-1.47,0l-6.515,4.738V236a1.25,1.25,0,0,0,1.25,1.25h2.25V231a2.75,2.75,0,0,1,2.75-2.75h2a2.75,2.75,0,0,1,2.75,2.75v6.25H1114a1.25,1.25,0,0,0,1.25-1.25V224.2Z" transform="translate(-9063.25 -786.736)" fill="#1a2024" fill-rule="evenodd"/>
          </g>
        </svg>

        <svg  class="footer_nav_icon_filled" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
          <g id="Group_334293" data-name="Group 334293" transform="translate(7969 572)">
            <rect id="Rectangle_114322" data-name="Rectangle 114322" width="28" height="28" transform="translate(-7969 -572)" fill="none"/>
            <path id="Path_341257" data-name="Path 341257" d="M1110.25,237.25V231a1.25,1.25,0,0,0-1.25-1.25h-2a1.25,1.25,0,0,0-1.25,1.25v6.25Zm6.5-11.959,1.809,1.316a.75.75,0,1,0,.882-1.213l-9.824-7.145a2.749,2.749,0,0,0-3.234,0l-9.824,7.145a.75.75,0,1,0,.882,1.213l1.809-1.316V236a2.75,2.75,0,0,0,2.75,2.75h12a2.75,2.75,0,0,0,2.75-2.75Zm-8.015-5.829a1.249,1.249,0,0,0-1.47,0l-6.515,4.738V236a1.25,1.25,0,0,0,1.25,1.25h2.25V231a2.75,2.75,0,0,1,2.75-2.75h2a2.75,2.75,0,0,1,2.75,2.75v6.25H1114a1.25,1.25,0,0,0,1.25-1.25V224.2Z" transform="translate(-9063.25 -786.736)" fill="#d83333" fill-rule="evenodd"/>
          </g>
        </svg>
        
          <span style="font-size: 10px !important;letter-spacing: -0.4px;color: #1a2024;margin-top: 4px !important;font-weight: 500;" class="icon_name"> Home </span>
        </a>
      </div>
    </div>
    <div class="col-2 fixed-nav-item">
      <div class="item--box">
        <a class="fixed_nav--link {% if collection.handle == 'daily-deals' %} active_url{% endif %}" href="{% if collection.handle == 'daily-deals' %}javascript:void(0){% else %}/collections/daily-deals{% endif %}">
         
         
         
          <svg class="footer_nav_icon_filled" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
            <g id="Group_334294" data-name="Group 334294" transform="translate(7899 572)">
              <rect id="Rectangle_114329" data-name="Rectangle 114329" width="28" height="28" transform="translate(-7899 -572)" fill="none"/>
              <path id="Union_39" data-name="Union 39" d="M1254.15-20139.615l-.511-.6a1.267,1.267,0,0,0-1.245-.4l-.764.182a2.748,2.748,0,0,1-3.38-2.453l-.061-.785a1.243,1.243,0,0,0-.769-1.053l-.724-.3a2.748,2.748,0,0,1-1.29-3.973l.41-.674a1.259,1.259,0,0,0,0-1.3l-.41-.668a2.747,2.747,0,0,1,1.29-3.973l.724-.3a1.244,1.244,0,0,0,.769-1.059l.061-.783a2.755,2.755,0,0,1,3.38-2.455l.764.182a1.256,1.256,0,0,0,1.245-.4l.511-.6a2.747,2.747,0,0,1,4.18,0l.506.6a1.259,1.259,0,0,0,1.245.4l.764-.182a2.755,2.755,0,0,1,3.38,2.455l.061.783a1.244,1.244,0,0,0,.769,1.059l.724.3a2.747,2.747,0,0,1,1.29,3.973l-.41.668a1.259,1.259,0,0,0,0,1.3l.41.674a2.748,2.748,0,0,1-1.29,3.973l-.724.3a1.243,1.243,0,0,0-.769,1.053l-.061.785a2.748,2.748,0,0,1-3.38,2.453l-.764-.182a1.271,1.271,0,0,0-1.245.4l-.506.6a2.735,2.735,0,0,1-2.09.963A2.736,2.736,0,0,1,1254.15-20139.615Zm.627-1.574.511.6a1.244,1.244,0,0,0,1.9,0l.511-.6a2.756,2.756,0,0,1,2.732-.885l.764.182a1.245,1.245,0,0,0,1.533-1.113l.066-.785a2.738,2.738,0,0,1,1.685-2.322l.724-.3a1.246,1.246,0,0,0,.587-1.807l-.41-.668a2.759,2.759,0,0,1,0-2.869l.41-.674a1.248,1.248,0,0,0-.587-1.807l-.724-.3a2.753,2.753,0,0,1-1.685-2.324l-.066-.783a1.252,1.252,0,0,0-1.533-1.119l-.764.188a2.759,2.759,0,0,1-2.732-.891l-.511-.6a1.249,1.249,0,0,0-1.9,0l-.511.6a2.754,2.754,0,0,1-2.727.891l-.764-.187a1.254,1.254,0,0,0-1.538,1.119l-.061.783a2.777,2.777,0,0,1-1.69,2.324l-.724.3a1.251,1.251,0,0,0-.587,1.807l.41.674a2.759,2.759,0,0,1,0,2.869l-.41.668a1.25,1.25,0,0,0,.587,1.807l.724.3a2.761,2.761,0,0,1,1.69,2.322l.061.785a1.247,1.247,0,0,0,1.538,1.113l.764-.182a2.733,2.733,0,0,1,.638-.076A2.752,2.752,0,0,1,1254.777-20141.189Zm-2.07-5.607a.744.744,0,0,1,0-1.057l6-6a.746.746,0,0,1,1.058,0,.746.746,0,0,1,0,1.059l-6,6a.73.73,0,0,1-.527.221A.742.742,0,0,1,1252.708-20146.8Zm5.677-1.031a1,1,0,0,1,1-1,1,1,0,0,1,1,1,1,1,0,0,1-1,1A1,1,0,0,1,1258.385-20147.828Zm-6-5a1,1,0,0,1,1-1,1,1,0,0,1,1,1,1,1,0,0,1-1,1A1,1,0,0,1,1252.384-20152.828Z" transform="translate(-9141.001 19591.826)" fill="#d83333" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
            </g>
          </svg>
          
          <span style="font-size: 10px !important;letter-spacing: -0.4px;color: #1a2024;margin-top: 4px !important;font-weight: 500;" class="icon_name"> Sale </span>
        </a>
      </div>
    </div>
    <div class="col-2 fixed-nav-item">
      <div class="item--box">
        <span class="fixed_nav--link" id="data-hamburger">
          {% comment %} <img
            src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Category-1.png?v=1663762989"
            class="footer_nav_icon"
            alt="hamburger"
            width="19px"  height="19px">
          <img
            src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Category_02405e70-c288-4c41-b265-e9fdc4dbdca7.png?v=1663762988"
            class="footer_nav_icon_filled" width="19px"  height="19px"    alt="hamburger"
          > {% endcomment %}
          <svg xmlns="http://www.w3.org/2000/svg" width="21.5" height="21.5" viewBox="0 0 21.5 21.5">
            <path d="M2.75 1.5h4V0h-4zM8 2.75v4h1.5v-4zM6.75 8h-4v1.5h4zM1.5 6.75v-4H0v4zM2.75 8A1.25 1.25 0 0 1 1.5 6.75H0A2.75 2.75 0 0 0 2.75 9.5zM8 6.75A1.25 1.25 0 0 1 6.75 8v1.5A2.75 2.75 0 0 0 9.5 6.75zM6.75 1.5A1.25 1.25 0 0 1 8 2.75h1.5A2.75 2.75 0 0 0 6.75 0zm-4-1.5A2.75 2.75 0 0 0 0 2.75h1.5A1.25 1.25 0 0 1 2.75 1.5zM20 4.75A3.25 3.25 0 0 1 16.75 8v1.5a4.75 4.75 0 0 0 4.75-4.75zM16.75 8a3.25 3.25 0 0 1-3.25-3.25H12a4.75 4.75 0 0 0 4.75 4.75zM13.5 4.75a3.25 3.25 0 0 1 3.25-3.25V0A4.75 4.75 0 0 0 12 4.75zm3.25-3.25A3.25 3.25 0 0 1 20 4.75h1.5A4.75 4.75 0 0 0 16.75 0zM8 16.75A3.25 3.25 0 0 1 4.75 20v1.5a4.75 4.75 0 0 0 4.75-4.75zM4.75 20a3.25 3.25 0 0 1-3.25-3.25H0a4.75 4.75 0 0 0 4.75 4.75zM1.5 16.75a3.25 3.25 0 0 1 3.25-3.25V12A4.75 4.75 0 0 0 0 16.75zm3.25-3.25A3.25 3.25 0 0 1 8 16.75h1.5A4.75 4.75 0 0 0 4.75 12zm10 0h4V12h-4zM20 14.75v4h1.5v-4zM18.75 20h-4v1.5h4zm-5.25-1.25v-4H12v4zM14.75 20a1.25 1.25 0 0 1-1.25-1.25H12a2.75 2.75 0 0 0 2.75 2.75zM20 18.75A1.25 1.25 0 0 1 18.75 20v1.5a2.75 2.75 0 0 0 2.75-2.75zm-1.25-5.25A1.25 1.25 0 0 1 20 14.75h1.5A2.75 2.75 0 0 0 18.75 12zm-4-1.5A2.75 2.75 0 0 0 12 14.75h1.5a1.25 1.25 0 0 1 1.25-1.25z" style="fill:#1a2024"/>
         </svg>
          <span style="font-size: 10px !important;letter-spacing: -0.4px;color: #1a2024;margin-top: 4px !important;font-weight: 500;" class="icon_name"> Categories
          </span>
        </span>
      </div>
    </div>
    <div class="col-2 fixed-nav-item">
      <div class="item--box mobile-custom-account-icon {% if request.page_type == 'account' %} active_url{% endif %}">
        <a class="fixed_nav--link" href="/account">
          {% if customer %}
            {% comment %} <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Profile-1.png?v=1663762989" class="footer_nav_icon" width="19px"  height="19px" > {% endcomment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="21.411" height="21.5" viewBox="0 0 21.411 21.5">
              <path data-name="Path 337549" d="M1492 852.75a9.25 9.25 0 0 0-9.2 8.325.132.132 0 0 0 .039.11.232.232 0 0 0 .165.065h18a.227.227 0 0 0 .164-.065.129.129 0 0 0 .04-.11 9.251 9.251 0 0 0-9.208-8.325zm3.244-1a5.75 5.75 0 1 0-6.488 0 10.76 10.76 0 0 0-7.453 9.179 1.678 1.678 0 0 0 1.7 1.823h18a1.678 1.678 0 0 0 1.7-1.823 10.76 10.76 0 0 0-7.459-9.181zm-3.244-9a4.25 4.25 0 1 0 4.25 4.25 4.25 4.25 0 0 0-4.25-4.25z" transform="translate(-1481.295 -841.25)" style="fill:#1a2024;fill-rule:evenodd"/>
           </svg>
            <span style="font-size: 10px !important;letter-spacing: -0.4px;color: #1a2024;margin-top: 4px !important;font-weight: 500;" class="icon_name"     alt="account"> Me </span>
          {% else %}
          {% comment %} <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/login.png?v=1678793200" class="footer_nav_icon" width="19px"  height="19px" alt="account"> {% endcomment %}
          <svg xmlns="http://www.w3.org/2000/svg" width="21.411" height="21.5" viewBox="0 0 21.411 21.5">
            <path data-name="Path 337549" d="M1492 852.75a9.25 9.25 0 0 0-9.2 8.325.132.132 0 0 0 .039.11.232.232 0 0 0 .165.065h18a.227.227 0 0 0 .164-.065.129.129 0 0 0 .04-.11 9.251 9.251 0 0 0-9.208-8.325zm3.244-1a5.75 5.75 0 1 0-6.488 0 10.76 10.76 0 0 0-7.453 9.179 1.678 1.678 0 0 0 1.7 1.823h18a1.678 1.678 0 0 0 1.7-1.823 10.76 10.76 0 0 0-7.459-9.181zm-3.244-9a4.25 4.25 0 1 0 4.25 4.25 4.25 4.25 0 0 0-4.25-4.25z" transform="translate(-1481.295 -841.25)" style="fill:#1a2024;fill-rule:evenodd"/>
          </svg>
          <span style="font-size: 10px !important;letter-spacing: -0.4px; color: #1a2024;margin-top: 4px !important;font-weight: 500;" class="icon_name" > Login </span>
          {% endif %}
        </a>
      </div>
    </div>

    <div class="col-2 fixed-nav-item">
      <div class="item--box">
        <a class="fixed_nav--link" href="https://api.whatsapp.com/send?phone=919667700177&text=Hi">
          {% comment %} <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/whatsapp_1.png?v=1672658181" class="footer_nav_icon" alt="chat" width="19px"  height="19px" > {% endcomment %}
          <svg xmlns="http://www.w3.org/2000/svg" width="23.67" height="23.778" viewBox="0 0 23.67 23.778">
            <g data-name="Group 332462">
                <path d="M11.581 0a11.49 11.49 0 0 0-9.952 17.225L0 23.176l6.088-1.6a11.474 11.474 0 0 0 5.488 1.4A11.489 11.489 0 0 0 11.581 0zm0 21.038a9.528 9.528 0 0 1-4.858-1.331L6.37 19.5l-3.612.948.964-3.522-.227-.361a9.545 9.545 0 1 1 8.086 4.473z" transform="translate(.355 .25)" style="stroke:#fff;stroke-width:.5px;fill:#1a2024"/>
                <path data-name="Digital_Inline_White" d="M17.547 14.507c-.3-.149-1.765-.871-2.039-.971s-.473-.149-.672.149-.771.971-.944 1.17-.348.224-.646.075a8.157 8.157 0 0 1-2.4-1.481 8.974 8.974 0 0 1-1.66-2.067c-.174-.3-.019-.46.131-.609.134-.133.3-.348.447-.523a2.017 2.017 0 0 0 .3-.5.55.55 0 0 0-.025-.523c-.075-.149-.672-1.618-.92-2.216-.242-.581-.488-.5-.672-.512s-.373-.01-.572-.01a1.1 1.1 0 0 0-.8.373 3.346 3.346 0 0 0-1.041 2.491 5.808 5.808 0 0 0 1.218 3.087 13.3 13.3 0 0 0 5.1 4.505 17.208 17.208 0 0 0 1.7.628 4.093 4.093 0 0 0 1.879.118 3.073 3.073 0 0 0 2.014-1.419 2.494 2.494 0 0 0 .174-1.419c-.075-.124-.274-.2-.572-.348z" transform="translate(-.166 -.277)" style="fill:#1a2024"/>
            </g>
          </svg>
          <span style="font-size: 10px !important;letter-spacing: -0.4px;color: #1a2024;margin-top: 4px !important;font-weight: 500;" class="icon_name" > Chat </span>
        </a>
      </div>
    </div>
  </div>
</div>
<script>
  $('#data-hamburger').click(function() {
    $('button.header__icon-wrapper.tap-area.hidden-desk').click();
  });
  $("input.search__input.predictive-search__input.predictive-search__input_mobile").focus(function(){
  $(".fixed_nav").fadeOut();
});
    $("input.search__input.predictive-search__input.predictive-search__input_mobile").blur(function(){
  $(".fixed_nav").fadeIn();
});
  $(document).ready(function () {
    $('#data-hamburger').on('click', function (e) {
      e.preventDefault();
      $('.mobile_hamburger_btn').click()
      $('.mobile_hamburger_btn ').attr('aria-expanded', 'true')
    })
  })
</script>
