<style>
  .fixed_nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: auto;
    background: #F1EFEF;
    padding-bottom: 4px;
    text-align: center;
    z-index: 9;
  }
  .row-nav {
  	margin: 0;
    padding: 10px;
  }
  .fixed_nav--link {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    opacity: 1;
    /* min-width: 44px; */
  }
  .fixed_nav--link.active_url{
    opacity: 1;
  }
  .fixed_nav--link svg{min-height: 32px !important;}
  .fixed_nav--link:hover, .fixed_nav--link:focus {
  	color: white;
  }
  .beside-svg {
    position: absolute;
    top: -1px;
    right: 14px;
    display: block;
    background: #ff0000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
  }
  .fixed_nav_mobile span.icon_name {
    font-size: 12px !important;margin-top: 0px !important;font-weight: 500;color: #000;
  }
  .fixed_nav_mobile .active_url span.icon_name{font-weight: 700;}
  .fixed_nav_mobile .fixed_nav--link img{max-height: 19px;}
  .boat_icon_footer{
    position: relative;
  }
  .fixed_nav_mobile.fixed_nav cart-count.header__cart-count {right: 1px;top: -4px;height: 16px; width: 16px;line-height: inherit;min-width: auto;}

  img.footer_nav_icon{display: block;}
  .active_url img.footer_nav_icon{display: none;}
  img.footer_nav_icon_filled{display: none;}
  .active_url img.footer_nav_icon_filled{display: block;}
</style>
<div class="fixed_nav fixed_nav_mobile hidden-tablet-and-up" style="display:none;">
  <div class="row row-nav justify-content-around">
    <div class="col-2 fixed-nav-item">
      <div class="item--box boat_icon_footer">
        <a class="fixed_nav--link {% if template contains 'index' %} active_url{% endif %}" href="https://www.boat-lifestyle.com/"> 
          <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/home-1.png?v=1663762988" class="footer_nav_icon" >
          <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/home_36ea08b0-7453-45c8-a1d0-211afa0e8b3b.png?v=1663762989" class="footer_nav_icon_filled" >
          <span class="icon_name"> Home </span>
        </a>
      </div>
    </div>
    <div class="col-2 fixed-nav-item">
      <div class="item--box">
        <a class="fixed_nav--link {% if handle contains 'daily-deals' %} active_url{% endif %}" href="/collections/sail-with-boat">
          <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Sale-1.png?v=1663762989" class="footer_nav_icon" >
          <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Sale_6ac48500-24af-470d-8054-41e905056300.png?v=1663762989" class="footer_nav_icon_filled" >
          <span class="icon_name"> Sale </span>   
        </a>
      </div>
    </div>
    <div class="col-2 fixed-nav-item">
      <div class="item--box">
        <a class="fixed_nav--link {% if request.page_type == 'collection' %}{% unless handle contains 'daily-deals' %} active_url{% endunless %}{% endif %}" href="/collections"> 
          <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Category-1.png?v=1663762989" class="footer_nav_icon" >
          <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Category_02405e70-c288-4c41-b265-e9fdc4dbdca7.png?v=1663762988" class="footer_nav_icon_filled" >
          <span class="icon_name"> Categories </span>
        </a>
      </div>
    </div>
    <!-- <div class="col-2 fixed-nav-item">
      <div class="item--box">
        <a class="fixed_nav--link" href="/cart" is="toggle-link" aria-controls="mini-cart" aria-expanded="false" class="cart-count">
            <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Cart-1.png?v=1663762989" class="footer_nav_icon" >
            <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Cart_9ef5c3ac-6e85-4a3b-8b6f-410d2b0e7bcd.png?v=1663762989" class="footer_nav_icon_filled" >
            <span class="icon_name">Cart </span>
          {%- if cart.item_count > 0 -%}
            <cart-count class="header__cart-count header__cart-count--floating bubble-count">
                {{- cart.item_count -}}
            </cart-count>
            {%- endif -%}
        </a>
      </div>
    </div> -->
    <div class="col-2 fixed-nav-item">
      <div class="item--box {% if request.page_type == 'account' %} active_url{% endif %}">
        <a class="fixed_nav--link" href="/account"> 
            <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Profile-1.png?v=1663762989" class="footer_nav_icon" >
            <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Profile.png?v=1663762989" class="footer_nav_icon_filled" >
            <span class="icon_name"> Me </span>
        </a>
      </div>
    </div>
    <div class="col-2 fixed-nav-item">
      <div class="item--box">
        <a class="fixed_nav--link chatbot"> 
          <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Asset_3_288x-8_2_085646be-d961-4e85-9b6b-92eb8c02beb3.png?v=1663918129" style="width: 20px;">
            <span class="icon_name"> Chat </span>
        </a>
      </div>
    </div>
  </div>
</div>