<style>
  .fixed_nav {
  	position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: auto;
    background: #2c2c2c;
    text-align: center;
    z-index: 99;
  }
  .row-nav {
  	margin: 0;
    padding: 10px 0;
  }
  .fixed_nav--link {
  	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>
<div class="fixed_nav fixed_nav_mobile hidden-tablet-and-up">
  <div class="row row-nav">
    <div class="col-3 fixed-nav-item">
      <div class="item--box">
        <a class="fixed_nav--link" href="https://www.boat-lifestyle.com"> 
          <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17 15.3551H0L2.74194 20.1078L14.6237 19.925L17 15.3551Z" fill="#ED1C24"/>
            <path d="M8.40863 0L3.47314 14.6237L12.7957 11.3333L8.40863 0Z" fill="#ED1C24"/>
          </svg>
          <span class="icon_name"> Home </span>
        </a>
      </div>
    </div>
    <div class="col-3 fixed-nav-item">
      <div class="item--box">
        <a class="fixed_nav--link" href="https://www.boat-lifestyle.com/collections">
           <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.5 8.19857C7.9815 8.19857 7.565 8.61973 7.565 9.14404C7.565 9.66835 7.9815 10.0895 8.5 10.0895C9.0185 10.0895 9.435 9.66835 9.435 9.14404C9.435 8.61973 9.0185 8.19857 8.5 8.19857ZM8.5 0.548828C3.808 0.548828 0 4.39948 0 9.14404C0 13.8886 3.808 17.7393 8.5 17.7393C13.192 17.7393 17 13.8886 17 9.14404C17 4.39948 13.192 0.548828 8.5 0.548828ZM10.3615 11.0264L3.4 14.3012L6.6385 7.26169L13.6 3.98691L10.3615 11.0264Z" fill="#ED1C24"/>
           </svg>
          <span class="icon_name"> Shop </span>   
        </a>
      </div>
    </div>
    <div class="col-3 fixed-nav-item">
      <div class="item--box">
        <a class="fixed_nav--link" href="#" class="cart-count" data-drawer-trigger aria-controls="drawer-name" aria-expanded="false">
            <span class="beside-svg">{{ cart.item_count }}</span>
            <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.5 1.92836C8.2104 1.92836 8.89171 2.21057 9.39404 2.7129C9.89637 3.21523 10.1786 3.89653 10.1786 4.60693V5.14265H4.82143V4.60693C4.82143 3.89653 5.10363 3.21523 5.60596 2.7129C6.10829 2.21057 6.7896 1.92836 7.5 1.92836ZM11.25 5.14265V4.60693C11.25 3.61237 10.8549 2.65854 10.1516 1.95528C9.44839 1.25202 8.49456 0.856934 7.5 0.856934C6.50544 0.856934 5.55161 1.25202 4.84835 1.95528C4.14509 2.65854 3.75 3.61237 3.75 4.60693V5.14265H0V15.8569C0 16.4253 0.225765 16.9703 0.627628 17.3722C1.02949 17.774 1.57454 17.9998 2.14286 17.9998H12.8571C13.4255 17.9998 13.9705 17.774 14.3724 17.3722C14.7742 16.9703 15 16.4253 15 15.8569V5.14265H11.25Z" fill="#C4C4C4"/>
            </svg>
            <span class="icon_name">Bag </span>  
        </a>
      </div>
    </div>
    <div class="col-3 fixed-nav-item">
      <div class="item--box">
        <a class="fixed_nav--link" href="/account"> 
            <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="7.58329" cy="3.79167" r="3.79167" fill="#C4C4C4"/>
              <path d="M0 15.1001C0 11.7864 2.68629 9.1001 6 9.1001H9.16666C12.4804 9.1001 15.1667 11.7864 15.1667 15.1001V17.2001C15.1667 17.7524 14.719 18.2001 14.1667 18.2001H1C0.447716 18.2001 0 17.7524 0 17.2001V15.1001Z" fill="#C4C4C4"/>
            </svg> 
            <span class="icon_name"> Profile </span>
        </a>
      </div>
    </div>
  </div>
</div>