<div class="fixed_nav fixed_nav_mobile">
  <div class="row row-nav">
    <div class="col-3 fixed-nav-item">
      <div class="item--box">
        <div class="item--image">
        	<img loading="lazy" src="" alt="Home" />
        </div>
        <div class="item--text">
          <p class="item--text-title">Home</p>
        </div>
      </div>
    </div>
    <div class="col-3 fixed-nav-item">
      <div class="item--box">
        <div class="item--image">
        	<img loading="lazy" src="" alt="Shop" />
        </div>
        <div class="item--text">
          <p class="item--text-title">Shop</p>
        </div>
      </div>
    </div>
    <div class="col-3 fixed-nav-item">
      <div class="item--box">
        <div class="item--image">
        	<img loading="lazy" src="" alt="Bag" />
        </div>
        <div class="item--text">
          <p class="item--text-title">Bag</p>
        </div>
      </div>
    </div>
    <div class="col-3 fixed-nav-item">
      <div class="item--box">
        <div class="item--image">
        	<img loading="lazy" src="" alt="Profile" />
        </div>
        <div class="item--text">
          <p class="item--text-title">Profile</p>
        </div>
      </div>
    </div>
  </div>
</div>