<style>
  .modal-dialog {
  	z-index: 99;
    max-width: 700px;
  }
  .modal-content {
  	color: black;
  }
  .modal-backdrop.show {
    background: #000;
    z-index: 9;
  }
      .mobile-only {
        display: none;
      }
      .offers-zone .offer-image img, .page-banner {
        display: block;
        max-width: 100%;
        width: 100%;
      }
      .offers-cards {
        background-color: #f2f0f1;
        padding: 2rem;
        max-width: 2000px;
        margin: auto;
      }
      .row-offer {
        display: flex;
        flex-wrap: wrap;
      }
      .offer {
        background-color: #ffffff;
        border-radius: 2em;
        margin: 1.5rem 1rem;
        padding: 1.5rem;
        flex: 1;
/*         min-width: 30%; */
        box-shadow: 0px 3px 4px #ccc;
      }
      .offer-details {
        clear: both;
        overflow: hidden;
        color: black;
      }
      .tnc-btn {
        border: 1px solid #ccc;
        border-radius: 5px;
        display: inline-block;
        float: right;
        width: auto;
        font-size: 12px;
      }
      .tnc-btn.active {
        background-color: #ff0000;
        color: #ffffff;
      }
      .main-text {
        margin-top: 10px;
        font-size: 17px;
        min-height: 52px;
      }
      .label-valid {
        color: #c4c4c4;
      }
      .offer-tnc {
        clear: both;
        margin-top: 20px;
        border-top: 2px solid #c4c4c4;
        padding-top: 12px;
        display: none;
      }
      .offer-tnc ul {
        padding-left: 18px;
      }
      .modal-open {
        padding: 0 !important;
      }
      #shopify-section-collection-offers .modal {
		background: #1a1111a6;
        z-index: 99999;
      }
      #shopify-section-collection-offers .modal-dialog {
        max-width: 700px;
      }
      .white svg {
        stroke: #fff;
      }
  .row-offer .slick-prev, .row-offer .slick-next {
    font-size: 0;
    position: absolute;
    bottom: 20px;
    color: #ea2127;
    border: 0;
    background: none;
    z-index: 1;
}
  .row-offer .slick-prev {
    left: -56px;
}
  .row-offer .slick-prev:after {
    content: "\f104";
    font: 40px/1 'FontAwesome';
    font-weight: bold;
    color: #ff0000;
}
  .row-offer .slick-next {
    right: -25px;
    text-align: right;
}
  .row-offer .slick-next:after {
    content: "\f105";
    font: 40px/1 'FontAwesome';
    font-weight: bold;
    color: #ff0000;
	}
  .row-offer .slick-slide {
    margin: 0 5px;
  }
  .row-offer .slick-list {
    margin: 0px -5px 0px -5px;
  }
  .know-more a {
  	display: block;
    margin-top: 12px;
    font-size: 12px;
    color: #8c8a8a;
    text-align: right;
  }
  .know-more a:hover {
  	text-decoration: none;
    color: #ff0000;
  }
      @media screen and (max-width: 767px) {
        .mobile-only {
          display: block;
        }
        .only-desktop {
          display: none;
        }
        .offer {
          margin-left: 0;
          margin-right: 0;
          padding: 1rem;
        }
        .tnc-btn.active {
          border-color: #fff;
        }
        #content .container {
            padding: 0;
        }
        .offer-tnc ul {margin: 0;}
        .offer-tnc ul li {
        	font-size: 12px;
            line-height: normal;
            margin-bottom: 3px;
        }
        .offer {min-width: unset;margin: 0 10px;}
        .row-offer .slick-list {padding-left: 0!important;}
/*     	.row-offer .slick-track {display: flex;} */
        .main-text {
            font-size: 16px;
            min-height: 57px;
            line-height: normal;
        }
      }
      @media screen and (min-width: 768px) {
        .offer {
          max-width: 24%;
        }
        .row-offer .slick-list, .row-offer .slick-track {width: 100% !important;}
      }
    </style>
<div class="offers-zone mb-4">
      <div class="offers-wrapper">
        <div class="main-banner only-desktop">
          <a
            href="https://www.boat-lifestyle.com/collections/boatxipl"
            style="display: block"
          >
            <img
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/offer-page_strip_Web.jpg?v=1634206843"
              alt="main-banner"
              class="page-banner"
            />
          </a>
        </div>
        <div class="main-banner mobile-only">
          <a
            href="https://www.boat-lifestyle.com/collections/boatxipl"
            style="display: block"
          >
            <img
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/offer-page_strip_mobile.png?v=1634206843"
              alt="main-banner"
              class="page-banner"
            />
          </a>
        </div>
      </div>
     <div class="offers-cards">
        <div class="row-offer">
         <!--  <div class="offer">
            <div class="offer-container">
              <div class="offer-image">
                <img
                  src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Logo-01-_1.png?v=1643361798"
                  alt="offer"
                />
              </div>
              <div class="offer-details">
                <p class="main-text">Flat 25% Cashback on Watch Blaze</p>
                <div class="validity">
                  <p class="label-valid m-0">Validity</p>
                  <p class="valid-date">20th March 2022</p>
                </div>
                <div class="tnc mobile-only">
                  <span class="btn tnc-btn"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
                <div class="tnc only-desktop">
                  <span
                    class="btn tnc-btn"
                    data-toggle="modal"
                    data-target="#zest1"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
              </div>
              <div class="offer-tnc zest1_"></div>
            </div>
          </div> -->
           <div class="offer">
            <div class="offer-container">
              <div class="offer-image">
                <img
                  src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Pay-with-rewards.png?v=1634726234"
                  alt="offer"
                />
              </div>
              <div class="offer-details">
                <p class="main-text">20% cashback upto Rs. 500</p>
                <div class="validity">
                  <p class="label-valid m-0">Validity</p>
                  <p class="valid-date">30th April 2022</p>
                </div>
                <div class="tnc mobile-only">
                  <span class="btn tnc-btn"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
                <div class="tnc only-desktop">
                  <span
                    class="btn tnc-btn"
                    data-toggle="modal"
                    data-target="#rewards"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
              </div>
              <div class="offer-tnc rewards_"></div>
            </div>
          </div>
       <div class="offer">
            <div class="offer-container">
              <div class="offer-image">
                <img
                  src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Mobikwik_200a6f78-db1b-4805-8dd4-53210303879f.png?v=1634726234"
                  alt="offer"
                />
              </div>
              <div class="offer-details">
                <p class="main-text">Get flat Rs 50/- cashback</p>
                <div class="validity">
                  <p class="label-valid m-0">Validity</p>
                  <p class="valid-date">30st April 2022</p>
                </div>
                <div class="tnc mobile-only">
                  <span class="btn tnc-btn"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
                <div class="tnc only-desktop">
                  <span
                    class="btn tnc-btn"
                    data-toggle="modal"
                    data-target="#mobikwik"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
              </div>
              <div class="offer-tnc mobi_"></div>
            </div>
          </div> 
          <div class="offer">
            <div class="offer-container">
              <div class="offer-image">
                <img
                  src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Ola_money.jpg?v=1649227976"
                  alt="offer"
                />
              </div>
              <div class="offer-details">
                <p class="main-text">Flat 10% cashback on transaction up to ₹750</p>
                <div class="validity">
                  <p class="label-valid m-0">Validity</p>
                  <p class="valid-date">30th June 2022</p>
                </div>
                <div class="tnc mobile-only">
                  <span class="btn tnc-btn"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
                <div class="tnc only-desktop">
                  <span
                    class="btn tnc-btn"
                    data-toggle="modal"
                    data-target="#olamoney"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
              </div>
              <div class="offer-tnc ola_"></div>
            </div>
          </div>
        <!-- <div class="offer">
            <div class="offer-container">
              <div class="offer-image">
                <img
                  src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Logo-01-_1.png?v=1643361798"
                  alt="offer"
                />
              </div>
              <div class="offer-details">
                <p class="main-text">10% Cashback up to Rs200</p>
                <div class="validity">
                  <p class="label-valid m-0">Validity</p>
                  <p class="valid-date">15th -24th Feb 2022</p>
                </div>
                <div class="tnc mobile-only">
                  <span class="btn tnc-btn"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
                <div class="tnc only-desktop">
                  <span
                    class="btn tnc-btn"
                    data-toggle="modal"
                    data-target="#zest"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
              </div>
              <div class="offer-tnc zest_"></div>
            </div>
          </div> -->
        <!--    <div class="offer">
            <div class="offer-container">
              <div class="offer-image">
                <img
                  src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/lazypay.png?v=1634726234"
                  alt="offer"
                />
              </div>
              <div class="offer-details">
                <p class="main-text">Get upto Rs 150 cashback using Lazypay</p>
                <div class="validity">
                  <p class="label-valid m-0">Validity</p>
                  <p class="valid-date">28th Feb 2022</p>
                </div>
                <div class="tnc mobile-only">
                  <span class="btn tnc-btn"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
                <div class="tnc only-desktop">
                  <span
                    class="btn tnc-btn"
                    data-toggle="modal"
                    data-target="#lazypay"
                    >Terms & Conditions
                    <span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
              </div>
              <div class="offer-tnc lazy"></div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

<!-- Modals  -->

<div class="modal fade" id="lazypay" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body lazy"></div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="mobikwik" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body mobi_"></div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
      <div class="modal fade" id="olamoney" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body ola_"></div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="zest" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body zest_"></div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  	<div class="modal fade" id="zest1" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body zest1_"></div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="rewards" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body rewards_"></div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

<script>
      $(document).ready(function () {
        let lazypay = `
          <ul>
            <li>
              You will receive 20% Cashback to a maximum of Rs 150 for
              first transaction on PayU Payments using LazyPay. The same will be
              deducted from your LazyPay outstanding amount.
            </li>
            <li>
              Offer is valid for transactions till Feb 28,
              2022 only.
            </li>
            <li>
              Users who have availed the offer from 1st to 15th of the
              month will receive cashback on 20th of the same month and
              users who have availed the offer from 16th to 31st of the
              month will receive the cashback on 5th of the following
              month, subject to statutory holidays, in which case cashback
              will be credited on the next working day.
            </li>
            <li>Only valid on transactions via Pay Later option.</li>
            <li>
              All cashbacks awarded to the users LazyPay account balance
              will expire on the 60th day from the date it has been
              awarded. LazyPay reserves the right to change / alter
              cashback expiry with sufficient prior intimation to the
              user.
            </li>
          </ul>
		`;
        $('.lazy').append(lazypay);
        let mobikwik = `
                <ul>
                  <li>
                    Offer only valid on Mobikwik wallet transactions via RazorPay payment gateway
                  </li>
                  <li>
                    Minimum transaction amount via MobiKwik to avail the offer
                    is Rs 799/- and above.
                  </li>
                  <li>Offer valid period: 1st - 30st April -2022</li>
                  <li>
                    Offer can be availed once per user during the campaign
                    period.
                  </li>
                  <li>
                    Cashback will be credited within 24 hours of the
                    transaction.
                  </li>
                    <li>
                   Other general offer T&Cs as applicable. 
                  </li>
                </ul>
		`;
        $('.mobi_').append(mobikwik);
        let olamoney = `
                <ul>
                  <li>
                    Offer is applicable on the first ever transaction on boAt using OlaMoney Postpaid+
                  </li>
                  <li>
                    Offer is valid from: 1st Apr'22 to 30th Jun'22
                  </li>
                  <li>Offer is valid for OlaMoney Postpaid+ active users only.</li>
                  <li>
                    Min txn value: 499
                  </li>
                  <li>
                    Offer is not applicable for postpaid plus users who have not cleared dues beyond their due dates.
                  </li>
                    <li>
                   Offer is exclusive to you and intended for your use only. 
                  </li>
                  <li>
                   Cashback will be credited within 10 working days to your active OlaMoney Postpaid+ or Wallet account. 
                  </li>
                  <li>
                   Cashback will not be applicable on EMI transaction on OlaMoney Postpaid+ 
                  </li>
                </ul>
		`;
        $('.ola_').append(olamoney);
        let zestmoney = `
                <ul>
                  <li>
                    Offer applicable for ZestMoney transactions only.
                  </li>
				  <li>Cashback will processed to customer's bank account within 15 days of transaction</li>
                  <li>
                    Validity for all transactions from 15th Feb'22 to 24th Feb'22.
                  </li>
                  <li>
                   Applicable once per ZestMoney account during the campaign period.
                  </li>
                </ul>
		`;
        $('.zest_').append(zestmoney);
        let rewards = `
                <ul>
                 <li>
                    No Minimum transaction value
                  </li>
                  <li>
                    20% upto 500 Rs cashback & Extra savings with Rewards is applicable on using Pay with Rewards on boAt.
                  </li>
                  <li>
                    No promo code required
                  </li>
                  <li>Customers who are not enrolled on any of the associated loyalty programs on Pay with Rewards will not be eligible for the offer.</li>
                  <li>
                    Offer is valid from 1st April 2022 00:01 AM to 30th April 2022 11:59 PM
                  </li>
 <li>
                    Cashback will be auto credited in Pay with Rewards within 24 hours of the transaction
                  </li>
<li>
                    Offer applicable only on orders through boAt App, Website & Msite.
                  </li>
<li>
                    Twid and boAt reserves the right to withdraw, modify or replace this offer with another offer at any time without prior notice and the same is at the sole discretion of the company.
                  </li>
<li>
                    This offer cannot be combined with any other payment offer.
                  </li>
<li>
                    This Offer is conducted by Twidpay.
                  </li>
<li>
                    By availing this offer, it is deemed that the customer has agreed to all the terms & conditions mentioned herein.
                  </li>
                </ul>
		`;
         $('.rewards_').append(rewards);
        let zest1 = `
                <ul>
                 <li>
                    Offer only valid on purchase of boAt Watch Blaze.
                  </li>
                  <li>
                    Offer valid for all users once per user during the offer period.
                  </li>
                  <li>
                    Offer is valid till 20th March 2022.
                  </li>
                  <li>Cashback will be provided by Zest in your bank account within 7 days of product delivery.</li>
                  </ul>
		`;
        $('.zest1_').append(zest1);
      });
    </script>