{% if collection.handle == 'boat-big-surprise' %}
<button type="button" hidden class="btn btn-info btn-lg" data-toggle="modal" id="saleModalBtn" data-target="#saleModal">Open Modal</button>
<div id="saleModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-0">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-body-content">
          <div class="modal-image">
            <img src='https://cdn.shopify.com/s/files/1/0057/8938/4802/files/website-pop-up_1.jpg?v=1630672735' alt="Sale Alert" />
          </div>
          <div class="modal-form p-3">
          	<div class="sale-pop-form">
            <div class="form-group" style="margin: 0;">
              <div class="myform" style="display: flex;margin: 0;justify-content: center;">
              	<input style="border-radius: 5px;max-width: 65%;font-size: 12px;width: 100%;" type="email" name="email" id="sale_email" placeholder="Email Address">
              <button style="border-radius: 5px;background: transparent;border-color: #ff0000;color: #fff;" class="button sale-btn" type="submit">YES</button>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
#saleModal {z-index: 9999;background: #00000096;padding: 0 !important;}
  #saleModal .modal-dialog{top: 20%;}
  #saleModal .close {
  	position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #EB1C24;
    color: #fff;
    line-height: 30px;
    font-weight: normal;
    opacity: 1;
  }
  .error-msg-sale, .thankyou-msg-sale, .aluser-msg-sale {
  	text-align: center;
    margin: 0;
    font-size: 12px;
    color: #fff;
    opacity: .8;
  }
  #saleModal .close:focus {outline: none;border:0;}
  #saleModal img {display:block;}
  #saleModal .modal-content {border:0;}
  .modal-form {background: #000;}
  #saleModal input {
  	border: 1px solid #ccc;
    background: transparent;
    color: #ccc;
    margin-right: 4px;
  }
  #saleModal input::-webkit-input-placeholder {color: #ccc;}
  #saleModal .sale-btn:hover {background: #EB1C24!important;}
  body.modal-open {padding-right: 0!important;}
  .collection-banner-image-row {cursor: pointer;}
  
  @media screen and (max-width: 600px) {
  	#saleModal .modal-dialog{top: 25%;}
  }
</style>
<script>
$(".collection-banner-image-row").click(function(e){
      e.preventDefault();
      $("#saleModalBtn").trigger("click");
  	  $('body').css('padding-right', '0!important')
    });
    {% if customer %}
    	document.getElementById("sale_email").value = '{{customer.email}}'
    {% endif %}
    $(".sale-btn").click(function () {
    var e = document.getElementById("sale_email").value;
    "" !== e && /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(e)
        ? localStorage.getItem("userEmailIdSale") === e
            ? $(".form-group").append('<p class="aluser-msg-sale">You are already subscribed!!</p>')
            : (localStorage.setItem("userEmailIdSale", e),
              clevertap.onUserLogin.push({ Site: { Email: e, "MSG-email": !0 } }),
              clevertap.event.push("Subscribed for boAt Big Surprise", { Email: e, Source: "Collection Banner Popup" }),
              $("#saleModal .form-group").append('<p class="thankyou-msg-sale">Thank You for subscribing!</p>'))
        : $(".form-group").append('<p class="error-msg-sale">Please enter a valid email Id!</p>');
    setTimeout(function () {
        $(".error-msg-sale, .thankyou-msg-sale, .aluser-msg-sale").remove();
    }, 5e3);
});
</script>
{% endif %}