{% if banner_end_date != blank %} 
 <div class="timer banner-timer"> 
   {% if banner_title != blank %}<h4 class="timer__title">{{ banner_title }}</h4>{% endif %} 
   <div class="timer-display"> 
     <div class="timer-block"> 
       <span class="timer-block__num js-timer-days">00</span> 
<!--        <span class="timer-block__unit">:</span>  -->
     </div> 
     <div class="timer-block"> 
       <span class="timer-block__num js-timer-hours">00</span> 
<!--        <span class="timer-block__unit">:</span>  -->
     </div> 
     <div class="timer-block"> 
       <span class="timer-block__num js-timer-minutes">00</span> 
<!--        <span class="timer-block__unit">:</span>  -->
     </div> 
     <div class="timer-block"> 
       <span class="timer-block__num js-timer-seconds">00</span> 
<!--        <span class="timer-block__unit">:</span>  -->
     </div> 
   </div> 
 </div> 

 <style> 
   .timer { 
     background: rgb(205, 205, 205); 
     padding: 10px 0; 
     margin: 15px 0 0; 
     max-width: 250px;
    /* border: 1px dashed; */
     border-radius: 5px;
     line-height: normal;
     display: none;
   } 
   .timer--expired { 
     display: none; 
   } 
   .timer__title { 
     text-align: center; 
     margin: 0;
     color: #ff0000;
     font-size: 16px;
     font-weight: bold;
   } 
   .timer-display { 
     display: -webkit-box; 
     display: -ms-flexbox; 
     display: flex; 
     -ms-flex-wrap: wrap; 
     flex-wrap: wrap; 
     -webkit-box-pack: justify; 
     -ms-flex-pack: justify; 
     justify-content: space-between; 
     margin-top: 5px; 
   } 
   .timer-block { 
     position: relative; 
     width: 25%; 
     padding: 0 10px; 
   } 
   .timer-block:not(:last-child):after { 
       content: ':'; 
       position: absolute; 
       right: 0; 
       top: 0px; 
     } 
   .timer-block__num, 
   .timer-block__unit { 
     display: block; 
     text-align: center; 
   } 


  .main_banner_slider .timer {
    background: transparent; 
    padding: 4px 0;
  }

  .main_banner_slider .timer-display {
    justify-content: center; 
  }
  
  .main_banner_slider .timer__title{
    font-size: 14px;
    text-align: left;
    padding-left: 8px;
    color: #fff;
  }

  .main_banner_slider .timer-block { 
    width: 33%;
  } 

  .main_banner_slider .timer-block:not(:last-child):after {
    /* display: none; */
    color: #fff;
  }

  .main_banner_slider .timer-block__num{
    text-align: center; 
    background: #ed1d23;
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    text-transform: uppercase;
  }
  .main_banner_slider .timer-display .timer-block:first-child{display: none;}

  @media screen and (max-width:767px){
    .main_banner_slider .timer {max-width: 180px; left: 8px;top: 50%;}
    .main_banner_slider .timer__title{font-size: 14px;}
    .main_banner_slider .timer-display{font-size: 12px;}
    .main_banner_slider .timer-block{padding: 0 5px;}
  }

  @media screen and (min-width:767px){
    .main_banner_slider .timer {display: none !important;}
  }

 </style> 

  <script type="text/javascript"> 
    $(window).on('load', function() {
      $('.timer').fadeIn("fast");
    });
    var banner_second = 1000, 
        banner_minute = banner_second * 60, 
        banner_hour = banner_minute * 60, 
        banner_day = banner_hour * 24; 

    var banner_countDown = new Date('{{- banner_end_date -}}').getTime(), 
        banner_x = setInterval(function() { 
          console.log("Timer changed")
    var banner_now = new Date().getTime(), 
        banner_distance = banner_countDown - banner_now;
          
        var days_left = Math.floor(banner_distance / (banner_day));
        var hours_left = Math.floor((banner_distance % (banner_day)) / (banner_hour)) + days_left * 24;
        
        document.querySelector('.js-timer-days').innerText = Math.floor(banner_distance / (banner_day)) + ' d', 
        document.querySelector('.js-timer-hours').innerText = hours_left + ' h', 
        document.querySelector('.js-timer-minutes').innerText = Math.floor((banner_distance % (banner_hour)) / (banner_minute)) + ' m', 
        document.querySelector('.js-timer-seconds').innerText = Math.floor((banner_distance % (banner_minute)) / banner_second) + ' s'; 
    }, banner_second) 
 </script> 

 {% endif %} 