{% if end_date != blank %} 
 <div class="flashtimer"> 
   {% if title != blank %}<h4 class="timer__title">{{ title }}:</h4>{% endif %} 
   <div class="timer-display"> 
     <div class="timer-block visually-hidden"> 
       <span class="timer-block__num js-timer-days">00</span> 
     </div> 
     <div class="timer-block"> 
       <span class="timer-block__num js-timer-hours">00</span> 
     </div> 
     <div class="timer-block"> 
       <span class="timer-block__num js-timer-minutes">00</span> 
     </div> 
     <div class="timer-block"> 
       <span class="timer-block__num js-timer-seconds">00</span> 
     </div> 
   </div> 
 </div> 

 <style> 
   .flash_sale {
      display: none;
      align-items: center;
      max-width: 450px;
      justify-content: space-between;
      padding: 0px 10px;
      background: linear-gradient(270deg, #094BFA 50%, #0339CA 53.61%, #154DE0 63%, #094BFA 66.88%);
      border-radius: 5px;
      margin-top: 7px;
      margin-bottom: 7px;
      animation: 5s ease 0s infinite normal none running bgstrip;
   }
   .flash_text {
   	 font-weight:600;
     display: flex;
     align-items: center;
   }
   .flashtimer { 
     margin: 0;
     background: transparent;
     padding: 10px 0; 
     max-width: max-content;
     border-radius: 5px;
     line-height: normal;
     display: flex;
     align-items:center;
   } 
   .flashtimer .timer--expired { 
     display: none; 
   } 
   .flashtimer .timer__title { 
     text-align: center;
      margin: 0;
      color: white;
      font-size: 16px;
      font-weight: normal;
   } 
   .flashtimer .timer-display { 
     display: -webkit-box; 
     display: -ms-flexbox; 
     display: flex; 
     -ms-flex-wrap: wrap; 
     flex-wrap: wrap; 
     -webkit-box-pack: justify; 
     -ms-flex-pack: justify; 
     margin-top: 0; 
   } 
   .flashtimer .timer-block { 
     position: relative; 
     width: 43px;
     padding: 0;
     text-align: center;
     font-size: 16px;
     color: white;
   } 
   .flashtimer .timer-block__num, 
   .flashtimer .timer-block__unit { 
     display: block; 
     text-align: center; 
   } 
   
   @keyframes bgstrip {
   	0% {
    background-position: -2500px 0px;
    }
    100% {
        background-position: 2500px 0px;
    }
   }
   
   @media screen and (max-width: 767px) {
   	.flashtimer .timer-block {
      width: 31px !important;
      font-size: 12px !important;
	}
    .flashtimer .timer__title, .flash_text {
      font-size: 12px !important;
    }
   }

 </style> 

 <script type="text/javascript"> 
   $(window).on('load', function() {
   	$('.flash_sale').css("display", "flex");
   })
   var second = 1000, 
       minute = second * 60, 
       hour = minute * 60, 
       _day = hour * 24; 
   var distance, now;

   var countDown = new Date('{{- end_date -}}').getTime(), 
       x = setInterval(function() { 
   now = new Date().getTime(); 
   distance = countDown - now; 
       document.querySelector('.flashtimer .js-timer-days').innerText = Math.floor(distance / (_day)) + ' d', 
       document.querySelector('.flashtimer .js-timer-hours').innerText = Math.floor((distance % (_day)) / (hour)) + ' h', 
       document.querySelector('.flashtimer .js-timer-minutes').innerText = Math.floor((distance % (hour)) / (minute)) + ' m', 
       document.querySelector('.flashtimer .js-timer-seconds').innerText = Math.floor((distance % (minute)) / second) + ' s'; 
   }, second); 
   if (distance < 0) {
   	$('.flash_sale').remove();
   }
 </script> 

 {% endif %} 