<div class="flashtimer">
  {% if title != blank -%}
    <h4 class="timer__title">{{ title }}:</h4>
  {%- endif %}
  <div class="timer-display">

      <div class="timer-block days-timer" style="display:none;">
        <span class="timer-block__num js-timer-days" >00</span>
      </div>
    <div class="timer-block">
      <span class="timer-block__num js-timer-hours">00</span>
    </div>
    <div class="timer-block">
      <span class="timer-block__num js-timer-minutes">00</span>
    </div>
    <div class="timer-block">
      <span class="timer-block__num js-timer-seconds">00</span>
    </div>
    <div class="timer-block milliseconds">
      <span class="timer-block__num js-timer-ms">00</span>
    </div>
  </div>
</div>

<script type="text/javascript">
  //    $(window).on('load', function() {
  //    	$('.timer-display').css("display", "flex");
  //    })
  var second = 1000,
    minute = second * 60,
    hour = minute * 60,
    _day = hour * 24;
  {% if end_date != blank %}
  var countDown = new Date('{{- end_date -}}').getTime(),
    x = setInterval(function () {
      var now = new Date().getTime(),
        distance = countDown - now;
      if (distance < 1) {
      var hr = 23;
  var min = 59;
  var sec = 60;
  var distance = 1;
  x = setInterval(function () {
    var curr = new Date();
    //     document.querySelector('.flashtimer .js-timer-days').innerText = Math.floor(distance / (_day)) + 'd',
    document.querySelector('.flashtimer .js-timer-hours').innerText = hr - curr.getHours() + 'h',
      document.querySelector('.flashtimer .js-timer-minutes').innerText = min - curr.getMinutes() + 'm',
      document.querySelector('.flashtimer .js-timer-seconds').innerText = sec - curr.getSeconds() + 's';
  }, second);
      } else {
         document.querySelector('.flashtimer .timer-block.days-timer').style.display = "block",
        document.querySelector('.flashtimer .js-timer-days').innerText = Math.floor(distance / (_day)) + 'd',
        document.querySelector('.flashtimer .js-timer-hours').innerText = Math.floor((distance % (_day)) / (hour)) + 'h',
          document.querySelector('.flashtimer .js-timer-minutes').innerText = Math.floor((distance % (hour)) / (minute)) + 'm',
          document.querySelector('.flashtimer .js-timer-seconds').innerText = Math.floor((distance % (minute)) / second) + 's';
      }
    }, second);
  var now = new Date().getTime(),
    distance = countDown - now;
  {% else %}
  var hr = 23;
  var min = 59;
  var sec = 60;
  var distance = 1;
  x = setInterval(function () {
    var curr = new Date();
    // document.querySelector('.flashtimer .js-timer-days').innerText = Math.floor(distance / (_day)) + 'd',
    document.querySelector('.flashtimer .js-timer-hours').innerText = hr - curr.getHours() + 'h',
      document.querySelector('.flashtimer .js-timer-minutes').innerText = min - curr.getMinutes() + 'm',
      document.querySelector('.flashtimer .js-timer-seconds').innerText = sec - curr.getSeconds() + 's';
  }, second);
  {% endif %}


  // if (distance > 0) {
    const printNumbersForEvery2Sec = (n) => {
      for (let i = 1; i <= n; i++) {
        var y = setInterval(() => {
          document.querySelector('.flashtimer .js-timer-ms').innerText = i;
        }, i * 100)
      }
    }
    printNumbersForEvery2Sec(10);
  // }
</script>
<style>
    .flash_sale {
      width: 84%;gap: 8%;
      display: flex;
      align-items: center;
      padding: 0px 10px;
      background: linear-gradient(270deg, #FBC50A 23.86%, #DFB108 47.06%, #FBC50A 66.05%);
      border-radius: 5px;
      margin-top: 7px;
      margin-bottom: 7px;
      animation: 5s linear 0s infinite normal none running bgstrip;
    }

    .flash_text {
      font-weight: 600;
      display: flex;
      align-items: center;
      color: black;
    }

    .flashtimer {
      margin: 0;
      background: transparent;
      padding: 10px 0;
      max-width: max-content;
      border-radius: 5px;
      line-height: normal;
      display: flex;
      align-items: center;
    }

    .flashtimer .timer--expired {
      display: none;
    }

    .flashtimer .timer__title {
      text-align: center;
      margin: 0 !important;
      color: #070707;
      font-size: 16px;
      font-weight: 500;
    }

    .flashtimer .timer-display {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      margin-top: 0;
    }

    .flashtimer .timer-block {
      position: relative;
      width: 36px;
      padding: 0;
      text-align: center;
      font-size: 16px;
      color: #070707;
      font-weight: 500;
    }

    .flashtimer .timer-block__num,
    .flashtimer .timer-block__unit {
      display: block;
      text-align: center;
    }

    .flashtimer .milliseconds {
      background: white;
      color: black;
      font-weight: bold;
      padding: 0;
      width: 22px;
    }

    @keyframes bgstrip {
      0% {
        background-position: -1000px 0px;
      }

      100% {
        background-position: 1000px 0px;
      }
    }

    @media screen and (max-width: 767px) {
      {% if template contains 'product' %}
      .flash_sale {gap: 3%;}
      {% else %}
      .flash_sale {width: 100%;}
      {% endif %}
      .flashtimer .timer-block {
        width: 31px !important;
        font-size: 14px !important;
      }
      .flashtimer .timer-block__num,
      .flashtimer .timer-block__unit {
        font-size:11px;
      }

      .flashtimer .timer__title,
      .flash_text {
        font-size: 11px !important;
      }
    }

    @media (min-width:769px) {
      .flash_sale {
        width: 400px;
      }
    }
</style>

{% if template contains 'collection' or template contains 'index' %}
  <style>
      .flashtimer .timer-block {
        font-size: 13px !important;
      }

      .flashtimer .timer__title,
      .flash_text {
        font-size: 13px !important;
      }
  </style>
{% endif %}
