<div class="signup-form mt-4">
  <span class="text-white" style="display: block;font-size: 13px;font-weight: normal;margin-bottom: 15px;opacity: .8;line-height: normal;">Subscribe to email alerts. We promise not to spam your inbox.</span>
  <span class="input-block">
    <input autocomplete="no-autocomplete" type="email" id="subscriber-email" placeholder="Email Address*" class="required email" value="" name="email" aria-label="{{ 'layout.signup.label' | t | escape }}" />
    <button class="button" id="subscribe-btn" type="submit">SUBSCRIBE</button>
  </span>
</div>
{% comment %}
{% if template == "index" or template == "blog" %} 
 <div class="pop-overlay"></div>
    <div class="boathead-pop">
      <div class="content-pop">
        <span class="close-pop">&times;</span>
        <div class="subscribe-form">
          <div class="header_image_popup">
            <p class="text-uppercase text-white"><strong>Join the tribe</strong></p>
            <img class="popup--image" loading="lazy" {% render 'image-attributes', image: section.settings.popup_image %} alt="Join the tribe" />
          </div>
          <p class="text-white opening-line">Be the first to know about new products, huge savings and other crazy things we're upto</p>
          <div class="form-group">
          	<input type="email" name="email" id="pop_email" placeholder="Email Address" autocomplete="new-email">
            <button class="button" type="submit" id="subscribe_pop">SUBSCRIBE</button>
            <p class="thankyou-msg-pop" style="color:#fff;font-size:12px;display:none">Thank You for subscribing. Please check your inbox!</p>
            <p class="error-msg-pop" style="color:#fff;font-size:12px;display:none">Please enter a valid email Id!</p>
          </div>
        </div>
      </div>
  </div>
<style>
.pop-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffffa6;
  z-index: 9999;
  display: none;
}
.boathead-pop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  max-width: 600px;
  width: 95%;
  height: auto;
  z-index: 9999999;
  box-shadow: 0 0 10px #000;
/*   padding: 29px 15px; */
}
.content-pop {
/*   padding: 20px 15px;
  border-top: 2px solid #ea2127;
  border-bottom: 2px solid #ea2127; */
  max-width: 100%;
  margin: auto;
}
.close-pop {
  cursor: pointer;
  font-size: 35px;
  display: block;
  text-align: right;
  padding-right: 6px;
  position: absolute;
  top: 2px;
  right: 1px;
  z-index: 9;
}
.header_image_popup {
  position: relative;
    margin-bottom: 20px;
}
.header_image_popup img {
  display: block;
/*     height: 100%; */
}
.header_image_popup p {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    width: 100%;
    text-align: left;
    max-width: 500px;
    z-index: 9;
}
.opening-line {
  max-width: 500px;
    margin: 0 auto;
    text-align: -webkit-auto;
    font-size: 15px;
    line-height: normal;
}
#subscribe_pop {
  color: #fff;
  border-radius: 2em;
  background: transparent;
  font-size: 14px;
  width: 44%;
  padding: 0 12px;
  margin: 0;
  border: 1px solid #ff0000;
  line-height: normal;
  height: 40px;
}
#pop_email {
  font-size: 13px;
  border: 0;
  max-width: 320px;
  width: 56%;
  background: transparent;
  border-bottom: 1px solid #fff;
  float: left;
  color: #fff !important;
  height: 40px;
}
.subscribe-form .form-group {
  padding: 12px 0 30px;
  position: relative;
  max-width: 500px;
  margin: auto;
}
.thankyou-msg-pop, .error-msg-pop {
  position: absolute;
    left: 50%;
    right: 50%;
    width: 100%;
    transform: translateX(-50%);
}
#pop_email::-webkit-input-placeholder {font-size: 13px;color: #fff;}
#pop_email:focus::-webkit-input-placeholder {color: transparent;}
#pop_email:focus, #subscribe_pop:focus {
  outline: 0;
  box-shadow: none;
}
</style>
{% endif %}
{% endcomment %}
<script>
   {%- if customer -%}
     var myEmail = '{{customer.email}}'
     $("#subscriber-email").val(myEmail);
   {%- endif -%}
   var localValuePop = localStorage.getItem('MyPopup');
   if(!localValuePop) {
   	 setTimeout(function(){
    	$(".pop-overlay, .boathead-pop").fadeIn();
    }, 15000);
   }
   $("#subscribe_pop").on("click",function(){var e=document.getElementById("pop_email").value;""!==e&&/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(e)?localStorage.getItem("userEmailId")===e?$(".aluser-msg").show():(localStorage.setItem("userEmailId",e),localStorage.setItem("MyPopup","popOnce"),clevertap.onUserLogin.push({Site:{Email:e,"MSG-email":!0}}),clevertap.event.push("Newsletter Subscribed",{Email:e,Source:"Popup"}),$(".thankyou-msg-pop").show(),setTimeout(function(){$(".pop-overlay, .boathead-pop").fadeOut()},5e3)):$(".error-msg-pop").show(),setTimeout(function(){$(".error-msg-pop").fadeOut()},5e3)}),$(".pop-overlay, .close-pop").click(function(){localStorage.setItem("MyPopup","popOnce"),$(".pop-overlay, .boathead-pop").fadeOut()}),$("#subscribe-btn").on("click",function(e){var o=document.getElementById("subscriber-email").value;""!==o&&/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(o)?localStorage.getItem("userEmailId")===o?$(".input-block").append('<p class="aluser-msg text-white">You are already subscribed!</p>').show():(localStorage.setItem("userEmailId",o),clevertap.onUserLogin.push({Site:{Email:o,"MSG-email":!0}}),clevertap.event.push("Newsletter Subscribed",{Email:o,Source:"Footer"}),$(".input-block").append('<p class="thankyou-msg text-white">Thank You for subscribing. Please check your inbox!</p>').show(),$("#subscriber-email").val("")):$(".input-block").append('<p class="error-msg text-white">Please enter a valid email Id!</p>').show(),setTimeout(function(){$(".thankyou-msg, .error-msg, .aluser-msg").remove()},5e3)}),$(".download-box a").click(function(){clevertap.event.push("Download App Clicked")});
	
</script>