<div class="signup-form mt-4">
  <span class="text-white" style="display: block;font-size: 13px;font-weight: normal;margin-bottom: 15px;opacity: .8;line-height: normal;">Subscribe to email alerts. We promise not to spam your inbox.</span>
  <span class="input-block">
    <input autocomplete="new-email" type="email" id="subscriber-email" placeholder="Email Address*" class="required email" value="" name="email" aria-label="{{ 'layout.signup.label' | t | escape }}" />
    <button class="button" id="subscribe-btn" type="submit">SUBSCRIBE</button>
  </span>
</div>