{% assign min = 10 %} {% assign max = 99 %} {% assign diff = max | minus: min
%} {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="20"
  aria-valuemin="0" aria-valuemax="100" style="width:{{randomNumber}}%">
    <span class="sr-only">70% Complete</span>
  </div>
</div>