{%- if settings.enable_flash_sale -%}
{% liquid
    assign product = inventory-bar
        if settings.inventory_bar_min != blank and settings.inventory_bar_max != blank 
            assign min = settings.inventory_bar_min 
            assign max = settings.inventory_bar_max 
            assign diff = max | minus: min 
            assign sold_percentage = "now" | date: "%N" | modulo: diff | plus: min 
        else
            assign second_last = product.id | slice: 11 
            assign last = product.id | slice: 12
            assign total = second_last | plus: last
            assign current_hours = "now" | date: "%H"
            assign current_date = "now" | date: "%d"

            if settings.flash_end_date == blank
                assign sold_percentage = current_hours | times: 2 | plus: current_date | plus: total
            else
                assign sold_percentage = current_hours | times: 1.9 | plus: last | plus: 47 | floor
            endif
        endif 
 
%}
    
<style>

    @property --pgPercentage {
      syntax: '<number>';
      inherits: false;
      initial-value: 0;
    }
    
    div[role="progressbar"] {
      --size: 3rem;
      --fg: #f7c20a;
      --bg: #def;
      --pgPercentage: var(--value);
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      display: grid;
      place-items: center;
      background: 
        radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
        ;
      font-family: Helvetica, Arial, sans-serif;
      font-size: calc(var(--size) / 5);
      color: var(--fg);
    }
    
    div[role="progressbar"]::before {
        color:black;
      counter-reset: percentage {{sold_percentage}};
      content: counter(percentage) '%';
    }
    
    </style>
    
    
    <div role="progressbar" style="--value:{{sold_percentage}}"></div>
    
      


{%- endif -%}
