{% assign min = 10 %} {% assign max = 50 %} {% assign diff = max | minus: min
%} {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
<div class="progress">
  <div class="progress-bar-warning" role="progressbar" aria-valuenow="{{randomNumber}}"
  aria-valuemin="0" aria-valuemax="100" style="width:{{randomNumber}}%">
    <span class="bar-status" style="color: black">{{randomNumber}}% Sold</span>
  </div>
</div>

<style>
  .progress {
    margin-top: 1rem;
    position: relative;
    background: #E3E3E3;
  }
  .progress-bar {
    height: 100% !important;
/*     background: #FACF19 !important; */
    position: static;
  }
  .bar-status {
  	color: black;
    font-weight: bold;
    padding: 5px;
    font-size: 10px;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
</style>