{%- if settings.enable_flash_sale -%}
  {% if settings.inventory_bar_min != blank and settings.inventory_bar_max != blank %}
    {% assign min = settings.inventory_bar_min %}
    {% assign max = settings.inventory_bar_max %}
  {% else %}
    {% assign present = "now" | date: "%H" | times: 4 | plus :8 %}
    {% assign min = present | minus: 8 %}
    {% assign max = present %}
  {% endif %}
  {% assign diff = max | minus: min %}
  {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      aria-valuenow="{{ randomNumber }}"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width:{{ randomNumber }}%"
    >
      <span class="bar-status" style="color: black">{{ randomNumber }}% Sold</span>
    </div>
  </div>

  <style>
    .progress {
        max-width: 400px;
        margin-top: 0.75rem;
        position: relative;
        background: #e3e3e3;
    }

    .product__info .progress {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .progress-bar {
        height: 100% !important;
        background: #facf19 !important;
        position: static;
    }

    .bar-status {
        color: black;
        font-weight: bold;
        padding: 5px;
        font-size: 10px;
        position: absolute;
        z-index: 9;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
  </style>
{%- endif -%}
