{%- if product.metafields.custom.marketplace_details != blank -%}
    <style>
    .users_love{
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.02em;
        margin:1rem 0 .5rem 0;
        display:inline-block;
    }
    .marketplace_details{
        display: flex;
        align-items: center;
        background: #E7EFFB;
        {% comment %} border: 1px dashed #D6E7FF; {% endcomment %}
        overflow: hidden;
        max-width: calc(100vw - 22px);
        border-radius: 8px;
        {% comment %} padding: 10px; {% endcomment %}
    }
    .marketplace_logo{
        background: #f2f5f9;
        padding: 10px 20px;
        border: 1px solid #f2f5f9;
    }
    .marketplace_data{width:70%;}
    .marketplace_data p {
        margin: 0;
        color: #070707;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -0.02em;
        padding-left:28px;
    }
    .marketplace_data p:first-child {
        border-bottom: 2px dashed #D6E7FF;
        margin-bottom: 2px;
    }
    @media screen and (min-width: 991px) and (max-width: 1358px) {
        .marketplace_details {
            width: 83%;
        }
    }
    @media (min-width: 1358px) {
        .marketplace_details{width:60%;}
        .marketplace_logo{
            width: 20%;
        }
    }
    </style>
    {%- assign marketplace_details = product.metafields.custom.marketplace_details -%}
    {%- assign marketplace_name = marketplace_details | split: '-' | first | downcase -%}
    {%- assign marketplace_units_sold = marketplace_details | split: '|' | first | split: '-' | last -%}
    {%- assign marketplace_reviews = marketplace_details | split: '|' | last -%}
    <p class="users_love">Users' Love</p>
    <div class="marketplace_details">
        <div class="marketplace_logo">
            {%- if marketplace_name == 'amazon' -%}
                <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/amazon-logo_2.svg?v=1687159443" loading="lazy" alt="amazon" style="margin-top:4px;" />
            {%- elsif marketplace_name == 'flipkart' -%}
                <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/flipkart-logo-transparent-png-download-0_3.svg?v=1687159443" loading="lazy" alt="flipkart" />
            {%- else -%}
            {%- endif -%}
        </div>
        <div class="marketplace_data">
            {%- if marketplace_name == 'amazon' -%}
                <p>{{ marketplace_units_sold }}+ units sold on Amazon</p>
                <p>{{ marketplace_reviews}}+ 5 star reviews</p>
            {%- else -%}
                <p>{{ marketplace_units_sold }}+ units sold on Flipkart</p>
                <p>{{ marketplace_reviews}}+ 5 star reviews</p>
            {%- endif -%}
        </div>
    </div>
    

    
{%- endif -%}

