{% assign product_list = object.metafields.custom.nav_top_product.value %}
{% if product_list %}
  <div class="nav_feature_collection_container">
    {% for product in product_list %}
      <div class="nav_feature_collection_item">
        {% render 'product-item2.0', product: product %}
      </div>
    {% endfor %}
  </div>
{% endif %}