{% if product_list %}
  <div class="nav_feature_collection_main_container">
    <h2>{{ title }}</h2>
    <div class="nav_feature_collection_container">
      {% for product in product_list %}
        {% if product.available %}
          <div class="nav_feature_collection_item">
            {% render 'product-item2.0', product: product %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}