<div class="custom-notifyMe_container customer--section customer--notifyMe-section">

  <div class="otp-login-body otp-login-body-container">

    <div class="otp-login-input-container">
      <div class="mobile-login-input">
        <div class="input">
          <input
            type="tel"
            id="otp-mobile-number"
            pattern="[0-9]*"
            maxlength="10"
            name="mobile"
            value=""
            class="input__field"
            required>
          <label for="mobile" class="input__label">Enter your Mobile Number</label>
        </div>
        <div class="mobile-login-edit-icon">
          <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Mask_group_1_8f1d5e89-bda7-4555-bfeb-d14272893b2c.png?v=1667911654">
        </div>
      </div>
      <div class="input mobile-otp-inout">
        <input
          type="text"
          pattern="\d{6}"
          name="otp"
          id="otp"
          value=""
          class="input__field"
          autocomplete="one-time-code"
          inputmode="numeric">
        <label for="mobile" class="input__label">One time password</label>
      </div>
    </div>
    <div class="email-list-container"></div>
    <div class="otp-timer-container">
      <p class="resend-otp">
        <span class="resend-timer">Resend OTP in
          <span id="timer"></span>
        </span>
        <span class="resend-text">Didn’t receive the code ?
        </span>
      </p>
      <p id="resend__otp" class="resend-btn login-resend-btn">
        <span>Resend</span>
      </p>
    </div>
    <p class="otp-login-error"></p>
    <div class="otp-login-btn-container">
      <button class="otp-login-btn button button--secondary button--full">
        SEND OTP
      </button>
      <button class="otp-login-confirm-btn button button--secondary button--full">
        Confirm
      </button>
      <button class="otp-login-submit-btn button button--secondary button--full">
        Submit
      </button>
    </div>

    <p class="otp-login-privacy-policy">
      By Confirming, you agree to boAt's Terms and Conditions and Privacy Policy.
    </p>
  </div>

</div>