<div class="notifyMe_popup__main_container custom_popup">
    <div class="notifyMe_popup_main container">
        <div class="notifyMe_popup_container">
            <button class="custom_popup_close" type="button"
                onclick="this.closest('.custom_popup').classList.remove('show'); document.querySelector('body').classList.remove('overflow-hidden'); document.querySelector('.completed_message').removeAttribute('style')"
                aria-label="Close">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path
                        d="M12.8801 10.9998L21.2801 2.61309C21.5312 2.36202 21.6722 2.02149 21.6722 1.66643C21.6722 1.31136 21.5312 0.970831 21.2801 0.719759C21.029 0.468687 20.6885 0.327637 20.3334 0.327637C19.9783 0.327637 19.6378 0.468687 19.3867 0.719759L11.0001 9.11976L2.61341 0.719759C2.36234 0.468687 2.02182 0.327637 1.66675 0.327637C1.31168 0.327637 0.971153 0.468687 0.720081 0.719759C0.46901 0.970831 0.327959 1.31136 0.327959 1.66643C0.327959 2.02149 0.46901 2.36202 0.720081 2.61309L9.12008 10.9998L0.720081 19.3864C0.59511 19.5104 0.495918 19.6578 0.428226 19.8203C0.360535 19.9828 0.325684 20.1571 0.325684 20.3331C0.325684 20.5091 0.360535 20.6834 0.428226 20.8459C0.495918 21.0083 0.59511 21.1558 0.720081 21.2798C0.844032 21.4047 0.9915 21.5039 1.15398 21.5716C1.31646 21.6393 1.49073 21.6742 1.66675 21.6742C1.84276 21.6742 2.01704 21.6393 2.17952 21.5716C2.342 21.5039 2.48946 21.4047 2.61341 21.2798L11.0001 12.8798L19.3867 21.2798C19.5107 21.4047 19.6582 21.5039 19.8206 21.5716C19.9831 21.6393 20.1574 21.6742 20.3334 21.6742C20.5094 21.6742 20.6837 21.6393 20.8462 21.5716C21.0087 21.5039 21.1561 21.4047 21.2801 21.2798C21.4051 21.1558 21.5042 21.0083 21.5719 20.8459C21.6396 20.6834 21.6745 20.5091 21.6745 20.3331C21.6745 20.1571 21.6396 19.9828 21.5719 19.8203C21.5042 19.6578 21.4051 19.5104 21.2801 19.3864L12.8801 10.9998Z"
                        fill="black"></path>
                </svg>
            </button>
            <h3 class="notifyMe_popup_heading">EMAIL ME WHEN AVAILABLE</h3>
            <p>Register your email address and we will notify you as soon as this product is back in stock.</p>
        
        <hr>
        <div class="notifyMe_popup_title">
        <h4 class="product-name"></h4><h4> - </h4><h4 class="product-varient-title"></h4>
        </div>
        <form action="#" class="notifyMe_form-horizontal">
            <div id="notifyMe_variant-select-container">
                <div class="notifyMe_form-group">
                    <div class="col-xs-12">
                        <select id="variants_select" class="input-lg" name="varient_id">
                        </select>
                    </div>
                </div>
            </div>
            <div id="customer-contact-container">
                <div id="phone-number" class="form-group hidden">
                    <div class="col-xs-12">
                        <input type="tel" id="mobile_number" name="mobile_number" class="form-control input-lg" value="{% if customer %} {{customer.phone | remove_first: '+' | remove_first: '91'}} {% endif %}" placeholder="Mobile number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <button type="submit" id="notifyMe_submit_btn" class="btn btn-success btn-lg btn-block"> Notify me when
                        available </button>
                </div>
            </div>
            <div id="message_holder"></div>
            <div class="completed_message"> Your notification has been registered.
                <span class="action-close" onclick="this.closest('.custom_popup').classList.remove('show'); document.querySelector('body').classList.remove('overflow-hidden'); document.querySelector('.completed_message').removeAttribute('style')">Close</span>
            </div>
        </form>
        </div>
    </div>
</div>