<div class="customer-login-section customer--section" otp_login_screen="true">
  <div class="customer-login-container">
    <div class="otp-login-head">
      {% if request.path == routes.account_login_url %}
        <h2>LOGIN</h2>
        <div class="customer-login-links">
          <span>New to boAt?
            <a href="{{ routes.account_register_url }}">Create an account</a>
          </span>
        </div>
      {% elsif request.path == routes.account_register_url %}
        <h2>SIGN UP</h2>
        <div class="customer-login-links">
          <span>Already a boAthead?
            <a href="{{ routes.account_login_url }}">Login with your mobile number</a>
          </span>
        </div>
      {% endif %}
    </div>
    <div class="otp-login-body otp-login-body-container">
      <div class="mobile-login-otp_heading">
        <h2>OTP <b>Verification</b></h2>
        <span>Enter the OTP sent to your Mobile Number</span>
      </div>
      <div class="otp-login-input-container">
        <div class="mobile-login-input">
          <label for="mobile" class="notifyMe_number_heading">Enter Mobile Number</label>
          <div class="input notifyMe_mobile_container">
            <input
              type="tel"
              id="otp-mobile-number"
              pattern="[0-9]*"
              maxlength="10"
              name="mobile"
              value=""
              class="input__field"
              required>
            <span class="notifyMe_mobile_number_lable">+91</span>
          </div>
          <div class="mobile-login-edit-icon">
            <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Mask_group_1_8f1d5e89-bda7-4555-bfeb-d14272893b2c.png?v=1667911654">
          </div>
        </div>
        <div class="input mobile-otp-inout">
          {% comment %} <input
            type="text"
            pattern="\d{6}"
            name="otp"
            id="otp"
            value=""
            class="input__field"
            autocomplete="one-time-code"
            inputmode="numeric"> {% endcomment %}
            <div class="mobile_otp_input_container">
              <input type="text" maxlength="1" id="digit1" onkeyup="OTP_login_moveToNext(this, 'digit2')" />
              <input type="text" maxlength="1" id="digit2" onkeyup="OTP_login_moveToNext(this, 'digit3')" />
              <input type="text" maxlength="1" id="digit3" onkeyup="OTP_login_moveToNext(this, 'digit4')" />
              <input type="text" maxlength="1" id="digit4" onkeyup="OTP_login_moveToNext(this, 'digit5')" />
              <input type="text" maxlength="1" id="digit5" onkeyup="OTP_login_moveToNext(this, 'digit6')" />
              <input type="text" maxlength="1" id="digit6" />
            </div>
          {% comment %} <label for="mobile" class="input__label">One time password</label> {% endcomment %}
        </div>
      </div>
      <div class="email-list-container"></div>
      <div class="otp-timer-container">
        <p class="resend-otp">
          <span class="resend-timer">Resend OTP in
            <span id="timer"></span>
          </span>
          <span class="resend-text">Didn’t receive the code ?
          </span>
        </p>
        <p id="resend__otp" class="resend-btn login-resend-btn">
          <span>Resend</span>
        </p>
      </div>
      <p class="otp-login-error"></p>
      <div class="otp-login-btn-container">
        <button class="otp-login-btn button button--secondary button--full">
          SEND OTP
        </button>
        <button class="otp-login-confirm-btn button button--secondary button--full">
          Confirm
        </button>
        <button class="otp-login-submit-btn button button--secondary button--full">
          Submit
        </button>
      </div>

      <p class="otp-login-privacy-policy">
        By Confirming, you agree to boAt's Terms and Conditions and Privacy Policy.
      </p>
    </div>

    <div class="otp-register-body otp-login-body">
      <div class="otp-signup-content">
        <h3 data-signup-content>Hey boAthead, this email ID would be used for sending order invoices. Kindly provide your private email ID to minimize any loss of your personal data</h3>
      </div>
      <div class="otp-login-input-container">
        <div class="input otp-fullName">
          <input
            type="text"
            id="full_name"
            class="input__field"
            name="full_name"
            required="required"
            autocomplete="given-name">
          <label for="full_name" class="input__label">Full name</label>
        </div>
        <div class="mobile-otp-email">
          <div class="input otp-email">
            <input
              type="email"
              id="email"
              class="input__field"
              name="email"
              required="required"
              autocomplete="email">
            <label for="email" class="input__label">{{ 'customer.register.email' | t }}</label>
          </div>
          <div class="mobile-login-edit-icon">
            <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Mask_group_1_8f1d5e89-bda7-4555-bfeb-d14272893b2c.png?v=1667911654">
          </div>
        </div>
      </div>
      <div class="email-list-container"></div>
      <div class="otp-timer-container">
        <p class="resend-otp">
          <span class="resend-timer">Resend OTP in
            <span id="timer"></span>
          </span>
          <span class="resend-text">Didn’t receive the code ?
          </span>
        </p>
        <p id="resend__otp" class="resend-btn signUp-resend-btn">
          <span>Resend</span>
        </p>
      </div>
      <p class="otp-login-error"></p>
      <div class="otp-login-btn-container">
        <button class="otp-login-submit-btn button button--secondary button--full">
          Submit
        </button>
      </div>

      <p class="otp-login-privacy-policy">
        We don’t share your information with others.
      </p>
    </div>

  </div>
</div>
<div class="oto-login-success-container">
  <div class="otp-success-icon">
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Screenshot_2022-11-24_170335.png?v=1669289636" alt="otp success icon">
  </div>
  <div class="otp-success-title">
    <h2>Woohooo!!! <br>You are successfully logged in…</h2>
  </div>
  <div class="otp-success-text">
    <p>Redirecting you to the base in <br><span id="countdown">5</span>
      seconds…</p>
  </div>
</div>