{% if template.suffix != 'quick-buy-popover' and template.suffix != 'quick-buy-drawer' %}
<div class="button custom-prebook">
  <div class="custom-prebook-heading">Make it Personal.</div>
  <div class="custom-prebook-subheading">
    Get A Customized Engraving And Make It Unmistakibly Yours.
  </div>
</div>
{% endif %}
<!-- Personalised Modal -->
<div class="personilaztion_modal_container">
<div class="personilaztion-message-modal-overlay hide"></div>
<div class="personilaztion-message-modal hide-popup hide">
  <div class="personilaztion-message-container">
    <div class="message-form-container">
      <div class="personalization-heading-wrapper">
        <span class="personalized-modal-close" id="close-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
            <path d="M23 20.168l-8.185-8.187 8.185-8.174-2.832-2.807-8.182 8.179-8.176-8.179-2.81 2.81 8.186 8.196-8.186 8.184 2.81 2.81 8.203-8.192 8.18 8.192z"/>
          </svg>
        </span>
        <span class="personalization-heading">PERSONALIZE YOUR AIRDOPES</span>
        <div class="personalization-sub-heading">It's On Us :)</div>
      </div>
      <div class="personalization-image-wrapper">
        {% if product.selected_or_first_available_variant.metafields.custom.personalised_image != blank %}
          <img src="{{ product.selected_or_first_available_variant.metafields.custom.personalised_image }}">
        {% else %}
          <img src="{{ product.selected_or_first_available_variant.featured_image | image_url }}">
        {% endif %}
        <div class="personalization-image-txt visually-hidden"></div>
      </div>
      <input
        type="text"
        id="personalized-text"
        placeholder="YOUR ENGRAVING"
        maxlength="7"
        pattern="[a-zA-Z]+"
        autocomplete="new-password"
        onkeyup="convertToUppercase()"
      >
      <p class="max-limit-reached visually-hidden">Max Limit reached</p>
      <div class="personalization-info">
        <p>Limit it to alphabets and numbers.</p>
        <p>Stay away from special Symbols. Max 7 characters.</p>
      </div>
      <button type="button" class="submit-personalization visually-hidden">CONFIRM</button>
      {% comment %} <button type="button" class="cancel-personalization personalized-modal-close">SKIP</button> {% endcomment %}
      <button type="button" class="skip-personalization" onclick="btnClick()">SKIP PERSONALIZATION</button>
    </div>
  </div>
</div>
</div>
