{%- if product.metafields.reviews.rating.value != blank -%}
  {%- assign rating_decimal = 0 -%}
  {%- assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1 -%}

  {%- if decimal >= 0.3 and decimal <= 0.7 -%}
    {%- assign rating_decimal = 0.5 -%}
  {%- elsif decimal > 0.7 -%}
    {%- assign rating_decimal = 1 -%}
  {%- endif -%}
  <div class="rating">
    <div class="rating__stars" role="img" aria-label="{{ 'general.accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
      {%- assign rating_as_float = product.metafields.reviews.rating.value.rating | times: 1.0 -%}
      <span style="color:#05A143;font-size:16px;">★</span>
  {{ rating_as_float | round: 1 }}
    </div>
    <span class="rating__caption" {% if template contains 'product' %}style="font-size:12px!important;"{% endif %}>{{ 'product.general.reviews_count' | t: count: product.metafields.reviews.rating_count.value }}</span>
  </div>
  {% else %}
    <div class="rating">
    <div class="rating__stars" role="img" >
      <span style="color:#05A143;font-size:16px;">★</span>
       Be the first to review
    </div>
  </div>
{%- endif -%}