{% if product.available %}
    <div class="payment-offers-container">
        {% if product.price > 50000 %}
            <div class="payment_offers">
                <div class="offer_text">
                    <span>₹15 off on All UPI Payments</span>
                </div>
                <div class="payment_icons">
                    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/paytm_icon_fa75a315-11a2-4c8e-a241-18af809eb683.svg?v=1682575951" class="single_payment_icon paytm_icon">
                    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/gpay_icon_503ebbda-a3e1-4659-af32-0686aecec227.svg?v=1682575951" class="single_payment_icon gpay_icon">
                    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/phone_pe_icon_f9872d32-f8cf-43ca-8fa2-78db125fcdad.svg?v=1682575951" class="single_payment_icon phonepe_icon">
                </div>
            </div>  
        {% endif %}
        {% if product.price > 499900 %}
            <div class="payment_offers payment_offer_mobikwik">
                <div class="offer_text">
                    <span>It is Flat 5% cashback upto ₹75 MOV 1499</span>
                </div>
                <div class="payment_icons mobikiwik_icon">
                    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/MobiKwik-Logo-png_2.png?v=1689576047" class="single_payment_icon">
                </div>
            </div>  
        {% endif %}
    </div>
{% endif %}