		{% unless product.tags contains 'TRebel' %}
          {% if product.type contains 'TWS' %}
          <p class="product-type text-uppercase">Wireless Earbuds</p>
          {% endif %}
          {% if product.type contains 'Bassheads' %}
          <p class="product-type text-uppercase">Wired Earphones</p>
          {% endif %}
          {% if product.type contains 'Mobile Accessories' %}
			{% unless product.title == 'BOAT Mask' %}
          		<p class="product-type text-uppercase">Mobile Accessories</p>
			{% endunless %}
          {% endif %}
          {% if product.type contains 'Rockerz In-Ear' %}
          <p class="product-type text-uppercase">Bluetooth Earphones</p>
          {% endif %}
		  {% if product.type == 'Rockerz' %}
          <p class="product-type text-uppercase">Bluetooth Headphones</p>
          {% endif %}
          {% if product.type contains 'Smart' %}
          <p class="product-type text-uppercase">Smart Watches</p>
          {% endif %}
          {% if product.type contains 'Speakers' %}
          <p class="product-type text-uppercase">Bluetooth Speakers</p>
          {% endif %}
          {% if product.type contains 'Home Audio' %}
          <p class="product-type text-uppercase">Home Theatre & Sound Bars</p>
          {% endif %}
        {% endunless %}
          {% if product.tags contains 'TRebel' %}
          <p class="product-type text-uppercase">Audiowear For Women</p>
          {% endif %}
          {% if product.type contains 'Misfit' %}
          <p class="product-type text-uppercase">Misfit by boAt</p>
          {% endif %}
          {% if product.type contains 'Limited Edition' %}
          <p class="product-type text-uppercase">Limited Edition</p>
          {% endif %}
