<div class="zest-container">
  <span id="zestmoney-widget-trigger-2">
    <a href="https://www.boat-lifestyle.com/collections/offer-zone">Get 20% cashback upto Rs.500 using
      <span class="zest-logo-2"><img class="lazyload" loading="lazy" alt="Pay with Rewards" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Pay-with-rewards_1.png?v=1643270888" style="max-width: 130px;background: #fff;padding: 3px;"></span></a> 
  </span> 
</div>
{% comment %}
<div class="zest-container">
  <span id="zestmoney-widget-trigger-2" data-toggle="modal" data-target="#credModal">
    Use 
    <span class="zest-logo-2"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/WhatsApp_Image_2021-04-28_at_3.16.48_PM.jpg?v=1619604240"></span> 
    coins to win 10% off
  </span> 
</div>

<div class="zest-container">
  <span id="zestmoney-widget-trigger-2" data-toggle="modal" data-target="#credModal">
    Buy on interest-free EMIs with 
    <span class="zest-logo-2"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Walnut369_Logo-Default_forDarkBG_PNG_4x_1.png?v=1625638867"></span> 
  </span> 
</div>
<div id="credModal" class="modal fade" role="dialog">
   <div class="modal-dialog" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 95%;text-align: center;max-width: 500px;margin: auto;">
     <div class="modal-content" style="border:0;max-width: 300px;width: 100%;margin: auto;cursor: pointer;">
       <div class="modal-body p-0">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <img style="display:block;" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/WhatsApp_Image_2021-07-06_at_11.55.59_AM_1.jpg?v=1625638940" />
       </div>
     </div>
   </div>
 </div>
<div class="offers" style="display:block!important;">
  <span id="zestmoney-widget-trigger-2" style="display: block;margin-top:10px;">
    <span class="zest-logo-2"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/1_2_481c7886-33a4-41bf-b545-371c400255ac.png?v=1633693915" style="max-width: 200px;"></span>
  </span> 
</div>
{% endcomment %}
{% unless product.tags contains 'Gift Cards' %}
  <div id="zestmoney-widget-control"></div>
{% endunless %}
{% comment %}
<div class="zest-container">
  <span id="zestmoney-widget-trigger-2" data-toggle="modal" data-target="#credModal">
    Get 20% cashback upto Rs. 150 using  
    <span class="zest-logo-2"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/LP_logo_colour.png?v=1632991152" style="max-width: 100px;background: #fff;padding: 3px;"></span> 
  </span> 
</div>


<div id="w369-widget-control" class="text-white"></div>
{% endcomment %}