{% assign quinn_playlists = shop.metafields.quinn_playlists %}
{% assign settings = shop.metafields.quinn_settings.global %}

{% assign page_type = template.name %}
{% assign page_handle = '' %}

{% if page_type == 'collection' %}
  {% assign page_handle = collection.handle %}
{% elsif page_type == 'product' %}
  {% assign page_handle = product.handle %}
{% elsif page_type == 'page' %}
  {% assign page_handle = page.handle %}
{% elsif page_type == 'index' %}
  {% assign page_handle = 'index' %}
{% endif %}

{% assign playlist = nil %}

{% for current_playlist in quinn_playlists %}
  {% assign found_data_map = false %}
  {% assign exclude_page = false %}

  {% for page in current_playlist[1].exclude_pages %}
    {% if page.type == page_type and page.handle == page_handle %}
       {% assign exclude_page = true %}
       {% break %}
    {% endif %}
    {% if page.type == page_type and page.handle == 'quinn_all' %}
       {% assign exclude_page = true %}
       {% break %}
    {% endif %}
  {% endfor %}

  {% if exclude_page %}
    {% continue %}
  {% endif %}

  {% for page in current_playlist[1].pages %}
    {% if page.type == 'all' %}
       {% assign found_data_map = true %}
       {% break %}
    {% endif %}
    {% if page.type == page_type and page.handle == page_handle %}
       {% assign found_data_map = true %}
       {% break %}
    {% endif %}
    {% if page.type == page_type and page.handle == 'quinn_all' %}
       {% assign found_data_map = true %}
       {% break %}
    {% endif %}
  {% endfor %}

  {% if found_data_map %}
    {% if current_playlist[1].type == 'story' %}
		  <div id="quinn-stories">
        <span></span>
      </div>
      {% assign playlist = current_playlist[1] %}
		{% break %}
    {% endif %}
  {% endif %}
{% endfor %}


{% assign visiblity_desktop = 0 %}
{% assign visiblity_mobile = 0 %}

{% if playlist.settings.visibility != nil %}
  {% if playlist.settings.visibility == 'desktop' %}
    {% assign visiblity_desktop = 1 %}
    {% assign visiblity_mobile = 0 %}
  {% elsif playlist.settings.visibility == 'mobile' %}
    {% assign visiblity_desktop = 0 %}
    {% assign visiblity_mobile = 1 %}
  {% else %}
    {% assign visiblity_desktop = 1 %}
    {% assign visiblity_mobile = 1 %}
  {% endif %}
{% else %}
  {% if settings.story.visibility == 'desktop' %}
    {% assign visiblity_desktop = 1 %}
    {% assign visiblity_mobile = 0 %}
  {% elsif settings.story.visibility == 'mobile' %}
    {% assign visiblity_desktop = 0 %}
    {% assign visiblity_mobile = 1 %}
  {% elsif settings.story.visibility == 'both' %}
    {% assign visiblity_desktop = 1 %}
    {% assign visiblity_mobile = 1 %}
  {% endif %}
{% endif %}

{% assign height = 0 %}
{% assign sizeArr = 'large,medium,small' | spilt : ',' %}
{% if sizeArr contains playlist.settings.size  %}
  {% if playlist.settings.size == 'small' %}
    {% assign height = 57 %}
  {% elsif playlist.settings.size == 'medium' %}
    {% assign height = 68 %}
  {% else %}
    {% assign height = 78 %}
  {% endif %}
{% else %}
  {% if settings.story.size == 'small' %}
    {% assign height = 57 %}
  {% elsif settings.story.size == 'medium' %}
    {% assign height = 68 %}
  {% elsif settings.story.size == 'large' %}
    {% assign height = 78 %}
  {% endif %}
{% endif %}

{% if playlist.settings.hide_title != nil %}
  {% unless playlist.settings.hide_title %}
    {% assign height = height | plus: 30 %}
  {% endunless %}
{% else %}
  {% unless settings.story.hide_title %}
    {% assign height = height | plus: 30 %}
  {% endunless %}
{% endif %}

{% assign margin_top = playlist.settings.margin_top | default: settings.story.margin_top %}
{% assign margin_bottom = playlist.settings.margin_bottom | default: settings.story.margin_bottom %}

<style>
  #quinn-stories {
    min-height: {{ height | plus: margin_top | plus: margin_bottom | times: visiblity_desktop }}px;
  }

  @media (max-width: 500px) {
    #quinn-stories {
      min-height: {{ height | plus: margin_top | plus: margin_bottom | times: visiblity_mobile }}px;
    }
  }
</style>
