{% assign min = 50 %}
{% assign max = 300 %}
{% assign diff = max | minus: min %}
{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
<p class="text-red mb-0 mt-2">Currently in {{randomNumber}} carts</p>