{% assign min = 50 %} {% assign max = 300 %} {% assign diff = max | minus: min
%} {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
<p
  class="currently-in-cart"
  style="font-weight: 500; font-size: 14px; line-height: 17px; color: #ff030d"
>
  Currently in <span id="random">112 carts</span>
</p>

<script>
setInterval(function () {
  function getRndInteger(min, max) {
    return Math.floor(Math.random() * (max - min)) + min;
  }
  document.getElementById('random').innerHTML = getRndInteger(50,300)
}, 1000);
</script>