{% assign min = 50 %}
{% assign max = 300 %}
{% assign diff = max | minus: min %}
{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
<p class="currently-in-cart" style="font-weight: 500;font-size: 14px;line-height: 17px;color: #FF030D;background: rgba(237, 28, 36, 0.05);border-radius: 5px;padding: 6px 12px;">Currently in <span>{{randomNumber}} carts</span></p>