{% assign min = 50 %}
{% assign max = 300 %}
{% assign diff = max | minus: min %}
{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
<p class="mb-0 mt-2" id="currently-in-cart" style="color: #03F2AC;">Currently in <span>{{randomNumber}} carts</span></p>