<div class="shop_passion_list">
  {% for block in section.blocks %}
    <div class="shop_passion_item">
      <div class="shop_passion_item-image-container">
        {% if block.settings.image != blank %}
          <div class="shop_passion_item-image">
            <img class="custom_lazy" data-src="{{ block.settings.image | img_url: 'master' }}">
          </div>
        {% endif %}
      </div>
      <div class="shop_passion_item_label">
        <span>{{ block.settings.suggestion }}
        </span>
      </div>
    </div>
  {% endfor %}
</div>