{% assign content_list = object.metafields.custom.shop_by_feature.value %}
{% if content_list %}
  <div class="shop_feature_list_container">
    <h2>Shop by feature</h2>
    <div class="shop_feature_list">
      {% for content in content_list %}
        <div class="shop_feature_item">
          <a href="{{ content.link }}">
            <div class="shop_feature_item-image-container">
              {% if content.image %}
                <div class="shop_feature_item-image">
                  <img class="custom_lazy" data-src="{{ content.image | img_url: 'master' }}">
                </div>
              {% endif %}
            </div>
            <div class="shop_feature_item_label">
              <span>{{ content.title }}
              </span>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}