{% assign collection_list = object.metafields.custom.shop_by_passion.value %}
{% if collection_list %}
  <div class="shop_passion_list_container nav_collection_drawer_sections">
    <h2 class="nav_collection_drawer_heading">Shop by Passion</h2>
    <div class="shop_passion_list">
      {% for collection in collection_list %}
        <div class="shop_passion_item">
          <a href="{{ collection.url }}">
            <div class="shop_passion_item-image-container">
              {% if collection.featured_image %}
                <div class="shop_passion_item-image">
                  <img src="{{ collection.featured_image | img_url: 'master' }}">
                </div>
              {% endif %}
            </div>
            <div class="shop_passion_item_label">
              <span>{{ collection.title }}
              </span>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}