<div class="st-search-bar hidden-desktop">
       	 <input type="text" name="q" placeholder="Search..." value="" autocapitalize="off" autocomplete="off" autocorrect="off">
         <span class="input-close-btn"></span>
    	</div>



<style>
  .st-search-bar {
	position: relative;
	margin-right: 20px;
}
  .search-form .results-box {
    display: none !important;
}

@media only screen and (max-width:834px) {
	.st-search-bar.hidden-desktop {
		margin: 0 20px;
		margin-top: 0px;
		margin-bottom: 0px !important;
      	display: none;
	}
	.st-search-bar.hidden-desktop input {
		height: 35px!important;
		margin-bottom: 0px;
		background-color: #fff;
		border-color: #e1c0bb;
		margin-bottom: 10px !important;
      	margin-top: 0px !important;
      	font-size: 16px !important;
        padding-right: 35px !important;
  
	}
  	.st-search-bar input {
    	border: 1px solid #ddd !important;
	}
  	.st-search-bar input {
        font-family: 'Montserrat', sans-serif;
        border: 0px solid #e1c0bb !important;
        padding-left: 35px!important;
        margin-bottom: 0px !important;
        width: 100%;
        border-radius: 2rem;
        height: 35px!important;
        font-size: 16px!important;
        min-width: 240px;
        font-weight: 500;
        background-color: #fff;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNNTA4LjkgNDc4LjdMMzYwLjEgMzMwYzI4LjItMzQuOCA0NS4yLTc5LjEgNDUuMi0xMjcuM0M0MDUuMyA5MC45IDMxNC40IDAgMjAyLjcgMFMwIDkwLjkgMCAyMDIuN3M5MC45IDIwMi43IDIwMi43IDIwMi43YzQ4LjIgMCA5Mi41LTE3IDEyNy4zLTQ1LjJsMTQ4LjcgMTQ4LjdjNC4yIDQuMiAxMC45IDQuMiAxNS4xIDBsMTUuMS0xNS4xYzQuMS00LjIgNC4xLTEwLjkgMC0xNS4xem0tMzA2LjItMTE2Yy04OC4yIDAtMTYwLTcxLjgtMTYwLTE2MHM3MS44LTE2MCAxNjAtMTYwIDE2MCA3MS44IDE2MCAxNjAtNzEuOCAxNjAtMTYwIDE2MHoiIGZpbGw9IiMzNDNmNDkiLz48L3N2Zz4=)!important;
        background-size: 13px!important;
        background-position-x: 12px!important;
        background-position-y: center!important;
        background-repeat: no-repeat!important;
        color: #141414;
        line-height: normal;
	}
}
  @media only screen and (max-width:767px) {
    .st-search-bar.hidden-desktop {
        margin: 0px 8px !important;
    }
    .st-search-bar.hidden-desktop {
      display: block;
      
    }
    
}
</style>