<div class="st-search-box hidden-tab-only">
       	 <input type="text" name="q" placeholder="Search..." value="" autocapitalize="off" autocomplete="off" autocorrect="off">
         <span class="input-close-btn"></span>
    	</div>


<style>
.hidden-tab-only {
    display: inline-block;
}

.st-search-box {
    border: 1px solid #000;
    display: inline-block;
    max-width: 245px;
    width: 100%;
    margin: 10px 0;
    border-radius: 2em;
    height: 35px;
    position: relative;
    z-index: 999;
    margin-top: 0;
}
.st-search-box input[type="text"] {
  	font-weight: 500;
    font-size: 16px;
    line-height: 1.2em;
    border: none;
    color: #000;
    width: 100%;
    border-radius: 2em;
  	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNNTA4LjkgNDc4LjdMMzYwLjEgMzMwYzI4LjItMzQuOCA0NS4yLTc5LjEgNDUuMi0xMjcuM0M0MDUuMyA5MC45IDMxNC40IDAgMjAyLjcgMFMwIDkwLjkgMCAyMDIuN3M5MC45IDIwMi43IDIwMi43IDIwMi43YzQ4LjIgMCA5Mi41LTE3IDEyNy4zLTQ1LjJsMTQ4LjcgMTQ4LjdjNC4yIDQuMiAxMC45IDQuMiAxNS4xIDBsMTUuMS0xNS4xYzQuMS00LjIgNC4xLTEwLjkgMC0xNS4xem0tMzA2LjItMTE2Yy04OC4yIDAtMTYwLTcxLjgtMTYwLTE2MHM3MS44LTE2MCAxNjAtMTYwIDE2MCA3MS44IDE2MCAxNjAtNzEuOCAxNjAtMTYwIDE2MHoiIGZpbGw9IiMzNDNmNDkiLz48L3N2Zz4=)!important;
    background-repeat: no-repeat;
    background-size: 13px!important;
    background-position-x: 12px!important;
    background-position-y: center!important;
    background-repeat: no-repeat!important;
    padding: 11px 35px;
}

@media only screen and (max-width:1025px) {
  .st-search-box {
  	margin-right: 0 !important;
    right: 0px !important;
    margin-top: -8px !important;
  }
}
@media only screen and (max-width:835px) {
  .st-search-box {
  	    max-width: 200px;
  }
}  
@media only screen and (max-width:991px) {
	.hidden-tab-only {
      display: none;
  } 
}
@media only screen and (min-width:992px) {  
    .hidden-desktop {
	display: none;
}
}
</style>