{% if product %}
<link href="https://s3.ap-south-1.amazonaws.com/prod-merchants-assets/merchant-assets/zestmoney.widget.v3.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="https://s3.ap-south-1.amazonaws.com/prod-merchants-assets/merchant-assets/zestmoney.widget.v3.js"></script>

<div id="zestmoney-overlay-cart"></div>  
<div id="zestmoney-widget-container-cart" class="zestmoney-widget-wrapper hide-zestmoney-widget"></div>  

<div id="zestmoney-overlay"></div>
<div id="zestmoney-widget-container" class="zestmoney-widget-wrapper hide-zestmoney-widget"></div>

<script type="text/javascript">
  
   setTimeout(async() => {
       var zestmoneyWidgetControl = document.getElementById('zestmoney-widget-control');
       if(!zestmoneyWidgetControl){
            // Get the target placeholder for adding the ZestMoneyWidget
            const placement_selector = '.inclusive'
            if(placement_selector){
            const pricing_containers = document.querySelectorAll(placement_selector);
            if(pricing_containers.length == 0){
                console.error("ZestMoney : Not able to find pricing placeholder using selector '" + placement_selector+"'");
                return;
            }
            zestmoneyWidgetControl = document.createElement("div");
            zestmoneyWidgetControl.setAttribute('id','zestmoney-widget-control');
            pricing_containers[0].appendChild(zestmoneyWidgetControl);
            }
       }
       if(!zestmoneyWidgetControl){
           return;
       }
       
       var zestMoneyWidgetElement = document.getElementById('zestmoney-widget-container');
       const  zest_price = parseFloat("{{ product.selected_or_first_available_variant.price }}") / 100;
       var zestMoneyWidget = new ZestMoneyWidget(zestMoneyWidgetElement, {
           merchantId: "3df633f7-95d9-431c-8803-8b0f8abbfabb",
           environment: "production",
           basketAmount: zest_price || 0,
           downpaymentAmount: null,
           paymentGatewayId: "31a2b66b-f364-48f9-a7fd-6870a5a224b4",
           widgetType: 'product',
       });
       let displayHtml = await zestMoneyWidget.getDisplayHTML();
       if (displayHtml) {
           zestmoneyWidgetControl.innerHTML = displayHtml;
           var zestmoneyWidgetTrigger = document.getElementById('zestmoney-widget-trigger');
           if (zestmoneyWidgetTrigger) {
               zestmoneyWidgetTrigger.addEventListener("click", function () {
                   zestMoneyWidget.open();
               });
           }
       } 
    },200)
    const pdp_change_observer_selector = document.querySelector("price-template--15424336396542__main");
    const pdpPriceChangeObserver = new MutationObserver(function() {
        pdpPriceChangeObserver.disconnect();  
        var pdp_price_selector = document.getElementsByClassName("current-price")[0].innerHTML.replace(/\D/g, "")/100;
        document.getElementById("zestmoney-amount").innerHTML = Math.round(pdp_price_selector/3);
        pdpPriceChangeObserver.observe(pdp_change_observer_selector, {attributes: true, childList: true, subtree: true, characterData:true});
        var href = new URL(document.getElementById('zestmoney-widget-iframe').src);
        href.searchParams.set('basketAmount', Math.round(pdp_price_selector));
        document.getElementById('zestmoney-widget-iframe').src = href.toString();

    });
    pdpPriceChangeObserver.observe(pdp_change_observer_selector, {attributes: true, childList: true, subtree: true, characterData:true});
    
        
</script>
{% endif %}
{% if cart %}
<link href="https://s3.ap-south-1.amazonaws.com/prod-merchants-assets/merchant-assets/zestmoney.widget.v3.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://s3.ap-south-1.amazonaws.com/prod-merchants-assets/merchant-assets/zestmoney.widget.v3.js"></script>

<div id="zestmoney-overlay"></div>  
<div id="zestmoney-widget-container" class="zestmoney-widget-wrapper hide-zestmoney-widget"></div>  

<div id="zestmoney-overlay-cart"></div>  
<div id="zestmoney-widget-container-cart" class="zestmoney-widget-wrapper hide-zestmoney-widget"></div> 

<script type="text/javascript">
 
  const initApp = async function () {
  
    var zestmoneyWidgetControl = document.getElementById('zestmoney-widget-control-cart');
    if (zestmoneyWidgetControl) {
    	zestmoneyWidgetControl.remove();	
    }
    
    if(!zestmoneyWidgetControl){
      
            const placement_container = 'mini-cart__drawer-footer drawer__footer drawer__footer--tight drawer__footer--bordered';
      let widget_container = document.getElementsByClassName(placement_container);
      if (widget_container.length === 0) {
        return;
      }
      
      widget_container = widget_container[0];
      // Get the target placeholder for adding the ZestMoneyWidget
      const placement_selector = 'text-center'
      let pricing_containers = widget_container.getElementsByClassName(placement_selector);
      if (pricing_containers.length === 0) {
      	return;
      }
      
      pricing_containers = pricing_containers[0];
	
      zestmoneyWidgetControl = document.createElement("div");
      zestmoneyWidgetControl.setAttribute('id','zestmoney-widget-control-cart');
      
      widget_container.insertBefore(zestmoneyWidgetControl, pricing_containers);
    }
    
    if(!zestmoneyWidgetControl){
      return;
    }
       
    var zestMoneyWidgetElement = document.getElementById('zestmoney-widget-container-cart');
    console.log("{{ cart.total_price }}", 'price total')
    let zest_price = parseFloat("{{ cart.total_price }}") / 100;
       
    const priceElement = document.getElementsByClassName('cart-total-text');
    if (priceElement.length > 0) {
    	
      	let amount = priceElement[0].innerHTML;

  		amount = amount.split(' ');
  		amount = (amount.length > 1) ? amount[1] : amount[0]

  		zest_price = amount.replace(/[^0-9.]/g, '');
    
    }
    
    
       var zestMoneyWidget = new ZestMoneyWidgetCart(zestMoneyWidgetElement, {
           merchantId: "3df633f7-95d9-431c-8803-8b0f8abbfabb",
           environment: "production",
           basketAmount: zest_price || 0,
           downpaymentAmount: null,
           paymentGatewayId: "31a2b66b-f364-48f9-a7fd-6870a5a224b4",
           widgetType: 'product',
       });
       let displayHtml = await zestMoneyWidget.getDisplayHTMLCart();
 
       if (displayHtml) {
           zestmoneyWidgetControl.innerHTML = displayHtml;
           var zestmoneyWidgetTrigger = document.getElementById('zestmoney-widget-trigger-cart');
           if (zestmoneyWidgetTrigger) {
               zestmoneyWidgetTrigger.addEventListener("click", function () {
                   zestMoneyWidget.open();
               });
           }
       }
  }
 
  setTimeout(async() => {
             await initApp();
    },200)

//     const cart_change_observer_selector = document.getElementsByClassName("cart-total-text")[0];
    const cart_change_observer_selector = document.getElementById("shopify-section-mini-cart");
  console.log(cart_change_observer_selector.innerHTML);
    const priceChangeObserver = new MutationObserver(async function() {
        priceChangeObserver.disconnect();  
      
        await initApp();
        priceChangeObserver.observe(cart_change_observer_selector, {attributes: true, childList: true, subtree: true, characterData:true});
    });
    priceChangeObserver.observe(cart_change_observer_selector, {attributes: true, childList: true, subtree: true, characterData:true});

  
  
  
  
const element = document.getElementsByClassName("header__cart-count")[0];
element.addEventListener("click", cartClickZestGtmEvent);
var carteventfired = 0;
function cartClickZestGtmEvent() {
if(carteventfired == 0){
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K3MHDXL');
dataLayer.push({
event: "PageLoad",
eventAction: "Zest-widget-text-load-Cart",
eventCategory: "Widget",
merchantName: "PreEnrolMerchant",
widgeturl: window.location.origin,
});
}
carteventfired = 1;
}
  
  </script>

{% endif %}