<div class="container cf about-container">
  <div class="user-content row-spacing">
    <div class="aboutboAt">
      <div class="mainBanner only-desktop">
        <img
          src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/About_us_banner.png?v=1620112113"
          alt="boAt"
        />
      </div>
      <div class="mainBanner mobile-only">
        <img
          src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Mobile_main_banner.jpg?v=1620114173"
          alt="boAt"
        />
      </div>
      <div class="introSection width900">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="text-white bold">boAt set sail in 2014</h2>
            <p class="text-grey">
              During one of their many explorations, our founders
              <span class="text-white bold">Aman Gupta</span> and
              <span class="text-white bold">Sameer Mehta</span> discovered that
              the dopest people of our land were in search of
              <span class="text-red bold">affordable, durable</span> and
              <span class="text-red bold">ultra fashionable</span> audio
              products to groove to.
            </p>
            <p class="text-grey">
              Thus, in 2014, they kickstarted a great voyage in Indian consumer
              waters.
            </p>
          </div>
        </div>
      </div>
      <div class="aimSection width900">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="text-white bold">The aim of this journey?</h2>
            <p class="text-large text-white">
              Self discovery as an<br />Indian,
            </p>
            <img
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/ofcourse.png?v=1618393559"
              alt="boAt"
              class="overlappedImg"
            />
            <p class="text-grey text-uppercase mt-5">
              and that's where the boatheads came into picture.
            </p>
            <div class="imgContainer only-desktop mt-4">
              <img
                src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/IAmAboathead.jpg?v=1620112170"
                alt="boAt"
              />
            </div>
            <div class="imgContainer mobile-only mt-4">
              <img
                src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/imboAthead.png?v=1620114497"
                alt="boAt"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="whoOrWhatSection width900">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="text-white bold">Who or what is a boAthead, you ask?</h2>
            <p class="text-large text-white">It's You!</p>
            <img
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/each_one_of_you.png?v=1618393751"
              alt="boAt"
              class="overlappedImg"
            />
            <p class="text-grey mt-5">
              It's someone who loves to groove, is always on the move, and crazy
              about reaching their goals!
            </p>
            <div class="imgContainer only-desktop mt-4">
              <img
                src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/It_s_You.jpg?v=1620112218"
                alt="boAt"
              />
            </div>
            <div class="imgContainer mobile-only mt-4">
              <img
                src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/it_s_you_db99a4db-b817-4441-a924-e710ba0422fe.jpg?v=1620114624"
                alt="boAt"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="boAttribeSection">
        <div class="row">
          <div class="col-12 text-center">
            <p class="text-grey text-uppercase">
              Together, we are an ever-growing tribe of
            </p>
          </div>
          <div class="col-12 mb-5">
          	<div class="elfsight-sapp-357fca9d-d9f2-4903-a452-3fa078597001"></div>
          </div>
        </div>
      </div>
      <div class="imageTextSection width900 mt-5">
        <div class="row">
          <div class="col-12 text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Group_260.png?v=1618394473"
              alt="boAt"
            />
          </div>
        </div>
      </div>
      <div class="twoColsSection">
        <div class="row">
          <div class="col-lg-6 textCol">
            <h3 class="text-red bold">Sailing across the nation and beyond</h3>
            <p class="text-grey">
              Every boAthead out there is our anchor! Their love and support
              inspires us to never back down, even in turbulent waters and
              stormy seas.
            </p>
            <p class="text-grey">
              No wonder then, that we've sailed from strength to strength, even
              in a year like 2020.
            </p>
          </div>
          <div class="col-lg-6 imgCol">
            <img
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Sailing_across_the_nation_and_beyond.png?v=1620112262"
              alt="boAt"
            />
          </div>
        </div>
      </div>
      <div class="gridSection">
        <div class="row gridRow">
          <div class="col-12 text-center">
            <h2 class="text-white mb-5">
              Our achievements<br />speak for themselves
            </h2>
          </div>
          <div class="col-lg-6">
            <div class="row innerRow rowLeft p-0">
              <div class="col-12 p-0">
                <div class="cardConteiner cardOne">
                  <div class="row">
                    <div class="col-lg-6 p-0">
                      <p class="text-grey">
                        The number 1 brand for truly wireless, and earwear in
                        India as per Q3 CY21
                      </p>
                    </div>
                    <div class="col-lg-6 p-0">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/India_s-no1-Earwear-Brand-new.png?v=1644576457"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 p-0">
                <div class="cardConteiner cardTwo">
                  <div class="col-12 p-0">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/boAt_sound_of_champions.png?v=1620112537"
                    />
                  </div>
                  <div class="col-12 p-0">
                    <p class="text-grey text-center">
                      Roaring the sound of the champions with the Indian Premier
                      League
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row innerRow rowRight p-0">
              <div class="col-lg-6 p-0">
                <div class="cardConteiner cardThree">
                  <div class="col-12 p-0">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/5th-largest-wearable-brand_new.png?v=1644574805"
                    />
                  </div>
                  <div class="col-12 p-0">
                    <p class="text-grey text-center">
                      No. 3 Earwear + Smartwatch global market as per Q3 CY21
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 p-0">
                <div class="cardConteiner cardFour">
                  <div class="row">
                    <div class="col-lg-6 p-0">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/MasabaGupta_1.png?v=1620112760"
                      />
                    </div>
                    <div class="col-lg-6 p-0">
                      <p class="text-grey text-right">
                        Leveling up our style with the young and innovative
                        designers of the country
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 p-0">
                <div class="cardConteiner cardFive">
                  <div class="row">
                    <div class="col-lg-6 p-0">
                      <p class="text-grey">
                        The dopest boAtheads joining our family - from the likes
                        of Shreyas Iyer to Diljit Dosanjh!
                      </p>
                    </div>
                    <div class="col-lg-6 p-0">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/ShreyasIyer_1.png?v=1620112808"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="whatNextSection width900">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="text-white bold">What's next?</h2>
            <p class="text-grey">
              All that has happened to us is overwhelming, yes, but it
              <span class="text-white bold">pushes us to do more</span>, be more
              and make more products that you can use to
              <span class="bold">jazz up your lifestyle</span>.
            </p>
            <p class="text-grey">
              So, in 2021, we've started to
              <span class="text-white bold">fearlessly rock in India</span> with
              a range of products that
              <span class="bold"
                >free-spirited Indians like you can truly call your own!</span
              >
            </p>
          </div>
        </div>
      </div>
      <div class="btntSection width900">
        <div class="row">
          <div class="col-12 text-center">
            <a href="https://www.boat-lifestyle.com" class="exploreNow text-uppercase text-white"
              >explore now</a
            >
            <p class="text-white text-uppercase mt-5 mb-0 mki bold">
              make in india
            </p>
            <p style="font-size: 24px">
              <span class="text-orange lighter text-uppercase">by an</span>
              <span class="text-white lighter text-uppercase">indian</span>
              <span class="text-green lighter text-uppercase">brand</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
      #content {
        margin-top: 0px;
        padding-bottom: 0px;
      }
  	  .about-container {max-width: 2000px; padding:0;}
      body {
        background-color: black !important;
        overflow-x: hidden;
        box-sizing: border-box;
      }
      .bold {
        font-weight: bold;
      }
      .extra-bold {
        font-weight: 900;
      }
      .text-red {
        color: #ed1c24;
      }
      .wearablesApp-page {
        width: 95%;
        margin: auto;
      }
      .aboutboAt img {
        max-width: 100%;
        width: auto;
        display: block;
        margin: auto;
      }
      .aboutboAt .row {
        margin: 0;
        padding: 0px 15px;
      }
      .twoColsSection .row {
        align-items: center;
      }
      .majortitle,
      .page-header.cf {
        display: none;
      }
      .aboutboAt a:hover {
        text-decoration: none;
      }
      .text-center {
        text-align: center;
      }
      .gridRow > .col-lg-6 {
        padding: 0 6px;
      }
      .row.innerRow.rowRight.p-0 {
        align-items: flex-start;
      }
      .cardConteiner {
        border: 1px solid #a9a9a966;
        margin: 5px 0;
        padding: 20px;
        background-color: #292929;
        border-radius: 10px;
        color: white;
      }
      .cardThree {
        margin-right: 10px;
      }
      .cardThree {
        min-height: 300px;
      }
      .cardFour {
        min-height: 260px;
      }
      .cardOne,
      .cardFive {
        min-height: 120px;
      }
      .cardTwo {
        max-width: 50%;
        margin-left: auto;
        margin-right: 0;
        min-height: 300px;
      }
      .cardFive {
        max-width: 75%;
        margin-left: 0;
        margin-right: auto;
      }
      .text-grey {
        color: #c3c3c3;
        font-size: 22px;
    	font-weight: normal;
      }
      .width900,
      .twoColsSection,
      .gridSection {
        margin-bottom: 6rem;
      }
      .width900 .col-12 {
        max-width: 950px;
        margin: auto;
      }
      .text-large {
        font-size: 70px;
        line-height: 0.8;
        font-weight: lighter;
        margin: 0;
      }
      .overlappedImg {
        position: relative;
    	top: -41px;
      }
      .imgContainer {
        margin-bottom: 4rem;
      }
      .twoColsSection h3 {
        font-size: 60px;
        line-height: 1;
      }
      .gridSection h2,
      .width900 h2 {
        font-size: 50px;
        line-height: 1;
      }
      a.exploreNow.text-uppercase.text-white {
        background: url(https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Rectangle_100.png?v=1618401595);
        background-size: cover;
        display: inline-block;
        padding: 6px 25px;
        font-size: 20px;
        font-weight: bold;
      }
      p.text-white.text-uppercase.mt-5.mb-0.mki.bold {
        font-size: 30px;
      }
      .lighter {
/*         font-weight: lighter; */
      }
      .text-green {
        color: green;
      }
      .text-orange {
        color: #f16622;
      }
      .cardConteiner img {
        max-width: 80%;
      }
      .cardConteiner p {
        font-size: 20px !important;
      }
      .cardConteiner {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .innerRow {
        align-items: unset !important;
      }
      .cardConteiner .row {
        align-items: center;
      }
      

      @media screen and (max-width: 1100px) {
        .cardTwo,
        .cardFive {
          max-width: 100% !important;
        }
        .text-large,
        .twoColsSection h3, .gridSection h2, .width900 h2 {
          font-size: 40px;
        }
        .width900, .twoColsSection, .gridSection {
            margin-bottom: 2rem;
        }
        
      }
    </style>

{% schema %}
  {
    "name": "About Us",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
