<div id="{{ section.settings.include_customapp }}" class="{% if section.settings.include_horizontal_margins %}container quinn_card_section{% endif %}">
  {%- for block in section.blocks -%}
    {%- render block -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Apps",
  "class": "shopify-section--apps",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_horizontal_margins",
      "label": "Include horizontal margins",
      "default": true
    },
    {
      "type": "text",
      "id": "include_customapp",
      "label": "assign for targeting custom app"
    },
    {
      "type": "checkbox",
      "id": "include_vertical_margins",
      "label": "Include vertical margins",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Apps"
    }
  ]
}
{% endschema %}
