<div class="container cf">
      <div class="page-header cf desktop-only">
        <img
          src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/faq_banner_desktop_b9fa5a91-418d-43bd-a4c6-7858a93e1490.png?v=1647243583"
          alt="Got Questions"
        />
      </div>
      <div class="page-header cf mobile-only">
        <img
          src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/faq_banner_mobile_cdec44d3-c1bd-4a2e-b7e7-fa85f52f3e4d.png?v=1647243584"
          alt="Got Questions"
        />
      </div>
      <div class="user-content row-spacing">
        <h2 class="section--heading">Payment</h2>
        <div class="faqs-section">
          <div class="faq-block">
            <p class="accordion">
              Payment for the order has been deducted from my account, but no
              order details have been received?
            </p>
            <div class="panel">
              <p>
                You order details may have not been captured with us. The amount
                will be refunded to your account in next 5-7 days.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">What payment options do you have?</p>
            <div class="panel">
              <p>
                Keeping in mind the health and safety in these times, we accept
                prepaid orders only to minimize the contact. You can choose to
                pay by the following options:
              </p>

              <ul>
                <li>Credit/Debit Card Payment</li>
                <li>Net Banking</li>
                <li>Wallets – PhonePe, Amazon Pay, FreeCharge, Payzapp</li>
                <li>UPI/QR</li>
              </ul>
            </div>
          </div>
        </div>
        <h2 class="section--heading">Order Related</h2>
        <div class="faqs-section">
          <div class="faq-block">
            <p class="accordion">How can I cancel my order?</p>
            <div class="panel">
              <p>
                You have the option to cancel your order before it is dispatched
                from our warehouse.<br /><br />

                To cancel the order: <br />
              </p>

              <p><strong>If you have an account:</strong></p>

              <ol>
                <li>Login to your account</li>
                <li>
                  <span>Go to manage your order:</span>
                  <a href="https://www.boat-lifestyle.com/apps/ret"
                    >https://www.boat-lifestyle.com/apps/ret</a
                  >
                </li>
                <li>Cancel the desired order.</li>
              </ol>

              <p>
                If you don’t have an account, create an account at
                <a href="https://www.boat-lifestyle.com/account/register"
                  >https://www.boat-lifestyle.com/account/register</a
                >
                and follow the steps mentioned above.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">I want to change my delivery address?</p>
            <div class="panel">
              <p>Before the order is dispatched:</p>
              <ul>
                <li>
                  Cancel the order on the website and place the order again with
                  the correct address.
                </li>
                <li>
                  Contact our customer care team to change the delivery address.
                </li>
              </ul>

              <p>
                <span>By Email:</span>
                <a href="mailto:help@imaginemarketingindia.com"
                  >help@imaginemarketingindia.com</a
                >
                <br />
              </p>
              <p>
                <span>By Phone:</span>
                <a href="tel:912249461882">+912249461882</a>
              </p>
              <p>
                *Delivery address cannot be changed once the product has been
                dispatched from our warehouse.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">I want to change my product color?</p>
            <div class="panel">
              <p>
                Before the order is dispatched, cancel the order on the website
                and place the order again with the desired product colour.
              </p>

              <p>
                *Product Colour cannot be changed once the product has been
                dispatched from our warehouse.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              I have lost my invoice copy, what should I do?
            </p>
            <div class="panel">
              <ul>
                <li>
                  Order placed through Amazon/FK/Any other ecommerce
                  marketplace: Locate your invoice in the order details of your
                  account on the website from where you placed the order for
                  boAt products.
                </li>
                <li>
                  Order placed on the website: Contact Customer Service to help
                  you.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <h2 class="section--heading">Shipping</h2>
        <div class="faqs-section">
          <div class="faq-block">
            <p class="accordion">
              When can I expect the delivery of my product?
            </p>
            <div class="panel">
              <p>
                Once you receive the shipping confirmation, your package will be
                delivered within 3-5 business days. We are constantly working to
                get your order delivered as soon as possible.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">How do I track my order details?</p>
            <div class="panel">
              <p>
                An email and an SMS with the tracking number will be sent once
                the order has been dispatched from our warehouse. You can also
                track your order from your account on the website by clicking
                "<a
                  href="https://boatlifestyle.shiprocket.co/"
                  style="font-weight: bold"
                  >Track your Order</a
                >" at the top right corner.
              </p>

              <p>
                If you are an existing user you can simply log in to your
                account and track your current and past order details. However,
                if you haven’t made an account and has signed in as a guest user
                - we advise you to create your account with the same guest user
                mail id.
              </p>

              <p>
                *Please note, that it can take some time before the tracking
                information is uploaded.
              </p>
            </div>
          </div>
        </div>
        <h2 class="section--heading">Exchanges</h2>
        <div class="faqs-section">
          <div class="faq-block">
            <p class="accordion">When will I receive my refund?</p>
            <div class="panel">
              <p>
                Once we have received your return shipment in our warehouse, we
                will send you an email confirming receipt of the package. We
                will refund the value of your returned items within 30 days upon
                receiving the return package.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              I used my guest order id to log in but that was not being
              accepted. I tried to change my password as well but could not go
              through with that. Why?
            </p>
            <div class="panel">
              <p>
                In order to log in you have to register on the boAt website and
                become a user. Create your account by going to
                <a
                  href="https://www.boat-lifestyle.com/account/register"
                  style="font-weight: bold"
                  >https://www.boat-lifestyle.com/account/register</a
                >. Use the same email id that you entered when placing your
                order on the boAt store.
              </p>
              <p>
                Once you create an account you will be able to log in and view
                all relevant information about your past order(s).
              </p>
            </div>
          </div>
        </div>
        <h2 class="section--heading">Warranty</h2>
        <div class="faqs-section">
          <div class="faq-block">
            <p class="accordion">
              My product has not been picked up for replacement yet?
            </p>
            <div class="panel">
              <p>
                Mail your query at
                <a href="info@imaginemarketingindia.com"
                  >info@imaginemarketingindia.com</a
                >
                for all the warranty and service-related issues or call Customer
                Service to help you.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              I have not received my product after replacement yet?
            </p>
            <div class="panel">
              <p>
                Mail your query at
                <a href="info@imaginemarketingindia.com"
                  >info@imaginemarketingindia.com</a
                >
                for all the warranty and service-related issues or call Customer
                Service to help you.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              I want to register a complaint regarding a product?
            </p>
            <div class="panel">
              <p>
                Mail your query at
                <a href="info@imaginemarketingindia.com"
                  >info@imaginemarketingindia.com</a
                >
                for all the warranty and service-related issues or call Customer
                Service to help you.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">Query regarding B2B?</p>
            <div class="panel">
              <p>
                Drop your query at
                <a href="Corporates@imaginemarketingindia.com"
                  >Corporates@imaginemarketingindia.com</a
                >
                and the concerned person will get back to you at the earliest
                possible.
              </p>
            </div>
          </div>
        </div>
        <h2 class="my-5 product--specific">Product Related FAQs</h2>
        <h2 class="section--heading">Airdopes</h2>
        <div class="faqs-section">
          <div class="faq-block">
            <p class="accordion">
              What to do if one of the Airdopes stop working?
            </p>
            <div class="panel">
              <p>Simply reset your device.</p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              What to do if the Airdopes are not charging?
            </p>
            <div class="panel">
              <p>
                Keep the Airdopes aside and plug in your charging case for 15
                minutes. Now put the Airdopes back in the charging case.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">How can we pause and play tracks?</p>
            <div class="panel">
              <p>
                Single tap the capacitive touch control on either earbud to play
                or pause a song.
              </p>
              <p>
                boAt Airdopes are a feature-packed collection with a host of
                intuitive features that allow one to control music seamlessly.
                Please refer to the instruction manual to learn how to enjoy its
                features completely.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">Can we take calls on boAt Airdopes?</p>
            <div class="panel">
              <p>
                Yes, a single press on the multi-function button allows the user
                to accept and reject calls easily.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              Can I use any adapter to charge the Airdopes?
            </p>
            <div class="panel">
              <p>Yes, you can use any adapter to charge your Airdopes.</p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              Are all Airdopes waterproof and sweat resistant?
            </p>
            <div class="panel">
              <p>
                Yes, Airdopes generally come with IPX Dust and Water Resistance
                technology. You can use it for your workouts or carry them along
                on long trips.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">What is the use of the charging case?</p>
            <div class="panel">
              <p>
                The charging case is ergonomically designed to be portable and
                lightweight. You can carry your in-ear earbuds around while
                they’re being charged in the case.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              Are Airdopes compatible with iPhones and Android phones?
            </p>
            <div class="panel">
              <p>
                Yes, Airdopes are fully compatible with iPhones and Android
                devices.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">How can I connect with Google and Siri?</p>
            <div class="panel">
              <p>
                Simply double-tap to connect with Google & Siri and activate the
                voice assistant. Please refer to the manual for further
                instructions.
              </p>
            </div>
          </div>
        </div>
        <h2 class="section--heading">Rockerz</h2>
        <div class="faqs-section">
          <div class="faq-block">
            <p class="accordion">What to do when one side stops working?</p>
            <div class="panel">
              <p>Simply reset your Rockerz device.</p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              What to do if I’m not able to pair it with my phone/laptop/tablet?
            </p>
            <div class="panel">
              <p>Simply reset your Rockerz device.</p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">Can we accept calls on it?</p>
            <div class="panel">
              <p>
                Yes, all Rockerz products offer great clarity and comfort during
                meetings and important calls. Single press on the multi-function
                button to easily accept and reject calls.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              Are they good for running and sports in general?
            </p>
            <div class="panel">
              <p>
                Yes, all Rockerz products come with IPX dust and water
                resistance, making them perfect for sports and adventures.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              Can I charge my headphones with a mobile charger?
            </p>
            <div class="panel">
              <p>
                Yes, all Rockerz products can be charged with a mobile charger.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">How can I enable Google and Siri?</p>
            <div class="panel">
              <p>
                Double tap to connect with Google & Siri and activate the voice
                assistant. Please refer to the manual for further instructions.
              </p>
            </div>
          </div>
        </div>
        <h2 class="section--heading">Stone</h2>
        <div class="faqs-section">
          <div class="faq-block">
            <p class="accordion">Can we connect it via AUX?</p>
            <div class="panel">
              <p>
                Yes, all Stone speakers have multiple connectivity modes,
                including Bluetooth and AUX.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">Is it water resistant?</p>
            <div class="panel">
              <p>All Stone speakers come with IPX Dust and Water Resistance.</p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              Does it have an in-built mic for hands-free calling?
            </p>
            <div class="panel">
              <p>
                Yes, all Stone speakers come with an in-built mic that allows
                hands-free calling.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">Can we accept calls on it?</p>
            <div class="panel">
              <p>Yes, one can accept calls on the speakers.</p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              Can I charge my speakers with a mobile charger?
            </p>
            <div class="panel">
              <p>
                Yes, all Stone speakers can be charged with a mobile charger.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              Can we use it while putting the speakers on charge?
            </p>
            <div class="panel">
              <p>
                Yes, all Stone speakers can be used simultaneously while
                charging.
              </p>
            </div>
          </div>
        </div>
        <h2 class="section--heading">Bassheads</h2>
        <div class="faqs-section">
          <div class="faq-block">
            <p class="accordion">
              Can we accept calls? Are they good for calls, meetings, and work
              from home?
            </p>
            <div class="panel">
              <p>
                Single press on the multi-function button to easily accept and
                reject calls. Bassheads are designed for clarity and comfort
                during meetings and important calls.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">Do they have noise cancellation?</p>
            <div class="panel">
              <p>
                Bassheads come with passive noise cancellation for clear sound.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">Do they have a dedicated microphone?</p>
            <div class="panel">
              <p>
                Yes, Bassheads earphones have a dedicated mic perfect for calls
                and recording.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">How can I enable Google and Siri?</p>
            <div class="panel">
              <p>
                Double tap to connect with Google & Siri and activate the voice
                assistant. Please refer to the manual for further instructions.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">Do they support iOS and Android?</p>
            <div class="panel">
              <p>
                Yes, Bassheads come with full support for Android and iOS
                devices. For devices that don’t have a headphone jack, a dongle
                is required.
              </p>
            </div>
          </div>
        </div>
        <h2 class="section--heading">Wearables</h2>
        <div class="faqs-section">
          <div class="faq-block">
            <p class="accordion">
              What to do if I am unable to connect my watch with the phone?
            </p>
            <div class="panel">
              <ul>
                <li>
                  Make sure you are using Android 4.4/ IOS 7.0 or above OS
                  version in your smartphone.
                </li>
                <li>
                  It is necessary to accept and agree to all the terms and
                  permissions including the location services also.
                </li>
                <li>
                  Make sure you have downloaded boat ProGear app in your
                  smartphone.
                </li>
                <li>
                  Do not connect the watch directly with the phone’s Bluetooth,
                  make sure you are connecting it via the boat ProGear app.
                </li>
                <li>
                  Make sure your Bluetooth is on and try to bind the watch with
                  the app. Once the device is discoverable, it will display on
                  the app screen, click to connect the device with the app.
                </li>
                <li>
                  If you still continue to have binding issues, please restart
                  your phone and try again.
                </li>
              </ul>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">Why is my Bluetooth disconnecting?</p>
            <div class="panel">
              <ul>
                <li>
                  The operational distance for the Bluetooth is 8-10m. It is
                  ideal that phone and watch is in direct contact with each
                  other.
                </li>
                <li>
                  If still the Bluetooth is disconnecting, close the app, switch
                  off and on the Bluetooth and start the app again.
                </li>
                <li>Make sure the app is running in background always</li>
              </ul>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              Heart rate monitor is not taking the reading well. What can be the
              issue?
            </p>
            <div class="panel">
              <p>
                Hair, tattoo, skin complexion, scaring, wear the watch too lose
                or too tight might affect the readings.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              Why does the watch show the step count even when I am not walking?
            </p>
            <div class="panel">
              <p>
                Your watch is tracking the movement if your wrist so if you are
                doing something that requires a lot of hand movement then step
                count can be affected.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              Why am I not getting call or message notifications on my watch?
            </p>
            <div class="panel">
              <ul>
                <li>
                  Make sure call alert and SNS alert are enabled from the app.
                </li>
                <li>Sync the watch after enabling these features</li>
                <li>Make sure the app is running in background</li>
                <li>
                  Even if the notifications are not coming, switch off your
                  phone’s Bluetooth and again switch on OR restart your phone
                </li>
              </ul>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">How does GPS work in the watch?</p>
            <div class="panel">
              <p>
                The GPS function can be used only with outdoor sports mode like
                outdoor walk, run, cycle, hiking.
              </p>
              <p>You can record the distance and route with the help of GPS.</p>
            </div>
          </div>

          <div class="faq-block">
            <p class="accordion">Do they come with different watch faces?</p>
            <div class="panel">
              <p>
                Yes, all boAt smartwatches come with support for different watch
                faces.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">How much time do they take to charge?</p>
            <div class="panel">
              <p>
                All boAt smartwatches take between 1.5HRS to 2.5HRS to charge.
                The exact time depends upon each specific model.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              Do they have water resistance? Is it good for long-term outdoor
              use?
            </p>
            <div class="panel">
              <p>
                All boAt smartwatches come with Water & Sweat Resistance
                technology that varies from model to model.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">Can I use other straps?</p>
            <div class="panel">
              <p>
                All boAt smartwatches come with different colour options. Visit
                Storm Strap to get your own.
              </p>
            </div>
          </div>
          <div class="faq-block">
            <p class="accordion">
              Do they support notifications for particular apps?
            </p>
            <div class="panel">
              <p>
                Yes, all boAt smartwatches support notification alerts for
                multiple applications.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
<style>
      #content {
        background: #f7f7f7;
        margin-top: 0px;
      }
      #content .container {
        padding: 0;
        max-width: 2000px;
        width: 100%;
      }
      .user-content {
        max-width: 1000px;
        margin: auto;
      }
      .faq-block {
        box-shadow: 0 0 10px #ccc;
        margin-bottom: 20px;
      }
      .accordion {
        box-sizing: border-box;
        background: #fff;
        color: #444;
        cursor: pointer;
        padding: 15px 35px 12px 18px;
        width: 100%;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        border: none;
        /*   border-bottom: 1px solid transparent;  */
        font-weight: bold;
        margin-bottom: 0;
        position: relative;
        line-height: normal;
      }
      .accordion:focus {
        outline: 0;
      }
      .accordion.active {
        background: #000;
        color: #fff;
      }
      .accordion:after {
        content: '\002B';
        color: #ea2127;
        font-weight: bold;
        font-size: 20px;
        float: right;
        margin-left: 5px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
      }
      .accordion.active:after {
        content: '\2212';
        color: #fff;
      }
      .section--heading:after {
        content: '\002B';
        color: #ea2127;
        font-weight: bold;
        font-size: 20px;
        float: right;
        margin-left: 5px;
        position: absolute;
        top: 25%;
        right: 20px;
        transform: translateY(-50%);
      }
      .section--heading.expanded--section:after {
        content: '\2212';
        color: #ea2127;
      }
      .panel {
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        font-size: 14px;
      }
      .panel p {
        margin-top: 20px;
        line-height: 1.5;
      }
      .panel a {
        text-decoration: none;
      }
      .panel a:hover {
        color: #ea2127;
      }
      .page-header {
        margin-bottom: 50px;
        width: 100%;
      }
      .page-header.mobile-only {
        height: 240px;
        padding: 0;
      }
      .page-header img {
        display: block;
        width: 100%;
      }
      .faqs-section {
        display: none;
        padding: 20px 0;
      }
      .section--heading {
        cursor: pointer;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        font-size: 20px;
        position: relative;
      }
      .section--heading.expanded--section {
        padding-bottom: 0;
        border-bottom: 0;
        margin-bottom: 0;
      }
      .product--specific {
        font-size: 24px;
        background: #000;
        color: #fff;
        padding: 10px;
        text-align: center;
      }

      @media screen and (max-width: 767px) {
        .accordion {
          font-size: 14px;
        }
        .faqs-section {
          padding: 0 15px 0 0;
          margin-bottom: 20px;
        }
        #store-messages-mobile {
          padding: 0;
        }
        .accordion:after {
          right: 8px;
        }
        .user-content {
          padding: 0 12px;
        }
        .section--heading.expanded--section {
          margin-bottom: 15px;
        }
      }
    </style>

<script>
      $(document).ready(function () {
        $('p.accordion').click(function () {
          $(this).toggleClass('active');
          $(this).next('div.panel').slideToggle();
          $(this)
            .closest('.faq-block')
            .siblings('.faq-block')
            .find('p.accordion')
            .removeClass('active');
          $(this)
            .closest('.faq-block')
            .siblings('.faq-block')
            .find('div.panel')
            .slideUp();
        });
        $('.section--heading').click(function () {
          $(this).toggleClass('expanded--section');
          $(this).next('.faqs-section').slideToggle();
        });
      });
    </script>


{% schema %}
  {
    "name": "boAt Faqs",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
