<div id="homepage-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    {% for block in section.blocks %}
    <li data-target="#demo" data-slide-to="{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="la.jpg" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="chicago.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="ny.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

{% schema %}
  {
    "name": "Bootstrap Slideshow",
	"class": "bootstrap-carousel",
    "settings": [],
	"blocks": [
		{
          "name": "slideshow",
          "type": "slideshow",
          "settings": [
			{
			  "type": "image_picker",
			  "id": "desktop_image",
			  "label": "Desktop Image"
			},
			{
			  "type": "image_picker",
			  "id": "mobile_image",
			  "label": "Desktop Image"
			},
			{
			  "type": "url",
			  "id": "slide_url",
			  "label": "Slide URL"
			}
		  ]
		}
	],
	"presets": [
		{
          "name": "Bootstrap Slideshow",
          "category": "image",
          "settings": {
          }
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
