<section class="collection-mobile-banner-section">
  {%- if collection.metafields.custom.mobile_image_slider and section.settings.show_collection_banner_image -%}
      {%- assign all_banners = collection.metafields.custom.mobile_image_slider | split: "," -%}
      <div class="owl-carousel owl-theme collection-image-slider {{ section.id }}">
        {% for single_banner in all_banners %}
          <div class="item">
            <img src="{{ single_banner }}" class="collection_single_image" />
          </div>
        {% endfor %}
      </div>
  {%- endif -%}
  
</section>

<script>
  $(document).ready(function() {
    $('.collection-image-slider').owlCarousel({
      loop: true,
      responsiveClass: true,
      autoplay:true,
      items: 4,
      nav: false,
      dots: true,
      responsive: {
        300: {
          dots: false,
          items: 1
        },
        800: {
          items: 1
        },
        1000: {
          dots: false,
          items:1,
          loop: true,
          margin: 10
        }
      }
    })
  });
</script>

{% schema %}
{
  "name": "Collection mobile banner",
  "class": "shopify-section--collection-mobile-banner",
  "settings": [
    {
      "type": "paragraph",
      "content": "To change collection descriptions or collection images, [edit your collections](/admin/collections)."
    },
    {
      "type": "checkbox",
      "id": "show_collection_banner_image",
      "label": "Show collection image",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Collection mobile banner",
      "category": "Image",
      "settings": {}
    }
  ]
}
{% endschema %}