<div class="container">
 <div class="page-header">
   <div class="page-header__text-wrapper text-container">
     <h1 class="heading h1 visually-hidden">{{ collection.title }}</h1>
       {%- if section.settings.show_collection_description and collection.description != blank -%}
         {{- collection.description -}}
       {%- endif -%}
    </div>
  </div>
</div>

{% render 'collection-related-blogs' %}

{% schema %}
  {
    "name": "Collection Description",
	"class": "collection-description",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_collection_description",
          "label": "Show collection description",
          "default": true
    	}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
