<div class="container fully-spaced-row cf section-id-{{ section.id }}" data-section-type="custom-row">
  <div class="new-launches-headings launch-head trendsetter">
  <h2>Instagram</h2>
  <h6>@boat.nirvana</h6>
  </div>
  
  <div id="insta-feed"></div>