<div class=" {% if section.settings.customTimer == blank %}timer--expired{% endif %}">
    <div class="custom_timer">
      {% if section.settings.starting_text != blank %}
        <h1 class="timer__title">{{ section.settings.starting_text }}</h1>
      {% endif %}
  

      <div class=" mb-5 custom_timer-display">
        <p style="display:none;" class="endsale"> sorry sale has ended </p>
        <div class="custom_timer-block">
          <span class="custom_timer-block__num_text ">Days</span>
          <span class="custom_timer-block__num js-timer-days">00</span>
          <!--        <span class="timer-block__unit">:</span>  -->
        </div>
        <div class="custom_timer-block">
          <span class="custom_timer-block__num_text ">Hours</span>
          <span class="custom_timer-block__num js-timer-hours">00</span>
          <!--        <span class="timer-block__unit">:</span>  -->
        </div>
        <div class="custom_timer-block">
          <span class="custom_timer-block__num_text ">Minutes</span>
          <span class="custom_timer-block__num js-timer-minutes">00</span>
          <!--        <span class="timer-block__unit">:</span>  -->
        </div>
        <div class="custom_timer-block">
          <span class="custom_timer-block__num_text">Seconds</span>
          <span class="custom_timer-block__num js-timer-seconds">00</span>
  
          <!--        <span class="timer-block__unit">:</span>  -->
        </div>
      </div>
      <h4 class="timer__addtional_text">{{ section.settings.additional_text}}</h4>
  
  
    </div>
  </div>
  <style>
  
    .custom_timer-block__num_text {
      font-size: 20px;
      font-weight: 900;
      border: none !important;
      background-color: white;
      display: flex;
      justify-content: center;
  
    }
    .custom_timer-block .custom_timer-block__num {
      border: 1px solid black;
      background-color: rgb(181, 178, 178);
      border-radius: 5px;
    }
    .custom_timer {
      background: white;
      padding: 10px 0;
      margin: 15px 0 0;
      border-radius: 5px;
      position: relative !important;
      line-height: normal;
    }
  
    .timer__title {
      text-align: center;
      margin: 0;
    }
    .timer__addtional_text {
      text-align: center;
      margin: 0;
  
      padding: 10px
    }
    .custom_timer-display {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: center;
      margin-top: 5px;
    }
    .text_date_timer-block {
      position: relative;
      padding: 0 10px;
    }
    .custom_timer-block {
      position: relative;
      width: 8%;
      padding: 0 10px;
      font-size: 2rem;
      line-height: 4;
    }
    .text_date_timer-block:not(:last-child):after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .custom_timer-block__num,
    .timer-block__unit {
      display: block;
      text-align: center;
    }
    .timer--expired {
      display: none !important;
    }
  </style>
  <script type="text/javascript">
    var second = 1000,
      minute = second * 60,
      hour = minute * 60,
      _day = hour * 24;
  
    var countDown = new Date('{{- section.settings.customTimer -}}').getTime(),
       x = setInterval(function() {
        var now = new Date().getTime(),
        distance = countDown - now;
        if (distance > 0){
        document.querySelector('.js-timer-days').innerText = Math.floor(distance / (_day)) ,
        document.querySelector('.js-timer-hours').innerText = Math.floor((distance % (_day)) / (hour)),
        document.querySelector('.js-timer-minutes').innerText = Math.floor((distance % (hour)) / (minute)),
        document.querySelector('.js-timer-seconds').innerText = Math.floor((distance % (minute)) / second);
      }else{
        $('.custom_timer-block').css("display" , "none");
        $('.endsale').css("display" , "block");
      }
    }, second)
  </script>
  
  {% schema %}
    {
      "name": "Custom Countdown Timer",
      "class": "custom_countdown_timer",
      "settings": [
        {
          "type": "text",
          "id": "customTimer",
          "label": "End Date (Ex: Apr 30, 2022)"
        }, {
          "type": "text",
          "id": "starting_text",
          "label": "Heading (Ex. Starts in)"
        }, {
          "type": "text",
          "id": "additional_text",
          "label": "Additional text/information (Ex. Not just an offer...)"
        }
      ],
      "presets": [
        {
          "name": "Custom Countdown Timer"
        }
      ]
    }
  {% endschema %}