
<span class="atoc_items">
    {% for product in collections[section.settings.custom_atoc_collection].products %}
        {{ product.selected_or_first_available_variant.id }}
        {% unless forloop.last %},{% endunless %}
    {% endfor %}
</span>

<span class="atoc_btn" style="cursor: pointer;">Add to cart</span>


<script>

    $(document).ready(function(){

        $('.atoc_btn').on('click', function(){
            var all_items = $('.atoc_items').text();

            addAllItems(all_items);

        })

        function addAllItems(array){
            Shopify.queue = [];
            var quantity = {{ cart.item_count }} ;
            var newArray = array.split(',');
            for (var i = 0; i < newArray.length; i++) {
                product = newArray[i]
                Shopify.queue.push({
                    variantId: product,
                });
            }
            Shopify.moveAlong = function() { 
            
                if (Shopify.queue.length) {
                    var request = Shopify.queue.shift().variantId.trim();
                    $.ajax({
                        type: 'POST',
                        url: '/cart/add.js',
                        dataType: 'json',
                        data: {
                            quantity: 1,
                            id: request
                        },
                        success: function(res){
                            Shopify.moveAlong();
                            quantity += 1;
                            document.getElementById('mini-cart').open = true;
                        },
                        error: function(){
                            if (Shopify.queue.length){
                                Shopify.moveAlong()
                            } else {
                                $('#cart-number').replaceWith("<a href='cart' id='cart-number'>View cart (" + quantity + ")</a>")
                            }
                        }
                    });
                } else {
                    quantity += 1;
                    addToCartOk(quantity);
                }

                document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
                    bubbles: true
                }));
            };
            Shopify.moveAlong();
        };

        function addToCartOk(quantity){  
            console.log("Updated Quantity: ", quantity);
            $('.header__cart-count').html( quantity );
        }

    });
</script>


{% schema %}
{
  "name": "Custom ATOC",
  "settings": [
    {
        "type": "collection",
        "id": "custom_atoc_collection",
        "label": "Chose Custom Collection"
    }
  ],
  "presets": [
    {
      "name": "Custom ATOC",
      "category": "Collection",
      "settings": {
      }
    }
  ]
}
{% endschema %}