{%- comment -%}
<section class="section--flush-bottom">
  <div class="section__color-wrapper">
    <div class="empty-state">
      <span class="empty-state__background-text">404</span>

      <div class="text-container">
        <h3 class="heading h3">{{ '404.general.title' | t }}</h3>
        <p>{{ '404.general.description' | t }}</p>

        <div class="button-wrapper">
          <a href="{{ routes.root_url }}" class="button button--primary">{{ '404.general.back_to_home' | t }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
{%- endcomment -%}
<div class="row-spacing align-centre image--div">
  <a href="https://www.boat-lifestyle.com/">
    <img srcset="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/404-mBanner_1.png?v=1620044825 390w,
             https://cdn.shopify.com/s/files/1/0057/8938/4802/files/404.png?v=1620023756 908w"
     sizes="(max-width: 767px) 390px"
     src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/404.png?v=1620023756"
     alt="Elva dressed as a fairy">
<!--     <img class="" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/404.png?v=1620023756" alt="Page not found" /> -->
  </a>
</div>
<!-- <div class="row-spacing align-centre image--div mobile-only">
  <a href="https://www.boat-lifestyle.com/">
    <img class="" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/404-mBanner_1.png?v=1620044825" alt="Page not found" />
  </a>
</div> -->

{% schema %}
{
  "name": "404",
  "class": "shopify-section--404"
}
{% endschema %}