<style>
  .notification-blog-box{margin: 20px 24px;padding: 12px;border-radius: 16px;border: solid 0.5px #bbb;}
  .notification-blog-box .notification-blog-header{position: relative;margin-bottom: 12px}
  .notification-blog-box .notification-blog-header h2{font-size: 16px;font-weight: bold;padding: 4px 0px}
  .notification-blog-box .notification-blog-header .current_time{position: absolute;right: 0px;color: #8d8d8d;font-size: 12px;top: 50%;transform: translateY(-50%);}
  .notification-blog-box .notification-blog-items .single-notification-item{padding: 16px;border-radius: 16px;background-color: #f2f2f2;margin-bottom: 12px;}
  .notification-blog-box .notification-blog-items .single-notification-item h3{font-size: 14px;color: #1b1b1b;font-weight: bold;}
  .horizontal-space{height: 1px;background: #ececec;margin-bottom: 12px;display: block;}
  .notification-blog-box .notification-blog-items .single-notification-item div{font-size: 10px;line-height: 1.2;letter-spacing: normal;color: #5f5f5f;}
  .notification-blog-box .notification-blog-items .single-notification-item .blog_link{color: #1b1b1b;font-size: 10px;font-weight: normal;margin-left: 4px;}
  .notification-blog-box .notification-blog-items .single-notification-item:last-child{margin-bottom: 0px;}

  @media (min-width: 767px){
    .notification-box{width: 40%;margin: 20px auto;}
  }
</style>


<div class="notification-blog-box notification-box">
    <div class="notification-blog-header notification-box-header">
      <h2>boAt Blogs</h2>
      <span class="current_time">{{ "now" | date: "%H:%M" }}</span>
    </div>
    <span class="horizontal-space"></span>
    <div class="notification-blog-items">
      {% for block in section.blocks %}
        <div class="single-notification-item">
          <h3>{{ block.settings.blog_title }}</h3>
          <div>{{ block.settings.blog_desc }}<a class="blog_link" href="{{ block.settings.blog_url }}">Read More</a></div>
        </div>
      {% endfor %}
    </div>
</div>

{% schema %}
{
 "name": "Notification Blogs",
 "class": "shopify-section--blog-notification",
 "settings": [],
 "blocks": [
   {
     "name": "blog-notification",
     "type": "url",
     "settings": [
       {
         "type": "url",
         "id": "blog_url",
         "label": "Blog URL"
       },
       {
         "type": "text",
         "id": "blog_title",
         "label": "Blog title"
       },
       {
         "type": "text",
         "id": "blog_desc",
         "label": "Blog Description"
       }
     ]
   }
 ],
 "presets": [
   {
     "name": "Notification Blogs",
     "settings": {}
   }
 ]
}
{% endschema %}