<style>
  .notification-product-box{margin: 20px 24px;padding: 12px;border-radius: 16px;border: solid 0.5px #bbb;}
  .notification-product-box .notification-product-header{position: relative;margin-bottom: 12px}
  .notification-product-box .notification-product-header h2{font-size: 16px;font-weight: bold;padding: 4px 0px}
  .notification-product-box .notification-product-header .current_time{position: absolute;right: 0px;color: #8d8d8d;font-size: 12px;top: 50%;transform: translateY(-50%);}
  .notification-product-box .notification-product-items .single-notification-item{padding: 16px;border-radius: 16px;background-color: #f2f2f2;margin-bottom: 12px;}
  .notification-product-box .notification-product-items .single-notification-item h3{font-size: 14px;color: #1b1b1b;font-weight: bold;}
  .horizontal-space{height: 1px;background: #ececec;margin-bottom: 12px;display: block;}
  .notification-product-box .notification-product-items .single-notification-item p{font-size: 10px;line-height: 1.2;letter-spacing: normal;color: #5f5f5f;margin-bottom: 13px;}
  .notification-product-box .notification-product-items .single-notification-item .pdp_link{color: #ed1c24;font-size: 12px;font-weight: 500;text-decoration: underline;}
  .notification-product-box .notification-product-items .single-notification-item:last-child{margin-bottom: 0px;}

  @media (min-width: 767px){
    .notification-box{width: 40%;margin: 20px auto;}
  }
</style>


<div class="notification-product-box notification-box">
    <div class="notification-product-header notification-box-header">
      <h2>New Launches</h2>
      <span class="current_time">{{ "now" | date: "%H:%M" }}</span>
    </div>
    <span class="horizontal-space"></span>
    <div class="notification-product-items">
      {% for block in section.blocks %}
        {% assign product = block.settings.product_new_launches %}
        <div class="single-notification-item">
          <h3>{{ product.title | split: '|' | first }}</h3>
          <p>{{ product.title | split: '|' | last }}</p>
          <a href="{{ product.url }}" class="pdp_link">Explore Now</a>
        </div>
      {% endfor %}
    </div>
</div>

{% schema %}
{
 "name": "New Launches Notification",
 "class": "shopify-section--newlaunches-notification",
 "settings": [],
 "blocks": [
   {
     "name": "new-launches-notification",
     "type": "new-launches-home",
     "settings": [
       {
         "type": "product",
         "id": "product_new_launches",
         "label": "Product"
       },
       {
         "type": "text",
         "id": "product_title",
         "label": "Custom title"
       },
       {
         "type": "richtext",
         "id": "product_desc",
         "label": "Custom Description"
       },
       {
         "type": "url",
         "id": "product_link",
         "label": "Custom Link"
       }
     ]
   }
 ],
 "presets": [
   {
     "name": "New Launches Notification",
     "category": "layout",
     "settings": {}
   }
 ]
}
{% endschema %}