<style>
  .notification-Header{margin: 10px 24px;}
  .notification-Header .hamburger-wrapper{padding: 12px 0px;}
  .notification-Header .hamburger-wrapper .hamburger-items{list-style: none;padding: 0px;}
  .notification-Header .hamburger-wrapper .hamburger-items li{display: inline-flex;font-size: 10px;font-weight: 500;color: #202020;}
  .notification-Header .hamburger-wrapper .hamburger-items li a{color: #757575;}
  .notification-Header .hamburger-wrapper .hamburger-items li a:after{content: "";opacity: .7;background: url(https://cdn.shopify.com/s/files/1/0057/8938/4802/files/arrow.png?v=1679570736);background-size: contain;height: 10px;width: 18px;background-repeat: no-repeat;float: right;background-position: center;margin: 2px;}
  .notification-Header .notification-heading{display: flex;gap: 16px;margin: 18px 0px 30px;}
  .notification-Header .notification-heading a .back_icon{width: 28px;}
  .notification-Header .notification-heading h3{font-size: 20px;color: #1b1b1b;font-weight: bold;}
</style>


<div class="notification-Header">
    <div class="hamburger-wrapper">
      <ul class="hamburger-items">
        <li><a href="/">Home</a></li>
        <li><a href="/account">My Account</a></li>
        <li>Notifications</li>
      </ul>
    </div>
    <div class="notification-heading">
      <a href="javascript:history.back()">
        <img class="back_icon" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/left-arrow.png?v=1681279683">
      </a>
      <h3>Notifications</h3>
    </div>
</div>

<script>
  $(document).ready(function(){
    let customer_id = '{{ customer.id }}';

    if( customer_id == '' ){
      window.location.href = "https://www.boat-lifestyle.com/account/login";
    }
  });

</script>

{% schema %}
{
 "name": "Notification Header",
 "class": "notification-header-section",
 "settings": [],
 "blocks": [],
 "presets": [
   {
     "name": "Notification Header",
     "settings": {}
   }
 ]
}
{% endschema %}