<section>
  <div class="container">
    <div class="page-content page-content--small">
      {% render 'otp-login' %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Customer login",
    "class": "shopify-section--main-customers-otp-login",
    "settings": [],
    "blocks": [
      {
        "type": "@app"
      }
    ]
  }
{% endschema %}