<section>
  <div class="container">
    <div class="page-content page-content--small">
      <div class="customer-head">
        <div class="otp-login-title">
          {% if settings.login_image %}
            <img
              src="{{ settings.login_image | img_url: 'medium' }}"
              alt=""
              class="customer-head-img">
          {% elsif settings.login_title != blank %}
            <h1 class="customer-head-title">{{ settings.login_title }}</h1>
          {% endif %}
        </div>
        <div class="otp-login-message">
          <h3>
            Enter the 6-digit code sent to your mobile number</h3>
        </div>
        <div class="login-head-bottom-border">
          <svg
            width="224"
            height="4"
            viewBox="0 0 224 4"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <ellipse
              cx="112"
              cy="2"
              rx="112"
              ry="2"
              fill="#D9D9D9" />
          </svg>
        </div>
      </div>
      {% render 'otp-login' %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Customer login",
    "class": "shopify-section--main-customers-otp-login",
    "settings": [],
    "blocks": [
      {
        "type": "@app"
      }
    ]
  }
{% endschema %}