<section class="section pdp_section_2_0">
    {%- if product.metafields.custom.description_1_before_quinn != blank -%}
      {{- product.metafields.custom.description_1_before_quinn -}}
    {%- endif -%}
    {%- if product.metafields.custom.description_2_before_quinn != blank -%}
      {{- product.metafields.custom.description_2_before_quinn -}}
    {%- endif -%}
</section>

{% schema %}
{
  "name": "PDP Content before Quinn",
  "class": "shopify-section--rich-text",
  "settings": [],
  "presets": [
    {
      "name": "PDP Content before Quinn",
      "settings": {}
    }
  ]
}
{% endschema %}