<div class="container-fluid cf mt-4 section-id-{{ section.id }} press-tabs" data-section-type="custom-row">
  <div class="press-tabs-inner">
    <div class="row press-row">
      <div class="col-12 press-headings trendsetter text-center">
        <h2 class="text-white" style="font-size:50px;margin-top:0">In the Press</h2>
      </div>
      <div class="col-12 myTabsSection">
        <div class="tab-wrap">    
          <div class="tabscontainer">        
              <div id="tab1" class="tab-content tab-show">
                  <div class="taglist">
                    <div class="quote">
                        <img alt="quote" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/quote.png?v=1610085078" alt="quote" />
                    </div>
                    <p>Warburg invests $100 mn in boAt</p>
                  </div>
              </div>
              <div id="tab2" class="tab-content">  
                <div class="quote">
                	<img alt="quote" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/quote.png?v=1610085078" alt="quote" />
                </div>
                <p>How India's boAt became the fifth largest wearable brand in the world</p>
              </div>
              <div id="tab3" class="tab-content">
                <div class="quote">
                	<img alt="quote" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/quote.png?v=1610085078" alt="quote" />
                </div>
                <p>The Airdopes 441 is sweat proof and packs in crisp audio. Great for fitness enthusiasts.</p>
              </div>  
              <div id="tab4" class="tab-content">
                <div class="quote">
                	<img alt="quote" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/quote.png?v=1610085078" alt="quote" />
                </div>
                <p>IPL 2020: boAt becomes the official audio partner for six teams</p>
              </div>
              <div id="tab5" class="tab-content">
                <div class="quote">
                	<img alt="quote" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/quote.png?v=1610085078" alt="quote" />
                </div>
                <p>TWS Earbuds Shipments in India Up 723 Percent YoY in Q3, Boat Emerged as Leading Player: Counterpoint</p>
              </div>
          </div>
          <ul class="tab-titles">        
              <li class="active"><span data-href="#tab1">
              	<img alt="mint" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/mint.png?v=1610353880" /> 
              </span></li>
              <li><span data-href="#tab2">
              	<img alt="forbes" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Forbes_1.png?v=1610015636" />  
              </span></li>
              <li><span data-href="#tab3">
                <img alt="techradar" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/techradar_1.png?v=1610015636" />
              </span></li>
              <li><span data-href="#tab4">
                <img alt="ET" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/ET_1.png?v=1610015636" />
              </span></li>
              <li><span data-href="#tab5">
                <img alt="gadgets360" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/gadgets360_1.png?v=1610015636" />
              </span></li>
          </ul> 
		</div>
      </div>
      
    </div>
  </div>
</div>
<style>
.tabscontainer{color: #fff;}
.tab-content{
    display: none;
  	max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 30px;
  	min-height: 200px;
}
  .tab-content p {font-size:20px;margin-top:10px;}
  .tab-titles li span img {filter: grayscale(1);}
  .tab-titles li.active span img {filter: grayscale(0);}
.tab-show{
    display:block;
  	animation-name: slideLeft;
    -webkit-animation-name: slideLeft;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}
  .quote img {max-width: 30px;}
  .tab-titles {
  	display: flex;
    align-items: center;
    justify-content: space-around;
  }
  @keyframes slideLeft {
	0% {
      transform: translateX(110%);
  	}
  	100% {
      transform: translateX(0%);
  	}
}
  .tab-titles span{cursor:pointer;display:block;}
  
  @media screen and (max-width:767px) {
    .tab-titles {justify-content: unset;flex-wrap: nowrap;overflow-x: auto;}
    .tab-content {min-height: 160px;padding: 10px 15px;}
    .tab-titles li {min-width:200px;}
    .tab-content p {font-size:18px;}
  }
</style>
<script>
  $(document).ready(function($) {
    if (window.matchMedia("(min-width: 768px)").matches){
      $(".tab-titles li").hover(function() {
          $(".tab-content").removeClass('tab-show');
          $(".tab-titles li").removeClass('active');					
          $(this).addClass("active");					
          var selected_tab = $(this).find("span").data("href");
          $(selected_tab).addClass("tab-show");
          return false;
      });
    }
    else {
    	$(".tab-titles li").click(function() {
          $(".tab-content").removeClass('tab-show');
          $(".tab-titles li").removeClass('active');					
          $(this).addClass("active");					
          var selected_tab = $(this).find("span").data("href");
          $(selected_tab).addClass("tab-show");
          return false;
      });
    }
    var userSource = '';
    if(navigator.userAgent.includes('Mobile')) userSource = 'Mobile';
    else if(navigator.userAgent.includes('iPad')) userSource = 'Tablet';
    else userSource = 'Desktop';
    $('.press-row').on('click', function(){
      clevertap.event.push("In the Press section clicked", {"userSource": userSource});
    });
});
</script>
{% schema %}
  {
    "name": "Press Tabs",
    "settings": [
		{
          "type": "image_picker",
          "id": "comma",
          "label": "Comma"
        },
		{
          "type": "image_picker",
          "id": "press_img_1",
          "label": "Press image 1"
        },
		{
          "type": "image_picker",
          "id": "press_img_2",
          "label": "Press image 2"
        },
		{
          "type": "image_picker",
          "id": "press_img_3",
          "label": "Press image 3"
        },
		{
          "type": "image_picker",
          "id": "press_img_4",
          "label": "Press image 4"
        }
	],
	"presets": [
      {
        "name": "Press Tabs",
        "category": "Image",
        "settings": {
        },
        "blocks": []
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
	

{% endjavascript %}
