<section class="section pdp_section_2_0 product_notes_section">
    {%- if product.metafields.custom.product_notes != blank -%}
      {{- product.metafields.custom.product_notes -}}
    {%- endif -%}
</section>

{% schema %}
{
  "name": "Product Notes - PDP",
  "class": "shopify-section--rich-text pdp-product-notes",
  "settings": [],
  "presets": [
    {
      "name": "Product Notes - PDP",
      "settings": {}
    }
  ]
}
{% endschema %}