<style>
  .shopify-section.shoppable_cards {
    background: #F2F2F2;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
  @media (max-width: 991px){
    .shopify-section.shoppable_cards {
        padding: 2rem 1rem;
    }
  }

  @media (max-width: 767px){
    .shopify-section.shoppable_cards{ padding-right: 0px;}
  }
</style>
<div>
  {% render 'quinn-cards' layer: section.settings.layer_number %}
</div>

{% schema %}
{
  "name": "Quinn Cards",
  "class": "shoppable_cards container",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "layer_number",
      "label": "Layer Number",
      "options": [
         {
          "value": "1",
          "label": "Layer 1"
        },
        {
          "value": "2",
          "label": "Layer 2"
        },
        {
          "value": "3",
          "label": "Layer 3"
        },
        {
          "value": "4",
          "label": "Layer 4"
        },
        {
          "value": "5",
          "label": "Layer 5"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Quinn Cards"
  }]
}
{% endschema %}