<div class="container cf">
   <div class="page-header cf">
      <h1 class="majortitle">{{ page.title }}</h1>
   </div>
   <div class="user-content row-spacing">
      <div class="referral-page text-center order" style="background-color: black;">
         {%- if customer and customer.orders_count > 0 -%}
         {%- assign customer_email = customer.email -%}
         {%- assign customer_fname = customer.first_name -%}
         {%- else -%}
         {%- assign customer_email = "" -%}
         {%- assign customer_fname = "" -%}
         {%- endif -%}
         <iframe id="myFrame" style="max-width: 100%;" width="100%" height="100%" frameborder="0" align="middle" src="https://www.ref-r.com/campaign_user/p?brandid=32781&amp;campaignid=27406&amp;bid_e=CB87921F5B593A3A43B94758A6B88978&amp;t=420&amp;email={{customer_email}}&fname={{customer_fname}}"></iframe>
      </div>
      {% if customer and customer.orders_count == 0 %}
      <div class="referral-page text-center no-order" style="background-color: black;">
         <section class="main-container">
            <section class="logo text-center">
               <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/share-your-love-for-boAt.png?v=1615887901">
            </section>
            <section class="col d-flex flex-wrap col-rev">
               <div class="w-50 align-end">
                  <div class="textBlock">
                     <h1>Invite your <span>friends</span> &amp; Earn <span>₹100 every time</span></h1>
                  </div>
                  <div class="d-flex justify-between pd-20 flex-wrap">
                     <div class="gray-block">
                        <h3>You Get</h3>
                        <div class="">
                           <img src="https://clientcdn.notifyvisitors.com/boat/coins.png"> <span>₹100</span>
                        </div>
                     </div>
                     <div class="gray-block">
                        <h3>You Friend Gets</h3>
                        <div class="">
                           <img src="https://clientcdn.notifyvisitors.com/boat/coins.png"> <span>₹100</span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="w-50">
                  <img src="https://clientcdn.notifyvisitors.com/boat/people.png" class="w-100">
               </div>
            </section>
            <section class="w-100 center_div">
               <section>
                  <div class="col pd-0">
                     <div class="col wrapper mr-3 form-details">
                        <p>The referral program is open to only existing boAt Lifestyle users who have placed an order through the website or app before. Over 65000 boAtheads have earned over 80 lac rupees with the boAt Referral Program. Refer now.</p>
                     </div>
                  </div>
               </section>
               <section class="grayBg howitworks">
                  <h2 class="headingClass text-center">How Referral Works</h2>
                  <img src="https://clientcdn.notifyvisitors.com/boat/steps.png">
                  <a class="tncClass" href="javascript:void(0)">*T&C Apply</a>
               </section>
               <section class="grayBg faq">
                  <h2 class="headingClass text-center">FAQs</h2>
                  <div class="accordion accordionDiv d-flex">
                     <h3>What is the boAt Referral Program?</h3>
                  </div>
                  <div class="panel">
                     <div class="panel-inner">
                        The boAt Referral program is an exciting way for you to earn rewards on boAt products, by sharing your love of boAt with your friends. You both get Rs.100 off when your friend makes their first purchase.
                     </div>
                  </div>
                  <div class="accordion accordionDiv d-flex">
                     <h3>Who can share the Referral code?</h3>
                  </div>
                  <div class="panel">
                     <div class="panel-inner">
                        If you're an existing user on boAt, ie. have placed an order before, you're eligible to share your unique link with your friends.
                     </div>
                  </div>
                  <div class="accordion accordionDiv d-flex">
                     <h3>How to refer someone to boAt?</h3>
                  </div>
                  <div class="panel">
                     <div class="panel-inner">
                        <span>1. Log into your boAt account.</span>
                        <span>2. Go to the referral section. </span>
                        <span>3.  Share your referral link with your friend via whatsapp, email, or facebook.</span>
                     </div>
                  </div>
                  <div class="accordion accordionDiv d-flex">
                     <h3>How can I avail the discount code shared by my friend?</h3>
                  </div>
                  <div class="panel">
                     <div class="panel-inner">
                        Simply apply your unique code during checkout to avail your discount.
                        <span style="margin: 15px 0px;">I shared my code with a friend. When will I receive my discount? You will receive your Rs.100 off discount code via email, 10 days after your friend completes their first purchase on <a style="color: #ff0000;" href="https://www.boat-lifestyle.com" target="_blank">www.boat-lifestyle.com</a>.
                        </span>
                        However, if your friend has cancelled their order, the code won’t be sent to you.
                     </div>
                  </div>
                  <div class="accordion accordionDiv d-flex">
                     <h3>Where is the Referral discount applicable?</h3>
                  </div>
                  <div class="panel">
                     <div class="panel-inner">The referral discount is only applicable for purchases on <a style="color: #ff0000;" href="https://www.boat-lifestyle.com" target="_blank">www.boat-lifestyle.com</a> or the boAt mobile app.</div>
                  </div>
                  <div class="accordion accordionDiv d-flex">
                     <h3>What is the minimum order value?</h3>
                  </div>
                  <div class="panel">
                     <div class="panel-inner">The discount will be applicable on minimum order of Rs.299.</div>
                  </div>
               </section>
            </section>
         </section>
         <!-- Footer Div -->
      </div>
      {% endif %}
   </div>
</div>
<style>
   #content {margin-top: 0px;padding-bottom: 0px;width: 100%;}
   #content .container.cf {padding:0!important;}
   body{background-color:black;}
   .majortitle {color: #fff;display: none;}
   a:hover {text-decoration: none;}
   .referral-page iframe {min-height: 1850px;}
   @media screen and (max-width: 767px) {
   .referral-page iframe {min-height: 1850px;}
   }
</style>
{% if customer and customer.orders_count == 0 %}
<style>
   .page-header, .referral-page.order {display: none;}
   .themeCol{
   color: #ffffff;
   }
   .no-order #footer {
   padding: 25px 0 30px;
   }
   /* Checkbox Css */
   .themeCol, .custom-checkbox .custom-control-input:checked~.custom-control-label::before, .custom-control-input:checked~.custom-control-label::before {
   background-color: #000000;
   }
   .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
   content: '\2713';
   font-weight: bold;
   color: #ffffff;
   font-size: 10px;
   left: 4px;
   }
   /* end */
   body{
   background: #1a1a1a;
   font-family: 'Montserrat', sans-serif;
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content: center;
   line-height: 1.42857143;
   }
   .btn{
   border-radius : 3px;
   }
   .no-order #footer, .no-order #footer a {
   color : #AAA;
   }
   .remember_me{
   text-align: left;
   font-size: 11px;
   font-weight: 100;
   color: #989898;
   }
   .remember_me input{
   height: 10px;
   }
   .form-input{
   margin: auto;
   width: 90%;
   height: 45px;
   padding: 18px 24px;
   font-size: 14px;
   border-radius: 20px;
   background-color: #fff;
   border: 1px solid #363636;
   color: #000;
   }
   .desktop{
   position: absolute; right: 0; top: 0;
   }
   .no-order .heading{
   font-family: 'Montserrat', sans-serif;
   }
   .no-order .heading h3{
   font-size: 17px;
   font-weight: 500;
   color: #167b75;
   line-height: 1.42857143;
   }
   .sub-text{
   font-size: 15px; margin: 3px 20px;
   }
   .form-details{
   padding: 50px 0 40px;
   background: #2e2e2e;
   width: 100%;
   margin: auto;
   border-radius: 10px;
   box-shadow: 0px 0px 10px #494949;
   color: #fff;
   }
   #enter {
   margin: auto !important;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 80%;
   }
   .submit{
   display: inline-block;
   padding: 5px 20px;
   color: #363636;
   border-radius: 20px;
   position: relative;
   font-size: 14px;
   font-family: 'Montserrat', sans-serif;
   width: 180px;
   height: 45px;
   font-weight: 800;
   }
   .no-order #footer{
   margin: 0;
   text-align: center;
   }
   .form-input {
   width: 33%;
   margin: 0;
   }
   .rememberMe {
   width: 96%;
   margin: auto;
   }
   .center_div {
   margin-top: 40px;
   }
   .no-order .w-100 {
   width: 100%;
   }
   .no-order .w-50 {
   width: 50%;
   }
   .form-input:focus{border-color:#ece9eb; outline:none; box-shadow:none;}
   .title-class {
   font-weight: 600;
   font-size: 28px;
   }
   .no-order .logo img{
   width: 500px;
   margin: 40px auto;
   }
   .textBlock h1 {
   color: #fff;
   font-size: 55px;
   font-weight: 900;
   text-align: left;
   }
   .textBlock h1 span {
   color: #ff0000;
   }
   .justify-between {
   justify-content: space-between;
   }
   .gray-block {
   color: #fff;
   background: #2e2e2e;
   width: 48%;
   padding: 20px 20px;
   border-radius: 10px;
   margin-top: 50px;
   text-align: left;
   }
   .gray-block img {
   width: 30px;
   }
   .gray-block span{
   font-size: 32px;
   font-weight: bold;
   color: #ff0000;
   margin-left: 10px;
   }
   .pd-20 {
   padding-right: 20px;
   }
   .align-end {
   align-self: flex-end;
   }
   .grayBg {
   background: #2e2e2e;
   width: calc(100% - 30px);
   margin: 40px auto;
   padding: 50px 0;
   border-radius: 10px;
   box-shadow: 0px 0px 5px #494949
   }
   .headingClass {
   color: #fff;
   font-weight: 600;
   margin-bottom: 30px;
   font-size: 30px;
   }
   .tncClass {
   color: #e6e6e6;
   display: block;
   text-align: right;
   font-size: 13px;
   font-weight: 500;
   width: 80%;
   margin: 30px auto 0;
   }
   .howitworks img {
   width: 80%;
   margin: auto;
   display: block;
   }
   .accordionDiv {
   color: #ffffff;
   cursor: pointer;
   padding: 12px;
   width: 80%;
   border: none;
   border-radius: 0;
   text-align: left;
   outline: none;
   transition: 0.4s;
   margin: 0px auto 0px;
   font-weight: 600;
   position: relative;
   }
  .accordionDiv h3 {margin: 5px 0;}
   .accordionDiv h3, .gray-block h3 {
   font-size: 16px;
   color: #fff;
   font-weight: 500;
   }
   .gray-block h3 {margin:0!important;}
   .accordionDiv:after {
   content: '\002B';
   color: #ababab;
   font-weight: 500;
   position: absolute;
   right: 5px;
   font-size: 22px     
   }
   .accordionDiv.active:after {
   content: "\2212";
   }      
   .text-right{
   text-align: right;
   }
   .panel {
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
   border: none;
   font-size: 14px;
   position: relative;
   background: transparent;
   width: 80%;
   margin: auto;
   color: #fff;
   border-bottom: 1px solid #ababab;
   border-radius: 0;
   }
   .panel-inner{
   padding: 10px 15px 20px;
   color: #e6e6e6;
   line-height: 25px;
   text-align: left;
   }
   .panel-inner span {
   display: block;
   }
   .footerDiv  {
   background: #1a1a1a;
   }
   .form-input {width: 25%;}
   #l_mobile{width: 100%;}
   .w-25 {
   width: 25%;
   }
   .rememberMe{display:none;}
   @media only screen and (max-width: 1100px){  
   .w-50 {width:100%!important;}
   .flex-wrap {flex-direction: column-reverse;}
   .textBlock h1 {font-size: 2em;margin-top: 20px;text-align: left;}
   .gray-block {width: 100%;margin-top: 10px;}
   .accordionDiv {padding: 12px 10px 0;}
   .panel, .accordionDiv {width: 90%;}
   .pd-20 {padding-right: 0;}
   .accordionDiv h3 {font-size: 15px!important;margin-top:0!important;}
   }
</style>
<script> 
   if((/Mobile/i.test(navigator.userAgent))){
   document.querySelector(".howitworks > img").src = 'https://clientcdn.notifyvisitors.com/boat/steps-mobile.png';
   }
         
           var acc = document.getElementsByClassName("accordion");
           var i;
   
           for (i = 0; i < acc.length; i++) {
               acc[i].addEventListener("click", function() {
                   this.classList.toggle("active");
                   var panel = this.nextElementSibling;
                   if (panel.style.maxHeight) {
                   panel.style.maxHeight = null;
                   } else {
                   panel.style.maxHeight = panel.scrollHeight + "px";
                   } 
               });
   //                 acc[i].click();
           }
      
       
</script>
{% endif %}

<script>


var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

    if (sParameterName[0] === sParam) {
            return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
    return "";
};
var iremail = getUrlParameter('email');
var irname = getUrlParameter('fname');
console.log(iremail, irname);
  {% assign customer = 'true' %}
  {% assign orders.count = 1 %}
  var irmobile = '';
var ircustom = '';
  if (iremail !== "" && irname !== "") {
    var ifrm = document.createElement("iframe");
    ifrm.setAttribute("src", "https://www.ref-r.com/campaign_user/p?brandid=32781&campaignid=27406&bid_e=CB87921F5B593A3A43B94758A6B88978&t=420&email=" + iremail + '&fname='  + irname + '&mobile='  + irmobile + '&customValue='  + ircustom + '');
    document.getElementById('myFrame').src = ifrm.src; 
  }
</script>  

{% schema %}
  {
    "name": "Referral Page",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
