<style>
  #shopify-section-{{ section.id }} {
  }
</style>

<section class="section ">
  <div class="container">
    <div class="section__color-wrapper">
      <div class="">
        <div class="content-box">
          {%- if section.settings.content != blank -%}
            {{- section.settings.content -}}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Rich text PDP",
  "class": "shopify-section--rich-text",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ],
  "presets": [
    {
      "name": "Rich text PDP",
      "settings": {}
    }
  ]
}
{% endschema %}