<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick.min.js"></script>


<div class="container cf">
  <div class="page-header cf">
    <h1 class="majortitle">{{ page.title }}</h1>
  </div>
  <div class="user-content row-spacing">
    
<div class="rock_india">
<div class="main-banner only-desktop"><a href="https://www.boat-lifestyle.com/collections/rock-in-india"> <img style="display: block;" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Make_india_web.jpg" /> </a></div>
<div class="main-banner mobile-only"><a href="https://www.boat-lifestyle.com/collections/rock-in-india"> <img style="display: block;" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Make_india_mob.jpg" /> </a></div>
<div class="rock_scnd" style="background: url('https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Black_bg-full.jpg'); text-align: center; background-size: cover; background-repeat: no-repeat; align-items: center; line-height: normal; padding: 30px 30px;">

  <div class="rock_india_gif text-center">
    <div class="rock_prod">
      <div class="rock_pics">
  <img class="bottom" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Red-2.png" />
      </div>
        
    </div>
    <div class="rock_prod">
      <div class="rock_pics">
  <img class="top" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Red-1.png" />
      </div>
        
    </div>
    </div>
  <div class="rock_india_txt">
<h2 class="text-white"> Get UPTO 40% OFF on <br /> all Make In India models.</h2>
<a href="https://www.boat-lifestyle.com/collections/rock-in-india">SHOP NOW</a></div>

  
</div>
<div class="rock_thrd" style="background: url('https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Red-full-bg.jpg'); text-align: center; background-size: cover; background-repeat: no-repeat; align-items: center; line-height: normal; padding: 30px 30px;">
<div class="rock_india_gif-scnds text-center">
    <div class="rock_prod">
      <div class="rock_pics">
  <img class="bottom" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Black-1.png" />
      </div>
        
    </div>
    <div class="rock_prod">
      <div class="rock_pics">
  <img class="top" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Black_2_28bc05b5-67d8-40c1-a0e3-1933f5f90aeb.png" />
      </div>
        
    </div>
    </div>
<div class="rock_india_code"><span class="rock_apply ones">APPLY CODE</span> <span class="rock_apply twos">ROCKINDIA</span>
<div class="rpck_cta"><a href="https://www.boat-lifestyle.com/collections/rock-in-india">SHOP NOW</a></div>
</div>
</div>
<div class="rock_foot text-center">
<h1 class="text-white">Give your loved ones the gift of boAt!</h1>
</div>
</div>
  </div>
</div>

<style>
    .majortitle, .page-header.cf {
    display: none;
}

#content .container {
    padding: 0;
    max-width: 2000px;
}
#content {
    margin-top: 0px;
    padding-bottom: 0px;
}
.rock_foot {
    background-color: #000;
}
.rock_foot h1 {
    margin: 0;
    padding: 25px 10px;
}
.rock_india_txt {
    margin-bottom: 40px;
}
.rock_india_txt h2 {
    line-height: 40px;
    margin-bottom: 30px;
    font-size: 30px;
    margin-top:0;
}

.rock_india_txt a, .rock_india_code a {
    height: 50px;
    text-align: center;
    color: #fff;
    border-radius: 2em;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    display: block;
    width: 250px;
    line-height: 50px;
}

.rock_india_txt a {
    background: #ff0000;
}
.rock_india_code a {
    background: #000;
}

.rock_apply {
    font-weight: 700;
    font-size: 22px;
    padding: 0 30px;
    display: inline-block;
    vertical-align: middle;
    height: 50px;
}

.ones {
    background: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    line-height: 50px;
}

.twos {
    border: 2px solid #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -5px;
    color: #fff;
    line-height: 47px;
}
.rpck_cta {
    display: block;
    height: 50px;
    line-height: 50px;
    margin-top: 25px;
}

.rock_india_gif {
    position: relative;
}

.rock_india_gif img , .rock_india_gif-scnds img {
    max-width: 600px;
    margin:auto;
}
  .rock_india_code {
    margin: 30px 0;
}


@media only screen and (max-width:767px) {

    .rock_india_txt h2 {
    line-height: 30px;
    font-size: 20px;
}
  
  .rock_india_txt h2 br {
    display:none;
  }
  
.rock_foot h1 {
    font-size: 18px;
}
.rock_apply {
    font-weight: 700;
    font-size: 17px;
    padding: 0 9px;
}
  
  .rock_india_gif img , .rock_india_gif-scnds img {
  max-width:100%;
  }

}
</style>

<script>
  $(document).ready(function(){
   
  $('.rock_india_gif').slick({
    autoplay: true,
    autoplaySpeed: 400,
    arrows: false,
    dots: false,
    infinite: true,
    fade: true,
    speed: 400,
    slidesToShow: 1,
    adaptiveHeight: true
});
    
    $('.rock_india_gif-scnds').slick({
    autoplay: true,
    autoplaySpeed: 400,
    arrows: false,
    dots: false,
    infinite: true,
    fade: true,
    speed: 400,
    slidesToShow: 1,
    adaptiveHeight: true
});
    });
</script>

{% schema %}
  {
    "name": "Rock In India",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
