{{ 'st.css' | asset_url | stylesheet_tag }}
<script src="{{ 'st.js' | asset_url }}" defer></script>


{% raw %}

	<div class="st-autocomplete-container"></div>
    <div class="st-search-container"></div>
{% endraw %}
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
