{{ 'st.css' | asset_url | stylesheet_tag }}
<script src="{{ 'st.js' | asset_url }}" defer></script>


{% raw %}

	<div class="st-autocomplete-container"></div>
<!--     <div class="st-search-container"></div> -->
{% endraw %}

{% if template contains 'search' %}
<script type="text/javascript">
  let url = window.location.href;
  var term = url.split('=')[1].replaceAll('%20', ' ');
  clevertap.event.push("Search Page Visited", {
    "Page Url": url,
    "Search Term": term
  });
</script>
{% endif %}

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
