<!-- {{ 'st.css' | asset_url | stylesheet_tag }} -->
<link rel="alternate stylesheet" href="{{ 'st.css' | asset_url }}" title="styles" as="style" onload="this.title='';this.rel='stylesheet'">
<script src="{{ 'st.js' | asset_url }}" defer></script>


{% raw %}
    <div class="st-search-container"></div>
	<div class="st-autocomplete-container"></div>

{% endraw %}
 
<!-- End of SearchTap -->
{% if template contains 'search' %}
<script type="text/javascript">
  let url = window.location.href;
  var term = url.split('=')[1].replaceAll('%20', ' ');
  clevertap.event.push("Search Page Visited", {
    "Page Url": url,
    "Search Term": term
  });
  
  if($('.st-no-results').length) {
  	console.log('TRUE')
  }
</script>
{% endif %}
{% schema %}
  {
    "name": "searchtap",
    "settings": []
  }
{% endschema %}
