<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js" defer></script>
<div class="container cf">
    <div class="page-header cf">
        <h1 class="majortitle">Service Center List</h1>
      </div>
      <div class="row">
        <div class="user-content row-spacing">
          <div class="faqs-section">
              <div class="faq-block" id="delhi">
                  <p class="accordion">Delhi NCR</p>
                  <div class="panel"></div>
              </div>
            <div class="faq-block" id="punjab">
              <p class="accordion">Punjab</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="up">
              <p class="accordion">Uttar Pradesh</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="wb">
              <p class="accordion">West Bengal</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="haryana">
              <p class="accordion">Haryana</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="bihar">
              <p class="accordion">Bihar</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="gujarat">
              <p class="accordion">Gujarat</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="rajasthan">
              <p class="accordion">Rajasthan</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="jammu">
              <p class="accordion">Jammu & Kashmir</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="maharashtra">
              <p class="accordion">Maharashtra</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="telangana">
              <p class="accordion">Telangana</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="karnataka">
              <p class="accordion">Karnataka</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="tn">
              <p class="accordion">Tamil Nadu</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="kerala">
              <p class="accordion">Kerala</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="jharkhand">
              <p class="accordion">Jharkhand</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="odisha">
              <p class="accordion">Odisha</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="mp">
              <p class="accordion">Madhya Pradesh</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="ap">
              <p class="accordion">Andhra Pradesh</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="uk">
              <p class="accordion">Uttarakhand</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="chandigarh">
              <p class="accordion">Chandigarh</p>
              <div class="panel"></div>
            </div>
            <div class="faq-block" id="chattisgarh">
              <p class="accordion">Chattisgarh</p>
              <div class="panel"></div>
            </div>
          </div>
      </div>
      </div>
      <div class="page-header-row">
        <p>
          <strong>Please Note: </strong>Service centers will remain shut on Sundays and National holidays.
        </p>
      </div>
  </div>
  
  <style>
    #content .container {padding: 0;max-width: 2000px;width: 100%;}
    .user-content {max-width: 1200px;margin: auto;display: flex;justify-content: space-around;}
    .page-header-row {max-width: 92%;margin: auto;line-height: normal;}
    .page-header-row p {margin-bottom: 5px;}
    .faqs-section {margin: 20px;width:100% !important;display: flex;
      flex-wrap: wrap;
      column-gap: 20px;
      align-items: flex-start;}
    .faq-block {box-shadow: 0 0 10px #ccc;margin-bottom: 20px;width:49%;}
    .accordion {
      box-sizing: border-box;
      background: #fff;
      color: #444;
      cursor: pointer;
      padding: 15px 35px 12px 18px;
      width: 100%;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
      border: none;
    /*   border-bottom: 1px solid transparent;  */
      font-weight: bold;
      margin-bottom: 0;
      position: relative;
      line-height: normal;
    }
    .accordion:focus {outline: 0;}
    .accordion.active {background: #000;color: #fff; }
    .accordion:after {
      content: '\002B';
      color: #ea2127;
      font-weight: bold;
      font-size: 20px;
      float: right;
      margin-left: 5px;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
    .accordion.active:after {content: "\2212";color: #fff;}
    .panel {
      padding: 0 18px;
      background-color: white;
      display: none;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      font-size: 14px;
    }
    .panel p {margin-top: 20px;line-height: 1.5;}
    .panel a {text-decoration: none;}
    .panel a:hover {color: #ea2127;}
    .page-header {
        margin-bottom: 20px;
        width: 100%;
    }
    address {font-style: italic;line-height: normal;}
    .service-centers .user-content {
      width: 90% !important;
      max-width: 90% !important;
    }
      @media screen and (max-width: 767px) {
        .accordion{font-size: 14px;}
        .faqs-section{padding: 0 15px;max-width: 100%;margin: 0;}
        #store-messages-mobile{padding: 0;}
        .accordion:after{right: 8px;}
        .user-content {flex-direction: column;}
        .page-header-row {margin: 0 auto 30px;line-height: 1.3;}
        .faq-block ul {margin-left: 1em;}
        .faq-block ul li {word-break: break-word;}
        .faq-block {width:100%;}
    }
    .panel section {
        padding: 16px;
        margin-top: 12px;
        box-shadow: 0 0 4px #949494;
      }
    
      .panel section:first-child {
        margin-top: 0;
      }
    
      .faq-block .panel {
        padding: 0 !important;
      }
    
      .row {
        justify-content: space-evenly;
      }
    
      .faqs-section {
        max-width: 100% !important;
        width: 100% !important;
      }
    
      .user-content {
        margin: inherit !important;
      }
    
      @media(max-width:786px) {
        .faqs-section {
          width: 90vw !important;
        }
      }
  </style>
  
  <script>
    $(document).ready(function () {
      $("p.accordion").click(function () {
        $(this).toggleClass("active");
        $(this).next("div.panel").slideToggle();
        //     $(this).closest(".faq-block").siblings(".faq-block").find("p.accordion").removeClass("active");
        //     $(this).closest(".faq-block").siblings(".faq-block").find("div.panel").slideUp();
        //     $(this).closest(".faq-block").closest(".faqs-section").siblings(".faqs-section").find(".faq-block").find("p.accordion").removeClass("active");
        //     $(this).closest(".faq-block").closest(".faqs-section").siblings(".faqs-section").find(".faq-block").find("div.panel").slideUp();
      });
      $(".user-content ul").addClass("list-unstyled");
    });
  </script>
  <script>
    const fileUrl = '{{ page.metafields.page.service_center_list | file_url}}'';

    // Selecting Containers
    const containers = {
    punjab: '#punjab .panel',
    up: '#up .panel',
    delhi: '#delhi .panel',
    wb: '#wb .panel',
    haryana: '#haryana .panel',
    bihar: '#bihar .panel',
    gujarat: '#gujarat .panel',
    rajasthan: '#rajasthan .panel',
    jk: '#jk .panel',
    maharashtra: '#maharashtra .panel',
    telangana: '#telangana .panel',
    karnataka: '#karnataka .panel',
    tn: '#tn .panel',
    kerala: '#kerala .panel',
    jharkhand: '#jharkhand .panel',
    odisha: '#odisha .panel',
    mp: '#mp .panel',
    ap: '#ap .panel',
    uk: '#uk .panel',
    chandigarh: '#chandigarh .panel',
    chattisgarh: '#chattisgarh .panel'
    };

    // Fetching data from URL
    fetch(fileUrl)
    .then(response => response.arrayBuffer())
    .then(buffer => {
        const data = new Uint8Array(buffer);
        const workbook = XLSX.read(data, { type: 'array' });
        const sheetName = workbook.SheetNames[0];
        const sheet = workbook.Sheets[sheetName];
        const jsonData = XLSX.utils.sheet_to_json(sheet);
        const centersList = jsonData;

        // Function to filter data based on state
        function filterCentersByState(state, centersList) {
        return centersList.filter(center => center['State'].toLowerCase() === state);
        }

        // Function to show data on the page
        function showData(state, centersList, container) {
        centersList.forEach(center => {
            const address = center['Address'];
            const pincode = center['Pincode'];
            const centerName = center['SF/Vendor/Branch Name'];
            const city = center['City Name'];

            $(container).append(`
            <section class="new_address">
                <p>
                <strong>${city}, ${state}</strong>
                </p>
                <address>${centerName}, ${address} ${pincode}</address>
                <p>
                <strong>Customer Care:</strong> 9540525836
                </p>
            </section>
            `);
        });
        }

        // Iterate over containers and show data for each state
        Object.entries(containers).forEach(([state, container]) => {
        const filteredCenters = filterCentersByState(state, centersList);
        showData(state, filteredCenters, container);
        });
    })
    .catch(error => console.error('Error:', error));
</script>
  {% schema %} { "name": "Service Centers", "class": "service-centers",
  "settings": [] } {% endschema %} 
  