<script type="text/javascript">
$(".sale-btn").click(function () {
  alert()
    var e = document.getElementById("sale_email").value;
    "" !== e && /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(e)
        ? localStorage.getItem("userEmailIdSale") === e
            ? $(".form-group").append('<p class="aluser-msg-sale">You are already subscribed!!</p>')
            : (localStorage.setItem("userEmailIdSale", e),
              clevertap.onUserLogin.push({ Site: { Email: e, "MSG-email": !0 } }),
              clevertap.event.push("Subscribed for Sunburn", { Email: e, Source: "Sunburn Page" }),
              $("#saleModal .form-group").append('<p class="thankyou-msg-sale">Thank You for subscribing!</p>'))
        : $(".form-group").append('<p class="error-msg-sale">Please enter a valid email Id!</p>');
    setTimeout(function () {
        $(".error-msg-sale, .thankyou-msg-sale, .aluser-msg-sale").remove();
    }, 5e3);
});
</script>
<style>
  	  @media (max-width: 768px) {
        .main-content, .section-1{
        	width:100% !important;
        }
        .section-1 h3{
			    color: white;
                padding-bottom: 5vw;
                font-size: 3vw;
                width: 80%;
        }
        .section-1 img {height: unset !important;}
        
        .section-2 .box-1 .box-1-item1{
        	margin-left: 2vh;
        }
        
        .section-2 {
          padding-bottom: 5rem !important;
        }
        .section-2 .heading3 h1 {
          font-weight: 600 !important;
    	  font-size: 8vw !important;
    	  line-height: 1 !important;
        }
        .section-3 .heading4 h3 {
          font-weight: 600 !important;
    	  font-size: 6vw !important;
    	  line-height: 1 !important;
        }
        .section-2 .box-2 .box-2-item1 img {
          width: 100%;
          margin-left: 20vw;
          
      }
        .section-2 .box-2 .box-2-item1 img {
          width: 100%;
          margin-left: 0 !important;
          
      }
        .section-2 .box-1 .box-1-item2 img {
          width: 50vw !important;
        }
        .section-2 .box-1 .box-1-item1{
          padding-left: 5px !important;
          font-size: 4.5vw !important;
        }
        .section-2 .heading2 {
          font-size: 5vw !important;
    	  line-height: 8vw !important;
          
        }
        .section-2 .box-2 .box-2-item2 {
              bottom: 25% !important;
    left: 62% !important;
              font-size: 3.2vw;
        }
        .section-2 .box-3 .box-3-item3 {
          font-size: 4.5vw !important;
    	  right: 3vw !important;
    	  transform: translateY(-159%) !important;
        }
        .section-2 .heading h1 {
    	  font-size: 6vw !important;
    	  line-height: 7vw !important;
        }
        .section-2 .box-3{
        	margin-top: 5vw !important;
        margin-bottom: 20vw;
        }
        .section-2 .box-3 .box-3-item1 img{
        	width:100% !important;
          margin-top:0 !important;
        }
        .section-2 .box-3 .box-3-item2{
          transform: translate(0, -80vw) !important;
        }
        .section-2 .box-3 .box-3-item2 img{
        	width:20vw;
        }
        .section-3 .box-5{
          transform: translateY(-60%) !important;
        }
        .section-3 .box-4{
        	transform: translateY(-40%) !important;
        }
        .section-3 .heading4{
        	    margin: 10vw 0;
        }
        .section-3 button{
        	background-color: #c2427b !important;
          color: white !important;
          margin: 66vw 0 6vw 35vw  !important;
          /* margin-left: 37vw; */
          padding: 3vw;
          /* padding-top: 2vw; */
          border-top-left-radius: 5vw;
          border-top-right-radius: 5vw;
          border-bottom-left-radius: 5vw;
          border-bottom-right-radius: 5vw;
          width: 27vw !important;
          font-size: 3vw !important;
          text-transform: uppercase;
        }
        .section-2 .box-2 .box-2-item2 h4{
        	font-size:2.4vh;
        }
        .section-2 .box-2 .box-2-item2 p{
        	font-size: 1.7vh;
        }
        .section-3 .box-4 .box-4-item2 p, .section-3 .box-5 .box-5-item1 p, .section-3 .box-6 .box-6-item2 p, .section-3 .box-7 .box-7-item1 p{
        	font-size: 4.5vw !important;
        }
        .section-3 .box-4 .box-4-item1 img, .section-3 .box-5 .box-5-item2 img, .section-3 .box-6 .box-6-item1 img, .section-3 .box-7 .box-7-item2 img {
            width: 56vw !important;
            margin-top: 2rem;
        }
        .section-3 .box-5, .section-3 .box-7 {
            margin-left: 10px !important;
        }
        .section-3 .box-6 .box-6-item2 {
            padding-right: 10px !important;
        }
      }
        .container{
          background:black;
        }
        .main-content, .section-1{
          width:80%;
          margin:0 auto;
        }
  		
  
  	  p {
        line-height: 1;
      }
  	  #content {
        padding: 0;
        margin: 0;
      }
      .section-1{
        position:relative;
      }
      .section-1 img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    object-position: center;
      }
        .section-1 h3{
          color: white;
    padding-bottom: 5vw;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
         }
      .section-2 {
        background-image: url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Sunburn-bg_01.jpg?v=1645100466");
        background-size: cover;
        color: white !important;
        padding-bottom: 9rem;
      }
      .section-2 .heading {
        margin-top: -1rem;
        padding-top: 1rem;
        text-align: -webkit-center;
      }
      .section-2 .heading h3 {
        font-size: 2vw;
        font-weight: 500;
        margin-top: 0;
        color: white;
      }
      .section-2 .heading h1 {
        font-size: 4vw;
        line-height: 5vw;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 3rem;
        color: white;
      }
      .section-2 .box-1 {
        display: flex;
        justify-content: space-between;
      }
      .section-2 .box-1 .box-1-item1 {
        padding-left: 22vw;
        text-align: -webkit-right;
        font-size: 2.5vw;
        padding-top: 18vw;
      }
      .section-2 .box-1 .box-1-item1 h4 {
        color: #c2427b;
        text-transform: uppercase;
        font-weight: 400;
      }
      .section-2 .box-1 .box-1-item1 p {
        color: white;
      }
      .section-2 .box-1 .box-1-item1 p span {
        font-weight: 900;
      }
      .section-2 .box-1 .box-1-item2 img {
        width: 35vw;
      }
      .section-2 .heading2 {
        font-weight: 500;
        font-size: 3vw;
        text-transform: uppercase;
        color: #e6c400;
        text-align: -webkit-center;
        line-height: 5vw;
        margin-top:-16vw;
      }
      .section-2 .box-2{
          position: relative;
      }
      .section-2 .box-3{
            margin-top: -10vw;
      }
  		
        .section-2 .box-2-item1{
          	display:flex;
          	justify-content:center;
        }
  		
      .section-2 .box-2-item1 img{
        width:38vw;
      }

      .section-2 .box-2 .box-2-item2 {
          position: absolute;
          bottom: 10%;
    right: 2%;
          font-size: 2.5vw;
      }
      /* .section-2 .box-2 .box-2-item2 {
        padding-left: 40vw;
        text-align: -webkit-right;
        font-size: 2.5vw;
        padding-top: 18vw;
      } */
      .section-2 .box-2 .box-2-item2 h4 {
        color: black;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 0;
      }
      .section-2 .box-2 .box-2-item2 p {
        color: white;
        margin-top: 5px;
        font-weight: 500;
      }
      .section-2 .box-2 .box-2-item3 {
          position: absolute;
          bottom: -28%;
      }
      .section-2 .box-2 .box-2-item3 img {
          width: 12vw;
      }
      .section-2 .box-3 .box-3-item1 img {
    width: 55vw;
    margin-top: 11vw;
      }
      .section-2 .box-3 .box-3-item2 {
          position: absolute;
          transform: translate(-10vw, -64vw);
          right: 0;
      }
      .section-2 .box-3 .box-3-item2 img {
          width: 12vw;
      }
      .section-2 .box-3 .box-3-item3 {
          position: absolute;
          font-size: 2.5vw;
          right: 25vw;
          transform: translateY(-300%);
      }
      .section-2 .box-3 .box-3-item3 h4 {
        color: #e6c400;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 0;
      }
      .section-2 .box-3 .box-3-item3 p {
        color: white;
        margin-top: 5px;
        font-weight: 500;
      }
        .heading3{
              margin-top: -10vw;
        }
      .section-2 .heading3 h1 {
        font-weight: 500;
        font-size: 5vw;
        text-transform: uppercase;
        color: #c2427b;
        text-align: -webkit-center;
        line-height: 5vw;
        margin-bottom: 0;
      }
      .section-3 {
        background-image: url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Sunburn-bg_02.jpg?v=1645100485");
        background-size: cover;
        color: white;
      }
      .section-3 .box-4{
          display: flex;
          justify-content: space-between;
      }
      .section-3 .box-4 .box-4-item1 img {
          width: 40vw;
      }
      .section-3 .box-4 .box-4-item2 {
          font-size: 2.5vw;
          padding-right: 20vw;
          padding-top: 30vw;
      }
      .section-3 .box-4 .box-4-item2 h4 {
          color: #e6c400;
          text-transform: uppercase;
          font-weight: 500;
          margin-bottom: 0;
      }
      .section-3 .box-4 .box-4-item2 p {
          color: white;
          margin-top: 5px;
          font-weight: 500;
      }
      .section-3 .box-5 {
              display: flex;
    justify-content: space-between;
    position: absolute;
    transform: translateY(-30%);
    margin-left: 22vw;
      }
      .section-3 .box-5 .box-5-item1 {
        text-align: -webkit-right;
        font-size: 2.5vw;
        padding-top: 38vw;
        line-height: 1vw;
      }
      .section-3 .box-5 .box-5-item1 h4 {
        color: #c2427b;
        text-transform: uppercase;
        font-weight: 400;
      }
      .section-3 .box-5 .box-5-item1 p {
        color: white;
      }
      .section-3 .box-5 .box-5-item1 p span {
        font-weight: 900;
      }
      .section-3 .box-5 .box-5-item2 img {
        width: 35vw;
      }
      .section-3 .heading4 h3 {
        font-weight: 500;
    font-size: 3vw;
    text-transform: uppercase;
    color: #e6c400;
    text-align: -webkit-center;
    line-height: 5vw;
    margin-top: 43vw;
      }

      .section-3 .box-6{
          display: flex;
          justify-content: space-between;
      }
      .section-3 .box-6 .box-6-item1 img {
          width: 40vw;
      }
      .section-3 .box-6 .box-6-item2 {
          font-size: 2.5vw;
          padding-right: 35vw;
          padding-top: 30vw;
      }
      .section-3 .box-6 .box-6-item2 h4 {
          color: #e6c400;
          text-transform: uppercase;
          font-weight: 500;
          margin-bottom: 0;
      }
      .section-3 .box-6 .box-6-item2 p {
          color: white;
          margin-top: 5px;
          font-weight: 500;
      }
      .section-3 .box-7 {
              display: flex;
    justify-content: space-between;
    position: absolute;
    transform: translateY(-30%);
    margin-left: 23vw;
      }
      .section-3 .box-7 .box-7-item1 {
        text-align: -webkit-right;
        font-size: 2.5vw;
        padding-top: 38vw;
        line-height: 3.5vw;
      }
      .section-3 .box-7 .box-7-item1 h4 {
        color: #c2427b;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 0;
      }
      .section-3 .box-7 .box-7-item1 p {
        color: white;
      }
      .section-3 .box-7 .box-7-item1 p span {
        font-weight: 900;
      }
      .section-3 .box-7 .box-7-item2 img {
        width: 35vw;
      }
      .section-3 button {
          background-color: #c2427b;
            color: white;
            margin: 55vw 0 10vw 30vw;
            padding: 1vw 2vw;
            border-top-left-radius: 5vw;
            border-top-right-radius: 5vw;
            border-bottom-left-radius: 5vw;
            border-bottom-right-radius: 5vw;
            width: max-content;
            font-size: 2vw;
            text-transform: uppercase;
      }
  #saleModal {z-index: 9999;background: #00000096;padding: 0 !important;}
  #saleModal .modal-dialog{top: 20%;}
  #saleModal .close {
  	position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #EB1C24;
    color: #fff;
    line-height: 30px;
    font-weight: normal;
    opacity: 1;
  }
  .error-msg-sale, .thankyou-msg-sale, .aluser-msg-sale {
  	text-align: center;
    margin: 0;
    font-size: 12px;
    color: #fff;
    opacity: .8;
  }
  #saleModal .close:focus {outline: none;border:0;}
  #saleModal img {display:block;}
  #saleModal .modal-content {border:0;}
  .modal-form {background: #000;}
  #saleModal input {
  	border: 1px solid #ccc;
    background: transparent;
    color: #ccc;
    margin-right: 4px;
  }
  #saleModal input::-webkit-input-placeholder {color: #ccc;}
  #saleModal .sale-btn:hover {background: #EB1C24!important;}
  body.modal-open {padding-right: 0!important;}
      @media screen and (min-width: 769px) {
          .main-content h4 {font-size: 40px;}
          .box-5-item2 {position: relative;right: .5%;}
      }
  @media screen and (max-width: 600px) {
  	#saleModal .modal-dialog{top: 25%;}
  }
</style>
	<div align="center" class="section-1">
        <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Main-banner_new.jpg?v=1645185090" />
        <h3>
            What happens when Asia's biggest audio festival meets India's
            biggest audio brand?<br />A musical madness that we are certainly
            here for!
          </h3>
      </div>
<div class="main-content">
      

      <div class="section-2">
        <div class="heading">
          
          <h1>Find a new way <br />to rock n' rolla</h1>
        </div>
        <div class="box-1">
          <div class="box-1-item1">
            <h4>Rockerz 550</h4>
            <p>
              <span>50mm Drivers</span> for<br />
              thumping bass
            </p>
          </div>
          <div class="box-1-item2">
              <a href="https://www.boat-lifestyle.com/products/boat-rockerz-550-sunburn-edition">
                <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Rockerz_550_2.png?v=1645096105" />
              </a>
          </div>
        </div>
        <div class="heading2">Make way for bangin'<br />good vibes</div>
        <div class="box-2">
          <div class="box-2-item1">
            <a href="https://www.boat-lifestyle.com/products/boat-bassheads-152-sunburn-edition">
            <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/BH_152.png?v=1645096105" /></a>
          </div>
          <div class="box-2-item2">
            <h4 style="color:#0F051B">Bassheads 152</h4>
            <p>
              Undeniably<br />
              ergonomic design
            </p>
          </div>
          <div class="box-2-item3">
            <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Compound_Shape_bassheads_152.png?v=1645096104" />
          </div>
          </div>
          <div class="box-3">
              <div class="box-3-item1">
                <a href="https://www.boat-lifestyle.com/products/boat-bassheads-172-sunburn-edition">
                  <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/BH172_4d94ab71-12e1-4e09-8be1-86459c8d85a5.png?v=1645096105"></a>
              </div>
              <div class="box-3-item2">
                
                <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Compound_Shape_BH_172.png?v=1645096105">
            </div>
            <div class="box-3-item3">
                <h4>Bassheads 172</h4>
                <p>
                Premium<br />
                metallic finish
                </p>
            </div>
          </div>
          <div class="heading3">
            <h1>Dope Vibes,<br />Dope Sounds</h1>
          </div>
        </div>
        <div class="section-3">
            <div class="box-4">
                <div class="box-4-item1">
                    <a href="https://www.boat-lifestyle.com/products/boat-airdopes-381-sunburn-edition">
                    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Airdopes_381.png?v=1645096105"></a>
                </div>
                <div class="box-4-item2">
                    <h4>Airdopes 381</h4>
                <p>
                Immersive audio<br />
                experience
                </p>
                </div>
            </div>
            <div class="box-5">
                <div class="box-5-item1">
                  <h4>Airdopes 441</h4>
                  <p>
                    Insta wake n' pair
                  </p>
                </div>
                <div class="box-5-item2">
                    <a href="https://www.boat-lifestyle.com/products/boat-airdopes-441-sunburn-edition">
                  <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Airdopes_441.png?v=1645096105" /></a>
                </div>
              </div>
              <div class="heading4">
                <h3>
                    Bring your music to life
                </h3>
              </div>
              <div class="box-6">
                <div class="box-6-item1">
                    <a href="https://www.boat-lifestyle.com/products/boat-stone-1200-sunburn-edition">
                    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Stone_1200_3f4b7c69-e1f1-413e-a9a2-edd791fe1818.png?v=1645096105"></a>
                </div>
                <div class="box-6-item2">
                    <h4>Stone 1200</h4>
                <p>
                HD boAt <br />
                signature sound
                </p>
                </div>
            </div>
            <div class="box-7">
                <div class="box-7-item1">
                  <h4>Stone 1200F</h4>
                  <p>
                    Powerful passive<br>bass radiator
                  </p>
                </div>
                <div class="box-7-item2">
                    <a href="https://www.boat-lifestyle.com/products/boat-stone-1200f-sunburn-edition">
                  <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Stone_1200F.png?v=1645096105" /></a>
                </div>
              </div>
          <a href="https://www.boat-lifestyle.com/collections/boat-x-sunburn">
           <button data-toggle="modal" id="saleModalBtn" data-target="#saleModal" class="notify-btn">explore more</button> 
    </div>
      </div>
    </div>


{% schema %}
  {
    "name": "Sunburn",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
