<div class="container cf">
  <div class="page-header cf">
    <h1 class="majortitle">{{ page.title }}</h1>
  </div>
  <div class="user-content row-spacing">
    {{ page.content }}
  </div>
</div>

<style>
      #content {
        margin-top: 0px;
        padding-bottom: 0px;
      }
      #content .container {
        padding: 0;
        max-width: 100%;
      }
      body {
        background-color: black !important;
        overflow-x: hidden;
        box-sizing: border-box;
      }
      .bold {
        font-weight: bold;
      }
      .extra-bold {
        font-weight: 900;
      }
      .text-red {
        color: #ed1c24;
      }
      .wearablesApp-page {
        margin: auto;
      }
      .wearablesApp-page img {
        max-width: 100%;
        width: auto;
        display: block;
        margin: auto;
      }
      .wearablesApp-page .row {
        margin: 0 auto;
        padding: 30px 15px;
        align-items: center;
      }
      .majortitle,
      .page-header.cf {
        display: none;
      }
      .wearablesApp-page a:hover {
        text-decoration: none;
      }
      .text-center {
        text-align: center;
      }
      .topBanner {
        padding: 30px 12px;
        background: #ed1c24;
        border-radius: 20px;
        position: relative;
      }
      .absoluteP {
        position: absolute;
        bottom: 0px;
        left: 20px;
        width: auto;
        text-align: left;
      }
      .dowloadAppStore {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        max-width: 310px;
        margin: auto;
      }
      .dowloadAppStore img {
        max-width: 150px;
      }
      .topBannerHeading h2 {
        font-size: 65px;
      }
      .activitiesTracker h3,
      .fullwidthSection h3 {
        font-size: 52px;
      }
      .sectionTitle h4,
      .fullwidthSection p.text-red {
        font-size: 33px;
      }
      .textSection,
      .sectionTitle p,
      .fullwidthSection .sectionPara {
        font-size: 25px;
        line-height: 1.5;
      }
      .downloadAppContainer h3,
      .bottomDownloadSection h4 {
        font-size: 23px;
      }
      .activitiesTracker,
      .fullwidthSection {
        background: #1a1a1a;
      }
      .faqs {
        background: #fff;
        padding: 12px 20px;
        font-size: 20px;
        border-radius: 2em;
        max-width: 380px;
        margin: auto;
        position: relative;
        cursor: pointer;
      }
      span.arrowRight {
        position: absolute;
        right: 21px;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
      }
      span.arrowRight img {
        max-width: 10px;
        width: 100%;
      }
      .modeSectionTwo .bgRed {
        background: #ed1c24;
        align-items: center;
        justify-content: center;
      }
      .bottomDownloadSection {
        background-color: white;
      }
      .border-shadow {
        border-radius: 20px;
        box-shadow: 6px 5px 2px #0000003b;
      }
      .col-12.sectionPara {
        max-width: 900px;
        margin: 0 auto 30px;
      }
      .imageSection {
        position: relative;
        bottom: -30px;
      }
      .nav-tabs.noBorder {
        border-bottom: 0 !important;
        margin: 0;
        display: flex;
      }
      .nav-tabs li {
        list-style-type: none;
        margin: 0 10px 0 0;
      }
      .nav-tabs li a {
        max-width: 90px;
        margin: 20px 0px;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        display: block;
        transition: all 0.3s ease-in-out;
        background-color: #000;
      }
      .nav-tabs li a.active {
        border-color: #ff0000;
      }
      .nav-tabs li a img {
        max-width: 50px;
      }
      .outOfArea {
        position: absolute;
        bottom: 0;
        left: 25px;
        font-size: 25px;
      }
      .activitiesTracker .rowSecond {
        position: relative;
      }
      .activitiesTracker .rowSecond .col-lg-6,
      .activitiesTracker .imageSection {
        position: static;
      }
      .activitiesTracker .imageSection img,
      .modeSection .imageSection img {
        max-height: 550px;
      }
      .mobile-only {
        display: none;
      }
      p.product-ques {
        margin: 0;
        padding: 15px 60px 15px 0;
        cursor: pointer;
        font-weight: bold;
        position: relative;
      }
      .product-ans {
        display: none;
        padding-bottom: 10px;
        padding-right: 30px;
        text-align: justify;
        line-height: normal;
      }
      .icon-faq {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
      .icon-faq img {
        width: 20px;
      }
      span.collapsed {
        transform: rotate(180deg);
      }
      .ac-tab-new {
        border-bottom: 1px solid;
      }
      .ac-col {
        margin: auto;
        padding: 0px;
        margin: 20px auto;
        color: #fff;
        display: none;
      }

      @media screen and (max-width: 1100px) {
        .mobile-only {
          display: block;
        }
        .only-desktop {
          display: none;
        }
        .topBannerHeading h2,
        .activitiesTracker h3,
        .fullwidthSection h3 {
          font-size: 30px;
        }
        .fullwidthSection p.text-red {
          font-size: 24px;
        }
        .flexReverse {
          flex-flow: column-reverse;
        }
        .wearablesApp-page .row {
          padding: 30px 0;
        }
        .downloadAppContainer h3,
        .bottomDownloadSection h4 {
          font-size: 20px;
          text-align: center;
        }
        .imageSection {
          bottom: 0;
          margin-bottom: 50px;
        }
        .outOfArea {
          position: static;
          margin: 30px 0;
        }
        .nav-tabs {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .textSection,
        .sectionTitle p,
        .fullwidthSection .sectionPara {
          font-size: 20px;
        }
        .topBanner .imageSection img,
        .fullwidthSection .imageSection img {
          max-width: 300px;
        }
        .topBanner .imageSection,
        .fullwidthSection .imageSection,
        .absoluteP {
          margin-bottom: 0;
        }
        .activitiesTracker .imageSection img,
        .modeSection .imageSection img {
          max-height: 350px;
        }
        .modeSectionTwo .flexReverse .imageSection img {
          margin-right: 10px;
        }
        .modeSectionTwo .bgRed .faqs {
          margin-bottom: 30px;
        }
        .nav-tabs.noBorder {
          justify-content: center;
        }
        .nav-tabs.noBorder li {
          margin: 0 7px;
        }
      }

      @media screen and (min-width: 1999px) {
        .imageSection .mr-0 {
          margin-right: auto !important;
        }
      }
    </style>

<script type="text/javascript">
      $(document).ready(function () {
        $("p.product-ques").append(
          `<span class="expand icon-faq"><img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/down-arrow_2.png?v=1618568473" /></span>`
        );
        $("p.product-ques").click(function () {
          $(this).next(".product-ans").slideToggle("fast");
          $(this)
            .find(".icon-faq")
            .toggleClass("collapsed")
            .removeClass("expand");
          $(this)
            .closest(".ac-tab-new")
            .siblings(".ac-tab-new")
            .find(".product-ans")
            .slideUp("fast");
          $(this)
            .closest(".ac-tab-new")
            .siblings(".ac-tab-new")
            .find(".icon-faq")
            .removeClass("collapsed")
            .addClass("expand");
        });
        $(".faqs").click(function(){
          $(this).hide();
          $(".ac-col").fadeIn();
        })
      });
    </script>

{% schema %}
  {
    "name": "Wearables App",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
