<style> 
  h3.heading.h2 {
    padding-top: 12px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
  }
  .why-buy .row {
    background-image: url({{section.settings.bgimage | img_url: 'master'}})
  }
</style>
<div class="why-buy py-4" reveal-on-scroll>
  <div class="row">
    <div class="col-12 text-center">
    	<h3 class="heading h2 my">{{ section.settings.section_heading }}</h3>
    </div>
  </div>
  <div class="row row-icons">
    {% for block in section.blocks %}
    <div class="col-4 icon_ text-center">
      <div class="img_container">
      	<img loading="lazy" {% render 'image-attributes', image: block.settings.image %} alt="{{block.settings.text}}">    
      </div>
      <div class="text_container">
        <p class="block-heading text-uppercase"><strong>{{block.settings.text}}</strong></p> 
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Why Buy Direct From boAt",
	"class": "why-buy-direct-from-boat",
    "settings": [
		{
			"type": "text",
			"id": "section_heading",
			"label": "Section Heading"
		},
		{
            "type": "image_picker",
            "id": "bgimage",
            "label": "Background Image"
        }
	],
	"blocks": [
		{
          "name": "why-buy",
          "type": "why-buy",
          "settings": [
              {
                  "type": "image_picker",
                  "id": "image",
                  "label": "Image"
              },
              {
                  "type": "text",
                  "id": "text",
                  "label": "Block Heading"
              }
		  ]
		}
	],
	"presets": [
		{
          "name": "Why Buy Direct From boAt",
          "category": "image",
          "settings": {}
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
