<style> 
  .why-buy {
    background-image: url({{section.settings.bgimage | img_url: 'master'}});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .why-buy .row-icons {
  	max-width: 50%;
    margin: auto;
    opacity: 0;
  }
  @media screen and (max-width: 767px) {
    .why-buy .row-icons {
    	margin-top: 20px !important;
    }
  }
</style>
<div class="why-buy py-4" reveal-on-scroll>
  <div class="row">
    <div class="col-12 text-center">
    	<h3 class="heading h2 my">{{ section.settings.section_heading }}</h3>
    </div>
  </div>
  <div class="row row-icons mt-5">
    {% for block in section.blocks %}
    <div class="col-4 icon_ text-center">
      <div class="img_container image-zoom">
      	<img loading="lazy" {% render 'image-attributes', image: block.settings.image %} alt="{{block.settings.text}}">    
      </div>
      <div class="text_container mt-3">
        <p class="block-heading text-uppercase"><strong>{{block.settings.text}}</strong></p> 
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
$(window).load(function($) {
	$('.why-buy .row-icons').css('opacity', '1');
})
</script>

{% schema %}
  {
    "name": "Why Buy Direct From boAt",
	"class": "why-buy-direct-from-boat",
    "settings": [
		{
			"type": "text",
			"id": "section_heading",
			"label": "Section Heading"
		},
		{
            "type": "image_picker",
            "id": "bgimage",
            "label": "Background Image"
        }
	],
	"blocks": [
		{
          "name": "why-buy",
          "type": "why-buy",
          "settings": [
              {
                  "type": "image_picker",
                  "id": "image",
                  "label": "Image"
              },
              {
                  "type": "text",
                  "id": "text",
                  "label": "Block Heading"
              }
		  ]
		}
	],
	"presets": [
		{
          "name": "Why Buy Direct From boAt",
          "category": "image",
          "settings": {}
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
