<style>
      body {
        background: #000;
      }
      .page-header {
        display: none;
      }
      #content {
        padding: 0 !important;
        margin-top: 0 !important;
      }
      #content > .container > .container {
        padding: 0 !important;
        max-width: 1366px !important;
      }
      .relative {
        position: relative;
      }

      .text-red {
        color: #ee1c25 !important;
      }
      .text-gray {
        color: #cacecf;
      }
      .text-light-bold {
        font-weight: 500;
      }
      .text-bold {
        font-weight: 700;
      }
      .text-extra-bold {
        font-weight: 900;
      }
      .align-center {
        align-items: center;
      }
      .extra-heading_ {
        font-size: 60px;
        line-height: normal;
      }
      .heading_ {
        font-size: 35px;
        line-height: normal;
        margin-bottom: 5px;
      }
      .subheading {
        font-size: 30px;
        line-height: normal;
      }
      .subtext {
        font-size: 22px;
        line-height: normal;
      }

      .yanko img {
        display: block;
        max-width: 100%;
        margin: auto;
      }
      .form-yanko {
        max-width: 700px;
        margin: 2rem auto;
      }
      .form-yanko label {
        display: block;
        margin-bottom: 5px;
        text-transform: uppercase;
      }
      .form-yanko #check_label {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
      }
      .form-yanko input {
        width: 100%;
        background-color: transparent;
        border: 1px solid #242424;
        height: 40px;
        border-radius: 5px;
        color: #fff;
        padding: 0 10px;
        box-sizing: border-box;
      }
      .form-yanko input:not(input#email) {
        text-transform: capitalize;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type='number'] {
        -moz-appearance: textfield;
      }
      .y_btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 3rem auto;
      }
      .y_tnc,
      .y_submit {
        width: 45%;
      }
      .y_btns a,
      .y_btns input {
        display: inline-block;
        text-align: center;
        padding: 10px 12px !important;
        border: 1px solid #ff0000;
        border-radius: 2em;
        width: 45%;
        cursor: pointer;
        color: #ff0000 !important;
        height: 46px;
        font-weight: 700;
      }
      .y_btns div a:hover,
      .y_btns input:hover {
        background-color: #ff0000;
        color: #fff !important;
      }
      .tnc_a:hover {
        color: #ff0000;
      }
      .y_tnc a,
      .y_submit a {
        display: block;
        width: 100%;
      }
      .y_tnc a:hover,
      .y_submit a:hover {
        color: #fff;
        text-decoration: none;
      }
      .error small {
        visibility: hidden;
      }
      .align-baseline {
        align-items: baseline;
      }
      .float-1 {
        position: absolute;
        left: 0;
        top: 0;
      }
      .float-2 {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 69px !important;
      }
      .download-files a:hover {
        color: #ee1c25;
        text-decoration: none;
      }
      .download-files {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
      input:disabled,
      a.disabled {
        border-color: transparent;
        background-color: #cccccc91;
        color: #fff !important;
        cursor: not-allowed;
      }
      input:disabled:hover,
      a.disabled:hover {
        border-color: transparent;
        background-color: #cccccc91 !important;
        /* color: #000 !important; */
      }
      .text-gray {
        color: #575757;
      }
      .check {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      #check {
        display: inline-block;

        background-color: transparent;
        color: transparent;
        margin-right: 5px;
      }
      input[type='checkbox'] {
        appearance: none;
        background-color: transparent;
        width: 20px;
        height: 25px;
        margin: 0;
        color: #fff;
        border: 0.15em solid #575757;
        border-radius: 0.15em;
        display: grid;
        place-content: center;
        position: relative;
      }
      input[type='checkbox']::before {
        content: '';
        width: 10px;
        height: auto;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        /* box-shadow: inset 1em 1em #fff; */
      }

      input[type='checkbox']:checked::before {
        content: '✓';
        /* box-shadow: inset 1em 1em red; */
        /* background: red; */
        color: red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
      }
      a.download-now {
        background-color: #ee1c25;
        color: #fff !important;
      }
      @media screen and (max-width: 767px) {
        .heading_ {
          font-size: 30px;
        }
        .subheading {
          font-size: 20px;
        }
        .subtext {
          font-size: 20px;
        }
        .extra-heading_ {
          font-size: 30px;
        }
        .row-form {
          padding: 0 20px;
        }

        .y_btns {
          flex-direction: column;
        }
        .y_submit,
        .y_tnc {
          width: 90% !important;
          margin-bottom: 15px !important;
        }
        .floats-logo {
          max-width: 50% !important;
        }
        #content {
          padding: 0 15px !important;
        }
        .text-box {
          padding: 40px 20px !important;
        }
        .float-1 {
          max-width: 130px !important;
        }
        .float-2 {
          max-width: 45px !important;
          bottom: 0;
          top: unset;
        }

        .dots {
          display: none !important;
        }
      }

      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 1025px) and (max-width: 1500px) {
        .subtext {
          font-size: 23px;
        }
      }
    </style>
    <div class="yanko">
      <div class="main-banner">
        <div
          class="row mt-5 align-center"
          style="
            background-image: url(https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Group_809_07c81767-3680-43ac-9cf1-17d72f176328.png?v=1643098075);
            background-repeat: no-repeat;
            background-size: cover;
          "
        >
          <div class="col-md-5 pt-md-4">
            <img
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Group_808_0702950c-b488-4b17-9546-587e6cc87179.png?v=1643098075"
              alt="yanko"
              class="floats-logo"
            />
            <img
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Vector_Smart_Object_copy_3.png?v=1643101874"
              class="mt-5 dots"
            />
          </div>
          <div class="col-md-7">
            <img
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Vector_Smart_Object_copy_4_ae30e94e-f9fd-4114-8fd2-7e175e06e068.png?v=1643101874"
              class="mb-5 mr-0 dots"
            />
            <p class="subtext text-white text-left px-3 mt-5">
              With a whole generation seeking a purpose in every passion, we are
              beyond thrilled to voice it. The juggle is always on for true
              artists, thinkers, and creators, and with
              <span class="text-red"
                >#DoWhatFloatsYourboAt Design Challenge</span
              >
              we are here to fuel that movement and turn their hustle into a
              new-age revolution! Are you ready to let your imagination run wild
              and your passion speak for itself?
            </p>
          </div>
          <div class="col-12 mt-5 p-0">
            <div
              class="text-box p-5 text-center relative"
              style="background-color: #ed1c24"
            >
              <img
                class="float-1"
                src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Group-814.png?v=1643124309"
              />
              <img
                class="float-2"
                src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Group-811.png?v=1643124309"
              />
              <p class="text-white text-center subheading mb-4">
                Calling out all the designers and artists to hop on the
                challenge and take the stage!
              </p>
              <img
                src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Rectangle_26_copy.png?v=1643101392"
              />
            </div>
          </div>
        </div>
        <div
          class="stone row px-3 py-5 align-center"
          style="
            background-image: url(https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Group_816.png?v=1643358659);
            background-repeat: no-repeat;
            background-size: cover;
          "
        >
          <div class="col-md-5 yankText pl-md-5 text-left">
            <p
              class="text-red text-uppercase mb-5 text-bold"
              style="background: #101010; padding: 12px"
            >
              How to enter
            </p>
            <p class="text-white steps text-light-bold">
              - Download the 1200F 3D Assets
            </p>
            <p class="text-white steps text-light-bold">
              - Upload Your Designs/Renders on Instagram
            </p>
            <p class="text-white steps text-light-bold">
              - Tag Yanko Design + Use the
              <span class="text-red">#YDxboAt</span>
            </p>
            <p class="text-white steps text-light-bold">
              - Follow <span class="text-red">@yankodesign</span> and
              <span class="text-red">@boAtnirvana</span> on Instagram
            </p>
            <p class="text-white steps text-light-bold mb-5">
              - Deadline <span class="text-red">20th February 11:59 PST</span>
            </p>
            <img
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Vector_Smart_Object_copy_6.png?v=1643358659"
              alt="yanko"
              class="ml-0 mb-5"
            />
          </div>
          <div class="col-md-7 pr-md-5">
            <img
              class="stone-image mr-md-0"
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Group_815.png?v=1643358659"
              alt="yanko"
            />
          </div>
        </div>
      </div>
      <div class="form-section">
        <div class="form-yanko">
          <form class="row row-form">
            <div class="col-12 title mb-2">
              <p class="text-uppercase text-bold" style="color: #ececec">
                Enter your details below to download the files
              </p>
            </div>
            <div class="col-12 error mb-2">
              <small class="text-red">Please check all the details</small>
            </div>
            <div class="col-md-6 y_full-name mb-3">
              <label for="y_fname" class="text-white">Full Name</label>
              <input
                type="text"
                id="y_fname"
                value=""
                required
                autocomplete="none"
              />
            </div>
            <div class="col-md-6 y_age mb-3">
              <label for="y_age" class="text-white">Age</label>
              <input
                type="number"
                id="y_age"
                value=""
                required
                autocomplete="none"
              />
            </div>
            <div class="col-md-6 y_city mb-3">
              <label for="y_city" class="text-white">City</label>
              <input
                type="text"
                id="y_city"
                value=""
                required
                autocomplete="none"
              />
            </div>
            <div class="col-md-6 y_phone mb-3">
              <label for="y_phone" class="text-white">Phone Number</label>
              <input
                type="tel"
                id="y_phone"
                value=""
                required
                maxlength="10"
                autocomplete="none"
              />
            </div>
            <div class="col-12 y_email mb-2">
              <label for="y_email" class="text-white">Email</label>
              <input
                type="email"
                id="y_email"
                value=""
                required
                autocomplete="none"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              />
            </div>
            <div class="check col-12 mt-3">
              <div class="check-control col-9 p-0">
                <input type="checkbox" id="check" />
                <span class="checkmark"></span>
                <label
                  for="check"
                  class="text-gray"
                  id="check_label"
                  value="1"
                  style="font-size: 13px"
                  >I agree to receive marketing updates from Imagine Marketing Ltd.</label
                >
              </div>

              <a
                target="_blank"
                href="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Contest_Terms_and_Conditions_-_IMPL-Yanko_Final_8119dfc4-f146-4a0d-8f9c-2dc68f819c18.pdf?v=1643105208"
                class="text-red tnc_a col-3 p-0 text-right"
                >View T&C</a
              >
            </div>
            <div class="col-12 y_btns">
              <input
                class="y_submit text-red text-bold"
                type="submit"
                value="Submit"
              />

              <div class="y_tnc text-red text-bold">
                <a
                  href="javascript:void(0)"
                  class="text-red disabled"
                  title="Submit details to download file"
                  >Download 3D Files</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="last-content text-center">
        <img
          src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Group_812.png?v=1643102049"
          alt=""
        />
      </div>
    </div>
    <script>
      $('.row-form').submit(function (e) {
        e.preventDefault();
        let fullName = $('#y_fname').val();
        let age = $('#y_age').val();
        let city = $('#y_city').val();
        let phone = $('#y_phone').val();
        let email = $('#y_email').val();
        let check = $('#check').is(':checked');
        function validateEmail($email) {
          var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
          return emailReg.test(email);
        }
        if (
          fullName == ' ' ||
          age == '' ||
          city == '' ||
          phone == '' ||
          email == '' ||
          check == false ||
          !validateEmail(email)
        ) {
          $('.error small').css('visibility', 'visible');
        } else {
          $('.row-form input:not(input.y_submit)').val('');
          $('.error small').text('Thanks for submitting the details!');
          $('.error small').css('visibility', 'visible');
          $('.y_tnc a')
            .prop(
              'href',
              'https://drive.google.com/drive/folders/1lx-G5_GxaMW9RZWJXnhHt1GsGL2Q9Jow?usp=sharing'
            )
            .removeClass('disabled')
            .addClass('download-now');
          clevertap.profile.push({
            Site: {
              Yanko_Email: email,
              Yanko_FullName: fullName,
              Yanko_Age: age,
              Yanko_City: city,
              Yanko_Phone: phone,
              Yanko_AcceptsMarketing: 'true',
            },
          });
        }
      });
      $('.form-yanko input').change(function () {
        $('.error small').css('visibility', 'hidden');
      });
    </script>

{% schema %}
  {
    "name": "Yanko Design",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
