/* See https://www.algolia.com/doc/integration/shopify/advanced-customization/customizing-instant-search/#hogan */
(function(algolia) {
  'use strict';
  var Hogan = algolia.externals.Hogan;
  var formatPrice = function formatPrice(value) {
    return algolia.formatMoney(Number(value) * 100);
  };

  function formattedPriceWithComparison(price, compare_at_price, price_ratio) {
    var comparing = Number(compare_at_price) && Number(compare_at_price) > Number(price);
    var discount_ratio = 1.0 - price_ratio;
    var res = '<b>' + formatPrice(price) + '</b>';
    if (comparing) {
      res = ' <span style="color:#05A143;font-size:14px;">' + Math.floor(discount_ratio * 100) + '% off </span>' +
        '<b style="padding-left:8px;">' + formatPrice(price) + '</b>' +
        ' <span class="ais-hit--price-striked">' + formatPrice(compare_at_price) + '</span> '
    }

    return res;
  }

  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }

  var escapeHtml = function escapeHtml(unsafe) {
    return (unsafe || '')
      .replace(/&/g, '&amp;')
      .replace(/</g, '&lt;')
      .replace(/>/g, '&gt;')
      .replace(/"/g, '&quot;')
      .replace(/'/g, '&#039;');
  };

  algolia.helpers = {
    formatNumber: function formatNumber(text, render) {
      return Number(render(text)).toLocaleString();
    },
    formattedPrice: function formattedPrice(text, render) {
      return formatPrice(render(text));
    },
    formattedPriceWithoutDecimals: function formattedPriceWithoutDecimals(
      text,
      render
    ) {
      return formatPrice(render(text)).replace(/\.\d+$/, '');
    },
    autocompletePrice: function autocompletePrice() {
      if (this._distinct) {
        var min = this.variants_min_price;
        var max = this.variants_max_price;
        if (min !== max) {
          return '<b>' + formatPrice(min) + ' - ' + formatPrice(max) + '</b>';
        }
      }
      return formattedPriceWithComparison(this.price, null);
    },
    instantsearchPrice: function instantsearchPrice() {
      if (this._distinct) {
        var min = this.variants_min_price;
        var max = this.variants_max_price;
        if (min !== max) {
          return '<b>' + formatPrice(min) + ' - ' + formatPrice(max) + '</b>';
        }
      }else{
        var price = this.price,
        compare_at_price = this.compare_at_price,
        price_ratio = this.price_ratio;
        var comparing = Number(compare_at_price) && Number(compare_at_price) > Number(price);
        var discount_ratio = 1.0 - price_ratio;
        if(Shopify.enable_fixed_discount && this.tags.includes(Shopify.tag_selector)){
          let variantId = this.objectID;
          let pod_price = Shopify.fixed_discount(this.tags);
          let offerVariantdata = sessionStorage.getItem('variantQtys');
          let OfferProperty= [];
          let varient_pod_units = [];
          offerVariantdata = JSON.parse(offerVariantdata);

           for (var key in offerVariantdata) {
              if (offerVariantdata.hasOwnProperty(variantId)) {
               let OfferPropertyArr = offerVariantdata[variantId];
                OfferProperty.push(OfferPropertyArr[0]['pod_deal_applicability']);
                varient_pod_units.push(OfferPropertyArr[0]['pod_units']);
                break;
               }
             }
             let varient_pod_unit = varient_pod_units[0];
             varient_pod_unit = parseInt(varient_pod_unit);
             OfferProperty = OfferProperty[0];
             if(varient_pod_unit > 0 && OfferProperty == 'true'){
              price = pod_price; 
             }
          discount_ratio = (compare_at_price - price) / compare_at_price;
      }

        var res = '<b>' + formatPrice(price) + '</b>';
        if (comparing) {
          var algolia_price = '₹'+ Math.floor(price)
          res = '<b class="algolia_price">' + algolia_price + '</b>'
          +  ' <span style="color:#05A143;font-size:14px;font-weight:500;">' + Math.floor(discount_ratio * 100) + '% off </span>'
            + ' <span class="ais-hit--price-striked">' + formatPrice(compare_at_price) + '</span> '
        }
    
        return res;
      }
    },
    instantsearchLink: function instantsearchLink() {
      var addVariantId = !this._distinct && this.objectID !== this.id;
      return (
        '/products/' +
        this.handle +
        (addVariantId ? '?variant=' + this.objectID : '')
      );
    },
    fullTitle: function fullTitle() {
      var res = this.title.split('|')[0];
      if (res.includes('boAt')) {
        res = res.split('boAt')[1];
      }
      if (
        !this._distinct &&
        this.variant_title &&
        this.variant_title !== 'Default Title' &&
        this.variant_title !== 'Default'
      ) {
        res += ' (' + this.variant_title + ')';
      }

      return escapeHtml(res);
    },
    youSavePrice: function inventory() {
      var res = '';
      var compare_at_price = this.compare_at_price;
      var price = this.price;
      var price_ratio = this.price_ratio;
      var discount_ratio = 1.0 - price_ratio;
      let card_offers = JSON.parse(Shopify.card_offers);
      if (price >= 500) {
        /* res += ' <p class="ais-hit--price-discount">Save ₹15 more on UPI payment</p>'; */
        res += ` <p class="ais-hit--price-discount">${card_offers.offer_1}</p>`;
      } else {
        res += ` <p class="ais-hit--price-discount">${card_offers.offer_2}</p>`;
      }
      // res += ' <p class="ais-hit--price-discount"> You Save: ' + formatPrice(compare_at_price - price ) + ' (' +
      //   Math.floor(discount_ratio * 100) +
      //   '%)</p>';
      return res;
    },
    inventory: function inventory() {
      var res = this.inventory_available;
      var flashSale = '';
      var free = '';
      // console.log(this.inventory_quantity);
      if (this.tags.includes('flash-sale')) {
        flashSale = 'flash-sale';
      }
      if (this.tags.includes('{{ settings.products_offering_freebie }}')) {
        free = '<input class="flash_sale_enable" type="hidden" name="properties[Free]" value="true">';
      }
      if (this.tags.includes('customized')) {
        // free = '<input class="flash_sale_enable" type="hidden" name="properties[PersonalisedMessage]" value="">';
        free =  '/products/' + this.handle ;
      }
      if(this.inventory_quantity < Shopify.sold_out_threshold) {
        if (this.tags.includes('Coming-Soon')) {
          res = '<input name="add" value="Coming Soon" type="submit" class="custom-search-cta sold-out" />';
        } else if (this.tags.includes('Gift Cards')) {
          res = '<input name="add" value="Add to cart" type="submit" class="custom-search-cta add-to-cart-button" />';
        } 
        else {
          // res = '<input name="add" value="Sold out" type="submit" class="custom-search-cta sold-out" />';
          res = `<div class="product-item__quick-form">
          <a href='#' class='BIS_trigger search-custom-notify-me' data-product-data='{"id": "${this.id}","handle":"${this.handle}","title":"${this.title}","tags":[],"available":"${this.inventory_available}",
          "variants":[{"id":"${this.objectID}","title":"${this.variant_title}","available":"${this.inventory_available}","inventory_quantity":"${this.inventory_quantity}","inventory_management":"${this.inventory_management}"}]}'>
          Notify Me
          </a>
          </div>`
        }
      }
      else if (this.inventory_available) {
        if(Shopify.enable_fixed_discount && this.tags.includes(Shopify.tag_selector)){
          res = ` ${free} <input name="add" value="Add to cart" type="submit" class="custom-offer-add-to-cart algolia_pod_offer add-to-cart-button ' + ${flashSale} + '" />`;
        } else if(this.tags.includes('customized')){
          res = `<a href="${free}" class="product-item__cta button button--primary"
          style="background: red;line-height: normal;
          border: 1px solid red;padding: 8px 12px;color: #fff;text-align: center;width: 100%;
          text-transform: uppercase;margin-top: 0.65rem;border-radius: 5px!important;
          font-size: 15px!important;font-weight: 700!important;">
          View Product
        </a>`;
        }
        else{
          res = ` ${free} <input name="add" value="Add to cart" type="submit" class="custom-search-cta add-to-cart-button ' + ${flashSale} + '" />`;
        }
      } 
      // else {
      //   if (this.tags.includes('Coming-Soon')) {
      //     res = '<input name="add" value="Coming Soon" type="submit" class="custom-search-cta sold-out" />';
      //   } else {
      //     // res = '<input name="add" value="Sold out" type="submit" class="custom-search-cta sold-out" />';
      //     res = `<div class="product-item__quick-form">
      //     <a href='#' class='BIS_trigger search-custom-notify-me' data-product-data='{"id": "${this.id}","handle":"${this.handle}","title":"${this.title}","tags":[],"available":"${this.inventory_available}",
      //     "variants":[{"id":"${this.objectID}","title":"${this.variant_title}","available":"${this.inventory_available}","inventory_quantity":"${this.inventory_quantity}","inventory_management":"${this.inventory_management}"}]}'>
      //     Notify Me
      //     </a>
      //     </div>`
      //   }
      // }
      return res;
    },
    soldImage: function inventory() {
      var res = "aa-product-image";
      if(this.inventory_quantity < Shopify.sold_out_threshold){
        res = "aa-product-image sold-out"
      }else if (this.inventory_available) {
        res = "aa-product-image"
      } 
      return res;
    },
    reviews: function reviews() {
      var res = '';
      var reviews = this.meta.reviews;
      if (reviews) {
        var rating = reviews.rating;
        rating = JSON.parse(rating);
        var rating_value = rating.value;
        rating_value = Math.round(rating_value * 10) / 10;
        var rating_count = reviews.rating_count;
        res = `<div class="rating"><div class="rating__stars" role="img" aria-label="${rating_value} out of 5.0 stars">
            <span style="font-size: 16px!important;color: #f4c730!important;padding-bottom: 3px;">★</span>${rating_value} </div> </div>`;
      } else {
        res = `<div class="rating"><div class="rating__stars" role="img" >
               <span style="color:#05A143;font-size:16px;">★</span>
               Be the first to review
              </div></div>`
      }
      return res;
    },
    imageClass: function imageClass() {
      var tags = this.tags;
      var res_class = ''
      if(this.inventory_quantity < Shopify.sold_out_threshold){
        if (tags.includes('Coming-Soon')) {
          res_class = 'aa-product-image'
        } else if(tags.includes('Gift Cards')) {
          res_class = 'aa-product-image'
        } else {
          res_class = 'aa-product-image sold-out'
        }
      }
      else if (this.inventory_available) {
        res_class = 'aa-product-image'
      } 

      return res_class;
    },
    containerClass: function containerClass() {
      var tags = this.tags;
      var res_class = ''
      if (tags.includes('st-hide') || tags.includes('prebooking')) {
        res_class = 'aa-product hide-suggestion'
      } else {
        res_class = 'aa-product show-suggestion'
      }
      return res_class;
    },
    badge: function badge() {
      var res = '';
      var res_class = '';
      // console.log(this);
      var tags = this.tags;
      var price_ratio = this.price_ratio;
      var comparing =
        Number(this.compare_at_price) && Number(this.compare_at_price) > Number(this.price);
      var discount_ratio = 1.0 - price_ratio;
      var response = '';
      if(this.inventory_quantity < Shopify.sold_out_threshold){
        if (tags.includes('Coming-Soon')) {
          var response = `<div class="aa-product-badge d-block">Coming Soon</div>`;
        } else if (tags.includes('Gift Cards')) {
          var response = ``;
        } else if (tags.includes('Restocking-Soon')){
          var response = `<div class="aa-product-badge d-block">Restocking-Soon</div>`;
        }
        else {
          var response = `<div class="aa-product-badge sold-out">SOLD OUT</div>`;
        }
      }
      else if (this.inventory_available) {
        var product_labelss = this.meta.product_labels;
        if (product_labelss) {
          var labelss = product_labelss.label[0];
          res = `${labelss}`;
          res_class = 'metafeild-label label--highlight custom-label label';
          response = response + `<div class="aa-product-badge ${res_class} "> ${res} </div>`;
        }
        for (let i = 0; i < tags.length; i++) {
      if (tags[i].includes('Free-')) {
            res = `🎁 ${tags[i].replace('-',' ')}`;
            res_class = 'free-label label bg-black z-10';
            response = response + `<div class="aa-product-badge ${res_class} "> ${res} </div>`;
          } else if (tags[i].includes('Coupon-')) {
            res = `₹${tags[i].replace('Coupon-','').split('|')[0]} OFF ON ${tags[i].replace('Coupon-',' ').split('|')[1]}`;
            res_class = 'coupon-label label bg-black z-9';
            response = response + `<div class="aa-product-badge ${res_class} "> ${res} </div>`;
          } else if (tags[i].includes('flash-sale') && comparing) {
            res = `🔥 super saver`;
            res_class = 'flash-sale-badge label bg-black z-8';
            response = response + `<div class="aa-product-badge ${res_class} "> ${res} </div>`;
          } else if (tags[i].includes('meta-label-Bestseller')) {
            res = `🚀 ${tags[i].replace('meta-label-',' ')}`;
            res_class = 'label bg-black z-7';
            response = response + `<div class="aa-product-badge ${res_class} "> ${res} </div>`;
          } else if (tags[i].includes('meta-label-trending')) {
            res = ` ✨${tags[i].replace('meta-label-',' ')}`;
            res_class = 'label bg-black z-6';
            response = response + `<div class="aa-product-badge ${res_class} "> ${res} </div>`;
          } else if (tags[i].includes('meta-label-exclusive')) {
            res = `💝 LIMITED EDITION`;
            res_class = 'label bg-black z-5';
            response = response + `<div class="aa-product-badge ${res_class} "> ${res} </div>`;
          } else if (tags[i].includes('meta-label-just launched')) {
            res = `🎉 NEW LAUNCH`;
            res_class = 'label bg-black z-4';
            response = response + `<div class="aa-product-badge ${res_class} "> ${res} </div>`;
          } else if (tags[i].includes('Feature|')) {
            res = `${tags[i].replace('Feature|',' ')}`;
            res_class = ' label bg-black z-3';
            response = response + `<div class="aa-product-badge ${res_class} "> ${res} </div>`;
          } else if (tags[i].includes('meta-label-')) {
            res = `${tags[i].replace('meta-label-',' ')}`;
            res_class = ' label bg-black z-2';
            response = response + `<div class="aa-product-badge ${res_class} "> ${res} </div>`;
          } else if (tags[i].includes('meta-label-sold')) {
            res = 'sold-out';
            res_class = ' label';
            response = response + `<div class="aa-product-badge ${res_class} "> ${res} </div>`;
          }
        }
      }
      //  else {
      //   if (tags.includes('Coming-Soon')) {
      //     var response = `<div class="aa-product-badge d-block">Coming Soon</div>`;
      //   } else if (tags.includes('Restocking-Soon')){
      //     var response = `<div class="aa-product-badge d-block">Restocking-Soon</div>`;
      //   }
      //    else {
      //     var response = `<div class="aa-product-badge sold-out">SOLD OUT</div>`;
      //   }
      // }
      return response;
    },
    // delivery_badge: function delivery_badge() {
    //   var res = '';
    //   var tags = this.tags;
    //   if(tags.includes('Super Quick Delivery')) {
    //     res = `
    //     <div class="quick-delivery-lable">
    //     <svg xmlns="http://www.w3.org/2000/svg" width="30" height="22" id="Layer_1" data-name="Layer 1" viewBox="0 0 301.49 227.28"><defs><style>.cls-1{fill:#004cff;}.cls-2{fill:#fff;}</style></defs><path class="cls-1" d="M1008.7,426.33h0c-5.12,0-10.25,0-15.37,0a4.47,4.47,0,0,0-4.67,3.7,28.2,28.2,0,0,0-.28,4.11q-.06,3.8,0,7.59c0,1.7,0,3.41.25,5.1a4.27,4.27,0,0,0,3.88,4.08,31,31,0,0,0,4.1.22c1.43,0,1.93.49,2,1.95s0,2.67,0,4c0,.8.24,1.1,1.07,1.1q9,0,18,0c.92,0,1.12-.38,1.12-1.2,0-1.32.08-2.65.18-4a1.58,1.58,0,0,1,1.42-1.64c.95-.12,1.9-.18,2.85-.22,3.47-.13,5.46-1.77,5.5-4.83q.12-7.54,0-15.09c0-3.28-1.85-4.89-5.15-4.89Zm77.76,67.29c1-1.2,1.8-2.27,2.64-3.35,1.78-2.29,2-2.28,3.68.1,2.09,3,5,3.54,7.51,1.18,3-2.89,6-5.9,8.89-8.95a4,4,0,0,0-.13-6q-9.13-9.16-18.33-18.26c-2.06-2-4.22-2.08-6.28-.09q-4.49,4.33-8.83,8.83a4.27,4.27,0,0,0,.15,6.44c.65.63,1.43,1.14,2.14,1.71l1.29,1-5,4.09Z" transform="translate(-809 -426.32)"/><path class="cls-2" d="M809,577.52c.14-.51.29-1,.41-1.53a8.86,8.86,0,0,1,8.27-6.62c1.2,0,2.41,0,3.62,0H941.68a11.63,11.63,0,0,0,6-1.24,8.92,8.92,0,0,0-4.16-16.69c-.58,0-1.17,0-1.75,0q-32.88,0-65.75,0a16.91,16.91,0,0,1-4.32-.5,8.58,8.58,0,0,1,2-16.82c.87,0,1.75-.05,2.62-.05q48.07,0,96.14,0a24.29,24.29,0,0,0,4.82-.44,8.64,8.64,0,0,0,7-9.41,8.79,8.79,0,0,0-8.85-8Q921,516.07,866.61,516c-7.49,0-15,.12-22.48.14a16.56,16.56,0,0,1-3.71-.43,8.69,8.69,0,0,1-6.81-9c.15-2.94,2.61-7.46,7.52-7.95a25.49,25.49,0,0,1,2.6-.2q45.57,0,91.14,0a7.76,7.76,0,0,0,6-2.64,94.05,94.05,0,0,1,48.34-27.19,89.55,89.55,0,0,1,25.17-1.91,91.05,91.05,0,0,1,51.36,19.45c16.82,13.19,28.3,30,33.47,50.88a93.27,93.27,0,0,1,2.43,15.23,92.27,92.27,0,0,1-15.61,60c-13.22,19.77-31.78,32.11-54.63,38.18a88.21,88.21,0,0,1-28.7,2.71,91.57,91.57,0,0,1-53-20.93c-3.13-2.55-6-5.38-8.92-8.2A7.33,7.33,0,0,0,935.5,622c-4.92,0-9.84,0-14.75,0q-34.82.08-69.62.14a14,14,0,0,1-3.69-.52A8.54,8.54,0,0,1,849,604.85c1.53-.13,3.07-.21,4.61-.21H966c4.68,0,8.08-2.56,9.2-6.9A8.82,8.82,0,0,0,967.64,587c-1.49-.14-3-.22-4.48-.22l-142.89,0a22.12,22.12,0,0,1-4.46-.32,8.35,8.35,0,0,1-6.48-6.83,8.33,8.33,0,0,0-.33-1Zm275.81-18.75c-.18-2.15-.31-5.57-.76-8.94a73.21,73.21,0,0,0-7.36-23.57,55.53,55.53,0,0,0-3.89-6.52,2.87,2.87,0,0,0-3.79-.91c-1.58.68-2.61,1.94-2.27,3.47a16.24,16.24,0,0,0,1.83,4.3,67.94,67.94,0,0,1,.62,65.71,67.94,67.94,0,0,1-66.6,36.18,64.79,64.79,0,0,1-16.53-3.5c-1.56-.56-3.1-1.22-4.69-1.68a3.57,3.57,0,0,0-4.18,2,3.16,3.16,0,0,0,.92,4.13,10.14,10.14,0,0,0,2.58,1.47,79.71,79.71,0,0,0,21.23,5.22,54.07,54.07,0,0,0,6.84.46c2.07,0,4.12-.48,6.19-.64a75.23,75.23,0,0,0,19.56-4.19C1064.66,620.9,1084.54,592.19,1084.81,558.77Zm-76.17,15.35c8.23.3,17.42-8.81,12.91-19.08a3.24,3.24,0,0,1,.76-4.14c1.76-1.66,3.4-3.43,5.1-5.15l29.56-30c1.9-1.93,3.82-3.84,5.62-5.87a3.7,3.7,0,0,0,.05-5.2c-1.4-1.42-3.37-1.39-5.17.08a9.45,9.45,0,0,0-.75.67c-3.39,3.43-6.8,6.86-10.18,10.31q-14.65,15-29.28,29.92a4.19,4.19,0,0,1-4.85,1.16,12.46,12.46,0,0,0-6.39-.44,14.06,14.06,0,0,0-11.27,14.7A13.91,13.91,0,0,0,1008.64,574.12Zm2.56-89.95c-.79,0-1.58,0-2.37,0a3.83,3.83,0,0,0-3.88,3.49c-.08,1.92,1.22,3.38,3.48,3.67,2.05.26,4.13.32,6.2.48a65.74,65.74,0,0,1,19.67,4.65c1.69.67,3.36,1.45,5.11,1.95a3.38,3.38,0,0,0,4.21-3c.22-1.8-.63-3.15-2.85-4.21A74.43,74.43,0,0,0,1011.2,484.17Z" transform="translate(-809 -426.32)"/><path class="cls-2" d="M1008.7,426.33h14.87c3.3,0,5.1,1.61,5.15,4.89q.12,7.54,0,15.09c0,3.06-2,4.7-5.5,4.83-1,0-1.9.1-2.85.22a1.58,1.58,0,0,0-1.42,1.64c-.1,1.33-.18,2.66-.18,4,0,.82-.2,1.2-1.12,1.2q-9,0-18,0c-.83,0-1.1-.3-1.07-1.1,0-1.33,0-2.67,0-4s-.54-1.91-2-1.95a31,31,0,0,1-4.1-.22,4.27,4.27,0,0,1-3.88-4.08c-.2-1.69-.22-3.4-.25-5.1q-.06-3.8,0-7.59a28.2,28.2,0,0,1,.28-4.11,4.47,4.47,0,0,1,4.67-3.7c5.12,0,10.25,0,15.37,0Z" transform="translate(-809 -426.32)"/><path class="cls-2" d="M1086.46,493.62l-12.3-13.28,5-4.09-1.29-1c-.71-.57-1.49-1.08-2.14-1.71a4.27,4.27,0,0,1-.15-6.44q4.34-4.49,8.83-8.83c2.06-2,4.22-1.94,6.28.09q9.19,9.1,18.33,18.26a4,4,0,0,1,.13,6c-2.89,3-5.84,6.06-8.89,8.95-2.48,2.36-5.42,1.81-7.51-1.18-1.68-2.38-1.9-2.39-3.68-.1C1088.26,491.35,1087.41,492.42,1086.46,493.62Z" transform="translate(-809 -426.32)"/><path class="cls-2" d="M1015.18,560.27a6.44,6.44,0,0,1-6.55,6.41,6.53,6.53,0,0,1-6.52-6.62,6.64,6.64,0,0,1,6.6-6.45A6.52,6.52,0,0,1,1015.18,560.27Z" transform="translate(-809 -426.32)"/></svg>
    //     <span>Super Quick Delivery</span>
    //     </div>`
    //   }
    //   return res;
    //   },
    //   delivery_date: function delivery_date() {
    //     var res = '';
    //     var custom = this.meta.custom;
    //     let deliveryText = 'Fastest delivery in ';
    //     if(custom){
    //      res = deliveryText + custom.delivery;
    //     }else{
    //       res = deliveryText + '2 days';
    //     }
    //     return res;
    //   },
    fullHTMLTitle: function fullHTMLTitle() {
      var res = '';

      if (this._highlightResult.title && this._highlightResult.title.value) {
        res = algolia.helpers.fullEscapedAttribute(
          this._highlightResult.title.value
        );
      }

      if (
        !this._distinct &&
        this.variant_title &&
        this.variant_title !== 'Default Title' &&
        this.variant_title !== 'Default'
      ) {
        res += ' <span class="algolia-variant">(' + res + ')</span>';
      }
      return res;
    },
    fullEscapedAttribute(attribute) {
      return new DOMParser().parseFromString(attribute, 'text/html')
        .documentElement.textContent;
    },
    fullEscapedHTMLTitle: function fullEscapedHTMLTitle() {
      var res = '';

      if (this._highlightResult.title && this._highlightResult.title.value) {
        res = algolia.helpers.fullEscapedAttribute(
          this._highlightResult.title.value
        );
      }

      if (
        !this._distinct &&
        this.variant_title &&
        this.variant_title !== 'Default Title' &&
        this.variant_title !== 'Default'
      ) {
        res += ' <span class="algolia-variant">(' + res + ')</span>';
      }
      return res;
    },
    fullEscapedHTMLProductType: function fullEscapedHTMLProductType() {
      if (
        this._highlightResult.product_type &&
        this._highlightResult.product_type.value
      ) {
        return algolia.helpers.fullEscapedAttribute(
          this._highlightResult.product_type.value
        );
      } else {
        return '';
      }
    },
    fullEscapedHTMLVendor: function fullEscapedHTMLVendor() {
      if (this._highlightResult.vendor && this._highlightResult.vendor.value) {
        return algolia.helpers.fullEscapedAttribute(
          this._highlightResult.vendor.value
        );
      } else {
        return '';
      }
    },
    no_result_page: function no_result_page() {
      // console.log(this);
      let res = '';
      let query = this.query;
      let search_query = '';
      let algolia_festive = Shopify.algolia_festive;
      algolia_festive = JSON.parse(algolia_festive);

      let festive_query_list = [];
      let custom_query = query.trim();
      custom_query = custom_query.toLowerCase();
      for (let i = 0; i < algolia_festive.length; i++) {
        search_query = algolia_festive[i].search_query;
        search_query = search_query.toLowerCase();
        search_query = search_query.split(',');
        if (Array.isArray(search_query)) {
          festive_query_list = festive_query_list.concat(search_query);
        } else {
          festive_query_list.push(search_query);
        }
      }
      festive_query_list = festive_query_list.map(element => {
        return element.trim();
      });

      if (festive_query_list.includes(custom_query)) {

        for (let i = 0; i < algolia_festive.length; i++) {
          search_query = algolia_festive[i].search_query;
          search_query = search_query.toLowerCase();
          search_query = search_query.split(',');
          search_query = search_query.map(element => {
            return element.trim();
          });

          if (search_query.includes(custom_query)) {
            
            let text_alignment_class = "";
            let text_alignment = algolia_festive[i].text_alignment;
            if( text_alignment == "left"){
              text_alignment_class = "text_align_left";
            }else if( text_alignment == "right"){
              text_alignment_class = "text_align_right";
            }else{
              text_alignment_class = "text_align_center";
            }

            let copy_icon = '<svg class="coupon_code_wrapper 456456456" id="copy_svg_icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 312.36 389.98"><path d="M322.17,242c6.91,1.86,13.4,4.44,18.37,9.94,6,6.67,8.32,14.57,8.31,23.41q-.06,86,0,172.09c0,28.05.05,56.09,0,84.14,0,15.73-9,27.44-23.86,31.22a28,28,0,0,1-7.91.74c-5.1-.19-8.91-4-9.64-9.12a10.62,10.62,0,0,1,6.82-11.49,14.33,14.33,0,0,1,1.46-.41c10.72-2.64,11.64-3.83,11.64-14.93q0-125.27,0-250.53a36.9,36.9,0,0,0-.42-5.66,8.29,8.29,0,0,0-7.45-7.46,29.74,29.74,0,0,0-4.9-.42q-87.19,0-174.4,0a20.55,20.55,0,0,0-6.75.82c-4.2,1.48-5.56,5.12-6.14,9.26-1,6.74-5.89,10.67-12,9.82s-9.9-5.94-9.22-12.64c1.48-14.74,10.62-25,25.15-28.19a8,8,0,0,0,1.34-.6Z" transform="translate(-36.49 -242)"/><path d="M36.5,471.23q0-64.17,0-128.33c0-13.34,5.43-23.76,17.73-29.44a37.27,37.27,0,0,1,15.06-3.11q88.74-.32,177.48-.1c19.85,0,32.7,13.22,32.71,33.15q0,127.76,0,255.52c0,20.07-13.05,33-33.2,33.05q-88.35,0-176.71,0c-20.07,0-33.07-13.05-33.08-33.17Q36.47,535,36.5,471.23Zm21.43-.37v74.26q0,26.83,0,53.69c0,4.61,1.12,8.74,5.76,10.59a19.78,19.78,0,0,0,7.1,1q87,.06,174.05,0c9.95,0,13-3,13-12.9V344.63c0-9.75-3-12.82-12.65-12.82H70.8c-9.83,0-12.87,3.07-12.87,13Z" transform="translate(-36.49 -242)"/></svg>';
            res = `<div class="algolia-no-result-container algolia-no-result-festive ${text_alignment_class}"  style="background-image:url(${algolia_festive[i].coupon_url});background-repeat:no-repeat;"> <h3> ${algolia_festive[i].message}</h3> <div class="algolia-coupon-container"><p class="para_1"> ${algolia_festive[i].message2}</p> <div class="coupon-code"> <span class="coupon_code_wrapper">Use Code&nbsp;<span class="coupon_code">${algolia_festive[i].coupon_code}</span>&nbsp;${copy_icon}</span></div> <p> ${algolia_festive[i].coupon_value}</p> </div> </div>`;
            break
          }
        }

        let queryList = [];
        let storedQuery = sessionStorage.queryList;
        if (sessionStorage.queryList) {
          storedQuery = storedQuery.split(',');
          if (Array.isArray(storedQuery)) {
            queryList = storedQuery;
          } else {
            queryList.push(storedQuery);
          }
        }
        if (!queryList.includes(custom_query)) {
          queryList.unshift(custom_query);
          if (queryList.length > 5) {
            queryList.pop();
          }
        }
        sessionStorage.setItem('queryList', queryList);

      } else {
        res = `<div class="algolia-no-result-container"> <img style="display: block;margin: auto;margin-left:36%;" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/empty_state.svg?v=1683096065"><h3> ${JSON.parse(Shopify.algolia_no_result)} </h3> <div class="algolia-trending-search-header px-3 mx-lg-4"><h4>Most Searched And Bought</h4></div> <div class="algolia-trending-list"> ${document.querySelector('.algolia-trending-list').innerHTML} </div></div>`;
        let algolia_trending_item = "";

        function algolia__input(algolia_no_result_input) {
          algolia_no_result_input.value = algolia_trending_item.trim();
          algolia_no_result_input.dispatchEvent(new Event("input", {
            bubbles: !0
          }))
        }
        setTimeout(function() {
          $(".algolia-trending-item").click(function() {
            algolia_trending_item = $(this).children(".algolia-trending-label").text();
            if (window.innerWidth < 1200) {
              let algolia_no_result_input = document.querySelector(".predictive-search__input_mobile");
              algolia__input(algolia_no_result_input);
            } else {
              let algolia_no_result_input = document.querySelector(".predictive-search__input_desk");
              algolia__input(algolia_no_result_input);
            }
          });
        }, 1000);
      }
      return res;
    },
    floor: function floor(text, render) {
      return '' + Math.floor(Number(render(text)));
    },
    ceil: function ceil(text, render) {
      return '' + Math.ceil(Number(render(text)));
    },
    sizedImage: function sizedImage(text, render) {
      var image = this._distinct ? this.product_image : this.image;
      if (!image) {
        return 'http://cdn.shopify.com/s/images/admin/no-image-compact.gif';
      }
      var size = render(text).replace(/^\s+|\s+$/g, ''); // Render and trim
      if (size === 'original') {
        return image;
      }
      return image.replace(/\/(.*)\.(\w{2,4})/g, '/$1_' + size + '.$2');
    },
  };

  [
    'pico',
    'icon',
    'thumb',
    'small',
    'compact',
    'medium',
    'large',
    'grande',
    'original',
  ].forEach(function(size) {
    algolia.helpers[size + 'Image'] = (function(_size) {
      return function() {
        var image = this._distinct ? this.product_image : this.image;

        if (!image) {
          return 'http://cdn.shopify.com/s/images/admin/no-image-compact.gif';
        }

        if (_size === 'original') {
          return image;
        }

        return image.replace(/\/(.*)\.(\w{2,4})/g, '/$1_' + _size + '.$2');
      };
    })(size); // We need to create a new scope so that the internal size has the good value.
  });

  /* Create an Hogan lambda, which doesn't respect the mustache doc */
  var helpers = algolia.assign({},
    algolia.helpers,
    algolia.translation_helpers
  );
  var helpersNames = Object.keys(helpers);
  var i = helpersNames.length;
  var helpersArray = new Array(i);
  while (i--) helpersArray[i] = [helpersNames[i], helpers[helpersNames[i]]];

  algolia.hoganHelpers = helpersArray.reduce(function(res, options) {
    var name = options[0];
    var helper = options[1];

    var newRes = algolia.assign({}, res);

    newRes[name] = function() {
      return function(text) {
        var render = function(value) {
          return Hogan.compile(value, algolia.hoganOptions).render(this);
        }.bind(this);

        return helper.call(this, text, render);
      }.bind(this);
    };
    return newRes;

  }, {});

  $('body .algolia-autocomplete').on('click touchstart', '.algolia-no-result-festive .coupon-code .coupon_code_wrapper', function() {
    
    const current_date = new Date();
    let coupon_code = $('.algolia-autocomplete .coupon_code').html();

    // Removing cookie value if alreadt exists

    current_date.setTime(current_date.getTime());
    const current_time = current_date.toUTCString();
    document.cookie = "discount_code='';expires=" + current_time;

    // Seeting cookie for 24 hrs
    let next_day = current_date.setTime(current_date.getTime() + (1 * 24 * 60 * 60 * 1000));
    document.cookie = "discount_code=" + coupon_code + ";expires=" + next_day;
    $('.dis_code_copy_msg').remove();

    let copyText = document.querySelector(".coupon_code");
    copyToClipboard(copyText);

    $('<p class="dis_code_copy_msg">Copied! Discount will be applied on checkout.</p>').insertAfter('.algolia-coupon-container > :last-child')
    setTimeout(function() {
      $(".dis_code_copy_msg").css("display", "none")
    }, 2000);
  });

})(window.algoliaShopify);