/* Top Navigation box (top-navigation-box.liquid) css starts here */

    .top-navigation-box{display: none;}

    @media screen and (max-width: 767px) {
        .top-navigation-box{display: block;padding-top: 10px;padding-bottom: 10px;}
        .top-navigation-box .inner-collections-row {width: auto; overflow-x: auto;flex-wrap: nowrap;}
        .top-navigation-box .single_collection_box{min-width: 80px;display: block;font-size: 9px;margin-right: 10px;text-align: center;}
        .top-navigation-box .single_collection_box .collection{width: 100%; text-align: center; background: #E3E3E3; height: 62px; border-radius: 10px;padding: 10px;}
        .top-collections-row .collection-text span{color: #404040;}
        .collection-mobile-banner-section .collection-image-slider{padding: 10px;}
    }

/* Top Navigation box (top-navigation-box.liquid) css ends here */