   .custom_slides {
        width: 100%;
        overflow: hidden;
     position:relative;
     margin-bottom:20px;
      }
      .slider_track {
        width: 100%;
        display: block;
        float:left;
        height: 100%;
        position:relative;
      }
      .slide img {
        width: 100vw;
      }
.arr{
	display:none;
}
      .prev_ar,
      .next_ar {
        position: absolute;
        top: 50%;
        cursor: pointer;
        font-size: 30px;
      }
      .prev_ar {
        left: 2%;
      }
      .next_ar {
        right: 2%;
      }
      .dots_indc {
        position: absolute;
        left: 50%;
        z-index: 100;
        bottom:2%;
        transform:translateX(-50%);
        display: flex;
        flex-direction: row;
      }
      .slide {
        opacity: 0;
        transition:all 0.4s ease-in;
      }
      .slide_dis {
        display: none;
      }
      .active_slide {
        opacity: 1;
      }
      .arr svg {
        width: 30px;
        height: auto;
        border: solid 1px #000;
        border-radius: 40px;
        padding: 6px;
      }
.dt{
	width:12px;
  height:12px;
  border:solid 2px #747D7D;
  border-radius:40px;
  background-color:transparent;
  display:block!important;
  margin:10px;
  transition:all 0.3s ease-in;
}
.active_dt{
	background-color:#747D7D;
}
.custom_slides .hidden{
	display:none;
}
.dt{
	cursor:pointer;
}
      @media (max-width: 1000px) {
        .desk {
          display: none;
        }
        .mob {
          display: block;
        }
      }
@media(max-width:768px){
  .arr{
  	display:none;
  }
}
@media(min-width:768px){
  .arr{
  	display:block;
  }
}
      @media (min-width: 1000px) {
        .desk {
          display: block;
        }
        .mob {
          display: none;
        }
      }