/* Global Styles */
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');*/
html, body, a, input, button,  { font:normal 15px 'Montserrat', arial; color:#747474; line-height:22px; }

h1, h2, h3, h4, h5, h6{font-family: 'Montserrat'; font-weight:bold;}
ul{ margin:0; padding:0}
ul li{ list-style:none}
a, a:hover, a:focus{ font-family:'Montserrat'; font-weight:bold; text-decoration:none;color:#ff000a}
h2{ color:#009aca; font-size:26px; margin:20px 0; text-transform:uppercase}
p{ font-family: 'Montserrat'; font-weight:500;  color:#000; font-size:15px;}
.fl{ float:left}
.fr{ float:right}
.rel{ position:relative}
li{color: #6a758c}
.display_table{ margin:0 auto; display:table; float:none!important}
.margin-left10{ margin-left:10px}
.margin-right10{ margin-right:10px}
.margin-top10{ margin-top:10px}
.margin-bottom10{ margin-bottom:10px}
.margin-left20{ margin-left:20px}
.margin-right20{ margin-right:20px}
.margin-top20{ margin-top:20px}
.margin-bottom20{ margin-bottom:20px}
.margin-top30{ margin-top:30px}
.margin-bottom30{ margin-bottom:30px}
.margin-top40{ margin-top:40px}
.margin-bottom40{ margin-bottom:40px}
.margin-top60{ margin-top:60px}
.margin-bottom60{ margin-bottom:60px}
.full-width-row { overflow-x: hidden;}
.full-width-row > div { margin-left: -15px; margin-right: -15px;}
.resposive-img{ width:100%}
table{border-collapse: collapse; width: 100%;}
.logo{ display:block; float:left; margin:18px 0 }
/*-----Mega Menu----*/
.menu-container { width:100%; margin: 0 auto; background: #000; font-family: 'Montserrat'; font-weight: 300; padding:0 5rem; position: relative; display:flex}
.menu{ display:flex; width:100%}
.menu-mobile {display: none;padding: 20px;}
.menu-mobile:after {content: "\f394";font-family: "Ionicons";font-size: 2.5rem;padding: 0;float: right;position: relative;top: 50%;-webkit-transform: translateY(-25%);-ms-transform: translateY(-25%);transform: translateY(-25%);}
.menu-dropdown-icon:before {content: "\f489"; font-family: "Ionicons"; display: none; cursor: pointer;float: right; padding: 1.5em 2em; background: #fff; color: #333;}
.menu > ul {margin: 0 0 0 20px;width: 100%;list-style: none;padding: 0;  box-sizing: border-box; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1;-ms-flex-positive: 1; flex-grow: 1}
.menu > ul:before, .menu > ul:after {content: "";display: table;}
.menu > ul:after {clear: both;}
.menu > ul > li {float: left; padding: 0;margin: 0;}
.menu > ul > li a {text-decoration: none;padding: 1.5em 2em;display: block; color:#FFF}
.menu > ul > li:hover {background: #1e1e1e;}
.menu > ul > li:hover > a{ color:#FFF}
.menu > ul > li > ul {display: none; width: 100%;background:#1e1e1e;padding: 20px;position: absolute;z-index: 99;left: 0;margin: 0;list-style: none;box-sizing: border-box;}
.menu > ul > li > ul:before, .menu > ul > li > ul:after {content: "";display: table;}
.menu > ul > li > ul:after {clear: both;}
.menu > ul > li > ul > li {margin: 0; padding-bottom: 0;list-style: none;width:20%;background: none;float: left;}
.menu > ul > li > ul > li a {color: #FFF;padding: .2em 0;width: 95%;display: block; /*border-bottom: 1px solid #ccc;*/}
.menu > ul > li > ul > li a img{ margin-bottom:10px;}
.menu > ul > li > ul > li > ul {display: block;padding: 0;margin: 10px 0 0;list-style: none;box-sizing: border-box;}
.menu > ul > li > ul > li > ul:before, .menu > ul > li > ul > li > ul:after {content: "";display: table;}
.menu > ul > li > ul > li > ul:after {clear: both;}
.menu > ul > li > ul > li > ul > li {float: left;width: 100%;padding:3px 0;margin: 0;font-size: .8em;}
.menu > ul > li > ul > li > ul > li a {border: 0;}
.menu > ul > li > ul.normal-sub {width: 300px;left: auto;padding: 10px 20px;}
.menu > ul > li > ul.normal-sub > li {width: 100%;}
.menu > ul > li > ul.normal-sub > li a {border: 0;padding: 1em 0;}
/* –––––––––––––––––––––––– Mobile style's –––––––––––––––––––––––– */
@media only screen and (max-width: 959px) {
.menu-container {	width: 100%;}
.menu-mobile {display: block;}
.menu-dropdown-icon:before {display: block;}
.menu > ul {	display: none;}
.menu > ul > li {	width: 100%;	float: none;	display: block;}
.menu > ul > li a {	padding: 1.5em;	width: 100%;	display: block;}
.menu > ul > li > ul {	position: relative;}
.menu > ul > li > ul.normal-sub {	width: 100%;}
.menu > ul > li > ul > li {	float: none;width: 100%;margin-top: 20px;}
.menu > ul > li > ul > li:first-child {margin: 0;}
.menu > ul > li > ul > li > ul {position: relative;}
.menu > ul > li > ul > li > ul > li {float: none;}
.menu .show-on-mobile {	display: block;}
}
.side-nav{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; position: relative;right: auto;
top: auto; -webkit-transform: none; transform: none; z-index: 50; }
.side-nav ul{float:right; display:flex; display: -webkit-box; display: -ms-flexbox;}
.side-nav ul li{ padding:20px;}
.side-nav ul li i{ color:#FFF; font-size:24px;}
.body-content-headerbanner1{ position:relative}
.body-content-headerbanner1 .bannercontent{ margin:5rem 4rem; position:absolute; width: 70%; max-width: 480px; }
.body-content-headerbanner1 .bannercontent h2{ font-size:34px; color:#ff0400; font-weight: bold;}
.body-content-headerbanner1 .bannercontent p{ font-size:21px; color:#FFF; font-weight:300; margin-bottom:30px;}
.body-content-headerbanner1 .bannercontent a{ font-size:14px; text-transform:uppercase; padding:15px 35px; /*color:#000;  background:#FFF;*/ display:inline-block;margin-top: 145px;margin-bottom: 20px;}
.body-content-headerbanner2 .bannerright1 img{ width:100%}
.body-content-headerbanner2 .bannerright2{ margin:4rem;  width: 70%; max-width: 480px; position:relative }
.body-content-headerbanner2 .bannerright2 h3{ font-size:34px; color:#000; font-weight: bold; text-transform:uppercase}
.body-content-headerbanner2 .bannerright2 p{ font-size:32px; color:#1f7073; font-weight:600; margin-bottom:30px;}
.body-content-headerbanner2 .bannerright2 a{ font-size:14px; text-transform:uppercase; padding:15px 35px; /*color:#FFF; background:#f63c3c;*/ display:inline-block}
.body-content-headerbanner2 .bannerright2 .pal20{ position:absolute; right:-60px; width:11vw; top:50px;}
.body-content-headerbanner2 .bannerright2 .pal20 img{ width:100%}
.treading-section{ background: rgba(194,7,2,1);
background: -moz-linear-gradient(left, rgba(194,7,2,1) 0%, rgba(255,6,0,1) 48%, rgba(194,9,2,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(194,7,2,1)), color-stop(48%, rgba(255,6,0,1)), color-stop(100%, rgba(194,9,2,1)));
background: -webkit-linear-gradient(left, rgba(194,7,2,1) 0%, rgba(255,6,0,1) 48%, rgba(194,9,2,1) 100%);
background: -o-linear-gradient(left, rgba(194,7,2,1) 0%, rgba(255,6,0,1) 48%, rgba(194,9,2,1) 100%);
background: -ms-linear-gradient(left, rgba(194,7,2,1) 0%, rgba(255,6,0,1) 48%, rgba(194,9,2,1) 100%);
background: linear-gradient(to right, rgba(194,7,2,1) 0%, rgba(255,6,0,1) 48%, rgba(194,9,2,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c20702', endColorstr='#c20902', GradientType=1 ); }
.treading-section-heading{ color:#e17875; font-size:20px; font-weight:600; text-align:left; margin:30px 0 0 60px; text-transform:uppercase; position:absolute; z-index:999}
.treading-section .trending-rockerz a{ display:block;  position:relative; width:100%}

.trending-images{ display: block; width: 100%; height: auto;}
.image{ display: block; width: 100%; height: auto;}
.overlay{ position: absolute; bottom: 0; left: 100%; right: 0; overflow: hidden; width: 0; height: 100%; transition: .5s ease;}
.overlay img{ width:100%; height:auto}
.trending-images:hover .overlay { width: 100%; left: 0; max-width:100%}



.itsdope-section{ background:url(itsdop-background.png) repeat-x 0 0; padding:6rem 0 0 10rem; min-height:478px; position:relative}
.itsdope-section h2{ font-size:64px; color:#ff0400; font-weight: bold;}
.itsdope-section p{ font-size:40px; color:#FFF; font-weight:600; margin-bottom:30px;}
.itsdope-section a{ font-size:14px; background:#FFF; text-transform:uppercase; padding:15px 35px; color:#000; display:inline-block}
.itsdope-section .iphone-airdopes{ position:absolute; right:40px; bottom:0; width:36vw}
.mainpage-end .ka-left-img{ margin:1.5rem 0 0 6rem }
.mainpage-end{ background:url(fuel-by-passion-background.png) no-repeat 0 0 ; background-size:cover;}
.mainpage-end .fuel-text{ width:60%; margin:8rem 0 0 8rem}
.mainpage-end .fuel-text h1{ font-size:5rem; color:#fff; font-weight: bold; text-transform:uppercase; margin-bottom:50px; }
.mainpage-end .fuel-text a{ font-size:14px; background:#FFF; text-transform:uppercase; padding:15px 35px; color:#000; display:inline-block;}
footer{ background:#000; border-top:1px solid #282a29}
.footer-newletter{ text-align:center; padding:4rem 0}
 .footer-newletter h2{ font-size:34px; color:#FFF; font-weight: bold; margin-top: 0;}
 .footer-newletter p{ font-size:18px; color:#FFF; font-weight:300; margin-bottom:30px;}
 .footer-newletter .newsletter-form{ margin-top:2rem}
 .footer-newletter .newsletter-form input{ background:#FFF; border:1px solid #FFF; line-height:45px; display:flex}
 .footer-newletter .newsletter-form button{ font-size:14px; background:#F00; text-transform:uppercase; padding:12px 15px; color:#FFF; border:none}
 .footer-newletter .newsletter-form button i{ font-size:22px;}
footer .footer-links{ border-top:1px solid #282a29;  border-bottom:1px solid #282a29;}
footer .footer-links h4{ font-size:16px; color:#FFF; margin-bottom:3rem}
footer .footer-links a{ color:#FFF; font-weight:300}
footer .podcast-section{  padding:7rem 2rem 0 7rem;}
footer .podcast-section p{ color:#FFF}
footer .podcast-section ul li{ float:left; padding:0 20px 0 0}
footer .mainlinks{  border-right:1px solid #282a29; padding:7rem 0 7rem 6rem; border-left:1px solid #282a29}
footer .mainlinks ul li{ margin-bottom:20px;}
footer .social-media{  padding:7rem 7rem 0 7rem;}
footer .social-media ul li{ float:left; padding:0 35px 0 0}
footer .social-media ul li i{ font-size:24px;}
footer .footer-bottom{ padding:30px 0; color:#404040}
footer .footer-bottom a{ color:#404040; padding:0 10px}

/***Innerpage***/
.mainProductpage h2{ font-size:62px; color:#FFF; font-weight:bold}
.mainProductpage p{ color:#FFF;}
.product-topbanner{ position:relative; color:#000; padding-bottom:50%; width:100%; background:url(../images/Aavante-5/section1-background.jpg) no-repeat 0 0}
.product-topbanner .main-product-image-box .main-product-image{ position: absolute; top: 0; left: 0; z-index: 1; opacity: 1; width: 100%; transition: opacity .25s ease-out;}
.product-topbanner .productDescriptions{ position: absolute; top: 0; right: 0; left: 0; bottom: 0; z-index: 102;}
.product-topbanner .product-buyGrid{  padding-bottom: 1.42857rem; text-align: left; width:30%; height: 100%; padding-top:5%; padding-bottom: 50px; margin-left:5%; float:left}
.productpage-container{ width: 100%; margin:0 auto; height:100%}
.product-topbanner .product-container { height: 100%;}
.product-topbanner .product-buyGrid h2{ font-size:62px; font-weight:bold}
.product-topbanner .product-buyGrid h2 span{font-size: 24px; text-transform: capitalize;display:flex;}
.product-topbanner .product-buyGrid h1{ color:#FFF; letter-spacing: 0;}
/*.product-topbanner .product-buyGrid p:nth-of-type(1){ height:150px; overflow-y: scroll;}*/
.product-vairations-custom .product-price{ font-size:35px; font-weight:bold; margin:3rem 0;}
.product-vairations-custom label{ display: table; background:rgba(255, 255, 255, 0.27);color: #FFF; padding: 5px 8px;  border-radius: 4px;}
.product-vairations-custom .select-color{ border:2px solid #FFF;border-radius:20px; width:40px; height:40px; display:inline-block;z-index:999999;position:relative;cursor:pointer}
.product-vairations-custom button{ background:#000; border-radius:0; border:2px solid #FFF; font-size:12px; text-transform:uppercase; font-weight:bold; padding:15px 15px; font-family: 'Montserrat'; letter-spacing:0; }
.product-vairations-custom button:hover{ border-color:red }
.product-vairations-custom {position: absolute;left: 5%;top: 6%;z-index:999; width:500px}	
.main-product-image-box{ float:right; width:62%; position:relative; height:100%}
.main-product-image-box img{ position:absolute; left:0; right:0; top:0; bottom:0; margin:auto;}
.productPart-two{ background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 66%, rgba(217,240,168,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(66%, rgba(255,255,255,1)), color-stop(100%, rgba(217,240,168,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 66%, rgba(217,240,168,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 66%, rgba(217,240,168,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 66%, rgba(217,240,168,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 66%, rgba(217,240,168,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9f0a8', GradientType=1 ); position:relative; background-size:100% 100%}
.productPart-two .productpart-twoImage{ width:52%; float:left; padding:0 2% 0 0; text-align:center; position:relative;  display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center;-webkit-align-items: center;
-ms-flex-align: center; align-items: center; min-height: 23em; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;}
.productPart-two .productpart-two-content{ padding-top: 1.42857rem; padding-bottom: 1.42857rem; text-align: left; width:45%; min-height: 750px;padding:12% 0 14%; margin-right:2%}
.productPart-two .productpart-two-content h2, .productPart-two .productpart-two-content p{ color:#000}
.productPart-two .productpart-twoImage img{ /*position:absolute; left:0; top:0;*/ max-width: 75%; margin:auto; right:0; }
.productPart-third{ background:url(../images/Aavante-5/section3-background.jpg) no-repeat 0 0;  background-size:100% 100%;}
/*.productPart-third .productpart-thirdImage{ width:46%; float:right }*/
.productPart-third .productpart-thirdImage{ width:46%; display: flex; height: 100%; position: relative; overflow:hidden;  }
.productPart-third .productpart-thirdImage .resposive-img{ width:auto}
.productPart-third .productpart-thirdImage .resposive-img{width: auto;}
.productPart-third .productpart-thirdImage img{ position:absolute; bottom:0;}
.productPart-third .productpart-third-content{ width:45%; padding:12% 0 12%; float:left; margin-left:5%; min-height:810px;}
.productPart-third .productpart-third-content h4{ color:#000; font-weight:bold; font-size:25px;}

.productPart-fourth{ background:url(../images/Aavante-5/section4-background.jpg) no-repeat 0 0; background-size:100% 100%}
/*.productPart-fourth .productpart-fourthImage{ float: right;width:60%;position: relative;height: 100%; padding-top:6%}*/
.productPart-fourth .productpart-fourthImage{ display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center;-webkit-align-items: center;
-ms-flex-align: center; align-items: center; min-height: 23em; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; width:56%; position:relative}
.productPart-fourth .productpart-fourthImage img{  margin:auto; width:80%; -webkit-box-flex: 0; flex: none;}
.productPart-fourth .productpart-fourth-content{ text-align: left; width:35%; height:100%;padding:12% 0 8%; margin-left:5%; float:left}
.productPart-fourth .productpart-fourth-content h4{ color:#FFF; font-weight:bold; font-size:25px; text-transform:uppercase}
.productPart-fourth .productSpecificationbox{ background:#000; padding:30px;}
.productPart-fourth .productSpecificationbox ul li{ padding:6px 0; color:#FFF; overflow:hidden}
.productPart-fourth .productSpecificationbox ul li label{ width:45%; display:block; font-weight:300; margin-bottom:0; float:left}
.productPart-fourth .productSpecificationbox ul li p{ color:#FFF; display:block; float:left; text-align:left; width:55%; margin-bottom:0}
.productPart-fourth .productpart-fourthImage h2{ position:absolute; bottom:110px; width:44rem; right:0px;}
/*.productPart-fourth .productpart-fourthImage h2 span{ font-size:37px;}*/

.productPart-fifth{  background:url(../images/Aavante-5/section5-background.jpg) no-repeat 0 0; background-size:100% 100%; position:relative}
.productPart-fifth img{ max-width: 100%; margin:auto;  }
.productPart-fifth .productpart-fifthImage{ width:48%; float: left; padding: 0 2% 0 0; /*text-align: center; */position: relative;}
.productPart-fifth .productpart-fifthImage img{ width:90%; }
.productPart-fifth .productpart-fifth-content{ padding-top: 1.42857rem; padding-bottom: 1.42857rem; text-align: left; width:45.14286rem; height: 100%;padding:12% 0 14%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column;flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center;justify-content: center; margin-left:6%}
.productPart-fifth .productpart-fifth-content h4{ color:#000; text-transform: inherit; font-weight: 500;}
.productpage-videoSection{ position:relative; height:100%}
.productpage-videoSection .play-video{ margin:0 auto; position:absolute; top:0; bottom:0; left:0; right:0; font-size:24px; text-transform:uppercase; text-align:center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column;flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center;justify-content: center; background-size: 100% 100%; /*opacity: 0.8;*/}
.productpage-videoSection .play-video span{ display:block; margin-top:10px; color:#ff0400; font-size:30px; font-weight:bold; opacity:100}
/*.productpage-videoSection:after{ background:rgba(0,0,0,0.5); content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; opacity: 0.8; z-index: 10; }*/
.product-features{  background:#000; position:relative;  color:#000}
.product-features h2{ margin-bottom:5%;}
.product-features h4{ font-weight:bold; margin:8% 0; font-size:30px;color:#fff;}
.productPart-footer{ background:#0a0a0b url(../images/fuel-by-passion-background.png) no-repeat 0 0; position:relative; height:100%; background-size: cover}
.productPart-footer .productpart-footer-content{ padding-top: 1.42857rem; padding-bottom: 1.42857rem; text-align: left; width:45.14286rem; height: 100%;padding:12% 0 14%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column;flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center;justify-content: center; margin-left:6%}
.productPart-footer .productpart-footerImage{ width:52.14286rem; position:absolute; bottom:0; right:0 }
.productPart-footer #accordionExample .card{ background-color:rgba(0, 0, 0, 0); color:#FFF}
.productPart-footer #accordionExample .card-header h3 button{ color:#FFF;background: none;}
.productPart-footer #accordionExample .card-body p{ color:#FFF}
.productPart-footer #accordionExample .card{ border:1px solid #2b2b2c; border-width:1px 0 0 0}
.productPart-footer #accordionExample .card-header{ padding:1.5rem 1.25rem}

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal { display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);  -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; position: relative; background: #FFF;  -webkit-transition-property: color;  transition-property: color;  -webkit-transition-duration: 0.3s; transition-duration: 0.3s; color:#000}
.hvr-shutter-out-horizontal:before { content: ""; position: absolute; z-index: -1; top: 0; bottom: 0; left: 0; right: 0; background: #ed1c24; -webkit-transform: scaleX(0); transform: scaleX(0);  -webkit-transform-origin: 50%;  transform-origin: 50%;  -webkit-transition-property: transform;  transition-property: transform;  -webkit-transition-duration: 0.3s;  transition-duration: 0.3s; -webkit-transition-timing-function: ease-out;  transition-timing-function: ease-out;}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active { color: white;}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before { -webkit-transform: scaleX(1);  transform: scaleX(1);}

/* Shutter In Horizontal */
.hvr-shutter-in-horizontal{ display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);  -webkit-backface-visibility: hidden;  backface-visibility: hidden;  -moz-osx-font-smoothing: grayscale;  position: relative;  background: #000;  -webkit-transition-property: color;  transition-property: color;  -webkit-transition-duration: 0.3s;  transition-duration: 0.3s; color:#FFF}
.hvr-shutter-in-horizontal:before { content: "";  position: absolute;  z-index: -1;  top: 0;  bottom: 0;  left: 0;  right: 0;  background: #f63c3c;  -webkit-transform: scaleX(1);  transform: scaleX(1);  -webkit-transform-origin: 50%;  transform-origin: 50%;  -webkit-transition-property: transform;  transition-property: transform;  -webkit-transition-duration: 0.3s;  transition-duration: 0.3s;  -webkit-transition-timing-function: ease-out;  transition-timing-function: ease-out; }
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {  color: white;}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before { -webkit-transform: scaleX(0);  transform: scaleX(0);}

input{outline: none;}
input[type=search] {-webkit-appearance: textfield;-webkit-box-sizing: content-box;font-family: inherit;font-size: 100%;}
input[type=search] {background: #000 url(../images/search.png) no-repeat 10px 10px;border: solid 1px #000;padding:15px 10px 15px 32px;width: 20px; position:relative;-webkit-border-radius: 10em;-moz-border-radius: 10em;border-radius: 10em;-webkit-transition: all .5s;-moz-transition: all .5s;transition: all .5s;}
/* input[type=search]:focus {width: 130px;background-color: #fff;border-color: #303030;} */
input:-moz-placeholder {color: #999;}
input::-webkit-input-placeholder {color: #999;}

/* Demo 2 */
#demo-2{ position:relative; margin-top:-10px;}
#demo-2 input[type=search] {width: 15px;padding-left: 10px;color: transparent;cursor: pointer; position:relative; font-family:'Montserrat'; font-weight: 300;}
/*#demo-2:after{ font-family: 'Pe-icon-7-stroke'; content:"\e618"; position:absolute; left:0; color:#FFF; z-index:999; left:8px; font-size:22px; top:10px}*/
#demo-2 input[type=search]:hover {background-color: #1f1f1f;}
#demo-2 input[type=search]:focus {width: 130px;padding-left: 32px; color: #FFF;background-color: #1f1f1f;cursor: auto; }
#demo-2 input:-moz-placeholder {color: transparent;}
#demo-2 input::-webkit-input-placeholder {color: transparent;}

.product-features{ position:relative; padding:6%}
.product-features h2 {font-size: 62px;font-weight: bold;color:#fff;}
.product-features:after{ position:absolute; font-family: 'Pe-icon-7-stroke'; content:"\e686"; color:#000; z-index:999; left:0; font-size:112px; top:0; bottom:0; margin:auto; display:table; cursor:pointer}
.product-features:before{ position:absolute; font-family: 'Pe-icon-7-stroke'; content:"\e684";  color:#000; z-index:999; right:0; font-size:112px; top:0; bottom:0; margin:auto; display:table; cursor:pointer}
@-moz-document url-prefix() { 
.product-features:after{ display:flex; top: 50%;}
.product-features:before{ display:flex; top: 50%;}
}

/****Category Pages****/
.categorySection{ margin:7% 8% 0}
.categorySection h2{ font-size:45px; font-weight:bold; color:#000; text-align:center; margin:60px 0}
.categorySection .categorybtn{ font-size:14px; text-transform:uppercase; padding:15px 35px; color:#FFF;  background:#000; display:inline-block}
.categorySection .collection-sort_input{ background:#FFF; border:1px solid #e5e5e5; padding:10px 10px}
.categorySection .categoryProduct .category-image{ margin-bottom:20px; vertical-align:middle; height: 410px; display: table-cell}
.categorySection .categoryProduct h5{ font-size:18px; color:#000;}
.categorySection .categoryProduct h5:hover{color:#db382e }
.categorySection .categoryProduct p span{ color:#db382e; font-size:18px;}
.categorySection .categoryProduct p span:hover{ color:black }
.categorySection .categoryProduct p abbr{ color:#828282; font-size:15px; text-decoration:line-through}
.categorySection .recentlyViewed_Products{ margin:50px 0}
.categorySection .recentlyViewed_Products h3{ font-weight:bold; text-transform:uppercase; text-align:center; margin-bottom:40px}


.loading{position: fixed;background-color: #fff;opacity: .7;top: 0;left: 0;width: 100%;    height: 100%;display: none;z-index: 999999;}
.spinner{width: 40px;height: 40px;position: relative;margin: 25% auto;}
.double-bounce1, .double-bounce2 {width: 100%;height: 100%;border-radius: 50%;background-color: red;opacity: 0.6;position: absolute;top: 0;left: 0;-webkit-animation: sk-bounce 2.0s infinite ease-in-out;animation: sk-bounce 2.0s infinite ease-in-out;}
.double-bounce2 {-webkit-animation-delay: -1.0s;animation-delay: -1.0s;background-color: yellow;}
.productSpecificationbox table{ color:#FFF}
.productPart-fourth .productSpecificationbox table td p[style]{ color:#FFF!important}
@-webkit-keyframes sk-bounce { 0%, 100% { -webkit-transform: scale(0.0) } 50% { -webkit-transform: scale(1.0) }}
@keyframes sk-bounce { 0%, 100% { transform: scale(0.0); -webkit-transform: scale(0.0); } 50% { transform: scale(1.0); -webkit-transform: scale(1.0); }}

.template-search .page-container{
	background-color:#fff;
}
.template-search .section-header__title{
	color:#000 !important;
}
.template-search input.input-group__field.input--content-color {
    width: 80%;
    color: #fff;
}
.template-search .swatch_swatchdiv{display:none !important;}

.productpage-videoSection {
    position: relative;
    height: 100%;
    float: left;
    width: 100%;
    min-height: 450px;
}
iframe.videoIframe.js-videoIframe {
    float: left;
    width: 100%;
    height: 100%;
  position:absolute;
}
.videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
}
.activevar {
    border-color: red !important;
  	cursor: pointer;
}

.newsletter-section{
  border-top: 1px solid #282a29; background: #000; margin-bottom:0px
}

div#swatch_p_swatchdiv {
    display: none !important;
}

/* Uncomment this line and feature product will show  */
.product-features{display:none;}
/* Uncomment this line and feature product will show  */

.site-header__search-submit{height:65px;font-size:25px;}
svg.icon.icon-cart {
    height: 45px;
}

h2.feedheader {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff; font-size:34px; font-weight:600; margin:0 0 40px 0;
}

.site-header__cart {
    position: relative;
    padding: 0px;
}

.site-header__cart-indicator {
    bottom: auto;
    top: -5px;
  	right: -5px;
  	height: 15px;
    width: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
  	background-color:red;
}
 
.notification--success {
    background-color: black !important;
}
.notification--success a{
    color: red;
}
.btn:hover{
	background-color:red;
}
.instagramfeed{ padding:4rem 0;border:1px solid #282a29; background: #000;}
.body-content-headerbanner2{ height:100%; background:#FFF}

.custom_mailchimp h1{
  display:none;
}
.custom_mailchimp label{
  display:none;
}
.custom_mailchimp input {
    background: #FFF;
    border: 1px solid #FFF;
    height: 74px !important;
    display: flex;
}
.custom_mailchimp .modal-footer {
    font-size: 14px;
    background: #F00;
    text-transform: uppercase;
    padding: 12px 15px;
    color: #FFF;
    border: none;
}

.custom_mailchimp .form-centered {
    position: relative;
}

.custom_mailchimp .modal-footer {
    width: 30px !important;
    position: absolute;
    right: 15px;
    padding: 0px !important;
    top: 10px;
    height: 74px;
}

.custom_mailchimp button#submitactionbutton {
    background-color: red !important;
    top: 0;
    position: absolute;
    height: 100%;
    width: 50px !important;
}
.custom_mailchimp .submit-btn span:after {
    content: "\F142" !important;
    font: normal normal normal 24px/1 "Material Design Icons";
    color: #fff;
}

.custom_mailchimp .submit-btn span {
    color: transparent;
    font-size: 0px;
}
.custom_mailchimp .cntactform_app{
	overflow: inherit;
}
.custom_mailchimp .success_msg {
    position: absolute;
    right: 0px;
    width: 475px;
    top: 100%;
    background-color: transparent !important;
    font-size: 12px !important;
}
.product-vairations-custom{top: 7%;}
@media screen and (max-width: 479px) {
  .main-product-image-box {
      height: 100%;
      margin-top: 480px;
  }
  .product-vairations-custom {
      left:8%;
      top: 4%;
  }
  .product-vairations-custom button{
        margin-bottom: 10px;
  }
  .custommob_icon.medium-up--one-third.section-header__item {
      position: absolute;
      left: 0;
      top: 105%;
      width: 100%;
    display:none;
	}
  .custommob_icon input[type=search]{
    width: 85%;
    left: 10px;
  }
  .custommob_icon  .btn{
  	background-color:red;
  }
  .custom_mailchimp .success_msg {    
    width: 308px;    
  }
  #meet-boatheads .meet-boatheads .productpage-videoSection {
    min-height: 280px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .main-product-image-box {
      margin-top: 300px;
  }
  .product-vairations-custom {
      left: 3%;
  }
  .product-vairations-custom button{
        margin-bottom: 10px;
  }
  .custommob_icon.medium-up--one-third.section-header__item {
      position: absolute;
      left: 0;
      top: 105%;
      width: 100%;
    display:none;
	}
  .custommob_icon input[type=search]{
    width: 85%;
    left: 3%;
  }
  .custommob_icon  .btn{
  	background-color:red;
  }
  .custom_mailchimp .success_msg {    
    width: 308px;    
  }
   #meet-boatheads .meet-boatheads .productpage-videoSection {
    min-height: 460px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
	.product-vairations-custom {
    	position: absolute;
    	left: 13%;
    	top: 3.5%;
    	z-index: 999;
	}
  .main-product-image-box {
      margin-top: 200px;
  }
  .active-form .site-header__search-input{
  	width:100px;
  }
}
@media screen and (min-width: 1024px) and (max-width:1920px) {
.product-vairations-custom {
top: 6%;}
}
.side-nav ul li:nth-child(2){ display:none}
.section-header__item .input-group input[type="search"]{ padding:0px 10px 0px 32px; margin-bottom:0}
.section-header__item .input-group__btn{ margin-left:-46px; z-index:999}
.section-header__item .input-group__btn button{ padding:.375rem 1rem; border-radius: 2.25rem;}
.page-container{background-color: #fff;}
.page-width h1{ margin-top:10%; text-transform:none }
.content-block{ padding:40px 0}
.site-header__upper{ background-color: #000;}
.site-header__logo{ margin-top:0!important }
.template-index{ background:#000}
.service-center-list th{ background:#e8e8e8}
.service-center-list td, th { padding: 10px; border: 1px solid #c1c1c1;}
.template-product .main-content{ padding-bottom:0px;}
.site-header{ z-index:9999}
.template-search .section-header .section-header__title{margin-top:0}

.product-topbanner .product-buyGrid p:nth-of-type(1){ height:130px; overflow: hidden; padding-right: 30px; scrollbar-color:#DDD #000; scrollbar-width: thin;}
.product-topbanner .product-buyGrid p:nth-of-type(1):hover{  overflow-y: visible;  transition: visibility 0.2s;transition: visibility 0s 0.2s;}
.product-topbanner .product-buyGrid p:nth-of-type(1)::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: #F5F5F5;}
.product-topbanner .product-buyGrid p:nth-of-type(1)::-webkit-scrollbar{width: 6px;	background-color: #F5F5F5;}
.product-topbanner .product-buyGrid p:nth-of-type(1)::-webkit-scrollbar-thumb{background-color: #000000;}
.pagination{ margin-bottom:60px}
.tuning-in img{ float:left; margin:0 20px 20px 0}
.full-width--return-link a{ color:#FFF}
.tmenu_item--root > .tmenu_submenu{ border:none}
.blog__title-link a{ color:#f44336}
#NavDrawer .drawer__inner ul li a{ font-size:18px; padding: 30px; font-family: 'Montserrat'; font-weight:bold; border-color: #3e3e3e;}
#NavDrawer .drawer__inner ul li ul{ padding-left:0px!important}
#NavDrawer .drawer__inner ul li a:after{ width: 10%;}
#NavDrawer .drawer__inner ul li ul li a{ padding: 14px;}

/***Section Hided BY HOH***/
.articles-section, .articles-heading{ display:none}
.product-accordain{ display:none}
.template-collection a.product-card abbr{display:none;}

/***News Section***/
.news-section .content-block{ width:32.33%; display: inline-table; padding:0 2% }
.news-section .content-block .content-block__full-image .article__photo-wrapper img{ width:100%}
.news-section .content-block .content-block__full-image{ margin:0px}
.news-section .content-block .blog__meta{ margin-top:15px;}
.news-section .content-block .blog__title-link{text-transform: inherit;}
.news-section .grid{ margin:40px 0}

/***FAQ***/
.ac-row {display: flex;}
.ac-row .ac-col { flex: 1;}
.ac-row .ac-col:last-child { margin-left: 1em;}
/* Accordion styles */
.tabs { border-radius: 8px;  overflow: hidden; box-shadow:0px 11px 17px -2px rgba(0, 0, 0, 0.05); margin-bottom: 30px;}
.tab { width: 100%; color: #000; overflow: hidden;}
.tab-label {display: flex; justify-content: space-between; padding:2em; background: #e4e4e4; font-weight: bold; cursor: pointer; font-family: 'Montserrat'; margin-bottom: 0;    border-bottom: 1px solid #dcdcdc}
.tab-label:hover { background: #d0d0d0;}
.tab-label::after { content: "\276F"; width: 1em; height: 1em; text-align: center; transition: all 0.35s;}
.tab-content { max-height: 0; padding: 0 1em; color: #2c3e50; background: white; transition: all 0.35s;}
.tab-content p{padding:0; margin:0}
.tab-close { display: flex; justify-content: flex-end; padding: 1em; font-size: 0.75em; background: #2c3e50; cursor: pointer;}
.tab-close:hover { background: #1a252f;}
.tab input:checked + .tab-label { background: #d0d0d0;}
.tab input:checked + .tab-label::after { -webkit-transform: rotate(90deg); transform: rotate(90deg);}
.tab input:checked ~ .tab-content {  max-height: 100vh;  padding: 1em;}
.tab input{position: absolute; opacity: 0; z-index: -1;}
.ac-row .ac-col h2{ color:#ff0400}
.content-block ul li{ font-family: 'Montserrat'; color: #484848; font-size: 15px; position:relative}
.content-block ul li{list-style-type:square;}
.pagination{ display:table; margin:30px auto 60px;}
.pagination a, .pagination .current{ padding: 8px 15px; background: #eee; border-radius: 4px;margin-right: 4px;}
.pagination a:hover, .pagination a:focus{ color:#ff0400;  background: #ddd;}
.featured-card{ border-color:#FFF;}
.featured-card__title{ font-family: 'Montserrat'; font-size: 1.2rem;}
.main-content{margin-top: 68px;}
.featured-card__action{color:#ff0400}
.news-section > .grid > .grid__item{ padding-left:0}
#customer_login:first-child span a, #create_customer:first-child span a{ font-size:0!important}
.boat-login .hide{display:none}
#AddressNewForm input, textarea, select, .Edit-address input, textarea, select{ padding:6px 15px; margin-bottom: 5px;}
#AddressNewForm label, .Edit-address label{ margin-bottom: .2rem;}
.template-cart .page-width h1{ margin-top: 2%;}
.continue-guest h2, #RecoverPasswordForm h2{ font-family: 'Montserrat'; font-size:1.4rem; margin-bottom:3%}
.grid #customer_login input[type=submit], .continue-guest input[type=submit], #RecoverPasswordForm input[type=submit], #create_customer input[type=submit]{ border:2px solid #e2e2e2}
#CustomerLoginForm h1{ margin-bottom:3%}
.create-accountt a{ border: 2px solid #e2e2e2; width: 100%; display: inline-block; font-weight: 400; color: #212529;text-align: center; vertical-align: middle; padding:.455rem .75rem; letter-spacing: 0.15em;
    text-transform: uppercase;}
.check-pincode input[type="text"]{ padding: 12px; margin-bottom:0px;}
.check-pincode #onj_notification{ width:100%; margin-top:5px;}
.check-pincode #btnOnjCheckPincode{ color:#FFF}
.check-pincode #onj-pincode-check{  padding-left:6px}
.check-pincode #onj_zipcode[style]{ width:152px!important}
.btn--sold-out {padding: 10px;}
.mobile_cart {    
    position: absolute;
    padding: 0 20px;
    top: 22px;
    display: inline;
    right: 50px;
}
.mobile_cart .site-header__cart-indicator {right: 3px;}
.mobile_cart .pe-7s-shopbag:before {font-size: 18px;}
.btn--secondary-accent[disabled]:hover, .btn--secondary-accent[disabled]:active, .btn--secondary-accent[disabled]:focus {background-color: #d5d5d5;border: 2px solid #ec523e;}
#AddToCart-product-custom{ padding:6px 15px; border: none;}
.tmenu-watermark{ display:none!important; font-size:0px!important}
.product-vairations-custom abbr{ margin:0; display: inline-block; font-size:20px; color: rgba(255,255,255,0.5); text-decoration: line-through;}
.topnav-bar ul li:last-child{ padding-top:8px !important;}

.product-vairations-custom .select-color img{

  border-radius:20px;
}
.meet-boatheads img{ margin:30px 0}
.meet-boatheads .productpage-videoSection{ min-height:670px; background:#000 }
#meet-boatheads .page-container, #boat_x_sunburn .page-container{ background-color:#000}
#meet-boatheads .page-container .page-width h1, #boat_x_sunburn .page-container .page-width h1{ display:none}
#meet-boatheads .page-container .content-block, #boat_x_sunburn .page-container .content-block{ background:#000}

.sunburn-page .productpage-videoSection{ min-height:624px; background:#000 }

/***05-11-2019***/
.new-launches-headings{ text-align:center; position:relative}
.new-launches-headings h2{ font-size:50px; font-weight:300; color:#000;}
.new-launches-headings:after{ position:absolute;top:75px; left: 50%; transform:translate(-50%); width:35%; height:2px; background:#ff0b0b; content:""}
.new-launches-headings p{ font-size:18px; margin:30px 0}
.new-trending-items ul li{ float:left}
.new-trending-items ul li img{ width:100%}
.new-trending-items ul li:first-child, .new-trending-items ul li:last-child{ width:18%}
.new-trending-items ul li{ width:32%}
.trending-mobile{ display:none}
.an-army-boatheads{ margin:0 40px}
.an-army-boatheads li{ float:left; width:40.8%}
.an-army-boatheads li:first-child, .an-army-boatheads li:last-child{ width:29.50%}
.an-army-boatheads li img{ width:100%}
.an-army-boatheads li:nth-child(2){padding:0 8px}
.an-army-boatheads li img:first-child{ margin-bottom:8px}
.
/***Slider CSS***/
#banner-fade{margin-bottom: 60px; position:relative}
ul.bjqs-controls.v-centered li a{display:block;padding:9px 17px;background:rgba(255,255,255,0.78);color:#000;text-decoration: none;}
ul.bjqs-controls.v-centered li a:hover{	background:#000;color:#fff;}
ol.bjqs-markers li a{padding:5px 10px;background:#000;	color:#fff;	margin:5px;	text-decoration: none;}
ol.bjqs-markers li.active-marker a, ol.bjqs-markers li a:hover{	background: #999;}
p.bjqs-caption{	background: rgba(255,255,255,0.5);}

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999; display:none}
#banner-fade:hover ul.bjqs-controls{ display:block}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:5px;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:5px;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:90%; position:absolute; bottom:40px;}
ol.bjqs-markers.h-centered{text-align: right;}
ol.bjqs-markers li{display:inline; }
ol.bjqs-markers li a{display:inline-block; font-size: 0px;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
ol.bjqs-markers li a { padding: 0px 7px; background: #FFF; color:  #fff; margin: 5px; text-decoration: none; border-radius: 50px; height: 14px;}
ul.bjqs-controls.v-centered li.bjqs-prev a, ul.bjqs-controls.v-centered li.bjqs-next a{ border-radius:40px}
.about-links ul li{ width:50%;}
.bjqs .mobile-view-banner{ display:none}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
.meet-boatheads{ text-align:center}
body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { position: relative; width: 500%; margin: 0; left: 0; text-align: left; font-size: 0; animation: 30s slidy infinite; }
.productpage-videoSection img{	padding-top: 2rem;   margin-top: 60px;}

@media only screen and (max-width: 767px) {
.productpage-videoSection img { padding-top: 3.5rem; margin-top: 14px;}
}
.available-onSection .flipkart{ border:1px solid #424242; padding:20px;}
.available-onSection .flipkart a{ display:block}
.available-onSection .flipkart a i{ display:inline-block}
