/* for static pages */
.page-content--medium, .shopify-policy__body {
    max-width: 100%!important;
}
.page-content {
	padding-bottom: 0 !important;
}
.shopify-section--main-page .container:first-child{
    background-color: white;
    color: black;
  padding:2%;
  min-width:100%;
}
.shopify-section--main-page .container:nth-child(2){
    padding:0;
}
.text-container h1{
  color: black;
  font-weight:bold;
} 
.shopify-section--main-page .report--icon img{
  margin: auto;
}
.shopify-section--main-page .user-content, .row-spacing{
  background-color:black;
}
.shopify-section--main-page .security-icon img{
  margin: auto;
}
.shopify-section--main-page .report--icon .heading, .subheading{
  color: black;
  padding-bottom: 2%;
}
.shopify-section--main-page .address-block{
  color:black;
}
.shopify-section--main-page .report--icon img{
  margin: auto;
}
.shopify-section--main-page{
  background-color:white!important;
  color:black;
  overflow-x: hidden;
}
.shopify-section--main-page .page-content {
	margin: 0;padding: 0;
}
.shopify-section--main-page .page-content img {
	margin: 0 auto !important;
}
.breadcrumb{
display:none;
}
.shopify-section--main-page .why-buy-direct .page-header__text-wrapper{
display:none;
}
.shopify-section--main-page .make-in-india .page-header__text-wrapper{
display:none;
}
.shopify-section--main-page .why-buy-direct .container{
padding:0;
}
.shopify-section--main-page .make-in-india .container{
padding:0;
}
.why-buy-direct .page-content {padding: 0;}
.why-buy-direct .block-heading {display: inline-block;}
.why-buy-direct .icon-box img {
  margin: 0 !important;
  display: inline-block !important;
}
.why-buy-direct .user-content {width: 100% !important;}

.shopify-section--main-page .make-in-india .make-in-india-page .main-banner img{
margin:0;
}
.tel a:hover, .email a:hover {color: #FF0000 !important;}

.shopify-section--main-page .user-content{
width:50%;
}


.shopify-section--main-page .boat-head-experience .container{
background-color: black;
  color:white;
  padding:0;
}


.shopify-section--main-page .boat-head-experience .page-header{
display:none;
}


.shopify-section--main-page .do-what-floatsyourboat .container{
  padding:0;
}


.directors-details .table-container .table-wrapper .table-responsive .thead-dark{
background-color:#212529;
  color:white;
}
.thead-dark th {
padding-left:2%!important;
}
.directors-details .table-container .table-wrapper .table-responsive td{
padding-bottom:2%;
}
.shopify-section--main-page .role{
margin: 0;
}
.key-managerial-personnel .page-header__text-wrapper{
display:none;
}
.key-managerial-personnel .heading{
color:black;
  font-weight:600;
}
.key-managerial-personnel .subheading{
  font-weight:600;
}
.board-of-directors .page-header__text-wrapper{
display:none;
}
.board-of-directors .heading{
color:black;
  font-weight:600;
}
.board-of-directors .subheading{
  font-weight:600;
}
.download-pdf a:hover {
	color: #ff0000 !important;
}


/* FAQs & Service Center Page */

.boat-faqs, .service-centers {
	background: white;
  	color: black;
  	padding-bottom: 3vw;
}
.boat-faqs .user-content,
.service-centers .user-content {
	background: white;
  	color: black;
}
.faq-block .panel {
	padding: 18px !important;
}
.service-centers {
	padding-top: 3vw;
}
.service-centers .page-header, .service-centers .page-header-row {
	color: black;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 .shopify-section--main-page img.download-icon, img.next-icon{
  top: -50%!important;
}
 .shopify-section--main-page .ftext:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    bottom: -4px;
    background: #ff0000;
}
}