.membership {
  background: darkred;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
  margin: 5px;
}
.membership p span {
  color: #5e5bbb;
}

.jdgm-star{
	font-family:'JudgemeStar' !important;
}

.wp-block-code{border:0;padding:0}.wp-block-code>div{overflow:auto}.shcb-language{border:0;clip:rect(1px,1px,1px,1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;word-wrap:normal;word-break:normal}.hljs{box-sizing:border-box}.hljs.shcb-code-table{display:table;width:100%}.hljs.shcb-code-table>.shcb-loc{color:inherit;display:table-row;width:100%}.hljs.shcb-code-table .shcb-loc>span{display:table-cell}.wp-block-code code.hljs:not(.shcb-wrap-lines){white-space:pre}.wp-block-code code.hljs.shcb-wrap-lines{white-space:pre-wrap}.hljs.shcb-line-numbers{border-spacing:0;counter-reset:line}.hljs.shcb-line-numbers>.shcb-loc{counter-increment:line}.hljs.shcb-line-numbers .shcb-loc>span{padding-left:.75em}.hljs.shcb-line-numbers .shcb-loc::before{border-right:1px solid #ddd;content:counter(line);display:table-cell;padding:0 .75em;text-align:right;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap;width:1%}
.drawerCart {
  display: none;
}

.drawerCart__header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border-bottom: 1px solid #ddd;*/
}

.drawerCart__close {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='15px' height='16px' viewBox='0 0 15 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.-Menu' transform='translate(-15.000000, -13.000000)' stroke='%23000000'%3E%3Cg id='Group' transform='translate(15.000000, 13.521000)'%3E%3Cpath d='M0,0.479000129 L15,14.2971819' id='Path-3'%3E%3C/path%3E%3Cpath d='M0,14.7761821 L15,-1.24344979e-14' id='Path-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 15px;
  height: 15px;
}

.drawerCart__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  max-width: 500px;
  z-index: 1000000;
  overflow: auto;
  transition: transform 0.3s;
  will-change: transform;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  -webkit-transform: translateX(103%);
  transform: translateX(103%);
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 2px 6px #777;
  background:#323131
}

.drawerCart__content {
  background: #F1F1F1 !important;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  flex-grow: 1;
  padding:1.5rem 0px;
  padding-top: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drawerCart.is-active {
  display: block;
}

.drawerCart.is-visible .drawerCart__wrapper {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  overflow-x: hidden;
}

.drawerCart.is-visible .drawerCart__overlay {
  opacity: 0.5;
}

.drawerCart__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  opacity: 0;
  transition: opacity 0.3s;
  will-change: opacity;
  background-color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.product-image{
  
  max-width: 100%;
    height: auto;
    margin-top: 1.5rem;
}

.name{
      font-size:0.8rem;
    color: white;
   
     position:absolute;
  font-weight:700;
  color:grey;
   margin-top: 1rem;
}

.box{
 display: flex;
    border: 1px solid #fff;
    padding: 0px;
    position: relative;
    height: fit-content;
    margin-top: 3rem;
    margin-left: 13.5rem;
/*     padding-left: 17px; */
    padding-right: 5px;
  height:1.5rem;
  margin-top:2.2rem;
  align-items: center;
}

.plus{
  margin:0px 10px;
}

.bin{
  margin:0px 10px;
  
}

.price-cover {
  background: white;
    color: black;
}

.prices{
 color:white;
  margin-top:2rem;
  margin-bottom:0;
  font-size:0.7rem;
}

/* .cart__item{
  	background:#0a0a0a;
  	border-top:2px solid #5f5e5e;
  	display:flex;
	padding: 15px;
    border-bottom: 2px solid #5f5e5e;
}
 */
.nos{
  color:white;
  margin-bottom:0;
  font-size:0.7rem;
}

.bag{
  display:flex;
  justify-content:space-between;
  background:black;
  padding-top:1.5rem;
  padding-bottom:1.5rem;
}

.img_display{
  max-width: 78%;
  height: 296%;
}


