.owl-nav{display: none;}

/* Promise icons (promise-icons.liquid) css starts here  */
.section__color-wrapper.promise-icons{background:#E8EDF0}
.myIcon img{max-height:44px}
.shopify-section--custom-liquid{background:#fff}
.mySect{color:#000}
.col-md-6.myText{line-height:1.2;font-size:10px;font-weight:700}
.shopify-section.shopify-section--custom-html .section{margin-bottom:0;padding-bottom:32px}
@media(min-width:768px) {
.myIcon img{max-height:45px}
.col-md-6.myText{padding:0;text-align:left;margin:auto;line-height:unset;font-size:13px;font-weight:700}
}
@media(max-width:768px) {
  .section__color-wrapper.promise-icons .myText p{font-size: 9px; font-weight: 500;}
}
@media(min-width:991px) {
.myText p{margin-left:-1rem;line-height:normal;text-transform:uppercase}
.img-row.text-center.row.justify-content-around>div:not(:last-child):after{position:absolute;content:'';width:64%;height:35%;top:35%;border-right:1px solid #000}
}
/* Promise icons (promise-icons.liquid) css ends here  */

/* Main Banner slider css starts here  */
.bootstrap-carousel{margin-top:5px}
.custom_gform_modal .gform_modal_content{height:100%;width:100%;max-width:70%;background-size:100% 100%!important;background-repeat:no-repeat!important;margin:0 auto}
.custom_gform_modal .gform_modal_content .modal-content{background:transparent;height:100%}
.custom_gform_modal .gform_modal_content .modal-content .close{font-size:30px!important;color:#fff;position:absolute;right:10px}
.custom_gform_modal .gform_modal_content .modal-content a{position:absolute;bottom:10px;color:#fff;background:#ed1c26;padding:10px 20px;border-radius:6px}
.custom_gform_modal .gform_modal_content .modal-content .modal-body{height:100%;text-align:center}
.watch_video_modal img{width:25px!important;margin-right:10px}
.watch_video_modal{float:right;cursor:pointer;z-index:99999999;display:flex;margin:10px;font-size:12px;font-weight:700;align-items:center;text-transform:uppercase;opacity:0!important;cursor:unset}
.watch_video_modal.video_unavailable{opacity:.1}
.banner_video_modal{background:rgba(12,0,0,0.86)}
.banner_video_modal .video_container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden}
.banner_video_modal .video_container iframe{border:0;position:absolute;top:0;left:0;width:100%;height:100%}
.banner_video_modal .modal-dialog{max-width:75%;height:auto;margin:auto;position:absolute;top:0;bottom:0;left:0;right:0;height:fit-content}
.banner_video_modal .close{position:absolute;right:0;top:0;font-size:24px!important;color:#000;border:1px solid #fff;background:#fff;border-radius:50%!important;padding:0 4px;z-index:9}
.modal-backdrop.fade.show{display:none}
#homepage-carousel{position:relative}
#homepage-carousel .slide-progress{width:0;max-width:100%;height:2px;background:red;z-index:1;position:relative;bottom:44px}
#homepage-carousel .owl-next,#homepage-carousel .owl-prev{position:absolute;top:50%;transform:translateY(-50%);width:40px;height:100%;text-align:center;opacity:.4;transition:all .4s ease-in-out;border:0!important}
#homepage-carousel .owl-next:hover,#homepage-carousel .owl-prev:hover{opacity:1}
#homepage-carousel .owl-next{right:0}
#homepage-carousel .owl-prev{left:0}
#homepage-carousel .owl-next span,#homepage-carousel .owl-prev span{line-height:30px;font-size:100px;position:relative;color:red}
#homepage-carousel .owl-dots{display:flex;align-items:center;position:absolute;bottom:4px;width:74%;height:35px;left:0;padding-left:55px}
#homepage-carousel button.owl-dot{width:8px;height:8px;background:#44444478!important;margin:0 5px;border-radius:50%!important}
#homepage-carousel button.owl-dot.active{background:#7F7F7F!important;width:40px;border-radius:12px!important}
#main_banner_slider,#homepage-carousel .owl-dots{background:#ebebeb}
#saleModal{z-index:9999;background:#0009;padding:0!important}
#saleModal .modal-dialog,#saleModals-1 .modal-dialog,#saleModals-2 .modal-dialog{top:20%}
#saleModal .close{position:absolute;top:0;right:0;width:30px;height:30px;background:#EB1C24;color:#fff;line-height:30px;font-weight:400;opacity:1;text-align:center;font-size:30px!important}
#saleModal .close:focus{border:0;outline:none}
.error-msg-sale,.thankyou-msg-sale,.aluser-msg-sale{text-align:center;margin:0;font-size:12px;color:#fff;opacity:.8}
.sale-btn:focus{outline:none}
#saleModal img{display:block}
#saleModal .modal-content{border:0}
.modal-form{background:#000}
#saleModal input{border:1px solid #ccc;background:transparent;color:#ccc;margin-right:4px;padding:0 12px}
#saleModal input::-webkit-input-placeholder{color:#ccc}
#saleModal .sale-btn:hover{background:#EB1C24!important}
.modal{transform:translateY(0%)}
@media screen and (max-width: 767px) {
#homepage-carousel .owl-dots{padding-left:20px;left:30%}
.bootstrap-carousel{margin-top:0}
.c-new{padding:0!important}
#homepage-carousel .owl-next,.owl-prev{display:none}
#homepage-carousel .owl-dots{margin-top:0;bottom:4px;width:50%}
.banner_video_modal .modal-dialog{max-width:96%}
}
@media screen and (max-width: 600px) {
#saleModal .modal-dialog,#saleModals-1 .modal-dialog,#saleModals-2 .modal-dialog{top:25%}
}
@media screen and ( min-width: 991px ){
  #homepage-carousel .owl-nav{display: block;}
}
/* Main Banner slider css ends here  */

/* Shop By Category (top-navigation-box.liquid) css starts here */
  .shop_by_category_section{padding-top: 0px;}
  .shop_by_category_section .shop_by_collection-row .owl-carousel{margin-left: 0px;}
  .shop_by_category_section header{margin-bottom: 5px !important;}
  .top-navigation-box header h3.heading {font-size: 24px;}
  .inner-collections-row.row::-webkit-scrollbar {height: 1px !important;}
  .shop_by_category_section .inner-collections-row { display: flex; overflow-x: auto; margin-top: 6px; padding-bottom: 16px; }
  .shop_by_category_section.top-collections .collection { width: 100%; /* background: linear-gradient(to bottom, #fff 0%, #fff 68%, #E9e9e9 30%, #E9e9e9 100%);*/ border-radius: 5px; margin: 0px auto; padding-bottom: 6px; margin-bottom: 10px; height: 82px; margin-left: 0px !important;}
  .shop_by_category_section.top-collections .collection .collection-image{position: relative;display:block;}
  .shop_by_category_section .collection-image img { display: block; margin: auto; }
  .shop_by_category_section .collection-title { font-size: 11px; display: block; font-weight: 400; line-height: normal; color: #000; }
  .shop_by_category_section .collection-image img{margin: auto; width: 74px;}
  .shop_by_category_section .collection-image::after{content: ''; height: 30px; width: 80px; background: #E9E9E9; border-radius: 8px; position: absolute; bottom: 0px; z-index: -1; -webkit-transform: translateX(-50%); transform: translateX(-50%);-webkit-transform: translate(-50%); -ms-transform:  translate(-50%);}
  /* .shop_by_collection-row .owl-dots{display: none;} */
  .shop_by_collection-row button.owl-dot { width: 8px; height: 8px; background: #44444478!important; margin: 0 5px; border-radius: 50%!important; }
  .shop_by_collection-row button.owl-dot.active { background: #7F7F7F!important; width: 40px; border-radius: 12px!important; }
  .shop_by_collection-row .owl-dots{text-align: center;}
  .shop_by_collection-row {padding-top: 0px;}
  .shop_by_category_section .shop_by_collection-row{padding-right:0}
  .top-navigation-box header h3.heading{font-size:16px}
  .shop_by_category_section .inner-collections-row{height:23rem;justify-content:space-between;flex-direction:column;padding-top:16px;align-items:center}
  .shop_by_category_section.top-collections .collection{margin:0 8px}
  .shop_by_category_section.top-collections{padding:0;padding-left:var(--container-gutter);padding-top:var(--container-gutter);margin: 0px auto;}
  .shop_by_category_section .inner-collections-row{height:23rem;justify-content:space-between;flex-direction:column;padding-top:16px;align-items:center}

  /* For ios Devices */
  @media screen and (max-width: 768px) {
    .shop_by_category_section .collection-title{min-height:54px}
    .shop_by_category_section header{margin-bottom:20px!important}
    .shop_by_category_section .shop_by_collection-row{padding-right:0}
    .top-navigation-box header h3.heading{font-size:16px}
    .shop_by_category_section .inner-collections-row{height:23rem;justify-content:space-between;flex-direction:column;padding-top:16px;align-items:center}
    .shop_by_category_section.top-collections .collection{margin:0 8px}
    .shop_by_category_section.top-collections{padding:0;padding-left:0;padding-top:var(--container-gutter)}
    .shop_by_category_section.top-collections .owl-stage-outer{padding-left:10px;padding-top:10px}
    .shopify-section h3.heading{text-align:center!important;width:100%}
    }
    @media screen and (min-width: 1024px) {
    a.collection-block{max-width:74px;margin-inline:4rem;max-width:74px;margin-inline:4rem}
    }
/* Shop By Category (top-navigation-box.liquid) css ends here */

/* Image Carousel (image_carousel.liquid) css starts here */
.container.deal-of-the_day .owl-item{padding-right:1rem}
.deal-of-the_day .item{height:auto}
.collection-banners .carousel-indicators{margin-top:0!important}
.deal-of-the_day .section__header{margin:20px 0}
.deal-slider .owl-dots{text-align:center;margin-top:20px;bottom:20px;width:100%;height:max-content}
.deal-slider button.owl-dot{width:12px;height:12px;background:#44444478!important;margin:0 5px;border-radius:50%!important}
.deal-slider button.owl-dot.active{background:#ccc!important;width:40px;border-radius:10px!important}
@media(min-width:1024px) {
.deal-of-the_day .heading.h3{font-size:24px}
}
/* Image Carousel (image_carousel.liquid) css ends here */

/* Explore now (explore_now_home.liquid) css ends here */
/* .explore_now_section{padding-inline:2rem} */
.explore_now_section .container{background:#F6F6F6;padding-bottom:40px;padding-top:40px}
.explore_now_section .item img{height:auto}
.explore_now_section .section__header{margin:20px 0}
.explore_now_section .heading.h3{font-size:24px}
.explore_now_slider{background:#fff}
.explore_now_slider .owl-dots{text-align:center;margin-top:20px;bottom:20px;width:100%;height:max-content}
.explore_now_slider button.owl-dot{width:12px;height:12px;background:#44444478!important;margin:0 5px;border-radius:50%!important}
.explore_now_slider button.owl-dot.active{background:#ccc!important;width:40px;border-radius:10px!important}
.explore_now_slider .explore_item{position:relative}
.explore_now_slider .explore_item .box_content{position:absolute;top:10px;text-align:center;padding:6px 10px;width:100%;margin:0 auto}
.explore_now_slider .explore_item .box_content .tag_name{background:#fff;padding:4px 10px;color:#FE0500;font-size:10px;text-transform:uppercase;font-weight:600;display:inline-block}
.explore_now_slider .explore_item img{border-radius:6px;width:100%;margin:0;max-height:-webkit-fill-available}
.explore_now_slider .explore_item .explore_now_link{position:absolute;bottom:0;color:#fff;background:#181818;width:100%;text-align:center;padding:6px 10px;border-bottom-left-radius:6px;border-bottom-right-radius:6px}
@media screen and (max-width: 767px) {
.explore_now_section{padding-right:0;margin-bottom:10px}
.explore_now_section .container{padding:0}
.explore_now_slider .explore_item{height:236px}
}
.explore_now_section .container{padding:0}
/* Explore now (explore_now_home.liquid) css ends here */

/* Shop by passion (shop_by_passion_home.liquid) css starts here */
.shop_by_passion_section{margin-top:40px}
.shop_by_passion_section .shop_by_passion_tiles .left_section{width:55%;display:flex;height:max-content}
.shop_by_passion_section .shop_by_passion_tiles .img_box{margin:10px;position:relative}
.shop_by_passion_section .shop_by_passion_tiles .img_box img{border-radius:6px}
.shop_by_passion_section .shop_by_passion_tiles .img_box a.tile_link{position:absolute;bottom:14px;left:20px;z-index:2;color:#fff}
.shop_by_passion_section .shop_by_passion_tiles .img_box a.link_arrow_icon{position:absolute;bottom:14px;right:20px;z-index:2}
.shop_by_passion_section .shop_by_passion_tiles .right_section{width:45%}
.shop_by_passion_section .shop_by_passion_tiles .right_section .img_box.sbp_tile_4{display:flex;height:454px}
.shop_by_passion_section .shop_by_passion_tiles .img_box::after{background:linear-gradient(to bottom,#0000 0%,#0000007a 100%,#E9e9e9 30%,#E9e9e9 100%);border-radius:6px;position:absolute;bottom:0;top:0;left:0;z-index:1;content:'';width:100%;height:100%}
.shop_by_passion_section .shop_by_passion_tiles .sbp_tile_1 img{height:454px}
.shop_by_passion_section .shop_by_passion_tiles .sbp_tile_2 img{height:217px}
.shop_by_passion_section .shop_by_passion_tiles .sbp_tile_3 img{height:217px}
.shop_by_passion_section .shop_by_passion_tiles .center_section{display:grid}
.shop_by_passion_section .shop_by_passion_tiles .img_box a.link_arrow_icon img{height:auto}
@media screen and (max-width: 767px) {
.shop_by_passion_section .shop_by_passion_tiles .left_section{width:100%}
.shop_by_passion_section .shop_by_passion_tiles .right_section{width:100%}
.shop_by_passion_section .shop_by_passion_tiles .right_section .img_box.sbp_tile_4{height:auto!important}
.shop_by_passion_section .shop_by_passion_tiles .sbp_tile_1 img{height:auto}
.shop_by_passion_section .shop_by_passion_tiles .sbp_tile_2 img{height:auto}
}
.shop_by_passion_section .shop_by_passion_tiles .sbp_tile_3 img{height:auto}
.shop_by_passion_section .shop_by_passion_tiles .img_box a.tile_link{font-size:12px;left:8px}
.shop_by_passion_section .shop_by_passion_tiles .img_box a.link_arrow_icon img{height:20px}
/* Shop by passion (shop_by_passion_home.liquid) css ends here */

/* Find your match (find_your_match_home.liquid) css starts here */
.find_your_match_section{margin-top:40px}
.find_your_match_section .content_row{background:#dcfef5;color:#0E0E0E;padding:20px 0}
.find_your_match_section .find_your_match_slider{background-image:url(https://cdn.shopify.com/s/files/1/0057/8938/4802/files/dots_bg.png?v=1662016277);background-size:contain}
.find_your_match_section .find_your_match_slider a{background:#54fcb4;color:#000;padding:6px 10px;border-radius:0 0 15px 15px;font-size:13px;width:100%;font-weight:700;display:block;margin:0 auto}
.find_your_match_section .find_your_match_slider .item{height:200px;width:100%;text-align:center;background:rgba(253,253,253,0.6);padding:0 15px 15px}
.find_your_match_section .find_your_match_slider .item img{height:100%;width:auto;margin:0 auto;padding:16px}
.find_your_match_section .content_wrapper{max-width:70%;padding:40px 20px}
.find_your_match_section .content_wrapper h2{font-size:24px;font-weight:700}
.find_your_match_section .content_wrapper p{font-size:14px;font-weight:500}
@media screen and (max-width: 767px) {
.find_your_match_section .content_wrapper{max-width:100%;padding:20px}
}
.find_your_match_section .content_wrapper h2{font-size:16px}
.find_your_match_section .content_wrapper p{font-size:11px}
.find_your_match_section .find_your_match_slider .item{height:150px}
/* Find your match (find_your_match_home.liquid) css ends here */

/* Our Story (our_story_home.liquid) css starts here */
.our_story_section .content_wrapper{padding:0;width:80%}
.our_story_section .content_row{position:relative;padding:48px 0 0}
.our_story_section .content_row .cmo_img_wrapper{height:300px;text-align:center}
.our_story_section .content_row .cmo_img_wrapper .bg_overlay_img{position:absolute;height:100%;left:80px}
.our_story_section .content_row .cmo_img_wrapper .bg_front_img{height:100%}
.our_story_section .content_wrapper h2{font-size:24px;font-weight:700}
.our_story_section .content_wrapper .story_desc{font-size:15px;font-weight:700}
.our_story_section .content_wrapper .story_signature{margin-top:10%}
.our_story_section .content_wrapper .story_signature .sign_img{display:block}
.our_story_section .content_wrapper .story_signature h3{color:#ff0100;font-size:14px;font-weight:700;line-height:17px}
.our_story_section .content_wrapper .story_signature p{font-size:15px;font-weight:700}
.our_story_section .content_wrapper .story_signature p span{color:#ff0100}
.our_story_section .content_wrapper .story_desc a{font-size:15px;color:#fe0000;font-weight:700;text-decoration:none}
.our_story_section .content_row .cmo_img_section{padding-top:30px}
@media screen and (max-width: 767px) {
.our_story_section .content_wrapper{width:100%;padding:20px 0}
}
.our_story_section .content_row .cmo_img_wrapper .bg_overlay_img{right:100px;left:auto}
.our_story_section .content_row .cmo_img_wrapper .bg_front_img{float:right}
.our_story_section .content_wrapper .story_signature{font-size:10px;margin-bottom:60px}
.our_story_section .content_wrapper .story_signature h3{font-size:10px}
/* Our Story (our_story_home.liquid) css ends here */

/* boat blogs section(featured-blog.liquid) homepage css starts here */
.boat-featured-blogs h3.heading {text-transform: none !important;}
.boat-featured-blogs header h3.heading{text-transform: initial;}
@media screen and (max-width: 767px) {
  .our_story_section .content_wrapper .story_signature {margin-top: 40%;}
  .our_story_section .content_row .cmo_img_section {position: absolute;bottom: 0px;}
  .boat-featured-blogs header{display: block;}
  .boat-featured-blogs header h3.heading{text-align: center;margin-bottom: 8px;}
  .boat-featured-blogs .all-blogs{display: block;text-align: right !important;}
}
/* boat blogs section(featured-blog.liquid) homepage css ends here */

/* Featured Collection css starts here */
@media(max-width:768px) {
  .shopify-section h3.heading{text-align:center!important;width:100%}
  }
  #quinn-cards-layer-1 .swiper{padding:0 10px}
  #quinn-cards-layer-1 .swiper .swiper-slide{margin-right:28px!important}
  .quinn_card_section{background:#f7f7f7;padding-top:20px;padding-bottom:20px}
  .quinn_card_section .quinn_cards{background-color:#f7f7f7!important}
  @media screen and (max-width: 767px) {
  .quinn_card_section{padding:20px 0}
  }
  @media screen and (min-width: 1000px) {
  .product-list__inner--scroller{margin-right:0}
  }
  .shopify-section h3.heading{font-size:18px;text-align:left;font-weight:700;color:#000}
  .tabs-nav__item-list{margin-bottom:4px;margin-top:12px}
  @media (min-width: 991px) {
  .shopify-section h3.heading{font-size:20px}
  }
/* Featured Collection css ends here */

/* Other home sections css starts here */
.press_section h3.heading{color:#000!important}
.press_section .press-list__wrapper split-lines{color:#000}
.quinn_story_widget .quinn_story_default_story_mobile .quinn_story_title{font-weight:600;font-size:11px}
.quinn_story_widget .quinn_story_default_story_mobile .quinn_story_subtitle{line-height:10px;font-weight:600;font-size:11px}
@media (max-width: 767px) {
.shopify-section--image-with-text-block section .image-with-text-block__image-wrapper img{width:100%}
.homepage-collection-banner.container{padding:0}
}
/* Other home sections css ends here */

.explore_now_section .item:first-child {
  padding-left: 0 !important;
}
.explore_now_slider .item {
  margin: 0;
}