{%- comment-%}
<div class="page-header">
    <h1 class="majortitle">{{ 'general.404.title' | t }}</h1>
</div>
<div class="row-spacing align-centre">
    <p>{{ 'general.404.subtext_html' | t }}</p>
</div>
{%- endcomment-%}
<div class="row-spacing align-centre image--div only-desktop">
  <a href="https://www.boat-lifestyle.com/">
    <img class="" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/404.png?v=1620023756" alt="Page not found" />
  </a>
</div>
<div class="row-spacing align-centre image--div mobile-only">
  <a href="https://www.boat-lifestyle.com/">
    <img class="" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/404-mBanner_1.png?v=1620044825" alt="Page not found" />
  </a>
</div>

<style>
  #content {margin:0;padding:0}
  #content >.container {
    padding: 0;
    max-width: 2000px;
}
  .image--div img, .image--div a {display: block;}
</style>