{%- include 'bold-cart' -%}
{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}

{% section 'cart-template' %}


<script type='text/javascript'> 
window.data_2854 = [];
window.data_2854.push({
{%- for item in cart.items -%}
  {
  'ProductId{{ forloop.index }}': '{{item.product.id}}'
  },
{%- endfor -%}
'gdpr': '${GDPR}',
'gdpr_consent': '${GDPR_CONSENT_874}',
'gdpr_pd': '${GDPR_PD}',
'us_privacy': '${US_PRIVACY}',
'PageType': 'basket'
});
(function(d) {
		var s = d.createElement('script'); s.async = true;s.id='DLFNPMMP1';s.type='text/javascript';
		s.src ='https://cdn.preciso.net/aud/clientjs/ptag.js?2854';
		var a = d.getElementsByTagName('script')[0]; a.parentNode.insertBefore(s, a);
	}(document));
</script>
<!-- CANISHUB Widgets START--><div class='canishub-cart-widgets'><div class='canishub-cart-also-bought'></div><div class='canishub-cart-bought-together'></div></div><!-- CANISHUB Widgets END-->
<script src="https://cdn.pagefly.io/static/assets/pf-custom-shopify-cart.min.js" defer></script>
