<div class="container cf">
  <div class="page-header cf">
    <h1 class="majortitle">{{ page.title }}</h1>
  </div>
  <div class="user-content row-spacing">
    <div class="offers-zone">
      <div class="offers-wrapper">
        <div class="main-banner only-desktop">
          <a
            href="https://www.boat-lifestyle.com/collections/boatxipl"
            style="display: block"
          >
            <img
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/offer-page_strip_Web.jpg?v=1634206843"
              alt="main-banner" class="page-banner"
            />
          </a>
        </div>
        <div class="main-banner mobile-only">
          <a
            href="https://www.boat-lifestyle.com/collections/boatxipl"
            style="display: block"
          >
            <img
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/offer-page_strip_mobile.png?v=1634206843"
              alt="main-banner" class="page-banner"
            />
          </a>
        </div>
      </div>
      <div class="offers-cards">
        <div class="row">
          <div class="col-md-4 offer">
            <div class="offer-container">
              <div class="offer-image">
                <img
                  src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/3_1_821856f5-841c-429d-b570-fcc30a61187c.png?v=1634208981"
                  alt="offer"
                />
              </div>
              <div class="offer-details">
                <p class="main-text">Get upto Rs 150 off using Lazypay</p>
                <div class="validity">
                  <p class="label-valid m-0">Validity</p>
                  <p class="valid-date">22nd Oct 2021</p>
                </div>
                <div class="tnc mobile-only">
                  <span class="btn tnc-btn"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
                <div class="tnc only-desktop">
                  <span
                    class="btn tnc-btn"
                    data-toggle="modal"
                    data-target="#lazypay"
                    >Terms & Conditions
                    <span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
                <div class="modal fade" id="lazypay" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <ul>
                          <li>
                            You will receive 20% Cashback to a maximum of Rs 150
                            for first on PayU Payments using LazyPay. The same
                            will be deducted from your LazyPay outstanding
                            amount.
                          </li>
                          <li>
                            Offer is valid only on your first LazyPay
                            transaction on PayU Payments platforms on website,
                            iOS & Android.
                          </li>
                          <li>
                            Offer is valid for transactions between Sep 16 - Oct
                            15, 2021 only.
                          </li>
                          <li>
                            Users who have availed the offer from 1st to 15th of
                            the month will receive cashback on 20th of the same
                            month and users who have availed the offer from 16th
                            to 31st of the month will receive the cashback on
                            5th of the following month, subject to statutory
                            holidays, in which case cashback will be credited on
                            the next working day.
                          </li>
                          <li>
                            Any user who is eligible for more than one offer
                            will receive a cashback of the higher amount only.
                          </li>
                          <li>
                            Cashbacks would not be applicable for
                            canceled/refunded transactions.
                          </li>
                          <li>
                            All cashback received will be adjusted to the
                            outstanding amount.
                          </li>
                          <li>
                            All cashback will be subject to repayment of your
                            outstanding balance of previous credit cycles.
                          </li>
                          <li>
                            LazyPay has the right to amend the terms &
                            conditions, end the offer, or call back any or all
                            its offers without prior notice.
                          </li>
                          <li>
                            In case of dispute, LazyPay reserves the right of
                            final decision on the interpretation of these Terms
                            & Conditions.
                          </li>
                          <li>
                            To check your transaction history and cashback
                            amount download the LazyPay App available on Google
                            Play Store & the App store.
                          </li>
                          <li>
                            Only valid on transactions via Pay Later option.
                          </li>
                          <li>
                            All cashbacks awarded to the users LazyPay account
                            balance will expire on the 60th day from the date it
                            has been awarded. LazyPay reserves the right to
                            change / alter cashback expiry with sufficient prior
                            intimation to the user.
                          </li>
                        </ul>
                      </div>
                      <div class="modal-footer"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="offer-tnc">
                <ul>
                  <li>
                    You will receive 20% Cashback to a maximum of Rs 150 for
                    first on PayU Payments using LazyPay. The same will be
                    deducted from your LazyPay outstanding amount.
                  </li>
                  <li>
                    Offer is valid only on your first LazyPay transaction on
                    PayU Payments platforms on website, iOS & Android.
                  </li>
                  <li>
                    Offer is valid for transactions between Sep 16 - Oct 15,
                    2021 only.
                  </li>
                  <li>
                    Users who have availed the offer from 1st to 15th of the
                    month will receive cashback on 20th of the same month and
                    users who have availed the offer from 16th to 31st of the
                    month will receive the cashback on 5th of the following
                    month, subject to statutory holidays, in which case cashback
                    will be credited on the next working day.
                  </li>
                  <li>
                    Any user who is eligible for more than one offer will
                    receive a cashback of the higher amount only.
                  </li>
                  <li>
                    Cashbacks would not be applicable for canceled/refunded
                    transactions.
                  </li>
                  <li>
                    All cashback received will be adjusted to the outstanding
                    amount.
                  </li>
                  <li>
                    All cashback will be subject to repayment of your
                    outstanding balance of previous credit cycles.
                  </li>
                  <li>
                    LazyPay has the right to amend the terms & conditions, end
                    the offer, or call back any or all its offers without prior
                    notice.
                  </li>
                  <li>
                    In case of dispute, LazyPay reserves the right of final
                    decision on the interpretation of these Terms & Conditions.
                  </li>
                  <li>
                    To check your transaction history and cashback amount
                    download the LazyPay App available on Google Play Store &
                    the App store.
                  </li>
                  <li>Only valid on transactions via Pay Later option.</li>
                  <li>
                    All cashbacks awarded to the users LazyPay account balance
                    will expire on the 60th day from the date it has been
                    awarded. LazyPay reserves the right to change / alter
                    cashback expiry with sufficient prior intimation to the
                    user.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 offer">
            <div class="offer-container">
              <div class="offer-image">
                <img
                  src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/2_1_e4170e7a-4a6a-4cf6-9240-9e27366c1ff2.png?v=1634210930"
                  alt="offer"
                />
              </div>
              <div class="offer-details">
                <p class="main-text">Get flat Rs 75 cashback</p>
                <div class="validity">
                  <p class="label-valid m-0">Validity</p>
                  <p class="valid-date">22nd Oct 2021</p>
                </div>
                <div class="tnc mobile-only">
                  <span class="btn tnc-btn"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
                <div class="tnc only-desktop">
                  <span
                    class="btn tnc-btn"
                    data-toggle="modal"
                    data-target="#mobikwik"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
                <div class="modal fade" id="mobikwik" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <ul>
                          <li>
                            Get flat Rs 75/- Cashback @ boAt on payments via
                            MobiKwik wallet.
                          </li>
                          <li>
                            Minimum transaction amount via MobiKwik to avail the
                            offer is Rs 1199/- and above.
                          </li>
                          <li>Offer validity period: 1st-31st Oct-2021</li>
                          <li>
                            Offer can be availed once per user during the
                            campaign period.
                          </li>
                          <li>
                            Cashback will be credited within 24 hours of the
                            transaction.
                          </li>
                          <li>
                            Offer valid on MobiKwik wallet Payment at BoAt
                            online platform
                          </li>
                          <li>Other general offer T&C as applicable.</li>
                        </ul>
                      </div>
                      <div class="modal-footer"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="offer-tnc">
                <ul>
                  <li>
                    Get flat Rs 75/- Cashback @ boAt on payments via MobiKwik
                    wallet.
                  </li>
                  <li>
                    Minimum transaction amount via MobiKwik to avail the offer
                    is Rs 1199/- and above.
                  </li>
                  <li>Offer validity period: 1st-31st Oct-2021</li>
                  <li>
                    Offer can be availed once per user during the campaign
                    period.
                  </li>
                  <li>
                    Cashback will be credited within 24 hours of the
                    transaction.
                  </li>
                  <li>
                    Offer valid on MobiKwik wallet Payment at BoAt online
                    platform
                  </li>
                  <li>Other general offer T&C as applicable.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 offer">
            <div class="offer-container">
              <div class="offer-image">
                <img
                  src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/1_1_689fc25b-bb13-46ee-8e8a-b7e4b4e2e1ec.png?v=1634211046"
                  alt="offer"
                />
              </div>
              <div class="offer-details">
                <p class="main-text">Get Flat 20% off upto Rs 500</p>
                <div class="validity">
                  <p class="label-valid m-0">Validity</p>
                  <p class="valid-date">22nd Oct 2021</p>
                </div>
                <div class="tnc mobile-only">
                  <span class="btn tnc-btn"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
                <div class="tnc only-desktop">
                  <span
                    class="btn tnc-btn"
                    data-toggle="modal"
                    data-target="#zest"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
                <div class="modal fade" id="zest" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <ul>
                          <li>
                            Pay through ZestMoney at the checkout and get
                            eligible for the cashback.
                          </li>
                          <li>
                            The cashback will be credited to the consumer's bank
                            account directly after 3rd or the last EMI,
                            whichever is the earliest.
                          </li>
                          <li>
                            The Cashback is also applicable for the
                            Pre-payments.
                          </li>
                          <li>Cashback offer valid till 31st October 2021</li>
                        </ul>
                      </div>
                      <div class="modal-footer"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="offer-tnc">
                <ul>
                  <li>
                    Pay through ZestMoney at the checkout and get eligible for
                    the cashback.
                  </li>
                  <li>
                    The cashback will be credited to the consumer's bank account
                    directly after 3rd or the last EMI, whichever is the
                    earliest.
                  </li>
                  <li>The Cashback is also applicable for the Pre-payments.</li>
                  <li>Cashback offer valid till 31st October 2021</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 offer">
            <div class="offer-container">
              <div class="offer-image">
                <img
                  src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/6_33c239fb-d14a-4426-99f1-22c83621ded3.png?v=1634211183"
                  alt="offer"
                />
              </div>
              <div class="offer-details">
                <p class="main-text">Min Rs 150 off on orders above Rs 1500</p>
                <div class="validity">
                  <p class="label-valid m-0">Validity</p>
                  <p class="valid-date">22nd Oct 2021</p>
                </div>
                <div class="tnc mobile-only">
                  <span class="btn tnc-btn"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
                <div class="tnc only-desktop">
                  <span
                    class="btn tnc-btn"
                    data-toggle="modal"
                    data-target="#rewards"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
                <div class="modal fade" id="rewards" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <ul>
                          <li>
                            Use coupon code & save minimum Rs.150 using your
                            Reward points/Twid Flash offers
                          </li>
                          <li>
                            Minimum Rs.150 instant discount applicable on using
                            Pay with Rewards. The instant discount is a
                            combination of your existing Reward Points and Flash
                            Offers.
                          </li>
                          <li>
                            The value of Pay with Rewards Flash Offer/Discount
                            Voucher would be issued basis the highest reward
                            balance (in Rs) linked to the customers mobile
                            number irrespective of the loyalty program selected
                            by the customer for the payment.
                          </li>
                          <li>
                            Customers who are not enrolled on any of the
                            associated loyalty programs on Pay with Rewards will
                            not be eligible for the offer.
                          </li>
                          <li>Valid on minimum transaction value of Rs.1500</li>
                          <li>
                            Offer valid for all users once per user during the
                            offer period.
                          </li>
                          <li>Offer is valid till 30th November 2021.</li>
                          <li>
                            Twid and boAt reserves the right to withdraw, modify
                            or replace this offer with another offer at any time
                            without prior notice and the same is at the sole
                            discretion of the company.
                          </li>
                          <li>
                            This offer cannot be combined with any other offer.
                          </li>
                          <li>
                            By availing this offer, it is deemed that the
                            customer has agreed to all the terms & conditions
                            mentioned herein.
                          </li>
                          <li>
                            All terms and conditions as mentioned on the site
                            will be applicable for this offer.
                          </li>
                        </ul>
                      </div>
                      <div class="modal-footer"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="offer-tnc">
                <ul>
                  <li>
                    Use coupon code & save minimum Rs.150 using your Reward
                    points/Twid Flash offers
                  </li>
                  <li>
                    Minimum Rs.150 instant discount applicable on using Pay with
                    Rewards. The instant discount is a combination of your
                    existing Reward Points and Flash Offers.
                  </li>
                  <li>
                    The value of Pay with Rewards Flash Offer/Discount Voucher
                    would be issued basis the highest reward balance (in Rs)
                    linked to the customers mobile number irrespective of the
                    loyalty program selected by the customer for the payment.
                  </li>
                  <li>
                    Customers who are not enrolled on any of the associated
                    loyalty programs on Pay with Rewards will not be eligible
                    for the offer.
                  </li>
                  <li>Valid on minimum transaction value of Rs.1500</li>
                  <li>
                    Offer valid for all users once per user during the offer
                    period.
                  </li>
                  <li>Offer is valid till 30th November 2021.</li>
                  <li>
                    Twid and boAt reserves the right to withdraw, modify or
                    replace this offer with another offer at any time without
                    prior notice and the same is at the sole discretion of the
                    company.
                  </li>
                  <li>This offer cannot be combined with any other offer.</li>
                  <li>
                    By availing this offer, it is deemed that the customer has
                    agreed to all the terms & conditions mentioned herein.
                  </li>
                  <li>
                    All terms and conditions as mentioned on the site will be
                    applicable for this offer.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 offer">
            <div class="offer-container">
              <div class="offer-image">
                <img
                  src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/4_1_b115cff9-a7b1-402f-9867-00690a34613b.png?v=1634211235"
                  alt="offer"
                />
              </div>
              <div class="offer-details">
                <p class="main-text">
                  Get cashback upto Rs 500 on orders above Rs 1000
                </p>
                <div class="validity">
                  <p class="label-valid m-0">Validity</p>
                  <p class="valid-date">22nd Oct 2021</p>
                </div>
                <div class="tnc mobile-only">
                  <span class="btn tnc-btn"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
                <div class="tnc only-desktop">
                  <span
                    class="btn tnc-btn"
                    data-toggle="modal"
                    data-target="#paytm"
                    >Terms & Conditions<span class="arrow-down">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#c4c4c4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg> </span
                  ></span>
                </div>
                <div class="modal fade" id="paytm" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <ul>
                          <li>
                            This offer is applicable only when you Pay on Boat
                            for ₹1000 or more
                          </li>
                          <li>
                            Offer can be availed 1 time during the campaign
                            validity
                          </li>
                          <li>
                            Offer is valid only on making payment on Boat using
                            Paytm wallet
                          </li>
                          <li>
                            On your first transaction, the offer will be
                            automatically activated.
                          </li>
                          <li>
                            Pay on Boat 1 time before 15-10-2021, 23:59:00 to
                            earn up to ₹500 Cashback
                          </li>
                          <li>
                            Each reward will be received within 30 days of
                            completion of transaction on which the reward is
                            eligible.
                          </li>
                          <li>
                            All scratch cards issued from this offer will expire
                            after 7 days
                          </li>
                          <li>
                            If you have not completed your KYC, or have breached
                            your monthly wallet limit, instead of cashback, you
                            will receive cashback in Gift Voucher
                          </li>
                          <li>
                            Paytm reserves its absolute right to withdraw and/or
                            alter any terms and conditions of the offer at any
                            time without prior notice.
                          </li>
                        </ul>
                      </div>
                      <div class="modal-footer"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="offer-tnc">
                <ul>
                  <li>
                    This offer is applicable only when you Pay on Boat for ₹1000
                    or more
                  </li>
                  <li>
                    Offer can be availed 1 time during the campaign validity
                  </li>
                  <li>
                    Offer is valid only on making payment on Boat using Paytm
                    wallet
                  </li>
                  <li>
                    On your first transaction, the offer will be automatically
                    activated.
                  </li>
                  <li>
                    Pay on Boat 1 time before 15-10-2021, 23:59:00 to earn up to
                    ₹500 Cashback
                  </li>
                  <li>
                    Each reward will be received within 30 days of completion of
                    transaction on which the reward is eligible.
                  </li>
                  <li>
                    All scratch cards issued from this offer will expire after 7
                    days
                  </li>
                  <li>
                    If you have not completed your KYC, or have breached your
                    monthly wallet limit, instead of cashback, you will receive
                    cashback in Gift Voucher
                  </li>
                  <li>
                    Paytm reserves its absolute right to withdraw and/or alter
                    any terms and conditions of the offer at any time without
                    prior notice.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="collection-block">
      {% if linklists.ultimate-sale.links.size > 0 %}
        {% for link in linklists.ultimate-sale.links %}
          {% if link.title == "IPL" %}
              {% include 'page-collections-ipl' %}
          {% endif %}
        {% endfor %}
      {% endif %}  
    </div>
    </div>
    
  </div>
</div>
<style>
      #content {
        margin-top: 0px;
        padding-bottom: 0px;
      }
      #content .container {
        max-width: 2000px;
      }
      .page-header {
        display: none;
      }
      body {
        background-color: black;
      }
      .majortitle {
        color: #fff;
        display: none;
      }
      .mobile-only {
        display: none;
      }
      .offers-zone .offer-image img, .page-banner {
        display: block;
        max-width: 100%;
        width: 100%;
      }
      .offers-cards {
        background-color: #f2f0f1;
        padding: 2rem;
      }
      .offer {
        background-color: #ffffff;
        border-radius: 2em;
        margin: 1.5rem 1rem;
        padding: 1.5rem;
      }
      .offer-details {
        clear: both;
        overflow: hidden;
      }
      .tnc-btn {
        border: 1px solid #ccc;
        border-radius: 5px;
        display: inline-block;
        max-width: 50%;
        float: right;
        width: 100%;
        font-size: 12px;
      }
      .tnc-btn.active {
        background-color: #ff0000;
        color: #ffffff;
      }
      .main-text {
        margin-top: 10px;
        font-size: 20px;
      }
      .label-valid {
        color: #c4c4c4;
      }
      .offer-tnc {
        clear: both;
        margin-top: 20px;
        border-top: 2px solid #c4c4c4;
        padding-top: 12px;
        display: none;
      }
      .offer-tnc ul {
        padding-left: 18px;
      }
      .modal-open {
        padding: 0 !important;
      }
      .offers-zone .modal {
		background: #1a1111a6;
      }
      .offers-zone .modal-dialog {
        max-width: 700px;
      }
      .white svg {
        stroke: #fff;
      }
      @media screen and (max-width: 767px) {
        .mobile-only {
          display: block;
        }
        .only-desktop {
          display: none;
        }
        .offer {
          margin-left: 0;
          margin-right: 0;
        }
        .tnc-btn {
          max-width: 80%;
        }
        .tnc-btn.active {
          border-color: #fff;
        }
        #content .container {
            padding: 0;
        }
        .offer-tnc ul {margin: 0;}
        .offer-tnc ul li {font-size: 14px;}
      }
      @media screen and (min-width: 1101px) {
        .offer {
          max-width: 31%;
        }
      }
    </style>	
<script>
      $(document).ready(function () {
        if (window.matchMedia('(max-width: 767px)').matches) {
          $('.tnc-btn').click(function () {
            $(this).toggleClass('active');
            $(this).find('.arrow-down').toggleClass('white');
            $(this)
              .closest('.tnc')
              .closest('.offer-details')
              .siblings('.offer-tnc')
              .slideToggle();
          });
        }
      });
    </script>
{% include 'cards-extras' %}
