<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
  /*           @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  *{
  font-family: 'Roboto', sans-serif;
  } */
  #content{
    margin-top: 0;
  }
  .section-1 {
    /*             background-image: url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Header_Image_Background.png?v=1642523781");
    background-size: cover;
    text-align: center; */
    position: relative;
    /*           aspect-ratio: 2; */
  }
  .sec-1-back{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
  .boat-select img {
    /*             height: 10vw; */
    width: 22vw;
    /*             margin-top: 4rem;
    margin-bottom: 2rem; */
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .info h1 {
    font-size: 3vw;
    width: 60%;
    font-weight: 300;
  }
  span {
    font-weight: bold;
  }
  .color-blue {
    color: #1852f2;
  }
  .sec1-outer-content {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .sec1-outer-content h4 {
    font-size: 1.5vw;
    width: 55%;
    font-weight: 500;
    line-height: 2vw;
    font-weight: 600;
    margin-top: 2.1vw;
    margin-bottom: 2vw;
  }
  .section-2 {
    /*           background-image: url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Background_Desktop.jpg?v=1642523781"); */
    /*           background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
  }
  .sec2-back{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
  .all-flex {
    margin-top: 10rem;
    /* width: 24vw; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }
  .flex-item {
    display: flex;
    flex-direction: column;
    /*             margin-bottom: 5vw; */
    width: 24vw;
  }

  .img1 {
    position: absolute;
    left: 5.5vw;
    top: 0;
    width: 26vw;
  }
  .img2 {
    position: absolute;
    bottom: 34.5vw;
    right: 0;
    /* height: 600px; */
    width: 24vw;
    z-index: 1;
  }
  .img4 {
    position: absolute;
    bottom: 21vw;
    right: 1vw;
    width: 33vw;
  }
  .flex-item h3 {
    letter-spacing: 0.3vw;
    font-size: 1.8vw;
    font-weight: 600;
    color: #313735;
  }
  .flex-item h1 {
    justify-content: flex-start;
    font-size: 4vw;
    font-weight: 800;
    margin-top: 0;
    line-height: 3.7vw;

  }
  .flex-item p {
    letter-spacing: 0px;
    font-size: 1.1vw;
    line-height: 1.5;
    font-weight: 600;
  }
  .flex-item a {
    margin-top: 0.25vw;
    font-size: 1.1vw;
    font-weight: 700;
    color: #1852f2;
  }
  .sec2-outer-content {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .sec2-outer-content h4 {
    font-size: 1.7rem;
    width: 58%;
    font-weight: 500;
  }
  .img3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .no-1 {
    position: absolute;
    left: 26%;
    height: 8%;
    width: 12%;
  }

  .join {
    background-color: #1852f2;
    border: 2px solid #1852f2;
    border-radius: 5px;
    /* height: 1vw; */
    color: white;
    font-size: 1.5vw;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    margin: 0 auto;
    margin-top: -1.5vw;
    padding: 0.4vw 2vw;
  }
  .content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 35vw;
    position: relative;
    z-index: 9;
    align-items: center;
    aspect-ratio: 2.2;
  }
  .head-section-1{
    font-size: 3.5vw;
    text-align: center;
  }
  .outer-flex-div{
    display: flex;
    margin-bottom: 5vw;
    justify-content: center;
  }
  .number-div{
    font-size: 15vw;
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 800;
    color: #03f3ac;
    padding-right: 1.8vw;
    z-index: 9;
    min-width: 21vw;
    /*     font-family: 'Roboto', sans-serif; */
  }
  .join-tribe {
    /*           height: 13vw; */
    width: 13vw;
  }
  .hardik-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 35vw;
    padding: 0 6vw;
  }
  .hardik-item {
    position: relative;
    align-items: center;
  }
  .hardik-item p {
    font-size: 2vw;
    font-weight: 600;
  }
  .hardik-item h2 {
    font-size: 3.5vw;
    font-weight: 800;
  }
  .color-red {
    color: #ed1a23;
    font-weight: 800;
  }
  .sling-marker {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10vw;
  }
  .section-3 {
    background-image: url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Hardik_Banner.png?v=1642523781");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4rem;
  }
  .section-4 {
    background-image: url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Video_Banner.jpg?v=1642523781");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.5vw 0;
  }
  .section-4 .hardik-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: auto;          
  }
  .section-4 .hardik-container .hardik-item h2 {
    color: white;
  }
  .join-tribe-img{
    width: 10vw;
  }
  .join2{
    background-color: #1852f2;
    border: 2px solid #1852f2;
    border-radius: 2px;
    height: 1vw;
    color: white;
    font-size: 1.4vw;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    margin: 0 auto;
    margin-top: -1.5vw;
    padding: 1vw 1vw;
    position: relative;
    left: -2vw;
  }
  .sec2-outer-content h4 {
    font-size: 1.6vw;
    width: 55%;
    font-weight: 500;
    line-height: 2vw;
    font-weight: 800;
    margin-top: 4vw;
    /*     margin-bottom: 2vw; */
  }
  .sect-4-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vw;
  }
  .sect-4-video{
    display: flex;
  }
  .sect-4-text h2{
    color: white;
    font-weight: 700;
    font-size: 3.5vw;
  }
  .sect-4-video{
    width: 46vw;
  }
  .sec4-outer-content, .sec5-outer-content {
    justify-content: center;
    text-align: center;
  }
  .sec4-outer-content h4, .sec5-outer-content h4 {
    font-size: 3.5vw;
    font-weight: 700;
    margin-top: 5vw;
  }

  .sec4-outer-content p {
    font-size: 1.2vw;
    font-weight: 600;
    color: #656464;
    margin-bottom: 2.7vw;
  }
  .photo-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
  .photo-gallery img {
    flex-wrap: wrap;
    width: 23%;
    margin: 0.5vw 0.5vw;
  }
  .section-6{
    align-items: center;
    padding: 1rem;
  }
  .content {
    border-top: 2px solid #b5b5b5;
  }


  .section-6 .content p{
    font-size: 0.8vw;
    line-height: 1.5;
  }
  .sect-6-content{
    color: #686868;
    font-size: 0.8vw;
    font-weight: 500;
    padding: 0 2.5vw;
  }
  .sect-6-content > h4{
    font-size: 0.95vw;
    margin-bottom: 1vw;
  }
  .sect-6-content > p{
    margin-bottom: 0;
  }
  .sect-6-content ul{
    margin-top: 0vw;
    margin-bottom: 0vw;
  }
  .first-term{
/*     margin-bottom: 1vw !important; */
  }
  .line-break{
    border: none;
    width: 100%;
    color: transparent;
    border-bottom: 3px solid #e2e2e2;
    height: 9px;
    /* margin: 1em 198px; */
    /* margin: 0 30vw; */
    width: 95vw;
    margin: auto !important;
    padding-top: 3.4vw;
    margin-bottom: 3vw !important;
  }
  .sec1-back-mob{
    display: none;
  }
  .head-section-1-mob{
    display: none;
  }
  .h1-mob{
    display: none;
  }
  .sec2-back-mob{
    display: none;
  }
  .photo-gallery-car{
    display: none;
  }
  .join img{
    width: 2.5vw;
    margin-left: 1vw;
  }
  .join2 img{
    width: 2.5vw;
    margin-left: 1vw;
  }
  .join3 img{
    width: 2.5vw;
    margin-left: 1vw;
  }
  .blue-arrow{
    width: 2vw;
    margin-left: 0.4vw;
  }
  .sec2-outer-content{
    position: relative;
  }
  .sec2-outer-underline {
    position: absolute;
    bottom: -2vw;
    right: 44vw;
    width: 12vw;
  }
  .hardik-item-text{
    position: relative;
  }
  .hardik-underline {
    position: absolute;
    width: 12vw;
    right: 1vw;
    bottom: -1.5vw;
  }
  .join3 {
    background-color: #1852f2;
    border: 2px solid #1852f2;
    border-radius: 2px;
    height: max-content;
    color: white;
    font-size: 1.4vw;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
    margin: 0 auto;
    margin-top: 0vw;
    padding: 0.3vw 1vw;
    /* position: relative; */
    left: 0vw;
    margin-top: 4vw;
    font-weight: 600;
  }
  .join-redirect{
    outline !important;
  }
  sup{
    top: -2vw;
    font-size: 30px;
    font-weight: 600;
  }
  @media (max-width: 768px){
    .sec1-back-mob{
      display: block;
    }
    .sec1-back-desk{
      display: none;
    }
    .content{
/*       aspect-ratio: 0.6; */
      width: 100%;
      height: 150vw;
    }
    .boat-select img{
      width: 75vw;
    }
    .head-section-1-desk{
      display: none !important;
    }
    .head-section-1-mob {
      display: block;
      font-size: 9vw;
      line-height: 1.1;
      padding: 0 5vw;
      letter-spacing: -2px;
    }
    .join {
      padding: 0;
      background-color: #1852f2;
      border: 2px solid #1852f2;
      border-radius: 5px;
      height: 9vw;
      color: white;
      font-size: 4vw;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38vw;
      margin: 0 auto;
      margin-top: 0;
    }
    .sec1-outer-content h4 {
      font-size: 3.8vw;
      width: 70%;
      font-weight: 500;
      line-height: 6vw;
      font-weight: 600;
      margin-top: 0.1vw;
      margin-bottom: 31vw;
    }
    .img1 {
      position: absolute;
      left: 4.5vw;
      top: 0;
      width: 60vw;
      margin-top: -17vw;
    }
    .all-flex{
      margin-top: 72vw;
      width: 70vw;
    }
    .outer-flex-div {
      display: flex;
      margin-bottom: 5vw;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      align-items: center;
    }
    .number-div{
      font-size: 55vw;
      height: 46vw;
      margin-bottom: 4vw;
    }
    .flex-item{
      width: 97%;
    }
    .flex-item h3 {
      letter-spacing: 0.3vw;
      font-size: 6.8vw;
      font-weight: 600;
      color: #313735;
      width: 74%;
    }
    .h1-mob{
      display: block;
    }
    .h1-desk{
      display: none;
    }
    .flex-item h1 {
      justify-content: flex-start;
      font-size: 10vw;
      font-weight: 800;
      margin-top: 0;
      line-height: 10vw;
    }
    .flex-item p {
      letter-spacing: 0px;
      font-size: 4.4vw;
      line-height: 1.5;
      font-weight: 600;
    }
    .flex-item a {
      margin-top: 0.25vw;
      font-size: 3.8vw;
      font-weight: 700;
      color: #1852f2;
      margin-bottom: 6vw;
    }
    .flex-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      margin-bottom: 180vw;
    }
    .img2 {
      position: absolute;
      bottom: -161vw;
      right: 0;
      /* height: 600px; */
      width: 83vw;
      z-index: 1;
    }
    .img4 {
      position: absolute;
      bottom: -191vw;
      right: 34vw;
      width: 71vw;
    }
    .join-tribe-img {
      width: 40vw;
      position: relative;
      top: 10vw;
    }
    .sec2-back-mob{
      display: block;
    }
    .sec2-back-desk{
      display: none;
    }
    .section-2{
      aspect-ratio: 0.18;
    }
    .sec2-outer-content h4 {
      font-size: 4.2vw !important;
      width: 90%;
      font-weight: 500;
      line-height: 6vw;
      font-weight: 800;
      margin-top: 8vw;
      letter-spacing: 0 !important;
    }
    .section-3 {
      background: url(https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Hardik_Banner_Mobile_3bae4316-5184-45c2-ab7d-35068b7a52de.jpg?v=1642598146);
      width: 100%;
      height: 220vw;
      margin-top: 18vw;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .hardik-item h2 {
      font-size: 6.5vw;
      font-weight: 800;
      line-height: 11vw;
    }
    .hardik-item p {
      font-size: 5.5vw;
      font-weight: 600;
    }
    .hardik-container{
      text-align: center;
      padding: 0 6vw;
      justify-content: center;
    }
    .hardik-item-text{
      position: relative;
      align-items: center;
      height: 58vw;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-top: 16vw;
    }
    .join2 {
      background-color: #1852f2;
      border: 2px solid #1852f2;
      border-radius: 2px;
      height: max-content;
      color: white;
      font-size: 4vw;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36vw;
      margin: 0 auto;
      margin-top: 0vw;
      padding: 2vw 1vw;
      /* position: relative; */
      left: 0vw;
      margin-top: 15vw;
    }
    .join3 {
      background-color: #1852f2;
      border: 2px solid #1852f2;
      border-radius: 2px;
      height: max-content;
      color: white;
      font-size: 4vw;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36vw;
      margin: 0 auto;
      margin-top: 0vw;
      padding: 2vw 1vw;
      /* position: relative; */
      left: 0vw;
      margin-top: 6vw;
    }
    .hardik-item h2 {
      font-size: 10vw;
      font-weight: 800;
      line-height: 12vw;
    }
    .sect-4-inner{
      flex-direction: column;
      height: 96%;
    }
    .section-4{
      background: url('https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Video_Banner_Mobile.png?v=1642523781');
      height: 124vw;
      width: 100%;
    }
    .sect-4-text h2 {
      line-height: 11vw;
      color: white;
      font-weight: 700;
      text-align: center;
      font-size: 10vw;
    }
    .sect-4-inner{
      padding: 0;
    }
    .sect-4-video {
      width: 100%;
      position: relative;
      top: 7vw;
    }
    .sect-4-text{
      height: 60vw;
      display: flex;
      align-items: center;
    }
    .photo-gallery{
      display: none;
    }
    .slick-list {
      padding:0 20% 0 0 !important;
    }
    .slick-initialized .slick-slide {
      /*     display: block; */
      margin-left: 25px;
    }
    .sec4-outer-content h4, .sec5-outer-content h4 {
      font-size: 9vw;
      font-weight: 700;
      margin-top: 10vw;
    }
    .sec4-outer-content p {
      font-size: 3.2vw;
      font-weight: 600;
      color: #656464;
      margin-bottom: 4.7vw;
      line-height: 1.4;
    }   
    .photo-gallery-car{
      display: block;
      margin-bottom: 12vw;
      min-height: 74vw !important;
    }
    .sect-6-content {
      color: #686868;
      font-size: 2.5vw;
      font-weight: 500;
      padding: 0 2.5vw;
      line-height: 5vw;
    }
    .first-term {
      margin-bottom: 6vw !important;
    }
    .sect-6-content > h4 {
      font-size: 3vw;
      margin-bottom: 6vw;
    }
    .line-break {
      border: none;
      width: 100%;
      color: transparent;
      border-bottom: 3px solid #e2e2e2;
      height: 9px;
      /* margin: 1em 198px; */
      /* margin: 0 30vw; */
      width: 95vw;
      margin: auto !important;
      padding-top: 12.4vw;
      margin-bottom: 3vw !important;
    }
    .slick-track{
      min-height: 74vw !important;
    }
    .slick-slider .slick-list, .slick-slider .slick-track{
      min-height: 74vw !important;
    }
    .join img{
      width: 6vw;
      margin-left: 2vw;
    }
    .join2 img{
      width: 6vw;
      margin-left: 2vw;
    }
    .join3 img{
      width: 6vw;
      margin-left: 2vw;
    }
    .blue-arrow{
      width: 6vw;
      margin-left: 2vw;
    }
    .hardik-underline {
      position: absolute;
      width: 26vw;
      right: 8vw;
      bottom: -1vw;
    }
    .sec2-outer-underline {
      position: absolute;
      bottom: -4vw;
      right: 38vw;
      width: 25vw;
    }
    sup{
    top: -3.7vw;
    font-size: 25px;
    font-weight: 600;
  }
  }
  
</style>
<section class="section-1">
  <img class="sec-1-back sec1-back-desk" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Header_Image_Background.png?v=1642523781" />
  <img class="sec-1-back sec1-back-mob" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Header_Image_Background_Mobile.jpg?v=1642523781" />

  <div class="content">
    <div class="boat-select">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/boAt_Select_Logo_Membership_Logo.png?v=1642523781" alt="" />
    </div>
    <h1 class="head-section-1 head-section-1-desk">Here to <span>glow</span> your vibe & <br><span>grow</span> our tribe with <span class="color-blue">4x benefits!</span></h1>
    <h1 class="head-section-1 head-section-1-mob">Here to <span>glow</span> your<br>vibe & <span>grow</span> our<br>tribe with<br><span class="color-blue">4x benefits!</span></h1>
    <button class="join join-redirect">Join Us <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/right-arrow_5.png?v=1642612478" /></button>
  </div>
</section>

<div class="sec1-outer-content">
  <h4>Max discounts, exclusive offers, and perks worth four times more than what you pay for if this is a deal you're gonna refuse, we need to talk!</h4>
</div>


<section class="section-2">
  <img class="sec2-back sec2-back-desk" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Background_Desktop.jpg?v=1642523781" />
  <img class="sec2-back sec2-back-mob" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Background_Mobile.jpg?v=1642523781" />
  <div class="flex-container">
    <img class="img1" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Image1.jpg?v=1642523781" alt="" />
    <img class="img2" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Image_2_857a3c67-5851-4b00-bc67-eea213afb90e.jpg?v=1642523781" alt=""/><img class="img4" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Paint_Splash_Black.png?v=1642523781" alt="" />
    <div class="all-flex">
      <div class="outer-flex-div">
        <div class="number-div">01</div>
        <div class="flex-item">
          <h3>JOIN AND GET</h3>
          <h1 class="h1-desk">50%<br>OFF<sup>*</sup></h1>
          <h1 class="h1-mob">50% OFF<sup>*</sup></h1>
          <p>Grab your first ever boAt favorite with this membership from our collection at 50% off</p>
          <a href= "https://www.boat-lifestyle.com/products/select-membership">JOIN US <img class = "blue-arrow" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Group_637_b07ec972-cc38-41bc-88a7-c231c1c2362a.png?v=1642612602" /></a>
          <!--             <img class="no-1" src="/boAtSelectAssets/Numbers/01.png" alt="" /> -->
        </div>
      </div>
      <div class="outer-flex-div">
        <div class="number-div">02</div>
        <div class="flex-item">
          <h3>SHOP TWICE AND GET</h3>
          <h1 class="h1-desk">₹500<br>OFF/-<sup>*</sup></h1>
          <h1 class="h1-mob">₹500 OFF/-<sup>*</sup></h1>
          <p>Fill up your cart for worth 1500/- and above and get flat 500/- off on your second purchase with this membership.</p>
          <a href= "https://www.boat-lifestyle.com/products/select-membership">JOIN US <img class = "blue-arrow" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Group_637_b07ec972-cc38-41bc-88a7-c231c1c2362a.png?v=1642612602" /></a>
        </div>
      </div>
      <div class="outer-flex-div">
        <div class="number-div">03</div>
        <div class="flex-item">
          <h3>SHOP THRICE AND GET</h3>
          <h1 class="h1-desk">₹300<br>OFF/-<sup>*</sup></h1>
          <h1 class="h1-mob">₹300 OFF/-<sup>*</sup></h1>
          <p>Fill up your cart for worth 1500/- and above and get flat 300/- off on your third purchase with this membership.</p>
          <a href= "https://www.boat-lifestyle.com/products/select-membership">JOIN US <img class = "blue-arrow" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Group_637_b07ec972-cc38-41bc-88a7-c231c1c2362a.png?v=1642612602" /></a>
        </div>
      </div>
      <div class="outer-flex-div">
        <div class="number-div">04</div>
        <div class="flex-item">
          <h3>CALL DIBS ON</h3>
          <h1 class="h1-desk">EXCLUSIVE<br>REWARDS<sup>*</sup></h1>
          <h1 class="h1-mob">EXCLUSIVE REWARDS<sup>*</sup></h1>
          <p>Enjoy early access to exclusive sales & launches and grab your favorites before the rest of the world.</p>
          <a href= "https://www.boat-lifestyle.com/products/select-membership">JOIN US <img class = "blue-arrow" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Group_637_b07ec972-cc38-41bc-88a7-c231c1c2362a.png?v=1642612602" /></a>
        </div>
      </div>
      <img class="join-tribe-img" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/JoinTheTribe-Unit.png?v=1644580325" alt="" />
    </div>
  </div>
</section>

<div class="sec2-outer-content">
  <img class="sec2-outer-underline" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Ureg-Ureg_Marker.png?v=1642523781" />
  <h4 class="head-section-1-desk">And, the benefits don't stop here.
    <br>We are saving you a few surprises for later.</h4>
  <h4 class="head-section-1-mob">And, the benefits don't stop here. We are saving you a few surprises for later.</h4>
</div>
<img class="img3" src="/boAtSelectAssets/Ureg-Ureg Marker.png" alt="" />

<section class="section-3">
  <div class="hardik-container">
    <div class="hardik-item hardik-item-text">
      <img class="hardik-underline" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/SLing_Marker.png?v=1642523781" />
      <p>Being early is rewarding.</p>
      <h2 class="head-section-1-desk">We are taking just <br><span class="color-red">1,000</span> of you, for now.</h2>
      <h2 class="head-section-1-mob">We are taking<br>just <span class="color-red">1,000</span> of<br>you, for now.</h2>
      <img class="sling-marker" src="/boAtSelectAssets/SLing Marker.png" alt="" />
    </div>
    <div class="hardik-item">
      <button class="join2 join-redirect">JOIN US <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/right-arrow_5.png?v=1642612478" /></button>
    </div>
  </div>
</section>
<!-- <section class="section-4">
  <div class="sect-4-inner">
    <div class="sect-4-text">
      <h2 class="head-section-1-desk">See what we've <br>been up to!</h2>
      <h2 class="head-section-1-mob">See what<br>we've been<br>up to!</h2>
    </div>
    <div class="sect-4-video">
      <img class="video-placeholder" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Video_Placeholder.jpg?v=1642523781" alt="" />
    </div>
  </div>
</section> -->
<div class="sec4-outer-content">
  <h4>#BeAboAthead</h4>
  <p>Love your boAt gear? Share the love. Tag us using #BeAboAthead and get featured.</p>
</div>

<section class="section-5">
  <div class="photo-gallery">
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/unsplash_-bHnETv9TSs.jpg?v=1642579898" alt="" />
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/unsplash_8mfNcVWV6W0.jpg?v=1642579898" alt="" />
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/unsplash_-NPfTryVQd4.jpg?v=1642579898" alt="" />
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/unsplash_Yf7iT9NlyYM.jpg?v=1642579898" alt="" />
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/unsplash_1ZAhXSnth60.jpg?v=1642579898" alt="" />
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/unsplash_aXSUNzYtA0c.jpg?v=1642579898" alt="" />
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/unsplash_uYzJgTqlObg.jpg?v=1642579898" alt="" />
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/unsplash_-bHnETv9TSs-1.jpg?v=1642579898" alt="" />
  </div>

  <div class="photo-gallery-car">
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/unsplash_-bHnETv9TSs.jpg?v=1642579898" alt="" />
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/unsplash_8mfNcVWV6W0.jpg?v=1642579898" alt="" />
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/unsplash_-NPfTryVQd4.jpg?v=1642579898" alt="" />
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/unsplash_Yf7iT9NlyYM.jpg?v=1642579898" alt="" />
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/unsplash_1ZAhXSnth60.jpg?v=1642579898" alt="" />
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/unsplash_aXSUNzYtA0c.jpg?v=1642579898" alt="" />
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/unsplash_uYzJgTqlObg.jpg?v=1642579898" alt="" />
    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/unsplash_-bHnETv9TSs-1.jpg?v=1642579898" alt="" />
  </div>
</section>

<div class="sec5-outer-content">
  <h4>Ready to be a <br>boAthead?</h4>
  <button class="join3 join-redirect">JOIN US <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/right-arrow_5.png?v=1642612478" /></button>
</div>

<hr class="line-break">
<section class="section-6">
  <div class="sect-6-content">
    <h4>*Terms & Conditions</h4>
    <p class="first-term">- Membership will be linked to the phone number of the customer.
      <br>- Once purchased,  the membership non-cancellable, non-transferable or non-refundable.
      <br>- Membership will be valid for 12 months from the date of purchase
      <br>
      <br>
      <b>Benifts</b>
    <div>1) 50% off upto INR 650/- on very first purchase.
          <ul>
        <li>Offer applicable even on the same purchase if the membership is added to the cart.</li>
        <li>Offer only valid on prepaid orders.</li>
      </ul>
    </div>
    <div>2) On a min. purchase of INR 1500/- Flat Discount of INR 500/- 2nd purchase.
    </div>
    <p>3) On a min. purchase of INR 1500/- Flat Discount of INR 300/-3rd purchase.</p>
    </p>
  </p>
</div>
</section>

<script>
  $('.photo-gallery-car').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    adaptiveHeight: true,
    infinite: true,
    arrows: true,
    dots: false,
    centerMode: true,
  })
  $('.join-redirect').on('click',()=>{
  window.location.href ="https://www.boat-lifestyle.com/products/select-membership";                      
  })
</script>

