<div class="container cf">
  <div class="page-header cf">
    <h1 class="majortitle">{{ page.title }}</h1>
  </div>
  <div class="user-content row-spacing">
    {{ page.content }}
    {% if linklists.test1.links.size > 0 %}
      {% for link in linklists.test1.links %}
    	{% if link.title == "test1" %}
			{% include 'page-collections' %}
    	{% endif %}
      {% endfor %}
    {% endif %}  
    {% if linklists.test1.links.size > 0 %}
        {% for link in linklists.test1.links %}
    		{% if link.title == "test4" %}
			{% include 'page-collections' %}
    		{% endif %}
        {% endfor %}
     {% endif %}
    ==Some test content==
    {% if linklists.test1.links.size > 0 %}
        {% for link in linklists.test1.links %}
    		{% if link.title == "Top Wireless" %}
			{% include 'page-collections' %}
    		{% endif %}
        {% endfor %}
      {% endif %}
  </div>
</div>
<style>
  #content {
  	background: black;
    margin:0;
  }
  .featured-collections .slick-prev, .featured-collections .slick-next {
      font-size: 0;
      position: absolute;
      bottom: 20px;
      color: #ea2127;
      border: 0;
      background: none;
      z-index: 1;
  }
  .featured-collections .slick-prev {
    left: -68px;
  }
  .featured-collections .slick-prev:after {
    content: "\f104";
    font: 60px/1 'FontAwesome';
    font-weight: bold;
    color: #ff0000;
  }
  .featured-collections .slick-next {
    right: -36px;
    text-align: right;
  }
  .featured-collections .slick-next:after {
    content: "\f105";
    font: 60px/1 'FontAwesome';
    font-weight: bold;
    color: #ff0000;
	}
  .collection-thumb.slick-slide {
/*     border: 1px solid #ccc; */
    margin: 0 5px;
    border-radius: 10px;
    min-width: 280px;
    background: #f1f1f1;
  }
  .collection-thumb a,.collection-thumb a:hover {color: inherit;text-decoration: none}
  .thumb-image {
    text-align: center;
    background: #c4c4c4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .thumb-image img{
    display: block;
    margin: auto;
  }
  .thumb-info {
  	padding: 10px 10px 20px;
    background: #f1f1f1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .thumb-info p {margin: 0;}
  p.collection-thumb-title {font-weight: bold;}
  span.current-price {
    color: #ff0000;
    font-weight: bold;
    margin-right: 5px;
    font-size: 14px;
  }
  span.was-price {
    text-decoration: line-through;
    color: #ababab;
    font-size: 14px;
  }
  .product-feature {font-size:12px!important;margin-top:5px!important;}
  .product-feature span {
  	position:relative;
    padding-left:10px;
  }
  .product-feature span::before {
  	content:"";
    width: 5px;
    height: 5px;
    background: #ff0000;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-59%);
  }
  .featured-collections .slick-track{display: flex !important;}
  .featured-collections .slick-slide{height: inherit !important;}
  @media screen and (max-width: 767px) {
    .featured-collections .slick-list {padding-left: 0!important;}
    .featured-collections .slick-track {display: flex;}
    .collection-thumb.slick-slide {min-width:1px;}
    .thumb-image img {max-width: 200px;}
  }
</style>
<script type="text/javascript">
	$(document).ready(function($) {
      $('.featured-collections').slick({
        dots: false,
        infinite: false,
        speed: 500,
        slidesToShow: 3,
        slidesToScroll: 3,
        autoplay: false,
        autoplaySpeed: 2000,
        arrows: true,
        responsive: [
          {
          breakpoint: 3000,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        },
          
          {
          breakpoint: 1920,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        },
        {
           breakpoint: 767,
           settings: {
              arrows: false,
              slidesToShow: 1,
              slidesToScroll: 1,
              centerMode: true,
			  centerPadding: '20%'
           }
        }]
    });
      $(".product-feature span").each(function(){
      	var feature = $(this).text();
        feature = feature.replace("✓" , "");
        $(this).text(feature);
      })
});
</script>