<div class="container cf">
  <div class="page-header cf">
    <h1 class="majortitle">{{ page.title }}</h1>
  </div>
  <div class="user-content row-spacing">
    <div class="boat-ipl" style="background-color: black">
      <div class="main-banner only-desktop">
        <a
          href="https://www.boat-lifestyle.com/collections/boatxipl"
          style="display: block"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/IPL_sec_1.jpg?v=1632132839"
            alt="main-banner"
          />
        </a>
      </div>
      <div class="main-banner mobile-only">
        <a
          href="https://www.boat-lifestyle.com/collections/boatxipl"
          style="display: block"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/ipl_mobile_sec_1.jpg?v=1632132897"
            alt="main-banner"
          />
        </a>
      </div>
      <div class="section section--2">
        <div class="row">
          <div class="col-12">
            <div class="shop">
              <h2 class="text-white">GET A CHANCE TO WIN FREE IPL MERCHANDISE</h2>
              <p class="text-white shop-worth">Shop worth Rs 2000 and 100 lucky winners will get boAt IPL merchandise!</p>
            </div>
            <div class="sect-img only-desktop">
              <img
                src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/ipl_sec_2.jpg?v=1632132839"
                alt="boAt IPL"
              />
            </div>
            <div class="sect-img mobile-only">
              <img
                src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/ipl_mobile_sec_2.jpg?v=1632132897"
                alt="boAt IPL"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="section section--1">
        <div class="row">
          <div class="col-12">
            <div class="sect-img only-desktop">
              <img
                src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/hardik-sec-3.jpg?v=1632132840"
                alt="boAt IPL"
              />
            </div>
            <div class="sect-img mobile-only">
              <img
                src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/ipl_mob_sec_3.jpg?v=1632132897"
                alt="boAt IPL"
              />
            </div>
            <div class="sect-text">
              <div class="sect-content text-center">
                <div class="sect-icon">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/icon_542c95df-bb9d-4df4-96d5-66e5e33cbe38.png?v=1632132629"
                    alt="boAt IPL"
                  />
                </div>
                <p>
                  Top 3 highest spenders stand a chance to win a boAt product
                  and get to meet and greet one of our boAthead in a clubhouse
                  session*
                  <br />
                </p>
                <small>*T&C apply</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="collection-block my-5">
      {% if linklists.sound-of-champions.links.size > 0 %}
        {% for link in linklists.sound-of-champions.links %}
          {% if link.title == "IPL" %}
      		<h2 class="collection-heading text-white">Sound of Champions</h2>
              {% include 'page-collections-ipl' %}
          {% endif %}
        {% endfor %}
      {% endif %}  
    </div>
      <div class="section sect-cta text-center hide">
        <div class="row py-5">
          <div class="col-12">
            <a
              href="https://www.boat-lifestyle.com/collections/boatxipl"
              class="explore-more"
            >
              EXPLORE MORE
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
#content {
        margin-top: 0px;
        padding-bottom: 0px;
      }
      #content .container {
        max-width: 2000px;
      }
      .page-header {
        display: none;
      }
      body {
        background-color: black;
      }
      .majortitle {
        color: #fff;
        display: none;
      }
      a:hover {
        text-decoration: none;
      }
      .section {
        position: relative;
      }
      .boat-ipl img {
        max-width: 100%;
        width: auto;
        display: block;
        margin: auto;
      }
      .text-center {
        text-align: center;
      }
      .sect-content {
        position: relative;
      }
      .sect-icon {
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        top: -50px;
        max-width: 60px;
        width: 60px;
      }
      .explore-more {
        background-color: #ff0000;
        color: white !important;
        font-weight: bold;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        max-width: 200px;
        width: 100%;
        display: block;
        padding: 12px !important;
        margin: auto;
      }
      .explore-more:hover,
      .explore-more:focus {
        color: white;
        text-decoration: none;
      }
      .sect-text {
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        bottom: -5%;
        background-color: white;
        border-radius: 20px;
        padding: 15px;
        max-width: 700px;
        width: 100%;
      }
      .sect-text-2 {
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        bottom: 3%;
        width: 100%;
      }
      .sect-text p {
        font-size: 20px;
        margin-top: 30px;
      }
      .shop {
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        top: 0%;
        width: 100%;
      }
      .shop h2 {
        font-size: 30px;
        font-weight: 900;
        text-align: center;
        -webkit-text-stroke: 1px #ff0000;
        margin: 10px 0 10px;
      }
      .shop-worth,
      .merchandise {
        text-align: center;
        background: #ff0000;
        width: 95%;
        max-width: 700px;
        margin: auto;
        padding: 10px;
        border-radius: 2em;
        font-weight: bold;
        font-size: 20px;
      }
      .mobile-only {
        display: none;
      }

      @media screen and (min-width: 1100px) {
      }

      @media screen and (max-width: 767px) {
        .sect-text p {
          font-size: 14px;
          margin-bottom: 0;
          line-height: normal;
        }
        .sect-text-2 {
          bottom: 0%;
        }

        .sect-text {
          bottom: -25%;
          width: 90%;
        }
        .only-desktop {
          display: none;
        }
        .mobile-only {
          display: block;
        }
        .boat-ipl h2 {
          margin: 0;
        }
        #content .container {
          padding: 0;
        }
        .shop h2 {
          font-size: 22px;
          padding: 10px;
        }
        .sect-text-2 h2 {
          font-size: 22px;
        }
        .shop-worth,
        .merchandise {
          font-size: 14px;
          max-width: 300px;
line-height: normal;
        }
      }
</style>
{% include 'cards-extras' %}
