<div class="container cf">
    <div class="page-header cf">
      <h1 class="majortitle">Service Center List</h1>
    </div>
    <div class="page-header-row">
      <p>For all the service related queries, kindly mail to <strong>info@imaginemarketingindia.com</strong>.</p>
    <p>Please call and check the availability of your product(s) before visiting the service center.</p>
    <p>Do note service centers will remain shut on Sundays and National holidays.</p>
    </div>
  	<input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
    <div class="user-content row-spacing">
      
      <div class="faqs-section">
        <div class="faq-block">
          <p class="accordion">Delhi NCR</p>
          <div class="panel">
            <p><strong>Service Center 1:</strong></p>
            <address>Ashwani Kumar, Ashwani Communication #Office-23, 10/54, BD Chambers, D.B. Gupta Road, Near Vijay Sales, Karol Bagh, New Delhi - 110005</address>
            <p><strong>Customer Care:</strong> 9999194403</p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228/100/110/152/162/900/910</li>
              <li>Rockerz 255/255R/255F/400/410</li>
              <li>Airdopes 311 V2/200/201/203</li>
              <li>Micro Rugged V3 Black</li>
              <li>Nirvana UNO</li>
              <li>Stone 1000 Black/200 Blue/200 Black/Grenade</li>
              <li>Rugby Blue/Black</li>
            </ul>
            <p><strong>Service Center 2:</strong></p>
            <address>Mohd  Kasim, Kare First Electronics #K-75/A, Basement, Near Kalkaji Jewellers, New Delhi - 110019</address>
            <p><strong>Customer Care:</strong> ‎9811714252 / 9711480452 / 8882345734 / 011-43621871</p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228/100/110/152/162/242/900/910</li>
              <li>Rockerz 255/255R/255F/400/410</li>
              <li>Airdopes 311 V2/200/201/203</li>
              <li>Micro Rugged V3 Black</li>
              <li>Micro USB 500</li>
              <li>Nirvana UNO</li>
              <li>Stone 1000 Black/200 Blue/200 Black/Grenade</li>
              <li>Rugby Blue/Black</li>
            </ul>
            <p><strong>Service Center 3:</strong></p>
            <address>Tarun Gupta # Gupta Cell Net, E-10/1, Block E, Main Market, Hauz Khas, New Delhi - 110016. </address>
            <p><strong>Customer Care:</strong> ‎022-49461882 </p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228</li>
              <li>Rockerz 255/255R/255F</li>
              <li>Micro Rugged V3 Black</li>
            </ul>
            <p><strong>Service Center 4:</strong></p>
            <address>Babu Ram Goyal, Goyal Communication, Shop No: 1098, Puran Enclave, Oil Mill Faridabad, Haryana - 121002</address>
            <p><strong>Customer Care:</strong> ‎0129-4109963 / 9891279963</p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228/100/110/152/162/242/900/910</li>
              <li>Rockerz 255/255R/255F/400/410</li>
              <li>Airdopes 311 V2/200/201/203</li>
              <li>Micro Rugged V3 Black</li>
              <li>Micro USB 500</li>
              <li>Nirvana UNO</li>
              <li>Stone 1000 Black/200 Blue/200 Black/Grenade</li>
              <li>Rugby Blue/Black</li>
            </ul>
            <p><strong>Service Center 5:</strong></p>
            <address>Anubhav Sharma/ Gaurav Sharma, K S Mobile, B-11, Shop No.3, First Floor, Near Cooperation Bank, RDC, Raj Nagar, Ghaziabad, Uttar Pradesh - 201002</address>
            <p><strong>Customer Care:</strong> ‎0120-4132777 / 9650925152</p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228/100/110/152/162/242/900/910</li>
              <li>Rockerz 255/255R/255F/400/410</li>
              <li>Airdopes 311 V2/200/201/203</li>
              <li>Micro Rugged V3 Black</li>
              <li>Micro USB 500</li>
              <li>Nirvana UNO</li>
              <li>Stone 1000 Black/200 Blue/200 Black/Grenade</li>
              <li>Rugby Blue/Black</li>
            </ul>
            <p><strong>Service Center 6:</strong></p>
            <address>Manjeet Singh, Bhagwati Telecom #LG-8, Devi Palace, Opp. Raj Cinema, Old Delhi Road, Gurgaon, Haryana - 122015</address>
            <p><strong>Customer Care:</strong> ‎0124-6410255 / 8700217425</p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228/100/110/152/162/242/900/910</li>
              <li>Rockerz 255/255R/255F/400/410</li>
              <li>Airdopes 311 V2/200/201/203</li>
              <li>Micro Rugged V3 Black</li>
              <li>Micro USB 500</li>
              <li>Nirvana UNO</li>
              <li>Stone 1000 Black/200 Blue/200 Black/Grenade</li>
              <li>Rugby Blue/Black</li>
            </ul>
            <p><strong>Service Center 7:</strong></p>
            <address>Yaqub, Smart Care, G9, 10 Ground Floor, Dharampali Palace, Near Vinayak Hospital, Sector 27, Noida, Uttar Pradesh - 201301</address>
            <p><strong>Customer Care:</strong> ‎9990435457 / 0120-4333478</p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228/100/110/152/162/242/900/910</li>
              <li>Rockerz 255/255R/255F/400/410</li>
              <li>Airdopes 311 V2/200/201/203</li>
              <li>Micro Rugged V3 Black</li>
              <li>Micro USB 500</li>
              <li>Nirvana UNO</li>
              <li>Stone 1000 Black/200 Blue/200 Black/Grenade</li>
              <li>Rugby Blue/Black</li>
            </ul>
            <p><strong>Not Available: Other Products will be replaced from Mumbai Service Center</strong></p>
          </div>
        </div>
        <div class="faq-block">
          <p class="accordion">Maharashtra</p>
          <div class="panel">
            <p><strong>Service Center 1:</strong></p>
            <address>C-255, 2nd Floor, Guru Gobind Industrial estate, Next to Jay coach, Goregaon East, Mumbai, Maharashtra - 400063 </address>
            <p><strong>Customer Care:</strong> 022-49461882 </p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>All Product will be replaced</li>
            </ul>
            <p><strong>Service Center 2:</strong></p>
            <address>Mehboob ABU Saiyyed, V-care  # Shop No.2, Mahavir Tower, Next Ganesh Talkies, MTNL Road, Near MTNL Exchange, Charai, Thane West, Maharashtra - 400601</address>
            <p><strong>Customer Care:</strong> 9222111929 / 9004009988</p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228/100/110/152/900/910</li>
              <li>Rockerz 255/255R/255F/400/410</li>
              <li>Micro Rugged V3 Black</li>
              <li>Nirvana UNO</li>
              <li>Stone 1000 Black/200 Blue/200 Black</li>
              <li>Rugby Blue/Black</li>
            </ul>
            <p><strong>Service Center 3:</strong></p>
            <address>Kumar S Gowda, Om Sai Telecom, Shop No: F-197, First Floor, Haware Fantasia Buisness Park, Behind Inorbit Mall, Vashi, Navi Mumbai, Maharashtra - 400705</address>
            <p><strong>Customer Care:</strong> 9833551551 / 9820004259</p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228/100/110/152/162/242/900/910</li>
              <li>Rockerz 255/255R/255F/400/410</li>
              <li>Airdopes 311 V2/200/201/203</li>
              <li>Micro Rugged V3 Black</li>
              <li>Micro USB 500</li>
              <li>Nirvana UNO</li>
              <li>Stone 1000 Black/200 Blue/200 Black</li>
              <li>Rugby Blue/Black</li>
            </ul>
            <p><strong>Service Center 4:</strong></p>
            <address>Jitendra Sunder Singh,  Cell Care Services # Shop No.1, First Floor, Venkatesh Market, Above Gujarat Sadi Sale, Near Pimpri Railway Station Bridge, Pimpri-Chinchwad, Pune, Maharashtra - 411017</address>
            <p><strong>Customer Care:</strong> 9890165582</p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228/100/110/152/162/242/900/910</li>
              <li>Rockerz 255/255R/255F/400/410</li>
              <li>Airdopes 311 V2/200/201/203</li>
              <li>Micro Rugged V3 Black</li>
              <li>Micro USB 500</li>
              <li>Nirvana UNO</li>
              <li>Stone 1000 Black/200 Blue/200 Black</li>
              <li>Rugby Blue/Black</li>
            </ul>
            <p><strong>Not Available: Other Products will be replaced from Mumbai Service Center</strong></p>
          </div>
        </div>
        <div class="faq-block">
          <p class="accordion">Telangana</p>
          <div class="panel">
            <p><strong>Service Center 1:</strong></p>
            <address>Ms. Naveena, Sujana Telecom Services, 3-10-20/10/A, Gokhale Nagar Beside Reliance Digital showroom, Backside to St. Joseph School Ramanthapur, Hyderabad, Telengana - 500013</address>
            <p><strong>Customer Care:</strong> 9959178345  / 040-42414441</p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228/100/110/152/162/242/900/910</li>
              <li>Rockerz 255/255R/255F/400/410</li>
              <li>Airdopes 311 V2/200 / 201 / 203</li>
              <li>Micro Rugged V3 Black</li>
              <li>Micro USB 500</li>
              <li>Nirvana UNO</li>
              <li>Stone 1000 Black/200 Blue /200 Black/Grenade</li>
              <li>Rugby Blue / Black</li>
            </ul>
            <p><strong>Not Available: Other Products will be replaced from Mumbai Service Center</strong></p>
            
            
          </div>
        </div>
        <div class="faq-block">
          <p class="accordion">Tamil Nadu</p>
          <div class="panel">
            <p><strong>Service Center 1:</strong></p>
            <address>Udhaya Shankar, Cell Tech, No - 8, Cisons Complex, First Floor, Montieth Road, Egmore, Chennai, Tamil Nadu - 600008</address>
            <p><strong>Customer Care:</strong> 9884090065</p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228/100/110/152/162/242/900/910</li>
              <li>Rockerz 255/255R/255F/400/410</li>
              <li>Airdopes 311 V2/200 / 201 / 203</li>
              <li>Micro Rugged V3 Black</li>
              <li>Micro USB 500</li>
              <li>Nirvana UNO</li>
              <li>Stone 1000 Black/200 Blue /200 Black/Grenade</li>
              <li>Rugby Blue / Black</li>
            </ul>
            <p><strong>Not Available: Other Products will be replaced from Mumbai Service Center</strong></p>
          </div>
        </div>
        <div class="faq-block">
          <p class="accordion">Karnataka</p>
          <div class="panel">
            <p><strong>Service Center 1:</strong></p>
            <address>Gaurav Sandeep, 3-Com Technologies, C/O - DTS No. 65, Eshwari Complex, 1st Floor, Dr. Rajkumar Road, Prakashnagar, Bengaluru, Karnataka - 560021</address>
            <p><strong>Customer Care:</strong> 9686900771 / 9535904617 / 9686988163</p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228/100/110/152/162/242/900/910</li>
              <li>Rockerz 255/255R/255F/400/410</li>
              <li>Airdopes 311 V2/200/201/203</li>
              <li>Micro Rugged V3 Black</li>
              <li>Micro USB 500</li>
              <li>Nirvana UNO</li>
              <li>Stone 1000 Black/200 Blue/200 Black/Grenade</li>
              <li>Rugby Blue/Black</li>
            </ul>
            <p><strong>Service Center 2:</strong></p>
            <address>D. RAJESH, Srinivas Telecom, 85/1, D.V.G Road, Basvan Gudi, Opp. Liberty Showroom, Bangaluru, Karnataka - 560004</address>
            <p><strong>Customer Care:</strong> 080-41203490/41469030 / 9886114663/ 8792890007</p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228/100/110/152/162/242/900/910</li>
              <li>Rockerz 255/255R/255F/400/410</li>
              <li>Airdopes 311 V2/200/201/203</li>
              <li>Micro Rugged V3 Black</li>
              <li>Micro USB 500</li>
              <li>Nirvana UNO</li>
              <li>Stone 1000 Black/200 Blue/200 Black/Grenade</li>
              <li>Rugby Blue/Black</li>
            </ul>
            <p><strong>Not Available: Other Products will be replaced from Mumbai Service Center</strong></p>
          </div>
        </div>
        
        
      </div>
      <div class="faqs-section">
        <div class="faq-block">
          <p class="accordion">Gujarat</p>
          <div class="panel">
            <p><strong>Service Center 1:</strong></p>
            <address>Patel Hiren Jayantilal, Heneel Mobile Mart #104/105, First Floor, Kesarkunj Building, Krishna Baug Cross Road, Near Farki Above Bata Show Room, Maninagar, Ahmedabad, Gujarat - 380008</address>
            <p><strong>Customer Care:</strong> 079-40097082 / 9510653536</p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228/100/110/152/162/242/900/910</li>
              <li>Rockerz 255/255R/255F/400/410</li>
              <li>Airdopes 311 V2/200/201/203</li>
              <li>Micro Rugged V3 Black</li>
              <li>Micro USB 500</li>
              <li>Nirvana UNO</li>
              <li>Stone 1000 Black/200 Blue/200 Black/Grenade</li>
              <li>Rugby Blue/Black</li>
            </ul>
            <p><strong>Not Available: Other Products will be replaced from Mumbai Service Center</strong></p>
          </div>
        </div>
        <div class="faq-block">
          <p class="accordion">West Bengal</p>
          <div class="panel">
            <p><strong>Service Center 1:</strong></p>
            <address>Mahaveer Dugar, Lalani Infotech Ltd, 1A, Khetra Das Lane, 3rd Floor, Kolkata, West Bengal- 700012 </address>
            <p><strong>Customer Care:</strong> 022-49461882</p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228</li>
              <li>Rockerz 255/ 255R / 255F</li>
              <li>Micro Rugged V3 Black</li>
            </ul>
            <p><strong>Not Available: Other Products will be replaced from Mumbai Service Center</strong></p>
          </div>
        </div>
        <div class="faq-block">
          <p class="accordion">Assam</p>
          <div class="panel">
            <p><strong>Service Center 1:</strong></p>
            <address>Talukdar, Lalani International, Umang Commercial Center, Palton Bazar, Guwahati, Assam - 781008 </address>
            <p><strong>Customer Care:</strong> 022-49461882</p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228</li>
              <li>Rockerz 255/ 255R / 255F</li>
              <li>Micro Rugged V3 Black</li>
            </ul>
            <p><strong>Not Available: Other Products will be replaced from Mumbai Service Center</strong></p>
          </div>
        </div>
        <div class="faq-block">
          <p class="accordion">Jharkhand</p>
          <div class="panel">
            <p><strong>Service Center 1:</strong></p>
            <address>Vikas Tak, Lalani Infotech Ltd, Harbans Cottage, Singhi Marg, Pee-Pee Compound, Main Road, Ranchi, Jharkhand - 834001 </address>
            <p><strong>Customer Care:</strong> 022-49461882 </p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228</li>
              <li>Rockerz 255/ 255R / 255F</li>
              <li>Micro Rugged V3 Black</li>
            </ul>
            <p><strong>Not Available: Other Products will be replaced from Mumbai Service Center</strong></p>
          </div>
        </div>
        <div class="faq-block">
          <p class="accordion">Odisha</p>
          <div class="panel">
            <p><strong>Service Center 1:</strong></p>
            <address>Anusaya Manjhi, Lalani Infotech Ltd, B-7, Saheed Nagar, Bhubaneswar, Odisha - 751007</address>
            <p><strong>Customer Care:</strong> 022-49461882 </p>
            <p><strong>Product availaibility</strong></p>
            <ul>
              <li>Bassheads 180/200/220/225/228</li>
              <li>Rockerz 255/255R/255F</li>
              <li>Micro Rugged V3 Black</li>
            </ul>
            <p><strong>Not Available: Other Products will be replaced from Mumbai Service Center</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<style>
#content {background: #f7f7f7;}
#content .container {padding: 0;max-width: 2000px;width: 100%;}
.user-content {max-width: 1200px;margin: auto;display: flex;justify-content: space-around;}
.page-header-row {max-width: 92%;margin: auto;line-height: normal;}
.page-header-row p {margin-bottom: 5px;}
.faqs-section {margin: 20px;max-width: 50%;width: 100%;}
.faq-block {box-shadow: 0 0 10px #ccc;margin-bottom: 20px;}
.accordion {
  box-sizing: border-box;
  background: #fff;
  color: #444;
  cursor: pointer;
  padding: 15px 35px 12px 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border: none;
/*   border-bottom: 1px solid transparent;  */
  font-weight: bold;
  margin-bottom: 0;
  position: relative;
  line-height: normal;
}
.accordion:focus {outline: 0;}
.accordion.active {background: #000;color: #fff; }
.accordion:after {
  content: '\002B';
  color: #ea2127;
  font-weight: bold;
  font-size: 20px;
  float: right;
  margin-left: 5px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.accordion.active:after {content: "\2212";color: #fff;}
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 14px;
}
.panel p {margin-top: 20px;line-height: 1.5;}
.panel a {text-decoration: none;}
.panel a:hover {color: #ea2127;}
.page-header {
    margin-bottom: 20px;
    width: 100%;
}
address {font-style: italic;line-height: normal;}
#myInput {max-width: 92%;margin: 30px auto 0;}

  @media screen and (max-width: 767px) {
    .accordion{font-size: 14px;}
    .faqs-section{padding: 0 15px;max-width: 100%;margin: 0;}
    #store-messages-mobile{padding: 0;}
    .accordion:after{right: 8px;}
    .user-content {flex-direction: column;}
    .page-header-row {margin: 0 auto 30px;line-height: 1.3;}
    .faq-block ul {margin-left: 1em;}
    .faq-block ul li {word-break: break-word;}
}
  }
</style>

<script>
$(document).ready(function(){
  $("p.accordion").click(function(){
    $(this).toggleClass("active");
    $(this).next("div.panel").slideToggle();
//     $(this).closest(".faq-block").siblings(".faq-block").find("p.accordion").removeClass("active");
//     $(this).closest(".faq-block").siblings(".faq-block").find("div.panel").slideUp();
//     $(this).closest(".faq-block").closest(".faqs-section").siblings(".faqs-section").find(".faq-block").find("p.accordion").removeClass("active");
//     $(this).closest(".faq-block").closest(".faqs-section").siblings(".faqs-section").find(".faq-block").find("div.panel").slideUp();
  })
})

$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".faq-block .accordion").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
