<div class="container cf banner-container">
  <div class="user-content row-spacing">
    <div class="top-banner-ipl desktop-only">
    	<img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/az-storebanner.jpg?v=1600416943" alt="IPL">
    </div>
    <div class="second-banner-ipl desktop-only">
    	<img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Webp.net-compress-image_5.jpg?v=1600424341" alt="IPL">
    </div>
    <div class="top-banner-ipl mobile-only">
    	<img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/MobilebannerIPL.jpg?v=1600417139" alt="IPL">
    </div>
  </div>
</div>

<div class="container cf blocks-container">
  <div class="row">
    <div class="col-md-6 ipl-block">
      <div class="image-block">
        <a href="https://www.boat-lifestyle.com/?utm_source=hotstar&utm_medium=TempLP&utm_campaign=ipl2020&utm_content=RCB">
        	<img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/tile_1.jpg?v=1600424724" alt="IPL">
        </a>
      </div>
    </div>
    <div class="col-md-6 ipl-block">
      <div class="image-block">
        <a href="https://www.boat-lifestyle.com/?utm_source=hotstar&utm_medium=TempLP&utm_campaign=ipl2020&utm_content=DC">
        	<img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/tile_2.jpg?v=1600424761" alt="IPL">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 ipl-block">
      <div class="image-block">
        <a href="https://www.boat-lifestyle.com/?utm_source=hotstar&utm_medium=TempLP&utm_campaign=ipl2020&utm_content=MI">
        	<img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/tile_3.jpg?v=1600424782" alt="IPL">
        </a>
      </div>
    </div>
    <div class="col-md-6 ipl-block">
      <div class="image-block">
        <a href="https://www.boat-lifestyle.com/?utm_source=hotstar&utm_medium=TempLP&utm_campaign=ipl2020&utm_content=CSK">
        	<img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/tile_4.jpg?v=1600424812" alt="IPL">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 ipl-block">
      <div class="image-block">
        <a href="https://www.boat-lifestyle.com/?utm_source=hotstar&utm_medium=TempLP&utm_campaign=ipl2020&utm_content=KXIP">
        	<img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/tile_5.jpg?v=1600424812" alt="IPL">
        </a>
      </div>
    </div>
    <div class="col-md-6 ipl-block">
      <div class="image-block">
        <a href="https://www.boat-lifestyle.com/?utm_source=hotstar&utm_medium=TempLP&utm_campaign=ipl2020&utm_content=KKR">
        	<img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/tile_6.jpg?v=1600424812" alt="IPL">
        </a>
      </div>
    </div>
  </div>
  <div class="row btn-row">
    <div class="col-12 text-center">
      <a href="https://www.boat-lifestyle.com/?utm_source=hotstar&utm_medium=TempLP&utm_campaign=ipl2020&utm_content=EXPbutton" class="more-btn">Explore More</a>
    </div>
  </div>
</div>


<style>
  
  #content {margin-top: 0px;}
  .banner-container {max-width: 2000px;width: 100%;padding: 0;}
  .banner-container img {display: block;}
  .blocks-container {margin-top: 30px}
  .blocks-container .row {margin-top: 10px;}
  .blocks-container .row .ipl-block {padding: 0 5px;}
  .blocks-container .row .image-block a {display: block;}
/*   .second-banner-ipl {margin-top: 40px;} */
  .more-btn {
  	background: #ea2127;
    color: #fff!important;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 30px;
  }
  .more-btn:hover, .more-btn:focus {text-decoration: none;}
  
  
  @media screen and (max-width: 767px) {
  	.blocks-container .row {margin-top: 0px;}
    .blocks-container .row .ipl-block {margin-top: 20px;}
  } 


</style>